<!DOCTYPE html>
{% block lang %}
<html lang="en">
{% endblock %}

{% block head %}

    <head>
        <title>
            {% if wp_title %}
                {{ wp_title }}
            {% else %}
                {{ site.name }}
            {% endif %}
        </title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1">

        {% if meta_image %}
            <meta property="og:image" content="{{ meta_image }}" />
        {% else %}
            <meta property="og:image" content="{{ site.theme.link }}/assets/img/meta-img.png" />
        {% endif %}

        <meta name="facebook-domain-verification" content="iivsg55d4oxquyq9s1ep75gnk08nxf" />

        <!-- Core CSS -->
        <link rel="stylesheet" href="{{ site.theme.link }}/assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ site.theme.link }}/assets/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://use.typekit.net/wqq0bzd.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css" />
        <link rel="stylesheet" href="https://unpkg.com/tippy.js@2.1.1/dist/tippy.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css" />

        <!-- Site CSS -->
        <link rel="stylesheet" href="{{ site.theme.link }}/style.css" />



        <!-- Core JS -->
        <script src="{{ site.theme.link }}/assets/js/jquery-3.5.1.min.js"></script>
        <script src="https://code.jquery.com/jquery-migrate-1.4.1.min.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/parsley.js/2.8.0/parsley.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/rangeslider.js/2.3.2/rangeslider.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
        <script src="https://unpkg.com/tippy.js@2.1.1/dist/tippy.standalone.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ouibounce/0.0.12/ouibounce.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.21.0/moment.min.js"></script>
        <script src="{{ site.theme.link }}/assets/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.1/TweenMax.min.js"></script>


        <script>
            var wpSiteUrl = '{{ site.url }}';
            var wpHomeUrl = '{{ home_url }}';
            var wpAssetUrl = '{{ site.theme.link }}';
            var wpSiteName = '{{ site_name }}';
            var gaIdLabel = '{{ gtag_id }}/{{ gtag_label }}';
        </script>

        <script src="{{ site.theme.link }}/assets/js/script.js?v={{ asset_version }}"></script>

        <!-- Start of HubSpot Embed Code -->
        <script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/9300456.js"></script>
        <!-- End of HubSpot Embed Code -->

        <!-- Google Tag Manager -->
        <script>(function (w, d, s, l, i) {
                w[l] = w[l] || []; w[l].push({
                    'gtm.start':
                        new Date().getTime(), event: 'gtm.js'
                }); var f = d.getElementsByTagName(s)[0],
                    j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
            })(window, document, 'script', 'dataLayer', 'GTM-W2TC9NP');</script>
        <!-- End Google Tag Manager -->

        <!-- Facebook Pixel Code -->
        <script>
            !function(f,b,e,v,n,t,s)
            {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
                n.callMethod.apply(n,arguments):n.queue.push(arguments)};
                if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
                n.queue=[];t=b.createElement(e);t.async=!0;
                t.src=v;s=b.getElementsByTagName(e)[0];
                s.parentNode.insertBefore(t,s)}(window, document,'script',
                'https://connect.facebook.net/en_US/fbevents.js');
            fbq('init', '209704970774476');
            fbq('track', 'PageView');
        </script>
        <noscript><img height="1" width="1" style="display:none"
                       src="https://www.facebook.com/tr?id=209704970774476&ev=PageView&noscript=1"
            /></noscript>
        <!-- End Facebook Pixel Code -->

        {{ function('wp_head') }}

        {% if sumome %}
            <script async>(function (s, u, m, o, j, v) { j = u.createElement(m); v = u.getElementsByTagName(m)[0]; j.async = 1; j.src = o; j.dataset.sumoSiteId = '3488204638f26afdd50d256c18ca2903e9e9fea6a4af904c45581ea75ca5cb89'; v.parentNode.insertBefore(j, v) })(window, document, 'script', '//load.sumo.com/');</script>
        {% endif %}

    </head>
{% endblock %}

<body class="{{ body_class }}">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W2TC9NP" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

{% block header %}
    <!-- Header -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-header">
        <div class="container">
            <!-- Navigation Toggler -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars" aria-hidden="true"></i>
            </button>

            <!-- Logo -->
            <a class="navbar-brand" href="{{ home_url }}">
                <img src="{{ site.theme.link }}/assets/img/fp-logo.png" srcset="{{ site.theme.link }}/assets/img/fp-logo@2x.png 2x" alt="First Page" />
            </a>

            <div class="phone">
                <a href="tel:{{ site_phone|replace({' ':''}) }}">
                    <img src="{{ site.theme.link }}/assets/img/icn-phone.png" srcset="{{ site.theme.link }}/assets/img/icn-phone@2x.png 2x" alt="First Page" />
                    <span>{{ site_phone }}</span>
                </a>
            </div>

            <!-- Navigation -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- Contact -->
                <div class="additional-menu">
                    <button class="navbar-toggler navbar-toggler-close collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </button>
                </div>

                <hr class="header-separator" />

                <!-- Menu -->
                <div class="menu">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item nav-item-main">
                            <a class="nav-link" href="{{ home_url }}seo/">SEO</a>
                        </li>
                        <li class="nav-item nav-item-main dropdown">
                            <a class="nav-link dropdown-toggle" href="javascript:void(0)" data-toggle="dropdown">GOOGLE ADS</a>
                            <div class="dropdown-menu">
                                <div class="dropdown-cont">
                                    <a class="dropdown-item" href="{{ home_url }}google-ads/">Google Ads</a>
                                    <a class="dropdown-item" href="{{ home_url }}google-display-network/">Google Display</a>
                                    <a class="dropdown-item" href="{{ home_url }}google-shopping/">Google Shopping</a>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item nav-item-main dropdown">
                            <a class="nav-link dropdown-toggle" href="javascript:void(0)" data-toggle="dropdown">SOCIAL</a>
                            <div class="dropdown-menu">
                                <div class="dropdown-cont">
                                    <a class="dropdown-item" href="{{ home_url }}facebook-advertising/">Facebook Ads</a>
                                    <a class="dropdown-item" href="{{ home_url }}instagram-advertising/">Instagram Ads</a>
                                    <a class="dropdown-item" href="{{ home_url }}linkedin-advertising/">LinkedIn Ads</a>
                                    <a class="dropdown-item" href="{{ home_url }}youtube-advertising/">YouTube Ads</a>
                                    <a class="dropdown-item" href="{{ home_url }}tiktok-advertising/">TikTok Ads</a>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item nav-item-main dropdown">
                            <a class="nav-link dropdown-toggle" href="javascript:void(0)" data-toggle="dropdown">OTHER SERVICES</a>
                            <div class="dropdown-menu">
                                <div class="dropdown-cont">
                                    <a class="dropdown-item" href="{{ home_url }}reputation-management/">Reputation Repair</a>
                                    <a class="dropdown-item" href="{{ home_url }}content-removal-australia/">Unwanted Content Removal</a>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item nav-item-main seo-dropdown dropdown">
                            <a class="nav-link dropdown-toggle" href="javascript:void(0)" data-toggle="dropdown">FREE TOOLS</a>
                            <div class="dropdown-menu" aria-labelledby="ddAudits">
                                <div class="dropdown-cont">
                                    <a class="dropdown-item" href="{{ home_url }}seo-audit/">Free SEO Audit</a>
                                    <a class="dropdown-item" href="{{ home_url }}google-ads-audit/">Free Google Ads Audit</a>
                                    <a class="dropdown-item" href="{{ home_url }}competitor-audit/">Free Competitor Audit</a>
                                    <a class="dropdown-item" href="{{ home_url }}seo-roi-calculator/">SEO ROI Calculator</a>
                                    <!-- <a class="dropdown-item" href="{{ home_url }}ppc-roi-calculator/">PPC ROI Calculator</a> -->
                                </div>
                            </div>
                        </li>
                        <li class="nav-item nav-item-main dropdown">
                            <a class="nav-link dropdown-toggle" href="javascript:void(0)" data-toggle="dropdown">About Us</a>
                            <div class="dropdown-menu">
                                <div class="dropdown-cont">
                                    <a class="dropdown-item" href="{{ home_url }}who-we-are/">Who We Are</a>
                                    <a class="dropdown-item" href="{{ home_url }}careers/">Careers</a>
                                    <a class="dropdown-item" href="{{ home_url }}learning-centre/">Learning Centre</a>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item nav-item-main">
                            <a class="nav-link" href="{{ home_url }}contact/">Contact</a>
                        </li>
                        <li class="nav-item mobile-go-back" id="goBackMain">
                            <a class="nav-link" role="button">Go Back</a>
                        </li>
                        <li class="nav-item mobile-go-back" id="goBackServices">
                            <a class="nav-link" role="button">Go Back</a>
                        </li>
                        <li class="nav-item">
                            {#							<a class="nav-link nav-border open-popup-link" href="{{ home_url }}contact/">Free Proposal</a>#}
                            <a class="nav-link nav-border" href="{{ home_url }}free-proposal/">Free Proposal</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
{% endblock %}

{% block footer %}
    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row no-gutters">
                <div class="col-site-map col-12 col-md-6 col-lg-4 mb-5">
                    <h3>Services</h3>
                    <ul class="footer-nav">
                        <li><a href="{{ home_url }}seo/">SEO</a></li>
                        <li><a href="{{ home_url }}google-ads/">Google Ads</a></li>
                        <li><a href="{{ home_url }}facebook-advertising/">Facebook Ads</a></li>
                        <li><a href="{{ home_url }}reputation-management/">Reputation Repair</a></li>
                        <!-- <li><a href="#">Free Tools</a></li> -->
                    </ul>

                    <h3>Company</h3>
                    <ul class="footer-nav">
                        <li><a href="{{ home_url }}who-we-are/">Who We Are</a></li>
                        <li><a href="{{ home_url }}careers/">Careers</a></li>
                        <!-- <li><a href="{{ home_url }}reviews/">Reviews</a></li> -->
                        <li><a href="{{ home_url }}contact/">Contact</a></li>
                        <li><a href="{{ home_url }}learning-centre/">Blog</a></li>

                    </ul>

                    <div class="py-3">
                        <img src="{{ site.theme.link }}/assets/img/img-australian-owned-badge.svg" class="img-fluid" alt="" />
                    </div>

                    <div>
                        <a href="https://au.linkedin.com/company/firstpage-digital" target="_blank"><img src="{{ site.theme.link }}/assets/img/img_connect_with_linkedin.svg" class="img-fluid" alt="" /></a>
                    </div>
                </div>





                <div class="col-contact-details col-12 col-md-6 col-lg-4 mb-5">

                    {#		social links			#}
                    <div class="podcast-holder ">
                        <div class="podcast-info-row row">
                            <div class="col-6 pl-2 pr-0">
                                <div class="lisnic-photo">
                                    <img src="{{ site.theme.link }}/assets/img/Nick&Lisa_original.png" class="img-fluid" alt="" />
                                </div>
                            </div>
                            <div class="col-6 podcast-info pl-0">
                                <img src="{{ site.theme.link }}/assets/img/lisnic_podcast@2x.svg" class="img-fluid" alt="" />
                                <img src="{{ site.theme.link }}/assets/img/Rectangle.png" class="img-fluid" alt="" />
                                <p class="podcast-des pb-3">Thought leaders & celebrities share their tactics for success on the Lisnic podcast by
                                    Lisa Teh & Nick Bell
                                    (First Page Founder)</p>
                            </div>
                        </div>
                        <div class="podcast-links-row row">
                            <div class="col-12">
                                <a href="https://podcasts.apple.com/au/podcast/lisnic/id1492675735" target="_blank">
                                    <div class="single-podcast-item" >
                                        <img src="{{ site.theme.link }}/assets/img/Apple_podcast_image.png" class="img-fluid" alt="" />
                                        <p><span class="font-weight-bold">Apple</span> Podcasts</p>
                                    </div>
                                </a>

                                <a href="https://open.spotify.com/show/3ZPhX0JjjnSPlQbj6OHC3v" target="_blank">
                                    <div class="single-podcast-item" >
                                        <img src="{{ site.theme.link }}/assets/img/Spotify_Icon_RGB_Green.svg" class="img-fluid" alt="" />
                                        <p><span class="font-weight-bold">Spotify</span> Podcasts</p>
                                    </div>
                                </a>


                                <a href="https://www.youtube.com/c/Lisniclearning" target="_blank">
                                    <div class="single-podcast-item" >
                                        <img src="{{ site.theme.link }}/assets/img/yt_icon_rgb.png" class="img-fluid" alt="" />
                                        <p><span class="font-weight-bold">Youtube</span> Podcasts</p>
                                    </div>
                                </a>


                            </div>
                        </div>

                    </div>


                    <h3></h3>
                    <p><strong>First Page</strong><br />{{ site_address }}</p>
                    <p>
                        <strong>Call</strong><br />
                        <a href="tel:{{ site_phone|replace({' ':''}) }}">{{ site_phone }}</a>
                    </p>
                    <p class="mb-2">
                        <strong>Email</strong><br />
                        <a href="mailto:{{ site_email }}" class="white">{{ site_email }}</a>
                    </p>
                    {#					<div class="py-3">#}
                    {#						<img src="{{ site.theme.link }}/assets/img/img-australian-owned-badge.svg" class="img-fluid" alt="" />#}
                    {#					</div>#}

                    {#					<div>#}
                    {#						<a href="https://au.linkedin.com/company/firstpage-digital" target="_blank"><img src="{{ site.theme.link }}/assets/img/img_connect_with_linkedin.svg" class="img-fluid" alt="" /></a>#}
                    {#					</div>#}

                    {# <h3 class="mb-3">Love us as we love you!</h3>
					<div class="social">
						<a href="" target="_blank"><img src="{{ site.theme.link }}/assets/img/icon-social-facebook.png" srcset="{{ site.theme.link }}/assets/img/icon-social-facebook@2x.png 2x" class="img-fluid" alt="Facebook" /></a> &nbsp;
						<a href="" target="_blank"><img src="{{ site.theme.link }}/assets/img/icon-social-gplus.png" srcset="{{ site.theme.link }}/assets/img/icon-social-gplus@2x.png 2x" class="img-fluid" alt="Google Plus" /></a> &nbsp;
						<a href="https://au.linkedin.com/company/firstpage-digital" target="_blank"><img src="{{ site.theme.link }}/assets/img/icon-social-linkedin.png" srcset="{{ site.theme.link }}/assets/img/icon-social-linkedin@2x.png 2x" class="img-fluid" alt="LinkedIn" /></a> &nbsp;
						<a href="" target="_blank"><img src="{{ site.theme.link }}/assets/img/icon-social-instagram.png" srcset="{{ site.theme.link }}/assets/img/icon-social-instagram@2x.png 2x" class="img-fluid" alt="Instagram" /></a> &nbsp;
						<a href="" target="_blank"><img src="{{ site.theme.link }}/assets/img/icon-social-youtube.png" srcset="{{ site.theme.link }}/assets/img/icon-social-youtube@2x.png 2x" class="img-fluid" alt="Youtube" /></a>
					</div> #}
                </div>

                <div class="col-contact-form col-12 col-md-12 col-lg-4 mb-5">
                    <h3 class="h3-italic">We can grow your sales. Ask us how!</h3>
                    <div id="footer-form">
                        <!-- Footer Form -->
                        <form class="fp-form" action="{{ home_url }}thank-you" method="POST">
                            <div class="form-group mb-0">
                                <div class="row">
                                    <div class="col-12 mb-3">
                                        <input type="text" class="form-control" name="lead_name" placeholder="Name*" required="" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 mb-3">
                                        <input type="email" class="form-control" name="lead_email" placeholder="Email*" data-parsley-error-message="Please enter a valid email address" data-parsley-trigger="change" required="" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 mb-3">
                                        <input type="tel" class="form-control" name="lead_phone" placeholder="Phone*" required="" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 mb-3">
                                        <textarea class="form-control" name="lead_message" rows="4" placeholder="Message*" required=""></textarea>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <input type="hidden" name="lead_formname" value="Contact Us (Footer)" />
                                        <input type="hidden" name="lead_language" value="en" />
                                        <input type="hidden" name="lead_formtype" value="hs_quote_form" />
                                        <button type="submit" class="btn form-control fp-btn fp-btn-orange fp-btn-shadow form-submit">Increase My Sales</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <!-- End of Form -->
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <section class="copyright">
        <div class="container">
            <div class="row align-items-center no-gutters">
                <div class="text col-12 col-xl-3">
                    {% block copyright %}
                    Copyright &copy; {{ "now"|date("Y") }} First Page.
                    {% endblock %}<br>
                    <a href="{{ home_url }}terms-of-service/">Terms of Business</a>
                </div>
                <div class="logos col-12 col-xl-9">
                    <img src="{{ site.theme.link }}/assets/img/footer_badges_mob.png" srcset="{{ site.theme.link }}/assets/img/footer_badges_mob.png, {{ site.theme.link }}/assets/img/footer_badges_mob@2x.png 2x" class="img-fluid d-md-none" alt="We work with great brands of all sizes" />
                    <img src="{{ site.theme.link }}/assets/img/footer_badges.png" srcset="{{ site.theme.link }}/assets/img/footer_badges.png, {{ site.theme.link }}/assets/img/footer_badges@2x.png 2x" class="img-fluid d-none d-md-inline-block" alt="We work with great brands of all sizes" />
                </div>
            </div>
        </div>
    </section>

    <div id="get-proposal-popup" class="get-proposal-popup white-popup mfp-hide">
        <div class="quote-form quote-form-big">
            <!-- Floating Form -->
            <form class="fp-form" method="POST">
                <div class="form-step-1 form-step">
                    <h3>Get Started</h3>
                    <div class="row form-row">
                        <div class="col-12">
                            <input type="text" class="form-control" name="lead_website" placeholder="Enter Your Website*" required="" />
                        </div>
                        <div class="col-12">
                            <button type="button" class="btn fp-btn fp-btn-orange fp-btn-shadow form-continue">Continue</button>
                        </div>
                    </div>
                </div>
                <div class="form-step-2 form-step">
                    <h4>Enter your details</h4>
                    <div class="row form-row">
                        <div class="col-12">
                            <input type="text" class="form-control" name="lead_name" placeholder="First Name*" required="" />
                        </div>
                        <div class="col-12">
                            <input type="email" class="form-control" name="lead_email" placeholder="Email*" data-parsley-error-message="Please enter a valid email address" data-parsley-trigger="change" required="" />
                        </div>
                        <div class="col-12">
                            <input type="tel" class="form-control" name="lead_phone" placeholder="Phone*" required="" />
                        </div>
                        <div class="col-12">
                            <input type="hidden" name="lead_formname" value="Get Proposal Form" />
                            <input type="hidden" name="lead_language" value="en" />
                            <input type="hidden" name="lead_formtype" value="hs_quote_form" />
                            <button type="submit" class="form-control btn fp-btn fp-btn-orange fp-btn-shadow" onclick="ga('send','event', {'eventCategory': 'Form','eventAction': 'Click', 'eventLabel': 'Get Proposal Form'});">Get A Free Proposal</button>
                        </div>
                    </div>
                </div>
                <div class="form-thankyou">
                    <h3>Thank You!</h3>
                    <p>Your Digital Marketing Specialist will be in touch within 24 hours. Alternatively, for an instant chat, please call <a href="tel:{{ site_phone|replace({' ':''}) }}"><b>{{ site_phone }}</b></a></p>
                </div>
            </form>
            <!-- End of Form -->
        </div>
    </div>


    {{ function('wp_footer') }}
{% endblock %}

</body>

</html>