{% extends "en-base.twig" %}

{% block content %}

<style>
    @media (max-width: 767px) {
        .page-tiktok-advertising .hero-mobile {
            bottom: 29px;
            right: -15px;
        }

        .page-tiktok-advertising section.banner .banner-description p {
            max-width: 195px;
        }
    }
    
    @media(min-width: 768px){
        section.banner .banner-hero .hero-img {
            right: -54px;
        }
    }
    @media(min-width: 992px){
        section.banner .banner-hero .hero-img {
            right: -199px;
        }
    }
    @media(min-width: 1024px){
        section.banner .banner-hero .hero-img {
            right: -235px;
        }
    }



</style>

<section class="banner form-space">
    <div class="container banner-hero">
        <div class="banner-hero-cont">
            <h1 class="form-hide">Tik Tok ads can be an absolute goldmine for your business</h1>
            <div class="banner-description">
                <p class="form-hide">Partner with First Page today to sell like crazy on the world’s hottest<br class="d-none d-lg-block"> social media app</p>
                <div class="form-hide hero-mobile">
                    <img src="{{ site.theme.link }}/assets/img/img-hero-tik-tok-mob.png" srcset="{{ site.theme.link }}/assets/img/img-hero-tik-tok-mob.png, {{ site.theme.link }}/assets/img/img-hero-tik-tok-mob@2x.png 2x" alt="First Page" />
                </div>
            </div>
            {% include "partials/en-form-services.twig" with {'form_page': 'TikTok Ads', 'form_button': 'Get A Free Quote'} %}
            {% include "partials/en-section-awards-badges.twig" %}
        </div>
        <div class="hero-img d-none d-md-block d-lg-none">
            <img src="{{ site.theme.link }}/assets/img/img-hero-tik-tok-md.png" srcset="{{ site.theme.link }}/assets/img/img-hero-tik-tok-md.png, {{ site.theme.link }}/assets/img/img-hero-tik-tok-md@2x.png 2x" alt="First Page" />
        </div>
        <div class="hero-img d-none d-lg-block">
            <img src="{{ site.theme.link }}/assets/img/img-hero-tik-tok-lg.png" srcset="{{ site.theme.link }}/assets/img/img-hero-tik-tok-lg.png, {{ site.theme.link }}/assets/img/img-hero-tik-tok-lg@2x.png 2x" alt="First Page" />
        </div>
    </div>
</section>

{% include "partials/en-section-enterprise-client-logos.twig" %}

<section class="section-paragraph">
    <div class="row no-gutters align-items-center flex-column-reverse flex-lg-row flex-lg-row-reverse">
        <div class="col-12 col-lg-6 image-container-right">
            <img src="{{ site.theme.link }}/assets/img/img_tik_tok_ad.jpg" srcset="{{ site.theme.link }}/assets/img/img_tik_tok_ad.jpg, {{ site.theme.link }}/assets/img/img_tik_tok_ad@2x.jpg 2x" class="img-fluid d-none d-md-inline-block" alt="First Page" />
            <img src="{{ site.theme.link }}/assets/img/img_tik_tok_ad_mob.jpg" srcset="{{ site.theme.link }}/assets/img/img_tik_tok_ad_mob.jpg, {{ site.theme.link }}/assets/img/img_tik_tok_ad_mob@2x.jpg 2x" class="img-fluid d-md-none" alt="First Page" />
        </div>
        <div class="col-12 col-lg-6 text-container">
            <h2>Tik Tok is the app of the future - get ahead of your competitors now with a marketing strategy that converts insanely well</h2>
            <p>A few years ago, nobody ever heard of Tik Tok.</p>
            <p>Now?</p>
            <p>The platform boasts over 700 million active users, mostly aged 18-24, and is the 6th most popular app in the world.</p>
            <p>Tik Tok content is highly interactive, and creates strong emotional connections with its users. This is the ideal situation for brands looking to boost awareness, exposure, and sales.</p>
            <p>Tik Tok also offers businesses a variety of different ways to advertise - each way will target your core audience in different ways. </p>
            <p>Here are some of the most effective ways to advertise on Tik Tok...</p>
            <ul>
                <li>Topview ads</li>
                <li>Brand takeover ads</li>
                <li>In-feed ads</li>
                <li>Branded hashtag challenge</li>
                <li>Influencer marketing</li>
            </ul>
            <p>Add this in with the fact that most of your competitors are not advertising on Tik Tok, and you can see why this is a social media platform that you can no longer ignore. </p>
            <p>That’s where we come into play...</p>
            <button type="button" class="btn fp-btn fp-btn-orange show-popup-form">GET A FREE QUOTE</button>
        </div>
    </div>
</section>

<section class="section-paragraph">
    <div class="row no-gutters align-items-center flex-column-reverse flex-lg-row">
        <div class="col-12 col-lg-6 image-container-left">
            <img src="{{ site.theme.link }}/assets/img/img_tik_tok.svg" class="img-fluid d-none d-md-inline-block" alt="First Page" />
            <img src="{{ site.theme.link }}/assets/img/img_tik_tok_mob.svg" class="img-fluid d-md-none" alt="First Page" />
        </div>
        <div class="col-12 col-lg-6 text-container">
            <h2>Drive insane growth with Tik Tok Ads from First Page</h2>
            <p>When advertising on Tik Tok, creating engaging video content isn’t enough.</p>
            <p>You also need to know exactly how to start, implement, and scale an effective ad campaign. This means analysing the data, and making calculated decisions about what ads are working the best.</p>
            <p>Here at First Page, we were one of the first movers into the Tik Tok space. While other agencies were brushing off Tik Tok as a fad, we knew it was here to stay, and started advertising on the platform right away.</p>
            <p>This has given us a clear edge. We have been able to run tests and experiments that none of our competitors have, and we are ready to use that data to help create a powerful ad campaign for your business.</p>
            <p>Partner with First Page today to see how we can help your brand drive exposure and sales on the world’s hottest social media platform. Click the button below now to book a free call with one of our Digital Strategists.</p>
            <button type="button" class="btn fp-btn fp-btn-orange show-popup-form">GET A FREE QUOTE</button>
        </div>
    </div>
</section>

<section class="section-client-reviews">
    <div class="container">
        <div class="section-title">
            <h2>See what our clients<br class="d-sm-none"> are saying</h2>
        </div>
        <div class="row testimonial-cont">
            <div class="col-12 col-md-4">
                <div class="testimonial">
                    <div class="stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                    </div>
                    <div class="text">
                        My business site has improved in Google’s rankings after working with First Page! They are also very helpful in providing tips and advice on how to improve our site rankings with regular updates on our progress! </div>
                    <div class="person">
                        <div class="name">JIA JOHNS</div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="testimonial">
                    <div class="stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                    </div>
                    <div class="text">
                        First Page has a highly efficient and dedicated team that has been taking care of our SEO campaign for the last year. Not only do they respond promptly, but they are also able to deliver outstanding results.
                    </div>
                    <div class="person">
                        <div class="name">Winston Engineering</div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="testimonial">
                    <div class="stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                    </div>
                    <div class="text">
                        I’ve been working with First Page for the past few years. Their dedicated staff manage campaigns well and even provide support via Whatsapp. I would strongly recommend First Page to those who want to venture into the digital advertising space. </div>
                    <div class="person">
                        <div class="name">KEVIN CHENG</div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="testimonial">
                    <div class="stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                    </div>
                    <div class="text">
                        These guys knows what they are doing! After engaging a few other SEO Agency over the past few years, FirstPage was much more responsive. Most importantly my website ranking did increase on a monthly basis…. Big Shout Out for the responsive replies, even late at night. Last but not least I would like to thank my account manager Asher for introducing me such a great team. </div>
                    <div class="person">
                        <div class="name">ELLIOT JENSON</div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="testimonial">
                    <div class="stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                    </div>
                    <div class="text">
                        Did a campaign and Sean from FPD has been a great help with timely reports that are quick and easy to understand, support is one of the best I’ve experience and never had to wait too long to get a reply.
                    </div>
                    <div class="person">
                        <div class="name">BEN LEWIS</div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="testimonial">
                    <div class="stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                    </div>
                    <div class="text">
                        First Page offers first class, top notch services.<br>
                        Hats off to them! In the 3 months since engaging them my website has improved a lot!<br>
                        Overall I am happy and satisfied! </div>
                    <div class="person">
                        <div class="name">FARINN KHAN</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% include "partials/en-section-services-social.twig" %}

{% include "partials/en-section-casestudy-british-connections.twig" %}

<section class="section-paragraph section-faqs">
    <div class="container">
        <h2 class="section-title">Social Media Specialiast FAQs</h2>
        <div itemscope itemtype="https://schema.org/FAQPage" class="row">
            <div class="col-12 col-lg-6">
                <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
                    <div class="card-header collapsed" data-toggle="collapse" href="#collapse1">
                        <h5 itemprop="name">What are TikTok Ads?</h5>
                    </div>
                    <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" id="collapse1" class="collapse">
                        <div itemprop="text" class="card-body">
                            <p>TikTok Ads are sponsored posts by businesses to promote their respective products and services to a specific consumer group. TikTok can be an engaging platform for unleashing your brand’s creative potential in a fully immersive environment.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
                    <div class="card-header collapsed" data-toggle="collapse" href="#collapse2">
                        <h5 itemprop="name">What are the types of TikTok Ads?</h5>
                    </div>
                    <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" id="collapse2" class="collapse">
                        <div itemprop="text" class="card-body">
                            <p>Types of TikTok ads include in-feed videos, brand takeovers, hashtag challenge, branded AR content and influencer marketing packages. Each ad type serves to engage with TikTok users interactively while staying on top of internet trends. </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
                    <div class="card-header collapsed" data-toggle="collapse" href="#collapse3">
                        <h5 itemprop="name">Why are TikTok Ads important?</h5>
                    </div>
                    <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" id="collapse3" class="collapse">
                        <div itemprop="text" class="card-body">
                            <p>With over 800 million monthly users (and growing) in more than150 countries, TikTok is already ahead of most other social media giants. If your brand has a target audience of anyone in their teens to their early twenties, you should be on TikTok right now. TikTok’s targeted algorithms mean that your brand will show up for users who share the demographics, such as ‘GenZ’ users.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
                    <div class="card-header collapsed" data-toggle="collapse" href="#collapse4">
                        <h5 itemprop="name">Are TikTok Ads worth it?</h5>
                    </div>
                    <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" id="collapse4" class="collapse">
                        <div itemprop="text" class="card-body">
                            <p>As a powerful social media platform, TikTok ads are an affordable and easy way to create great campaigns. With its state of the art targeting and ad creation technology, you will be able to break into your most lucrative audiences, respectively, maximising your ROI. However, the extent to which TikTok is the right choice for your business depends on your target demographics and budget.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
                    <div class="card-header collapsed" data-toggle="collapse" href="#collapse5">
                        <h5 itemprop="name">How much do TikTok Ads cost?</h5>
                    </div>
                    <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" id="collapse5" class="collapse">
                        <div itemprop="text" class="card-body">
                            <p>Firstly, it’s important to remember that ads are less common as the platform is relatively young. As such, there is a premium factor associated with the cost of advertising on the platform. Depending on the strategy and options that you select, the price may vary significantly. Adage reports indicate that the cost of advertising can be anywhere between $50,000 - USD 120,000, with around $10 CPM. Therefore, these ads may be out of the price range for smaller advertisers.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
                    <div class="card-header collapsed" data-toggle="collapse" href="#collapse6">
                        <h5 itemprop="name">How can I get started with TikTok Ads?</h5>
                    </div>
                    <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" id="collapse6" class="collapse">
                        <div itemprop="text" class="card-body">
                            <p>TikTok Ads are best utilised as a part of a comprehensive digital marketing campaign. You can get started by creating an account on the Tiktok Ads platform. For support in designing your own far-reaching and comprehensive TikTok Advertising campaign, contact our digital marketing specialists today.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% include "partials/en-section-free-session.twig" %}

{% include "partials/en-form-popup.twig" with {'form_page': 'TikTok Ads (Pop-up Form)'} %}

{% endblock %}