{% extends "en-base.twig" %}

{% block content %}

    <style>
        section.section-casestudy.casestudy-google-ads {
            background-image: url("{{ site.theme.link }}/assets/img/img_ipad_hertz@2x.png");
            background-size: 1464px auto;
            background-position-x: calc(50% + 556px);
        }

        @media (max-width: 767px) {

            .page-google-ads section.banner .banner-description p {
                min-height: 267px;
                max-width: 189px;
            }

            section.section-casestudy.casestudy-google-ads {
                background-image: none;
            }
        }
    </style>

    <section class="banner form-space google-ads-banner">
        <div class="container banner-hero">
            <div class="banner-hero-cont">
                <h1 class="form-hide">Generate high quality <br class="d-none d-lg-block">leads & sales in just <br class="d-none d-lg-block">24 hours!</h1>
                <div class="banner-description">
                    <p class="form-hide">20X your ROAS with a carefully crafted Google Ads strategy.</p>
                    <div class="form-hide hero-mobile ">
                        <img src="{{ site.theme.link }}/assets/img/nick-hero-mb.png"
                             srcset="{{ site.theme.link }}/assets/img/nick-hero-mb.png, {{ site.theme.link }}/assets/img/nick-banner-mb@2x.png 2x"
                             alt="First Page"/>
                    </div>
                </div>
                {% include "partials/en-form-services.twig" with {'form_page': 'Google Ads', 'form_button': 'Get A Free Quote'} %}
                {% include "partials/en-section-awards-badges.twig" %}
            </div>
            <div class="hero-img d-none d-md-block d-lg-none">
                <img src="{{ site.theme.link }}/assets/img/nick-banner-hero.png"
                     srcset="{{ site.theme.link }}/assets/img/nick-banner-hero.png, {{ site.theme.link }}/assets/img/nick-banner-hero@2x.png 2x"
                     alt="First Page"/>
            </div>
            <div class="hero-img d-none d-lg-block">
                <img src="{{ site.theme.link }}/assets/img/nick-hero-google-ads.png"
                     srcset="{{ site.theme.link }}/assets/img/nick-hero-google-ads.png, {{ site.theme.link }}/assets/img/nick-hero-google-ads@2x.png 2x"
                     alt="First Page"/>
            </div>
        </div>
    </section>

    {% include "partials/en-section-enterprise-client-logos.twig" %}

    <section class="section-paragraph">
        <div class="row no-gutters align-items-center flex-column-reverse flex-lg-row flex-lg-row-reverse">
            <div class="col-12 col-lg-6 image-container-right">
                <img src="{{ site.theme.link }}/assets/img/img_google_search_ads.png"
                     srcset="{{ site.theme.link }}/assets/img/img_google_search_ads.png, {{ site.theme.link }}/assets/img/img_google_search_ads@2x.png 2x"
                     class="img-fluid d-none d-md-inline-block" alt="First Page"/>
                <img src="{{ site.theme.link }}/assets/img/img_google_search_ads_mob.png"
                     srcset="{{ site.theme.link }}/assets/img/img_google_search_ads_mob.png, {{ site.theme.link }}/assets/img/img_google_search_ads_mob@2x.png 2x"
                     class="img-fluid d-md-none" alt="First Page"/>
            </div>
            <div class="col-12 col-lg-6 text-container">
                <h2>You want a massive influx of sales starting today? Google Ads are the best way to go… </h2>
                <p>Have you ever heard someone say something along the lines of…</p>
                <p>“We tried Google Ads, it didn’t work for us”</p>
                <p>Well, the harsh truth is if someone says this, it means they did their Google Ads the wrong way. </p>
                <p>Google Ads are one of the most effective ways of generating high-quality leads and chart-breaking
                    sales - all of which can be on autopilot. </p>
                <p>No matter if you are a new business looking for your first clients, or an established Enterprise
                    looking to turn into an international-sales-machine - Google Ads is the best option.</p>
                <p>Still don’t believe us? Here’s some jaw-dropping statistics about the sheer power that Google Ads
                    have…</p>
                <ul>
                    <li>Your users are 50% more likely to make a purchase after they click on one of your ads</li>
                    <li>Online ads can increase your brand awareness by 80%</li>
                    <li>65% of all SME’s are running a PPC campaign</li>
                    <li>35% of your users will purchase your product or service within 5 days of searching for it on
                        Google
                    </li>
                </ul>
                <p>But while Google Ads are effective, they are only effective when executed the right way. </p>
                <button type="button" data-title="googleAdsPage-get-freeproposal-you" class="btn fp-btn fp-btn-orange show-popup-form buttonFormClick">GET A FREE QUOTE</button>
            </div>
        </div>
    </section>

    <section class="section-paragraph">
        <div class="row no-gutters align-items-center flex-column-reverse flex-lg-row">
            <div class="col-12 col-lg-6 image-container-left">
                <img src="{{ site.theme.link }}/assets/img/img_google_clicks.png"
                     srcset="{{ site.theme.link }}/assets/img/img_google_clicks.png, {{ site.theme.link }}/assets/img/img_google_clicks@2x.png 2x"
                     class="img-fluid d-none d-md-inline-block" alt="First Page"/>
                <img src="{{ site.theme.link }}/assets/img/img_google_clicks_mob.png"
                     srcset="{{ site.theme.link }}/assets/img/img_google_clicks_mob.png, {{ site.theme.link }}/assets/img/img_google_clicks_mob@2x.png 2x"
                     class="img-fluid d-md-none" alt="First Page"/>
            </div>
            <div class="col-12 col-lg-6 text-container">
                <h2>Turn a $1 investment into a $10 return with a data-driven Google Ads strategy. We know how!</h2>
                <p>The truth is that most agencies have little to no idea how to execute an efficient Google Ads
                    strategy. </p>
                <p>But here at First Page, we have spent the last decade helping thousands of companies scale their ads,
                    grow their business, and explode their sales.</p>
                <p>Our experience is unmatched, and is why we can deliver you a mind-bending ROAS (Return On Ad
                    Spend). </p>
                <p>In fact, we have so much experience that we don’t look at Google Ads as an ad platform; we look at it
                    as a money-printing machine that will catapult your business to the next stratosphere. </p>
                <p>If you are ready to take your business to the next level with Google Ads that actually convert -
                    click the button below to set up a call with one of our Digital Strategists. </p>
                <button type="button" data-title="googleAdsPage-get-freeproposal-turn" class="btn fp-btn fp-btn-orange show-popup-form buttonFormClick">GET A FREE QUOTE</button>
            </div>
        </div>
    </section>

    <section class="section-client-reviews">
        <div class="container">
            <div class="section-title">
                <h2>See what our clients<br class="d-sm-none"> are saying</h2>
            </div>
            <div class="row testimonial-cont">
                <div class="col-12 col-md-4">
                    <div class="testimonial">
                        <div class="stars">
                            <img src="{{ site.theme.link }}/assets/img/icon-star.png"
                                 srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                            <img src="{{ site.theme.link }}/assets/img/icon-star.png"
                                 srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                            <img src="{{ site.theme.link }}/assets/img/icon-star.png"
                                 srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                            <img src="{{ site.theme.link }}/assets/img/icon-star.png"
                                 srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                            <img src="{{ site.theme.link }}/assets/img/icon-star.png"
                                 srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        </div>
                        <div class="text">
                            Michelle has applied her analytical abilities in managing our Google ad-words account to
                            great benefit. Her insights and research have been invaluable in shaping our advertising
                            strategy. We offer this endorsement of her skills without reservation.
                        </div>
                        <div class="person">
                            <div class="name">BOB GREEN</div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="testimonial">
                        <div class="stars">
                            <img src="{{ site.theme.link }}/assets/img/icon-star.png"
                                 srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                            <img src="{{ site.theme.link }}/assets/img/icon-star.png"
                                 srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                            <img src="{{ site.theme.link }}/assets/img/icon-star.png"
                                 srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                            <img src="{{ site.theme.link }}/assets/img/icon-star.png"
                                 srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                            <img src="{{ site.theme.link }}/assets/img/icon-star.png"
                                 srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        </div>
                        <div class="text">
                            Our Digital Marketing Specialist, Heather, has proved to be very professional in setting up
                            and running my ads on Facebook and Google. I received a lot of input even before signing an
                            agreement. I am happy to be working with the team at First Page!
                        </div>
                        <div class="person">
                            <div class="name">ANDREW WONG</div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="testimonial">
                        <div class="stars">
                            <img src="{{ site.theme.link }}/assets/img/icon-star.png"
                                 srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                            <img src="{{ site.theme.link }}/assets/img/icon-star.png"
                                 srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                            <img src="{{ site.theme.link }}/assets/img/icon-star.png"
                                 srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                            <img src="{{ site.theme.link }}/assets/img/icon-star.png"
                                 srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                            <img src="{{ site.theme.link }}/assets/img/icon-star.png"
                                 srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        </div>
                        <div class="text">
                            First Page is a transparent and results-oriented SEO agency. They've helped us move up the
                            Google search ladder over the last few months very effectively. Great company and highly
                            recommended!
                        </div>
                        <div class="person">
                            <div class="name">AARON LEE</div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-4">
                    <div class="testimonial">
                        <div class="stars">
                            <img src="{{ site.theme.link }}/assets/img/icon-star.png"
                                 srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                            <img src="{{ site.theme.link }}/assets/img/icon-star.png"
                                 srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                            <img src="{{ site.theme.link }}/assets/img/icon-star.png"
                                 srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                            <img src="{{ site.theme.link }}/assets/img/icon-star.png"
                                 srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                            <img src="{{ site.theme.link }}/assets/img/icon-star.png"
                                 srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        </div>
                        <div class="text">
                            I received a lot of help from First Page - especially with Facebook ads. Lars helped me to
                            focus on the right things and not put everything in the same basket. Thank you Lars for your
                            availability and professionalism.
                        </div>
                        <div class="person">
                            <div class="name">Genevieve Rouleau</div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="testimonial">
                        <div class="stars">
                            <img src="{{ site.theme.link }}/assets/img/icon-star.png"
                                 srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                            <img src="{{ site.theme.link }}/assets/img/icon-star.png"
                                 srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                            <img src="{{ site.theme.link }}/assets/img/icon-star.png"
                                 srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                            <img src="{{ site.theme.link }}/assets/img/icon-star.png"
                                 srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                            <img src="{{ site.theme.link }}/assets/img/icon-star.png"
                                 srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        </div>
                        <div class="text">
                            It has been a pleasure working with First Page. They are professional and truly passionate
                            about what they do. We have been very happy with the service they provide.
                        </div>
                        <div class="person">
                            <div class="name">Beverly Law</div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="testimonial">
                        <div class="stars">
                            <img src="{{ site.theme.link }}/assets/img/icon-star.png"
                                 srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                            <img src="{{ site.theme.link }}/assets/img/icon-star.png"
                                 srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                            <img src="{{ site.theme.link }}/assets/img/icon-star.png"
                                 srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                            <img src="{{ site.theme.link }}/assets/img/icon-star.png"
                                 srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                            <img src="{{ site.theme.link }}/assets/img/icon-star.png"
                                 srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        </div>
                        <div class="text">
                            My firm engaged First Page for Google Adwords and SEO and we're over the moon with the
                            results! We've seen a substantial increase in inbound leads and as a result we've hired two
                            more team members to handle the demand. Very happy to recommend First Page to
                            other businesses.
                        </div>
                        <div class="person">
                            <div class="name">Susan Wu</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% include "partials/en-section-services-google-ads.twig" %}

    <section class="section-casestudy casestudy-google-ads">
        <div class="container">
            <div class="content-area">
                <div class="info">
                    <h2>
                        <span class="small-grey">Our Recent Work</span>
                        <strong>Hertz</strong>
                    </h2>
                    {# <ul class="tag">
                <li>SEO</li>
            </ul> #}
                    <p>In the extremely competitive car rental industry, data driven search campaigns maximise
                        conversions and minimise wastage.</p>
                </div>

                <div class="stats">
                    <div class="stats-container">
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <div class="stat">15x</div>
                                <div class="desc">ROI in 3 months</div>
                            </div>
                            <div class="col-12 col-md-6 ">
                                <div class="stat">105<sub>%</sub></div>
                                <div class="desc">increase in online conversions</div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section-paragraph section-faqs">
        <div class="container">
            <h2 class="section-title">Digital Strategist FAQs</h2>
            <div itemscope itemtype="https://schema.org/FAQPage" class="row">
                <div class="col-12 col-lg-6">
                    <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
                        <div class="card-header collapsed" data-toggle="collapse" href="#collapse1">
                            <h3 itemprop="name" class="h3-accordion-title-fpau">What are Google ads?</h3>
                        </div>
                        <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" id="collapse1"
                             class="collapse">
                            <div itemprop="text" class="card-body">
                                <p>Google Ads is one of the most popular forms of paid advertising. Google Ads gives you
                                    the ability to promote your products and services on Google, Youtube and other major
                                    platforms.</p>
                                <p>Google Ads is one of the most effective ways to boost your online traffic and sales.
                                    Studies show that your customers are 50% more likely to buy your products after they
                                    click on your ads.</p>
                                <p>This is a HUGE online advantage!! </p>
                                <p>Whilst savvy Google Ads management delivers unbeatable online performance, it’s not
                                    always easy to implement. </p>
                                <p>Google Ads uses a pay-per-click (PPC) model which requires you to bid for specific
                                    keywords. You’ll be competing against others in the industry with similar
                                    advertising. </p>
                                <p>Working with a digital marketing agency like First Page gives you the expertise you
                                    need to get ahead of your competitors. </p>
                                <p>Our team delivers decades of search engine experience. We know how to plan a Google
                                    Ads campaign from end to end. From in-depth research to sizzling creative, there’s
                                    simply no better Google Ads agency in Australia!! </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
                        <div class="card-header collapsed" data-toggle="collapse" href="#collapse2">
                            <h3 itemprop="name" class="h3-accordion-title-fpau">Why are Google ads important?</h3>
                        </div>
                        <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" id="collapse2"
                             class="collapse">
                            <div itemprop="text" class="card-body">
                                <p>2.3 million searches are performed on Google every second. What does it take to tap
                                    into this insane amount of traffic? The answer is a great Google Ads campaign!!</p>
                                <p>It’s important to work with an experienced Google Ads agency like First Page because
                                    we offer a unique range of tools and techniques. We don’t waste your time with
                                    guesswork - but instead offer a laser-targeted campaign that reaches your target
                                    audience fast. </p>
                                <p>We undertake exhaustive keyword research to learn who’s searching for your products
                                    and how they’re using search engines. It’s how we gain the attention of serious
                                    shoppers with real buyer intent - before funnelling this traffic straight to your
                                    site. </p>
                                <p>Using carefully selected keywords means each search by your target audience is an
                                    opportunity to connect them to your products. The result is skyrocketing visibility,
                                    traffic, and (most importantly) sales!</p>
                                <p>Working with a Google advertising agency enables you to target your demographic,
                                    control your ad spend and measure campaign success - all with pinpoint precision.
                                    This is the reason why you’ll gain real results and an ROI that eclipses other
                                    digital marketing methods!! </p>
                                <p>When you need dependable sales gains FAST - then there’s no better strategy than a
                                    Google Ads campaign from First Page. </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
                        <div class="card-header collapsed" data-toggle="collapse" href="#collapse3">
                            <h3 itemprop="name" class="h3-accordion-title-fpau">What are the types of Google Ads?</h3>
                        </div>
                        <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" id="collapse3"
                             class="collapse">
                            <div itemprop="text" class="card-body">
                                <p>There are three key types of Google Ads:</p>
                                <ul>
                                    <li>Search Network Campaigns</li>
                                    <ul>
                                        <li>Usually in text format, these ads appear on search engine results pages when
                                            a user searches for a product or service similar to yours.
                                        </li>
                                    </ul>
                                    <li>Display Network Campaign</li>
                                    <ul>
                                        <li>Often in the form of an eye-catching image that appears on the websites your
                                            target audience visits.
                                        </li>
                                    </ul>
                                    <li>Video campaigns</li>
                                    <ul>
                                        <li>Short, engaging videos that play before or during targeted Youtube
                                            content.
                                        </li>
                                    </ul>
                                </ul>
                                <p>Other types of Google Ads campaigns include Shopping Campaigns and App Campaigns.
                                    Selecting the right type of Google Ads campaign is a question of what content
                                    appeals most to your audience. </p>
                                <p>For more information on different types of Google Ads campaigns, we recommend you <a
                                            href="{{ home_url }}contact/">contact</a> our advertising experts. We’ll help
                                    you see understand how much our services could benefit your business. </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
                        <div class="card-header collapsed" data-toggle="collapse" href="#collapse4">
                            <h3 itemprop="name" class="h3-accordion-title-fpau">How does Google Ad bidding work?</h3>
                        </div>
                        <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" id="collapse4"
                             class="collapse">
                            <div itemprop="text" class="card-body">
                                <p>Google Ads do not have a fixed cost. Instead, you’ll use a bidding system based on
                                    your keywords, region and industry. </p>
                                <p>The cost of your Google Ads bid corresponds with the amount you’re willing to pay for
                                    clicks on your ad. Selecting the appropriate Google ads bidding strategy that suits
                                    your campaign and your business is essential. </p>
                                <p>Whether you’re focusing on clicks, impressions, or conversions - you can choose from
                                    various types of bidding options, including Cost-per-click (CPC) and Cost-per-mille
                                    (CPM), that best suit business goals.</p>
                                <p>It’s not always easy. But when you work with First Page, we make Google Ads bidding a
                                    breeze!! We’ll handle the process end to end, using our experience the deliver the
                                    best ROI in the business. </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
                        <div class="card-header collapsed" data-toggle="collapse" href="#collapse5">
                            <h3 itemprop="name" class="h3-accordion-title-fpau">How much do Google Ads cost?</h3>
                        </div>
                        <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" id="collapse5"
                             class="collapse">
                            <div itemprop="text" class="card-body">
                                <p>The cost of Google Ads is based on your budget. There is no minimum spend and you
                                    only pay when users click on your ad. This makes Google Ads perfect for businesses
                                    of any size - because you’ll always be in control of your Google Ads budget and ad
                                    spend. </p>
                                <p>Google Ads usually cost $1-$2 per click. But this will be higher if you’re in a
                                    competitive industry. The key is to fine-tune your strategy and execution. </p>
                                <p>Precision targeting of your audience with carefully researched keywords maximises
                                    your ROI because you directly reaching the customers with the highest likelihood of
                                    purchasing. </p>
                                <p>A great Google Ads campaign will precisely target uses with serious buyer intent. The
                                    result? You leave your competition in the dust!! </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
                        <div class="card-header collapsed" data-toggle="collapse" href="#collapse6">
                            <h3 itemprop="name" class="h3-accordion-title-fpau">How do I start advertising on Google?</h3>
                        </div>
                        <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" id="collapse6"
                             class="collapse">
                            <div itemprop="text" class="card-body">
                                <p>A well-managed Google ads campaign will start with a clear plan and thorough
                                    research. </p>
                                <p>Before beginning your Google Ads campaign, it’s important to set a realistic budget
                                    and clear KPIs to measure your success. Deciding on these two factors will allow you
                                    to calculate your ROI and see the real benefit of your campaign. </p>
                                <p>At First Page, our Google Ads management is designed to deliver serious sales fast!!
                                    When you’re looking for unrivalled visibility and a real shot at online sales
                                    success, there’s simply no better digital marketing strategy. </p>
                                <p>We welcome you to contact our Google Ads experts today to begin a conversation about
                                    the future success of your business!! </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-6">
                    <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
                        <div class="card-header collapsed" data-toggle="collapse" href="#collapse7">
                            <h3 itemprop="name" class="h3-accordion-title-fpau">How do I manage my Google Ads campaign?</h3>
                        </div>
                        <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" id="collapse7"
                             class="collapse">
                            <div itemprop="text" class="card-body">
                                <p>Professional Google Ads management is one of the most intelligent ways to invest in
                                    your business. An experienced Google Ads agency will offer a selection of specialist
                                    strategies that will introduce your brand to target audiences you never thought
                                    possible. </p>
                                <p>Any leading Google Ads agency will offer Google Ads management as part of their
                                    package of services. The result of having your ads managed by a team of experts will
                                    be a fully optimised campaign and a rapidly rising ROI.</p>
                                <p>We believe it’s not simply enough to offer some good creative or insightful analysis.
                                    At First Page, we’re all about delivering Google Ads management solutions that 100%
                                    optimise your campaign - establishing you a standout online presence and a serious
                                    industry contender. </p>
                            </div>
                        </div>
                    </div>
                </div>

                    <div class="col-12 col-lg-6">
                        <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
                            <div class="card-header collapsed" data-toggle="collapse" href="#collapse8">
                                <h3 itemprop="name" class="h3-accordion-title-fpau">Can an advertising agency help with Google Ads?</h3>
                            </div>
                            <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" id="collapse8"
                                 class="collapse">
                                <div itemprop="text" class="card-body">
                                    <p>In recent years, many advertising agencies are making the shift to Google Ads
                                        agencies. </p>
                                    <p>A Google advertising agency will bring many of the traditional skillsets of the
                                        industry, such as creative, strategy, media planning and account management -
                                        and transfer them to the digital advertising arena. </p>
                                    <p>Working closely with a Google Ads agency will offer your business the opportunity
                                        to optimise your approach to paid advertising and search engine success. The
                                        results can be unrivalled visibility and a proven way to connect with millions
                                        of customers.</p>
                                    <p>A top Google Ads agency like First Page can get results because we target your
                                        advertising better than anyone else. We know how to reach customers who are at
                                        the purchase point right now - and actively looking to buy. </p>
                                    <p>Why waste your ad spend on old fashioned agencies who don’t understand digital?
                                        You business deserves a serious Google Ads management strategy. And we’re in
                                        young, digital-first team that can deliver the goods. </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-lg-6">
                        <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
                            <div class="card-header collapsed" data-toggle="collapse" href="#collapse9">
                                <h3 itemprop="name" class="h3-accordion-title-fpau">What are the benefits of Google Ads management?</h3>
                            </div>
                            <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" id="collapse9"
                                 class="collapse">
                                <div itemprop="text" class="card-body">
                                    <p>Bringing a serious and well-structured approach to Google Ads management leaves
                                        nothing to chance. Instead, you benefit from a tailored set of tools that Google
                                        advertising agencies have established over years of research and
                                        development. </p>
                                    <p>So what does this mean for your business? If you work to develop a strong Google
                                        Ads management strategy, you can expect to experience a serious shift in
                                        traffic, clicks and conversions - FAST! </p>
                                    <p>Here’s the BIG benefit of working with First Page. We’ve spent decades in the
                                        digital marketing space, refining a series of strategies that boost organic
                                        traffic better than anyone else!! </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-lg-6">
                        <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
                            <div class="card-header collapsed" data-toggle="collapse" href="#collapse10">
                                <h3 itemprop="name" class="h3-accordion-title-fpau">What services does a Google advertising agency offer? </h3>
                            </div>
                            <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer"
                                 id="collapse10" class="collapse">
                                <div itemprop="text" class="card-body">
                                    <p>A Google Advertising agency takes a focussed approach to PPC advertising. These
                                        agencies specialise in Google Ads and offer a unique team of collaborative
                                        digital specialists. They work together to deliver the most successful and
                                        profitable campaigns for their clients.
                                        If they’re serious about your success, a Google Advertising agency will offer a
                                        rigorous approach to Google Ads management. This holistic strategy allows your
                                        campaign to be carefully optimised by a team of experienced professionals.
                                    </p>
                                    <p>This will include a dedicated account manager who can deliver real Google Ads
                                        expertise, a range of SEO technicians and media specialists to optimise the
                                        approach of your campaign, and content producers who can create insanely
                                        eye-catching ad copy.</p>
                                    <p>When you’re ready to take you business to the next level and start seriously
                                        dominating your niche, a Google Advertising agency will show you how. First Page
                                        is only choice when you need a dedicated team of digital professionals. We
                                        understand your needs and work tirelessly to achieve the serious search engine
                                        success you deserve!</p>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>


            </div>
        </div>
    </section>

    {% include "partials/en-section-free-session.twig" %}

    {% include "partials/en-form-popup.twig" with {'form_page': 'Google Ads (Pop-up Form)'} %}

{% endblock %}