{% extends "en-base.twig" %}

{% block content %}

<style>
    section.section-casestudy.casestudy-google-shopping {
        background-image: url("{{ site.theme.link }}/assets/img/img_ipad_petit_tippi@2x.png");
        background-size: 1464px auto;
        background-position-x: calc(50% + 556px);
    }
    @media (max-width: 767px) {
        .page-google-shopping section.banner .banner-description p {
            min-height: 228px;
        }

        .page-google-shopping section.banner h1 {
            max-width: 242px;
            margin-bottom: 45px;
        }

        section.section-casestudy.casestudy-google-shopping {
            background-image: none;
        }
    }

</style>

    <section class="banner form-space google-shopping-banner">
        <div class="container banner-hero">
            <div class="banner-hero-cont">
                <h1 class="form-hide">20X your ecommerce business in months with targeted Google Shopping Ads</h1>
                <div class="banner-description">
                    <div class="form-hide hero-mobile">
                        <img src="{{ site.theme.link }}/assets/img/byron-banner-sm.png" srcset="{{ site.theme.link }}/assets/img/byron-banner-sm.png, {{ site.theme.link }}/assets/img/byron-banner-mb@2x.png 2x" alt="First Page" />
                    </div>
                </div>
                {% include "partials/en-form-services.twig" with {'form_page': 'Google Shopping', 'form_button': 'Get A Free Quote'} %}
                {% include "partials/en-section-awards-badges.twig" %}
            </div>

            <div class="hero-img d-none d-md-block d-lg-none">
                <img src="{{ site.theme.link }}/assets/img/byron-banner-tab.png" srcset="{{ site.theme.link }}/assets/img/byron-banner-tab.png, {{ site.theme.link }}/assets/img/byron-banner-tab@2x.png 2x" alt="First Page" />
            </div>
            <div class="hero-img d-none d-lg-block">
                <img src="{{ site.theme.link }}/assets/img/hero-google-shopping.png" srcset="{{ site.theme.link }}/assets/img/hero-google-shopping.png, {{ site.theme.link }}/assets/img/byron-hero-google-shopping@2x.png 2x" alt="First Page" />
            </div>
        </div>
    </section>

{% include "partials/en-section-featured-in-news.twig" %}

<section class="section-paragraph">
    <div class="row no-gutters align-items-center flex-column-reverse flex-lg-row flex-lg-row-reverse">
        <div class="col-12 col-lg-6 image-container-right">
            <img src="{{ site.theme.link }}/assets/img/img_shopping.png" srcset="{{ site.theme.link }}/assets/img/img_shopping.png, {{ site.theme.link }}/assets/img/img_shopping@2x.png 2x" class="img-fluid d-none d-md-inline-block" alt="First Page" />
            <img src="{{ site.theme.link }}/assets/img/img_shopping_mob.png" srcset="{{ site.theme.link }}/assets/img/img_shopping_mob.png, {{ site.theme.link }}/assets/img/img_shopping_mob@2x.png 2x" class="img-fluid d-md-none" alt="First Page" />
        </div>
        <div class="col-12 col-lg-6 text-container">
            <h2>Grab market-share from your competitors and get your products in front of buyers</h2>
            <p>When people are Googling information for a specific product, they are often ready to buy - they basically have their credit card in their hand!</p>
            <p>And that’s the precise power of Google Shopping Ads. </p>
            <p>No matter your industry, the ability to get a clickable image of your products on the top of Google Search Ads is an opportunity you can no longer ignore. </p>
            <p>Google Shopping Ads are the cornerstone of Ecommerce marketing. In fact, did you know that…</p>
            <ul>
                <li>Google Shopping Ads win 86% of all clicks (versus text ads)</li>
                <li>Google is where 36% of all product searches initiate</li>
                <li>Before making an in-store purchase, over 70% of smartphone users looked up information online</li>
                <li>Google shopping spend grew by 41% from the prior year</li>
            </ul>

            <p>The numbers don’t lie. If your online store isn’t investing in Google Shopping Ads, then you are leaving an enormous amount of money on the table. </p>

            <p>But how do you set up your Google Shopping Ads in a way that is designed for conversions and delivers you an insane ROAS (Return On Ad Spend)?</p>

            <p>Meet First Page - your partners in business and growth.</p>

            <button type="button" data-title="googleShoppingPage-get-freeproposal-grab" class="btn fp-btn fp-btn-orange show-popup-form buttonFormClick">GET A FREE QUOTE</button>
        </div>
    </div>
</section>

<section class="section-paragraph">
    <div class="row no-gutters align-items-center flex-column-reverse flex-lg-row">
        <div class="col-12 col-lg-6 image-container-left">
            <img src="{{ site.theme.link }}/assets/img/img_shopping_2.png" srcset="{{ site.theme.link }}/assets/img/img_shopping_2.png, {{ site.theme.link }}/assets/img/img_shopping_2@2x.png 2x" class="img-fluid d-none d-md-inline-block" alt="First Page" />
            <img src="{{ site.theme.link }}/assets/img/img_shopping_2_mob.png" srcset="{{ site.theme.link }}/assets/img/img_shopping_2_mob.png, {{ site.theme.link }}/assets/img/img_shopping_2_mob@2x.png 2x" class="img-fluid d-md-none" alt="First Page" />
        </div>
        <div class="col-12 col-lg-6 text-container">
            <h2>Explode your online sales and dominate your market with Google Shopping Ads</h2>
            <p>Over the past 10 years, we have helped our Ecommerce clients grow insanely fast with Google Shopping Ads. </p>
            <p>And we want to do the exact same for you. </p>
            <p>The mission is simple. We will create mouthwatering ads, optimise them for sales, get them in front of your target audience, and give you an ROI you never thought possible... and then repeat the whole process over again.</p>
            <p>It’s a beautiful thing.</p>
            <p>This is how the world’s top Ecommerce brands become globally dominant. </p>
            <p>And we will achieve this in a way that is fast, transparent, and within your budget. </p>
            <p>Our international team of Digital Strategists are ready to deliver you astonishing results that few other agencies can. We have the experience and proprietary technology to take you to the top. </p>
            <p>Click the button below now to set up a free call with one of our Digital Strategists so we can create a blueprint for growth for your business.</p>
            <button type="button" data-title="googleShoppingPage-get-freeproposal-explode" class="btn fp-btn fp-btn-orange show-popup-form buttonFormClick">GET A FREE QUOTE</button>
        </div>
    </div>
</section>

<section class="section-client-reviews">
    <div class="container">
        <div class="section-title">
            <h2>See what our clients<br class="d-sm-none"> are saying</h2>
        </div>
        <div class="row testimonial-cont">
            <div class="col-12 col-md-4">
                <div class="testimonial">
                    <div class="stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                    </div>
                    <div class="text">
                        These guys know what they are doing! After engaging other SEO Agency over the past few years, First Page was much more responsive. Most importantly my website ranking did increase on a monthly basis. </div>
                    <div class="person">
                        <div class="name">Esmond Lawson</div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="testimonial">
                    <div class="stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                    </div>
                    <div class="text">
                        I had been searching for an SEO agency for a while until I met Angela. She has been very patient and professional in her work. First Page has been responsive, efficient and offers excellent customer service. I would recommend them to anyone.
                    </div>
                    <div class="person">
                        <div class="name">Gerry Angelo</div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="testimonial">
                    <div class="stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                    </div>
                    <div class="text">
                        Since I first got in touch with First Page, their service standard has been top-notch. All queries were properly answered with full transparency. Sean and Asher are helping to get our entire website SEO-optimised and so far, I am very happy with their service. </div>
                    <div class="person">
                        <div class="name">TERRY LAM</div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-4">
                <div class="testimonial">
                    <div class="stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                    </div>
                    <div class="text">
                        Our company has been working with First Page for 3 months. Sean has been very helpful and patient. You can tell he takes pride in his work. Keep up the world-class customer service you had been providing your clients! </div>
                    <div class="person">
                        <div class="name">Jun Hong Eric Chiang</div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="testimonial">
                    <div class="stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                    </div>
                    <div class="text">
                        It was the first time working with Carl and his team and the experience has been superbly wonderful! They deliver what was promised and beyond. The team was always professional and always going the extra mile with excellent customer care. </div>
                    <div class="person">
                        <div class="name">VIN CE</div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="testimonial">
                    <div class="stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                    </div>
                    <div class="text">
                        The First Page Digital team has been absolutely fantastic to work with. They exceeded the outlined KPI's and have been extremely responsive. Highly recommend, A+++
                    </div>
                    <div class="person">
                        <div class="name">Bee Valerie</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% include "partials/en-section-services-google-ads.twig" %}

    <section class="section-casestudy casestudy-google-shopping">
        <div class="container">
            <div class="content-area">
                <div class="info">
                    <h2>
                        <span class="small-grey">Our Recent Work</span>
                        <strong>Petit Tippi</strong>
                    </h2>
                    {# <ul class="tag">
                <li>SEO</li>
            </ul> #}
                    <p>The natural baby products market has become saturated, so how do you stand out? With smart Google Shopping advertising.</p>
                </div>

                <div class="stats">
                    <div class="stats-container">
                        <div class="row">
                            <div class="col-12 col-md-4">
                                <div class="stat">96<sub>%</sub></div>
                                <div class="desc">increase in revenue in just
                                    6 months</div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="stat">114<sub>%</sub></div>
                                <div class="desc">return on ad spend in 6 months</div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="stat">112<sub>%</sub></div>
                                <div class="desc">increase in unique users</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

<section class="section-paragraph section-faqs">
    <div class="container">
        <h2 class="section-title">Digital Strategist FAQs</h2>
        <div itemscope itemtype="https://schema.org/FAQPage" class="row">
            <div class="col-12 col-lg-6">
                <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
                    <div class="card-header collapsed" data-toggle="collapse" href="#collapse1">
                        <h3 itemprop="name" class="h3-accordion-title-fpau">What is Google Shopping?</h3>
                    </div>
                    <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" id="collapse1" class="collapse">
                        <div itemprop="text" class="card-body">
                            <p>Google Shopping allows users to search, view and compare products from different online retailers based on their search queries. The shopping results are displayed as thumbnail images with the retailer and price. </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
                    <div class="card-header collapsed" data-toggle="collapse" href="#collapse2">
                        <h3 itemprop="name" class="h3-accordion-title-fpau">What’s the difference between Google Shopping and other online marketplaces?</h3>
                    </div>
                    <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" id="collapse2" class="collapse">
                        <div itemprop="text" class="card-body">
                            <p>Online marketplaces like Amazon can only allow you to browse Amazon sellers. Google Shopping compiles all of the relevant search results from different retailers across the web - giving users a wide range of choice and flexibility in their purchase. </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
                    <div class="card-header collapsed" data-toggle="collapse" href="#collapse3">
                        <h3 itemprop="name" class="h3-accordion-title-fpau">Why is Google Shopping important?</h3>
                    </div>
                    <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" id="collapse3" class="collapse">
                        <div itemprop="text" class="card-body">
                            <p>Google Shopping not only streamlines the customer’s purchase journey but also builds your business’s online presence. You can improve the quality of your leads by providing interested customers with detailed product information that will help them make an informed purchase, rather than customers who are randomly browsing. These benefits retailers because it sends potential customers back to the original website to make the purchase</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
                    <div class="card-header collapsed" data-toggle="collapse" href="#collapse4">
                        <h3 itemprop="name" class="h3-accordion-title-fpau">Is Google Shopping Free?</h3>
                    </div>
                    <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" id="collapse4" class="collapse">
                        <div itemprop="text" class="card-body">
                            <p>In April 2020, Google announced free Google Shopping listings to encourage merchants to sell their products online. Businesses can gain free exposure to millions of customers, discoverable through the Google Shopping tab.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
                    <div class="card-header collapsed" data-toggle="collapse" href="#collapse5">
                        <h3 itemprop="name" class="h3-accordion-title-fpau">How do I get on Google Shopping?</h3>
                    </div>
                    <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" id="collapse5" class="collapse">
                        <div itemprop="text" class="card-body">
                            <p>Simply set up a Google Merchant Center account to get started. To optimise your Google Shopping rankings, you need a clear plan of your product feed, campaign segmentation and ad budget. Our digital marketing specialists can help you build a comprehensive Google Shopping strategy that can drive traffic and increase conversions.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
                    <div class="card-header collapsed" data-toggle="collapse" href="#collapse6">
                        <h3 itemprop="name" class="h3-accordion-title-fpau">How can First Page use Google Shopping Ads to grow your online sales?</h3>
                    </div>
                    <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" id="collapse6" class="collapse">
                        <div itemprop="text" class="card-body">
                            <p>At First Page, we specialise in crafting tailor-made campaigns for businesses of all kinds and sizes.
                                We’ll help you set up your Google Merchant Centre account, take the time to understand your product pages, revamp them (if necessary) to make them as visible as possible for Google, and whip up the perfect ad groups for your products.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% include "partials/en-section-free-session.twig" %}

{% include "partials/en-form-popup.twig" with {'form_page': 'Google Shopping (Pop-up Form)'} %}


{% endblock %}