{% extends "en-base.twig" %}

{% block content %}

<style>
    section.section-casestudy.casestudy-google-display-network {
        background-image: url("{{ site.theme.link }}/assets/img/img_ipad_honestbee@2x.png");
        background-size: 1464px auto;
        background-position-x: calc(50% + 556px);
    }
    @media (max-width: 767px) {
         section.banner h1 {
            padding: 0 5px;
            max-width: 216px;
            margin-bottom: 45px;

        }
         section.banner .banner-description p {
            padding: 0 5px;
            max-width: 150px;
            min-height: 238px;
        }

        section.section-casestudy.casestudy-google-display-network {
            background-image: none;
        }
    }

</style>

<section class="banner form-space google-display-network-banner">
    <div class="container banner-hero">
        <div class="banner-hero-cont">
            <h1 class="form-hide">Experience jaw dropping ROAS with clever Google Display Advertising</h1>
            <div class="banner-description">
                <div class="form-hide hero-mobile">
                    <img src="{{ site.theme.link }}/assets/img/img-hero-tik-tok-mob.png" srcset="{{ site.theme.link }}/assets/img/img-hero-tik-tok-mob.png, {{ site.theme.link }}/assets/img/img-hero-tik-tok-mob@2x.png 2x" alt="First Page" />
                </div>
            </div>
            {% include "partials/en-form-services.twig" with {'form_page': 'Google Display', 'form_button': 'Get A Free Quote'} %}
            {% include "partials/en-section-awards-badges.twig" %}
        </div>
        <div class="hero-img d-none d-md-block d-lg-none">
            <img src="{{ site.theme.link }}/assets/img/img-hero-tik-tok-md.png" srcset="{{ site.theme.link }}/assets/img/img-hero-tik-tok-md.png, {{ site.theme.link }}/assets/img/img-hero-tik-tok-md@2x.png 2x" alt="First Page" />
        </div>
        <div class="hero-img d-none d-lg-block">
            <img src="{{ site.theme.link }}/assets/img/img-hero-tik-tok-lg.png" srcset="{{ site.theme.link }}/assets/img/img-hero-tik-tok-lg.png, {{ site.theme.link }}/assets/img/img-hero-tik-tok-lg@2x.png 2x" alt="First Page" />
        </div>
    </div>
</section>

{% include "partials/en-section-featured-in-news.twig" %}

<section class="section-paragraph">
    <div class="row no-gutters align-items-center flex-column-reverse flex-lg-row flex-lg-row-reverse">
        <div class="col-12 col-lg-6 image-container-right">
            <img src="{{ site.theme.link }}/assets/img/img_display_ads.png" srcset="{{ site.theme.link }}/assets/img/img_display_ads.png, {{ site.theme.link }}/assets/img/img_display_ads@2x.png 2x" class="img-fluid d-none d-md-inline-block" alt="First Page" />
            <img src="{{ site.theme.link }}/assets/img/img_display_ads_mob.png" srcset="{{ site.theme.link }}/assets/img/img_display_ads_mob.png, {{ site.theme.link }}/assets/img/img_display_ads_mob@2x.png 2x" class="img-fluid d-md-none" alt="First Page" />
        </div>
        <div class="col-12 col-lg-6 text-container">
            <h2>Remarket your products to people who have previously visited your site to see a massive boost in sales</h2>
            <p>Google Display Ads are criminally underrated. </p>
            <p>Why?</p>
            <p>Because few other ad platforms are so robust, so visual, and also offer powerful remarketing options the way that Google Display Ads do. </p>
            <p>These ads allow you to tell your brand’s story, and create a customer journey that is fully optimised for leads and conversions. </p>
            <p>The visual components of Google Display Ads are truly unique, and give you the ability to showcase your business around the world and transform random internet browsers into superfans of your brand. </p>
            <p>Whether you are looking to advertise on YouTube, Gmail, mobile apps, games, or specific types of websites - Google Display Ads will shock you with how targeted, and effective, they can be. </p>
            <p>Here are some shocking statistics about Google Display Ads network…</p>
            <ul>
                <li>Your Google Display Ads will be able to reach 90% of global internet users</li>
                <li>84% of marketers use display ads</li>
                <li>Google Display ads are most effective in the 25-44 age group</li>
                <li>You can cross-target, allowing you to create a more effective funnel and reach more potential buyers</li>
            </ul>
            <p>All of this makes it undeniable - Google Display Ads are a worthwhile investment for Ecommerce businesses, client-based businesses, and everything in between. </p>
            <button type="button" class="btn fp-btn fp-btn-orange show-popup-form">GET A FREE QUOTE</button>
        </div>
    </div>
</section>

<section class="section-paragraph">
    <div class="row no-gutters align-items-center flex-column-reverse flex-lg-row">
        <div class="col-12 col-lg-6 image-container-left">
            <img src="{{ site.theme.link }}/assets/img/img_google_clicks.png" srcset="{{ site.theme.link }}/assets/img/img_google_clicks.png, {{ site.theme.link }}/assets/img/img_google_clicks@2x.png 2x" class="img-fluid d-none d-md-inline-block" alt="First Page" />
            <img src="{{ site.theme.link }}/assets/img/img_google_clicks_mob.png" srcset="{{ site.theme.link }}/assets/img/img_google_clicks_mob.png, {{ site.theme.link }}/assets/img/img_google_clicks_mob@2x.png 2x" class="img-fluid d-md-none" alt="First Page" />
        </div>
        <div class="col-12 col-lg-6 text-container">
            <h2>The Google Display network is the largest in the world, with a 90% reach across all internet users. Are you advertising?</h2>
            <p>In our 10+ years running Google Display Ads, we have given our clients a ROAS (Return On Ad Spend) that few competitors can match. </p>
            <p>What’s our secret? </p>
            <p>Over a decade’s worth of experience. We have tested Google Display Ads relentlessly, which means that we know exactly what works, and what’s a waste of time (and money). </p>
            <p>This means that we will be able to deliver you astonishing results, within your budget, in record time. </p>
            <p>If you are ready to increase your sales, grow your brand, and work with the best Google Ads agency in the hemisphere, click the button below to speak with one of our Digital Strategists. </p>
            <button type="button" class="btn fp-btn fp-btn-orange show-popup-form">GET A FREE QUOTE</button>
        </div>
    </div>
</section>

<section class="section-client-reviews">
    <div class="container">
        <div class="section-title">
            <h2>See what our clients<br class="d-sm-none"> are saying</h2>
        </div>
        <div class="row testimonial-cont">
            <div class="col-12 col-md-4">
                <div class="testimonial">
                    <div class="stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                    </div>
                    <div class="text">
                        Joe and his team have been very helpful in managing our Facebook page - including the design of our logo, cover photo, content of posts and responses to followers. First Page is a professional and responsive team which I
                        would recommend.
                    </div>
                    <div class="person">
                        <div class="name">Whitney Tso</div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="testimonial">
                    <div class="stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                    </div>
                    <div class="text">
                        Good service and very responsible. A special thanks to Clarkson, our SEO Specialist. She is very helpful and always gives her full attention to our results. This means we can keep our high ranking on Google.
                        Thanks so much.
                    </div>
                    <div class="person">
                        <div class="name">Alexandro Chung</div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="testimonial">
                    <div class="stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                    </div>
                    <div class="text">
                        Thanks to First Page, our consultant business is becoming known by more and more customers. The team and the company are very professional and responsible. Most importantly, my SEO ranking has continuously improved since I joined the company. </div>
                    <div class="person">
                        <div class="name">Emet Sandy</div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-4">
                <div class="testimonial">
                    <div class="stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                    </div>
                    <div class="text">
                        First Page over delivered! We’ve seen a 230% increase in our website traffic and a 400% increase in our online enquirers. Now we are now aiming for a 500% increase in traffic by next year. Thanks! </div>
                    <div class="person">
                        <div class="name">Boris Tselniker</div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="testimonial">
                    <div class="stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                    </div>
                    <div class="text">
                        With a dedicated team, First Page has managed to increase exposure to our websites with their premier search engine optimisation services. Thank you! </div>
                    <div class="person">
                        <div class="name">HAYLEY APPLEFORD</div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="testimonial">
                    <div class="stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                    </div>
                    <div class="text">
                        Carl and Bingming were professional, responsive and very knowledgeable. It's been a pleasure working with them. I would definitely recommend First Page to anyone who needs help with all things Digital Marketing!
                    </div>
                    <div class="person">
                        <div class="name">Ricky Chandra</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% include "partials/en-section-services-google-ads.twig" %}

    <section class="section-casestudy casestudy-google-display-network">
        <div class="container">
            <div class="content-area">
                <div class="info">
                    <h2>
                        <span class="small-grey">Our Recent Work</span>
                        <strong>Honestbee</strong>
                    </h2>
                    {# <ul class="tag">
                    <li>SEO</li>
                </ul> #}
                    <p>Honestbee was hungry for more app signups so we utilised Google Ads/Universal App Campaign to drive more app installs/in-app conversions.</p>
                </div>

                <div class="stats">
                    <div class="stats-container">
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <div class="stat">21x</div>
                                <div class="desc">return on marketing investment in
                                    2 months</div>
                            </div>
                            <div class="col-12 col-md-6 ">
                                <div class="stat">307<sub>%</sub></div>
                                <div class="desc">increase in app installs</div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

<section class="section-paragraph section-faqs">
    <div class="container">
        <h2 class="section-title">Digital Strategist FAQs</h2>
        <div itemscope itemtype="https://schema.org/FAQPage" class="row">
            <div class="col-12 col-lg-6">
                <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
                    <div class="card-header collapsed" data-toggle="collapse" href="#collapse1">
                        <h5 itemprop="name">What is Google Display?</h5>
                    </div>
                    <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" id="collapse1" class="collapse">
                        <div itemprop="text" class="card-body">
                            <p>Google Adwords is split into two components – the Search Network and the Display Network. The Google Display Network allows businesses to display visual ads to users across a network of websites. The ads will be shown on websites related to your business, or criteria of your targeted audience such as personal interests, age and gender.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
                    <div class="card-header collapsed" data-toggle="collapse" href="#collapse2">
                        <h5 itemprop="name">What is the difference between Google Search Ads and Google Display Ads?</h5>
                    </div>
                    <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" id="collapse2" class="collapse">
                        <div itemprop="text" class="card-body">
                            <p>The main difference between the two is that search ads are a form of “pull” advertising, while display ads are a form of “push” advertising. Search ads show up on organic search engine results when users search the targeted keywords, whereas display ads appear on a wide range of websites according to the user demographics.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
                    <div class="card-header collapsed" data-toggle="collapse" href="#collapse3">
                        <h5 itemprop="name">Why is Google Display important?</h5>
                    </div>
                    <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" id="collapse3" class="collapse">
                        <div itemprop="text" class="card-body">
                            <p>Google display ads reach 90% of users worldwide, across 2 million websites like Youtube, Gmail, news pages, and more. This allows businesses to place their ad in front of users without waiting for them to find you. Cost per click for display ads is cheaper, and also offers a powerful method of retargeting users through remarketing ads.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
                    <div class="card-header collapsed" data-toggle="collapse" href="#collapse4">
                        <h5 itemprop="name">Where do the Google Display ads show up?</h5>
                    </div>
                    <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" id="collapse4" class="collapse">
                        <div itemprop="text" class="card-body">
                            <p>The ads appear when the audience segments you select for the campaign match the user who is browsing online. This can happen during Youtube videos, or even on mobile devices and apps.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
                    <div class="card-header collapsed" data-toggle="collapse" href="#collapse5">
                        <h5 itemprop="name">What kind of Google Display Ad specs are there?</h5>
                    </div>
                    <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" id="collapse5" class="collapse">
                        <div itemprop="text" class="card-body">
                            <p>The Google Display Network offers a wide range of ad formats, such as adaptive ads, responsive ads, and lightbox ads – which all allow you to adjust size, format to fit different advertising spaces and customise user interaction. </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
                    <div class="card-header collapsed" data-toggle="collapse" href="#collapse6">
                        <h5 itemprop="name">How can I get started with Google Display ads?</h5>
                    </div>
                    <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" id="collapse6" class="collapse">
                        <div itemprop="text" class="card-body">
                            <p>In conjunction with Google Search Ads, Display ads can help spread brand awareness and target a huge breadth of customers with your desired demographics. Getting started is as simple as creating a Google Ads account. Our Google Ads experts at First Page can help you craft the ultimate advertising mix to maximise ROI and drive sales.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% include "partials/en-section-free-session.twig" %}

{% include "partials/en-form-popup.twig" with {'form_page': 'Google Display (Pop-up Form)'} %}


{% endblock %}