{% extends "en-base.twig" %}

{% block content %}
<link rel="stylesheet" href="{{ site.theme.link }}/views/assets/style.css" />
<script src="{{ site.theme.link }}/views/assets/js/script.js"></script>
<!-- Banner -->
<section class="banner extra-pad extra-pad-shorter form-space">
    <div class="container banner-hero">
        <div class="banner-hero-cont">
            <h1 class="form-hide bold-lg"><strong>Attract</strong> the lucrative
                <strong>chinese market</strong> with <strong>SEO</strong>
            </h1>
            <div class="hero-img-mobile d-lg-none">
                <img src="{{ site.theme.link }}/views/assets/img/img_hero_seo_mob.png" srcset="{{ site.theme.link }}/views/assets/img/img_hero_seo_mob.png, {{ site.theme.link }}/views/assets/img/img_hero_seo_mob@2x.png 2x" class="img-fluid" alt="First Page Digital" />
            </div>
            {% include "partials/en-form-services.twig" with {'form_page': 'Chinese SEO'} %}

            {% include "partials/en-section-awards-badges.twig" %}
        </div>

        <div class="hero-img d-none d-lg-block">
            <img src="{{ site.theme.link }}/views/assets/img/img_hero_seo.png" srcset="{{ site.theme.link }}/views/assets/img/img_hero_seo.png, {{ site.theme.link }}/views/assets/img/img_hero_seo@2x.png 2x" class="img-fluid" alt="First Page Digital" />
        </div>
    </div>
</section>

<section class="section-featured section-grey">
    <div class="container">
        <div class="row align-center">
            <div class="title col-12 col-xl-3 mb-4 align-self-center">Be Found</div>
            <div class="col-12 col-xl-9 mb-4">
                <img src="{{ site.theme.link }}/views/assets/img/lgrid-befound.png" class="img-fluid" alt="Be Found" />
            </div>
        </div>
    </div>
</section>

<section class="section-chinese-map section-blue">
    <div class="container">
        <div class="row align-center">
            <div class="col-12 col-md-6 mb-4">
                <div class="map-china"><img src="{{ site.theme.link }}/views/assets/img/map-china.png" srcset="{{ site.theme.link }}/views/assets/img/map-china@2x.png 2x" alt="Map China" /></div>
                <div class="stats">
                    <div class="number">730<sub> Mil</sub></div>
                    <div class="text">Chinese users &amp; counting</div>
                </div>
            </div>
            <div class="col-12 col-md-6 text-center text-md-left">
                <h1>Are you after leads, sales and traffic? We have the secret to get you there.</h1>
                <p>As one of the fastest growing consumer markets in the world, capturing Chinese audiences is essential for any business looking to drive rapid expansion.</p>
                <p>The good news? We know exactly how to get you there.</p>
                <p>With 730 million users and counting, China is the largest online market in the world. In e-commerce around a decade ago, China accounted for less than 1 percent of worldwide transaction values. Today, it sits at over 40 percent.</p>
                <p>Our in-house SEO team are experts when it comes to tapping into the Chinese market. Whether you're local or international, we're confident that we can get you results that last.</p>
            </div>
        </div>
    </div>
</section>

<section class="section-paragraph section-white mob-center">
    <div class="container">
        <div class="row mb-3 mb-md-5 align-items-center flex-column-reverse flex-md-row flex-md-row-reverse">
            <div class="col-12 col-md-6 mt-3 mb-3 text-center text-lg-right">
                <img src="{{ site.theme.link }}/views/assets/img/img_link_building_results.png" srcset="{{ site.theme.link }}/views/assets/img/img_link_building_results.png, {{ site.theme.link }}/views/assets/img/img_link_building_results@2x.png 2x" class="img-fluid d-none d-md-inline-block" alt="" />
                <img src="{{ site.theme.link }}/views/assets/img/img_link_building_results_mob.png" srcset="{{ site.theme.link }}/views/assets/img/img_link_building_results_mob.png, {{ site.theme.link }}/views/assets/img/img_link_building_results_mob@2x.png 2x" class="img-fluid d-md-none" alt="" />
            </div>
            <div class="col-12 col-md-6 mb-3">
                <h3>Dramatically improve your visibility</h3>
                <p>For brands that truly want to dominate the globe, finding a way to reach the Chinese marketplace is hugely important. With the nation’s combined annual <a href="https://firstpage.com.au/ecommerce-seo/">e-commerce</a> sales amounting to almost USD $2 trillion – more than three times greater than the American market – it’s no wonder so many brands are focusing their <a href="https://firstpage.com.au/">digital marketing</a> efforts on this part of the world.</p>
                <p>But for companies that are unfamiliar with the region, it can be a complicated process to establish your operation and successfully compete in this hotly contested marketplace. First Page Australia’s renowned team has a wealth of experience when it comes to reaching the Chinese market, with our targeted <a href="https://firstpage.com.au/seo/">SEO</a> campaigns helping both local and international companies reach this highly prized customer base.</p>
                <div class="button-cont"><button type="button" class="btn fp-btn fp-btn-orange show-popup-form">GET A FREE SEO QUOTE</button></div>
            </div>
        </div>
        <div class="row mb-0 mb-md-5 align-items-center flex-column-reverse flex-md-row">
            <div class="col-12 col-md-6 mt-3 mb-0 mb-md-3 text-center text-lg-left">
                <img src="{{ site.theme.link }}/views/assets/img/img_location.svg" class="img-fluid d-none d-md-inline-block" alt="" />
                <img src="{{ site.theme.link }}/views/assets/img/img_location_mob.svg" class="img-fluid d-md-none" alt="" />
            </div>
            <div class="col-12 col-md-6 mb-3">
                <h3>Dominate your local marketplace</h3>
                <p>As Australia is home to more than 650,000 Chinese-born people, if your products and services appeal to this specific target market, <a href="https://firstpage.com.au/">First Page Australia</a> can develop a robust campaign that gains their attention. Supported by our detailed approach to SEO, our carefully researched local search phrases and location-based keywords ensure your local business climbs the search engine results pages and overtakes your key competitors.
                <p>As part of this process, we ensure our clients benefit from a highly optimised Google My Business listing. This verification method means your customers won’t have any problem finding your business when they conduct a relevant search. Alongside your precise address and contact details, potential customers will also be presented with high-quality images and Google Reviews that highlight what makes your business special.</p>
                <div class="button-cont"><button type="button" class="btn fp-btn fp-btn-orange show-popup-form">GET A FREE SEO QUOTE</button></div>
            </div>
        </div>
        <div class="row mb-3 mb-md-5 align-items-center flex-column-reverse flex-md-row flex-md-row-reverse">
            <div class="col-12 col-md-6 mt-3 mb-3 text-center text-lg-right">
                <img src="{{ site.theme.link }}/views/assets/img/img_translate.svg" class="img-fluid d-none d-md-inline-block" alt="" />
                <img src="{{ site.theme.link }}/views/assets/img/img_translate_mob.svg" class="img-fluid d-md-none" alt="" />
            </div>
            <div class="col-12 col-md-6 mb-3">
                <h3>Speak your
                    customers’ language</h3>
                <p>With Chinese customers representing over half of global e-commerce sales, your brand must communicate in a way that’s understood by this lucrative target market. As research tells us that 75% of online shoppers prefer to purchase products that have descriptions in their native language, following suit with your own product range is one way to significantly improve your market penetration and conversion rate.</p>
                <p>Fortunately, First Page Australia has a highly experienced multilingual team that can deliver engaging campaigns across English, Mandarin and Cantonese. Whether you’re looking to produce compelling storytelling or want to communicate the nitty-gritty details of your complex products, our team members can craft a <a href="https://firstpage.com.au/seo-copywriting/">comprehensive strategy</a> that native Chinese customers will fully understand and appreciate.</p>
                <div class="button-cont"><button type="button" class="btn fp-btn fp-btn-orange show-popup-form">GET A FREE SEO QUOTE</button></div>
            </div>
        </div>
    </div>
</section>

{% include "partials/en-section-free-session.twig" %}

{% include "partials/en-form-popup.twig" with {'form_page': 'Chinese SEO (Popup)'} %}
<section class="section-paragraph section-faq section-white">
    <div class="container">
        <h3>Frequently Asked Questions</h3>
        <div id="accordion">
            <div class="card">
                <div class="card-header border-0" id="headingOne">
                    <div class="row">
                        <div class="col-10">
                            <h5 class="mb-0">
                                <span class="faq-label">🇨🇳 What Is Chinese SEO? </span>
                            </h5>
                        </div>
                        <div class="col-2 align-self-center">
                            <span class="float-right accordion-sign">+</span>
                        </div>
                    </div>
                </div>
                <div id="collapseOne" class="collapse">
                    <div class="card-body">Launching overseas revenue streams is almost always going to be a profitable decision for companies based in Australia. But this is especially true if your company’s products and services can breakthrough into the Chinese marketplace. A personalised Chinese SEO campaign from <a href="https://firstpage.com.au/">First Page Australia</a> will ensure your business reaches its ideal customers and communicates effectively.</div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <div class="row">
                        <div class="col-10">
                            <h5 class="mb-0">
                                <span class="faq-label">💭 How Can Companies Use SEO To Reach Chinese Customers?</span>
                            </h5>
                        </div>
                        <div class="col-2 align-self-center">
                            <span class="float-right accordion-sign">+</span>
                        </div>
                    </div>
                </div>
                <div id="collapseTwo" class="collapse">
                    <div class="card-body">Research has shown that converting customers is much easier when you communicate in their native language. A professional Chinese SEO agency like First Page Australia will produce precise, culturally sensitive translations of your product and service pages to ensure your company resonates with Chinese customers. Using data-driven and location-based <a href="https://firstpage.com.au/seo/">SEO techniques</a>, we specialise in reaching international consumers, as well as the 650,000 Chinese-born people living in Australia.</div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingThree">
                    <div class="row">
                        <div class="col-10">
                            <h5 class="mb-0">
                                <span class="faq-label">🐼 What Are The Benefits of Chinese SEO? </span>
                            </h5>
                        </div>
                        <div class="col-2 align-self-center">
                            <span class="float-right accordion-sign">+</span>
                        </div>
                    </div>
                </div>
                <div id="collapseThree" class="collapse">
                    <div class="card-body">There are no two ways about it – the Chinese market is incredibly lucrative for basically every kind of business. With the nation’s annual e-commerce sales totalling an estimated USD $2 trillion, finding a way to attract even a tiny percentage could skyrocket your company’s success. By teaming up with First Page Australia, you’ll have a highly experienced Chinese SEO agency guiding your marketing campaign.</div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingThree">
                    <div class="row">
                        <div class="col-10">
                            <h5 class="mb-0">
                                <span class="faq-label">🏦 How Do I Choose A Chinese SEO Agency? </span>
                            </h5>
                        </div>
                        <div class="col-2 align-self-center">
                            <span class="float-right accordion-sign">+</span>
                        </div>
                    </div>
                </div>
                <div id="collapseThree" class="collapse">
                    <div class="card-body">Joining forces with the perfect Chinese SEO agency is incredibly important. You need a trustworthy team that’s not only exceedingly familiar with the Chinese e-commerce landscape, but also has a proven track record of leading SEO campaigns that achieve their clients’ goals. First Page Australia offers all these attributes and more as we’ve helped our clients lead remarkably successful SEO campaigns in both Mandarin and Cantonese.</div>
                </div>
            </div>
        </div>
</section>
{% endblock %}