{% extends "en-base.twig" %}

{% block content %}


<section class="banner"></section>
<section class="section-paragraph partners_section_one">
    <div class="row no-gutters  flex-column-reverse flex-md-row">
        <div class="col-12 col-md-6 image-container-left">
            <img src="{{ site.theme.link }}/assets/img/img_partner_nick_lg.png" srcset="{{ site.theme.link }}/assets/img/img_partner_nick_lg.png, {{ site.theme.link }}/assets/img/img_partner_nick_lg@2x.png 2x" class="img-fluid d-none d-lg-block ml-auto mr-5 partner_nick_img" alt="First Page" />
            <img src="{{ site.theme.link }}/assets/img/img_partner_nick_md.png" srcset="{{ site.theme.link }}/assets/img/img_partner_nick_md.png, {{ site.theme.link }}/assets/img/img_partner_nick_md@2x.png 2x" class="img-fluid d-none d-md-block d-lg-none ml-auto mr-5 partner_nick_img" alt="First Page" />
            {# <img class="img-fluid d-none d-lg-block mx-auto partner_data_img" src="{{ site.theme.link }}/assets/img/img_partner_data_lg.png" srcset="{{ site.theme.link }}/assets/img/img_partner_data_lg.png, {{ site.theme.link }}/assets/img/img_partner_data_lg@2x.png 2x"  alt="First Page" />
            <img class="img-fluid d-none d-md-block d-lg-none mx-auto partner_data_img" src="{{ site.theme.link }}/assets/img/img_partner_data_md.png" srcset="{{ site.theme.link }}/assets/img/img_partner_data_md.png, {{ site.theme.link }}/assets/img/img_partner_data_md@2x.png 2x"  alt="First Page" /> #}

            <div class="row partners_data_row d-none d-md-block">
                <div class="col-12 ">
                    <img
                    src="{{ site.theme.link }}/assets/img/icn_revenue.svg"
                    width="83"
                    height="80"
                    alt="First Page"
                    class="mb-3"
                    />
                    <h5>
                    Generated over $3.8+ billion <br class="d-none d-lg-block" />
                    in sales for our clients
                    </h5>

                    <hr>
                </div>
                <div class="col-12">
                    <img
                    src="{{ site.theme.link }}/assets/img/img_google-reviews.svg"
                    width="198"
                    height="80"
                    alt="First Page"
                    class="mb-2"
                    />

                    <h5>
                    500+ Google reviews globally <br class="d-none d-lg-block" />
                    with a 4.9/5 rating
                    </h5>
                     <hr>
                </div>
                <div class="col-12">
                    <img
                    src="{{ site.theme.link }}/assets/img/icn_awards.svg"
                    width="73"
                    height="80"
                    alt="First Page"
                    class="mb-2"
                    />
                    <h5>
                    Won 14 digital awards <br class="d-none d-lg-block" />
                    and counting
                    </h5>
                </div>
            </div>


            {# <img src="{{ site.theme.link }}/assets/img/amazon-growth-mb.png" srcset="{{ site.theme.link }}/assets/img/amazon-growth-mb.png, {{ site.theme.link }}/assets/img/amazon-growth-mb@2x.png 2x" class="img-fluid d-md-none" alt="First Page" /> #}
        </div>
        <div class="col-12 col-md-6 text-container">



            <h2>Partner with Australia’s #1 Digital Marketing Agency</h2>
            <p>If you're always hungry for new business, so are we.</p>
            <p>Are you connected with other companies that would benefit from First Page's digital services? We're keen to talk. </p>
            <p class="mb-5">From specialist agencies to technology platforms, we're on the lookout for digital marketing agency partnerships, with skillsets that complement our own.</p>
            <img src="{{ site.theme.link }}/assets/img/img_partner_nick_sm.png" srcset="{{ site.theme.link }}/assets/img/img_partner_nick_sm.png, {{ site.theme.link }}/assets/img/img_partner_nick_sm@2x.png 2x" class="img-fluid d-block d-md-none mx-auto partner_nick_img mb-5" alt="First Page" />

            
            <h2>It's a mutual partnership</h2>
            <p>We are always seeking out new digital marketing partners that will mutually grow our businesses. </p>
            <p>Imagine being able to offer all of our services on our behalf, to your clients - at the price you quoted for the retainer you control. </p>
            <p>We'll broaden the scope of your service offerings, and give you the assurance that choosing the best digital partner agency in Melbourne will put your clients in good hands.</p>
            <p class="mb-5">Our digital marketing agency partnerships are all about driving the best results for our clients. Talk with our team today, and we can explore the options of how we could work together.</p>
            
            <h2>There's no risk if you're partnering with the best</h2>
            <p>Don't worry - your clients are in safe hands. We always deliver on our promises as your digital partner agency. It's nothing short of the best for your clients.</p>
            <p>We make sure our digital marketing agency partnerships are mutually beneficial. They're designed to skyrocket revenues for each of us.</p>
            <p class="mb-5">But don't just take our word for it! Hear it straight from the horse's mouth.</p>

            <div class="row partners_data_row partners_data_row_sm d-block d-md-none ">
                <div class="col-12 ">
                    <img
                    src="{{ site.theme.link }}/assets/img/icn_revenue.svg"
                    width="83"
                    height="80"
                    alt="First Page"
                    class="mb-2"
                    />
                    <h5>
                    Generated over $3.8+ billion <br class="d-none d-lg-block" />
                    in sales for our clients
                    </h5>

                    <hr>
                </div>
                <div class="col-12">
                    <img
                    src="{{ site.theme.link }}/assets/img/img_google-reviews.svg"
                    width="198"
                    height="80"
                    alt="First Page"
                    class="mb-2"
                    />

                    <h5>
                    500+ Google reviews globally <br class="d-none d-lg-block" />
                    with a 4.9/5 rating
                    </h5>
                     <hr>
                </div>
                <div class="col-12">
                    <img
                    src="{{ site.theme.link }}/assets/img/icn_awards.svg"
                    width="73"
                    height="80"
                    alt="First Page"
                    class="mb-2"
                    />
                    <h5>
                    Won 14 digital awards <br class="d-none d-lg-block" />
                    and counting
                    </h5>
                </div>
            </div>

            <h2>Why you should partner with First Page</h2>
            <p>If you want to make life easier, ask us about our digital marketing agency partnerships. </p>
            <p>If you want to deliver the best work for your clients while growing your business's revenue, First Page is the digital partner agency for you.</p>
            <p>Together, we can lift your workload and leverage your clients - to achieve your goals and smash your targets.</p>
        </div>
    </div>
</section>

{# <section class="section-paragraph">
    <div class="row no-gutters align-items-center flex-column-reverse flex-md-row flex-md-row-reverse">
        <div class="col-12 col-md-6 image-container-right">
            <img src="{{ site.theme.link }}/assets/img/amazon-growth-lg.png" srcset="{{ site.theme.link }}/assets/img/amazon-growth-lg.png, {{ site.theme.link }}/assets/img/amazon-growth-lg@2x.png 2x" class="img-fluid d-none d-md-inline-block" alt="First Page" />
            <img src="{{ site.theme.link }}/assets/img/amazon-growth-mb.png" srcset="{{ site.theme.link }}/assets/img/amazon-growth-mb.png, {{ site.theme.link }}/assets/img/amazon-growth-mb@2x.png 2x" class="img-fluid d-md-none" alt="First Page" />
        </div>
        <div class="col-12 col-md-6 text-container">
            <h2>Benefit from a tailored Amazon SEO campaign</h2>
            <p>When it comes to leading an effective Amazon SEO campaign, taking a generic approach simply won’t achieve the results you need. That’s why every campaign we lead is carefully tailored to meet the specific needs of our clients. By backing your business with a curated strategy that responds to both the strengths of your brand and the desires of your target market, you can quickly grow above and beyond expectations. </p>
            <p>As we plan and execute a tailored strategy for your brand, we get to know what makes your products special. In doing so, we’ll delve into the data behind your online store’s performance, picking out the areas where we can make the most drastic improvement. Powered by powerful market research and data analysis, our forward-thinking approach to Amazon SEO delivers outstanding results.</p>
            <button type="button" class="btn fp-btn fp-btn-orange show-popup-form">GET A FREE AMAZON SEO QUOTE</button>
        </div>
    </div>
</section> #}


{% include "partials/en-form-partner.twig" with {'form_page': 'Page Name', 'form_button': 'Get A Free Quote', 'form_hs': 'hs_partner_form'} %}



<section class="section-paragraph section-faqs pt-5">
    <div class="container">
        <h2 class="section-title">FAQ's</h2>
        <div itemscope itemtype="https://schema.org/FAQPage" class="row">
            <div class="col-12 col-lg-6">
                <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
                    <div class="card-header collapsed" data-toggle="collapse" href="#collapse1">
                    {# q1 #}
                        <h3 itemprop="name">How is the partnership set up?</h3>
                    </div>
                    <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" id="collapse1" class="collapse">
                        <div itemprop="text" class="card-body">

                            <p>First Page offers two types of digital marketing agency partnerships: Referral Partnerships and Strategic Partnerships.</p>
                            <p><span class="font-weight-bold">Referral Partnerships</span> are exactly that - you refer a client, and we pay you handsomely for the privilege.</p>
                            <p>If you have a qualified lead who stands to benefit from our services, you can refer them to us as your digital partner agency. From there, we'll work our magic of pitching to the client and setting up a contract with them.</p>
                            <p>In this case, the contract with the client would be under our First Page brand; this isn't a white-label service.</p>
                            <p>Meanwhile, we'll have a revenue share agreement in place, between you and First Page. With the strength of our agency, you'll be licking your lips at the fat commissions you can expect!</p>
                            <p>Our partnership is exactly that - mutually beneficial. Our digital partner agency makes sure you look good to the client, for any other services you may be providing for them otherwise.</p>
                            <p><span class="font-weight-bold">Strategic Partnerships</span> are for our partners who have clear but overlapping value propositions with our own. </p>
                            <p>If you have a large client base that you are uniquely engaged with, talk with us about a strategic partnership. </p>
                            <p>Driving the most ROI for your client is a matter of bringing all their marketing efforts and campaigns together, under one roof. This is easier said than done - which is why it's easier to achieve through a strategic partnership. </p>
                            <p>By providing integrated, cross-channel, cross-funnel strategies - our digital marketing agency partnerships can give your agency an edge over the competitors.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
                    <div class="card-header collapsed" data-toggle="collapse" href="#collapse2">
                    {# q2 #}
                        <h3 itemprop="name"> Who do we partner with?</h3>
                    </div>
                    <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" id="collapse2" class="collapse">
                        <div itemprop="text" class="card-body">
                        <p>It's not so much the who, as the why. We don't limit ourselves over what kinds of businesses we partner with, as long as it's driving value for our clients.</p>
                        <p>We'll partner with any business or major influencer we align with. If our collaboration will reap more revenue for you, us and our clients - then we're your digital partner agency.</p>
                        <p>Our list of digital marketing agency partnerships includes other specialist digital marketing agencies, such as paid media agencies and social media management agencies. We also partner with creative firms, PR firms, marketing software platforms, hosting servers, developers, IT firms, accounting firms, HR companies, consulting firms and investors.</p>
                        <p>We forge digital marketing agency partnerships with a variety of different businesses. We drive successful businesses to new heights, and bring innovative new approaches to where it may have seemed unlikely.</p>
                        <p>As long as you have a business and processes that can align with our value proposition, we'll come to the table to talk. Reach out to us about our digital marketing agency partnerships today.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
                    <div class="card-header collapsed" data-toggle="collapse" href="#collapse3">
                    {# q3 #}
                        <h3 itemprop="name">What are the benefits of a referral?</h3>
                    </div>
                    <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" id="collapse3" class="collapse">
                        <div itemprop="text" class="card-body">
                            <p>Collaboration is the surest way to grow your business. If you want to grow fast yet reliably, put your clients in the hands of the fastest-growing digital agency in APAC.</p>
                            <p>Choose your digital partner agency wisely, because we could be your ticket to rapid growth.</p>
                            <p>Partnering with First Page means being able to offer your clients a wider array of premium services. As your digital partner agency, between the two of us, we'll be able to drive maximum ROI for your clients - and for us.</p>
                            <p>You don't ever want to miss out on a client because you couldn't source the services they needed. You don't ever want to give your client less than everything - but, sometimes, they need something outside of the specialist services you provide.</p>
                            <p>That's where First Page steps in as your digital partner agency.</p>
                            <p>By filling in any gaps and extending the scope of your services, we help you develop into the go-to point of call for all your clients' needs. By centralising their needs into one provider, you can quote more services and build larger retainers with your clients.</p>
                            <p>Breadth of services also leads to depth. Partnering means you'll be able to offer a more complex strategy for your clients to achieve their goals.</p>
                            <p>Integrating ideas across channels and campaigns to create a holistic view of your client's work - it's a sure way to scale revenue growth.</p>
                            <p>If you're ready to start delivering for your clients at a greater scope and depth than ever before, contact First Page about our digital marketing agency partnerships today.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
                    <div class="card-header collapsed" data-toggle="collapse" href="#collapse4">
                    {# q4 #}
                        <h3 itemprop="name">Do you offer white labelling?</h3>
                    </div>
                    <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" id="collapse4" class="collapse">
                        <div itemprop="text" class="card-body">
                            <p>With our white label service, you can offer your clients specialised, top-quality digital services at cost-efficiency and speed.</p>
                            <p>A white label is the best way for you to expand the scope of the specialised services you provide, without sinking too many resources into it or exposing your business to risk.</p>
                            <p>If you're a small team producing quality work, there'll come a time when there's an opportunity to provide specialised digital services. However, it may be prohibitively complex or expensive to hire the right staff to provide these services to your clients.</p>
                            <p>How do you know who's the best person to hire? How will their skillsets and processes fit in with the existing structure of your business? How can you streamline all of this into cost-effective, time-effective delivery of services for your clients?</p>
                            <p>The problem is that outsourcing or relying on contractors can expose your business to risk. You need to be confident that the quality of their work is unwaveringly high, and they are capable of meeting business objectives on time, every time.</p>
                            <p>With a white-label service from First Page, you'll get our quality of services and strategy, under your own name. It's like our world-leading specialists are part of your own team.</p>
                            <p>Meanwhile, you can double down on delivering your own services, as well as prospecting and managing clients. </p>
                            <p>This way, you can keep delivering for your clients - while freeing up your capacity to look for new ways to grow your business.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-6">
                <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
                    <div class="card-header collapsed" data-toggle="collapse" href="#collapse5">
                    {# q5 #}
                        <h3 itemprop="name">Will you refer work back to me?</h3>
                    </div>
                    <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" id="collapse5" class="collapse">
                        <div itemprop="text" class="card-body">
                            <p>We all know that a referred customer is worth more to your business than otherwise. Not only does the initial pitching take less effort on your part, but they're also more likely to sign up to a contract or to a larger retainer. </p>
                            <p>In fact, the lifetime value of a referred customer has been shown to be multiples higher than other customers.</p>
                            <p>As your partner marketing agency, First Page will actively refer clients to you as relevant. </p>
                            <p>Just like you, we want to put our clients in the best hands. If we know the work you're doing is quality and will boost our clients' ROI to new heights, a referral could be good for everyone involved - us, you and our clients.</p>
                            <p>Partnering with First Page is the easiest way to grow your referral network. As the fastest-growing agency in the Asia-Pacific, we're rapidly expanding our reach and growing our client base.</p>
                            <p>Just like you, we want to grab every opportunity to grow our clients' ROI. This means, if we see a gap we can't fill, we'll go with the most reliable and cost-effective option - referring our partners.</p>
                            <p>Turning to your digital marketing partner is much less awkward than mining your LinkedIn networks. And it's much more successful than resorting to cold-calling!</p>
                            <p>If you offer cutting-edge software solutions, or complementary marketing services outside of digital, or anything else that would partner well with us - pick up the phone to First Page. We're waiting for your call.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-6">
                <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
                    <div class="card-header collapsed" data-toggle="collapse" href="#collapse6">
                    {# q6 #}
                        <h3 itemprop="name">What if I am a client? </h3>
                    </div>
                    <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" id="collapse6" class="collapse">
                        <div itemprop="text" class="card-body">

                            <p>It's time to truly team up with your digital marketing partner. </p>
                            <p>If you're already one of our clients, you know the quality of our services. From strategy to execution to the comms that keep you in the loop, you know we'll never drop the ball on you.</p>
                            <p>Want to step up the game? A client-agency partnership will leverage each of our strengths, so you can start working smarter rather than just harder.</p>
                            <p>Our digital marketing agency partnerships operate on a deeper level than just service delivery.</p>
                            <p>In a working partnership, we'll get to know your business inside and out, including your roadmap for the future and how we can work together to achieve it. The talent of our digital partner agency will become yours. Think of us as a hyper-charged, super-achieving extension of your team.</p>
                            <p>We put our partners front and centre, going out of our way to deliver first-class results for you. If you're looking for a partner marketing agency with the capability, innovation and flexibility to offer services that you can't find elsewhere, look to First Page.</p>
                            <p>By leveraging each other's talents and areas of expertise, we can mutually grow our businesses. You know your services, industry insights and trends, and we know ours. </p>
                            <p>There are always opportunities to be found in the overlaps - opportunities to drive ROI. Let's get creative together - and make some serious dollars.</p>
                            <p>If you're already impressed with the work we do for you - as you well should be! - let's talk about synergy and how we can tap into exponential growth for both of us.</p>
                        
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-12 col-lg-6">
                <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
                    <div class="card-header collapsed" data-toggle="collapse" href="#collapse7">
                    {# q7 #}
                        <h3 itemprop="name">Will this help manage my workload?</h3>
                    </div>
                    <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" id="collapse7" class="collapse">
                        <div itemprop="text" class="card-body">
                            <p>Do you want to offer exclusive services to your clients, while you reap the referral kickbacks? Are you looking for a digital marketing agency white label service, so you can offer your clients a suite of first-class digital services?</p>
                            <p>With First Page as your digital marketing partner, you can outsource to us - not only the work, but the time too. We know you're busy juggling services and clients on your end. Our digital strategists are more than capable of stepping up to relieve this workload.</p>
                            <p>We'll handle all the updates, reporting and ongoing comms with your clients, so you can focus on developing your services. These are necessary but time-consuming requirements. </p>
                            <p>How much lighter will your plate be, once we've taken these items off it?</p>
                        
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-12 col-lg-6">
                <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
                    <div class="card-header collapsed" data-toggle="collapse" href="#collapse8">
                    {# q8 #}
                        <h3 itemprop="name">Ready to become a digital agency partner?</h3>
                    </div>
                    <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" id="collapse8" class="collapse">
                        <div itemprop="text" class="card-body">
                            <p>First Page is always on the lookout for valuable new partnerships.</p>
                            <p>Just like we don't want to leave any gaps in our service offering, we know you want to provide your client with every opportunity to win.</p>
                            <p>We're speaking the same language: Neither of us wants to let down our clients. In any way. Ever.</p>
                            <p>If your clients could benefit from our digital marketing services, come talk with us today. We partner with any business we align with and mutually benefit - from specialist software firms to major influencers on social media.</p>
                            <p>If you're on the lookout for a dynamic partner marketing agency, reach out to First Page today.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



{# {% include "partials/en-form-popup.twig" with {'form_page': 'Partners (Pop-up Form)'} %} #}

{% endblock %}