{% extends "en-base.twig" %}

{% block content %}

<style>
    section.section-casestudy.casestudy-enterprise-seo {
        background-image: url("{{ site.theme.link }}/assets/img/img_ipad_intercontinental_hotels@2x.png");
        background-size: 1464px auto;
        background-position-x: calc(50% + 556px);
    }

</style>

<section class="banner form-space">
    <div class="container banner-hero">
        <div class="banner-hero-cont">
            <h1 class="form-hide">Increase revenue and lower your acquisition costs with Enterprise SEO</h1>
            <div class="banner-description">
                <p class="form-hide">Enterprise-level challenges require enterprise-level solutions. First Page partners with big brands because we deliver big outcomes.</p>
                <div class="form-hide hero-mobile">
                    <img src="{{ site.theme.link }}/assets/img/img-hero-enterprise-seo-mobile.png" srcset="{{ site.theme.link }}/assets/img/img-hero-enterprise-seo-mobile.png, {{ site.theme.link }}/assets/img/img-hero-enterprise-seo-mobile@2x.png 2x" alt="First Page" />
                </div>
            </div>
            {% include "partials/en-form-services.twig" with {'form_page': 'Enterprise SEO', 'form_button': 'Get A Free Quote'} %}
            {% include "partials/en-section-awards-badges.twig" %}
        </div>
        <div class="hero-img d-none d-md-block d-lg-none">
            <img src="{{ site.theme.link }}/assets/img/img-hero-enterprise-seo-tab.png" srcset="{{ site.theme.link }}/assets/img/img-hero-enterprise-seo-tab.png, {{ site.theme.link }}/assets/img/img-hero-enterprise-seo-tab@2x.png 2x" alt="First Page" />
        </div>
        <div class="hero-img d-none d-lg-block">
            <img src="{{ site.theme.link }}/assets/img/img-hero-enterprise-seo.png" srcset="{{ site.theme.link }}/assets/img/img-hero-enterprise-seo.png, {{ site.theme.link }}/assets/img/img-hero-enterprise-seo@2x.png 2x" alt="First Page" />
        </div>
    </div>
</section>

{% include "partials/en-section-enterprise-client-logos.twig" %}

<section class="section-paragraph">
    <div class="row no-gutters align-items-center flex-column-reverse flex-lg-row flex-lg-row-reverse">
        <div class="col-12 col-lg-6 image-container-right">
            <img src="{{ site.theme.link }}/assets/img/img_seo_enterprise.png" srcset="{{ site.theme.link }}/assets/img/img_seo_enterprise.png, {{ site.theme.link }}/assets/img/img_seo_enterprise@2x.png 2x" class="img-fluid d-none d-md-inline-block" alt="First Page" />
            <img src="{{ site.theme.link }}/assets/img/img_seo_enterprise_mob.png" srcset="{{ site.theme.link }}/assets/img/img_seo_enterprise_mob.png, {{ site.theme.link }}/assets/img/img_seo_enterprise_mob@2x.png 2x" class="img-fluid d-md-none" alt="First Page" />
        </div>
        <div class="col-12 col-lg-6 text-container">
            <h2>Enterprise SEO isn’t just traffic - it’s a transformation into a truly global brand</h2>
            <p>Fortune 500 companies all know the same thing - that Enterprise SEO allows them to control the future of their business like no other channel can.</p>

            <p>There are a few reasons why SEO is a must for Enterprise companies…</p>

            <ul>
                <li>Gives you unprecedented ability to manage and develop your brand identity</li>
                <li>Allows you to obtain a greater market share</li>
                <li>Evergreen content generates the best ROI</li>
                <li>You can create a multi-faceted marketing strategy that ensures a seamless and optimised customer journey </li>
            </ul>

            <p>Enterprise SEO allows you to meet your customers where they need you, and when they need you, so you can develop lifelong relationships with them.</p>

            <p>Take control of the perception and direction of your brand by investing in an SEO strategy that is tailored for an Enterprise company. </p>

            <button type="button" data-title="enterpriseSeoPage-get-freeproposal-enterprise" class="btn fp-btn fp-btn-orange show-popup-form buttonFormClick">GET A FREE QUOTE</button>
        </div>
    </div>
</section>

<section class="section-paragraph">
    <div class="row no-gutters align-items-center flex-column-reverse flex-lg-row">
        <div class="col-12 col-lg-6 image-container-left">
            <img src="{{ site.theme.link }}/assets/img/img_seo_traffic.png" srcset="{{ site.theme.link }}/assets/img/img_seo_traffic.png, {{ site.theme.link }}/assets/img/img_seo_traffic@2x.png 2x" class="img-fluid d-none d-md-inline-block" alt="First Page" />
            <img src="{{ site.theme.link }}/assets/img/img_seo_traffic_mob.png" srcset="{{ site.theme.link }}/assets/img/img_seo_traffic_mob.png, {{ site.theme.link }}/assets/img/img_seo_traffic_mob@2x.png 2x" class="img-fluid d-md-none" alt="First Page" />
        </div>
        <div class="col-12 col-lg-6 text-container">
            <h2>Think of First Page as your full-time, integrated marketing arm. We work seamlessly with your team to deliver insane ROI.</h2>
            <p>Enterprise SEO is unlike any other type of <a href="https://firstpage.com.au/seo/">SEO</a>. It requires creative thinking, impeccable planning, and a system in place that allows you to seamlessly scale. </p>
            <p>This is exactly what we do best at First Page. </p>
            <p>Over the past 10 years we have created and executed SEO campaigns for countless Enterprise clients. </p>
            <p>We don’t look at ourselves as an agency - we pride ourselves in being your <a href="https://firstpage.com.au/">digital marketing partners</a>. Our campaigns have generated hundreds of millions of visitors, and tens of millions of dollars, while building our partners into digital powerhouses. </p>
            <p>Dominate competitive search categories, lower your acquisitions costs, and increase your overall revenue with Enterprise SEO from First Page - click the button below to speak directly with one of our Enterprise Digital Strategists now. </p>
            <button type="button" data-title="enterpriseSeoPage-get-freeproposal-think" class="btn fp-btn fp-btn-orange show-popup-form buttonFormClick">GET A FREE QUOTE</button>
        </div>
    </div>
</section>

<section class="section-client-reviews">
    <div class="container">
        <div class="section-title">
            <h2>See what our clients<br class="d-sm-none"> are saying</h2>
        </div>
        <div class="row testimonial-cont">
            <div class="col-12 col-md-4">
                <div class="testimonial">
                    <div class="stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                    </div>
                    <div class="text">
                        First Page is a great partner to work with! We got in touch with YC Tsao 3 years ago when searching for an SEO agency. He patiently explained the details and answered all of our questions. We greatly appreciate all your efforts!
                    </div>
                    <div class="person">
                        <div class="name">STEPHANIE TANG</div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="testimonial">
                    <div class="stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                    </div>
                    <div class="text">
                        I started working with First Page several months ago and have found their team to be super responsive. My Account Manager Isaac and his teammate Marian are helpful and patient with all my questions and enquiries.
                    </div>
                    <div class="person">
                        <div class="name">Karis Lions</div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="testimonial">
                    <div class="stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                    </div>
                    <div class="text">
                        I feel good working with First Page - quick responses, detail-oriented and results-driven. This is the first time I have collaborated with Isaac and the team. They are really helpful and reply to all my questions and provide extra advice. They’re the most professional team I’ve ever worked with.
                    </div>
                    <div class="person">
                        <div class="name">Jae Yip</div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-4">
                <div class="testimonial">
                    <div class="stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                    </div>
                    <div class="text">
                        I've been using First Page services for over a year. During this journey, I’ve experienced their professionalism and high-quality service. I especially recommend my Account Manager Clarkson. She always responds fast and follows up on my requests quickly. Thank you for your great job!
                    </div>
                    <div class="person">
                        <div class="name">Alvin Lau</div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="testimonial">
                    <div class="stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                    </div>
                    <div class="text">
                        We contacted First Page in the hope that they can deliver a webinar teaching young brands how to develop their digital strategies for e-commerce. I would like to thank Lars for responding really quickly and saying yes immediately!
                    </div>
                    <div class="person">
                        <div class="name">IRIS P</div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="testimonial">
                    <div class="stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                    </div>
                    <div class="text">
                        Lars and Stephanie at First Page are extremely professional and helpful. They have strong technical knowledge and are willing to go the extra mile to support their clients. It's certainly a great pleasure to work with them.
                    </div>
                    <div class="person">
                        <div class="name">Nat Rogers</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% include "partials/en-section-services-seo.twig" %}

<section class="section-casestudy casestudy-enterprise-seo">
    <div class="container">
        <div class="content-area">
            <div class="info">
                <h2>
                    <span class="small-grey">Our Recent Work</span>
                    <strong>Intercontinental Hotels</strong>
                </h2>
                {# <ul class="tag">
                <li>SEO</li>
            </ul> #}
                <p>Even a fortune 500 company or a world-famous hotel chain can benefit from our
                    Enterprise SEO.</p>
            </div>

            <div class="stats">
                <div class="stats-container">
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <div class="stat">91.58<sub>%</sub></div>
                            <div class="desc"> increase in organic users within 6 months</div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="stat">23<sub>%</sub></div>
                            <div class="desc">increase in organic conversions within
                                6 months</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-paragraph section-faqs">
    <div class="container">
        <h2 class="section-title">SEO Director FAQs</h2>
        <div itemscope itemtype="https://schema.org/FAQPage" class="row">
            <div class="col-12 col-lg-6">
                <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
                    <div class="card-header collapsed" data-toggle="collapse" href="#collapse1">
                        <h3 itemprop="name">What is enterprise SEO?</h3>
                    </div>
                    <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" id="collapse1" class="collapse">
                        <div itemprop="text" class="card-body">
                            <p>Enterprise SEO can be defined as search engine optimisation strategies used to help large organisations rank in organic search results. Tailored to enterprise sites' strategies, enterprise SEO generally often targets keywords with high search volume and websites with a large number of pages.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
                    <div class="card-header collapsed" data-toggle="collapse" href="#collapse2">
                        <h3 itemprop="name">How is enterprise SEO different from traditional SEO?</h3>
                    </div>
                    <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" id="collapse2" class="collapse">
                        <div itemprop="text" class="card-body">
                            <p>Enterprise SEO uses a more aggressive keyword approach to target highly competitive keywords, while traditional SEO generally uses lower competition keywords. Enterprise SEO is also used for websites with many pages and requires advanced SEO tactics and higher financial investments to dominate search results for their industry.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
                    <div class="card-header collapsed" data-toggle="collapse" href="#collapse3">
                        <h3 itemprop="name">What businesses should do enterprise SEO?</h3>
                    </div>
                    <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" id="collapse3" class="collapse">
                        <div itemprop="text" class="card-body">
                            <p>Enterprise SEO is dependent on the size of the enterprise site rather than the size of the company. Companies with hundreds or even thousands of pages require specialised enterprise SEO strategies to drive traffic effectively.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
                    <div class="card-header collapsed" data-toggle="collapse" href="#collapse4">
                        <h3 itemprop="name">What is included with enterprise SEO services?</h3>
                    </div>
                    <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" id="collapse4" class="collapse">
                        <div itemprop="text" class="card-body">
                            <p>As enterprise SEO targets high-value and high-competition keywords, it involves a sophisticated, data-driven strategy to optimise the hundreds of web pages and become a leader in their industry. This can include site speed optimisation, landing page creation, thought leadership and conversion optimisation to cement brand reputation and maximise marketing efforts. </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
                    <div class="card-header collapsed" data-toggle="collapse" href="#collapse5">
                        <h3 itemprop="name">How do I get started with enterprise SEO?</h3>
                    </div>
                    <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" id="collapse5" class="collapse">
                        <div itemprop="text" class="card-body">
                            <p>Despite the brand awareness of enterprise companies, SEO is crucial in maintaining a competitive advantage and becoming a leader in the industry. Contact our digital marketing strategists about enterprise SEO strategies today!</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
                    <div class="card-header collapsed" data-toggle="collapse" href="#collapse6">
                        <h3 itemprop="name" class="h3-accordion-title-fpau">Can I handle Enterprise SEO in-house?</h3>
                    </div>
                    <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" id="collapse6" class="collapse">
                        <div itemprop="text" class="card-body">
                            <p>Enterprise-level SEO is multi-faceted and requires experience and precision. To handle this in house, you will need to hire staff members for technical, outreach, content, and more. Because of the complexities and costs, most Enterprise businesses prefer to outsource their SEO to Digital Agencies that know how to achieve results.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>



{% include "partials/en-section-free-session.twig" %}

{% include "partials/en-form-popup.twig" with {'form_page': 'Enterprise SEO (Pop-up Form)'} %}


{% endblock %}