{% extends "en-base.twig" %}

{% block content %}

<style>
    @media (max-width: 767px) {
        .page-content-removal-australia section.banner .banner-description p {
            min-height: 158px;
        }
    }
</style>

<section class="banner form-space">
    <div class="container banner-hero">
        <div class="banner-hero-cont">
            <h1 class="form-hide">Unwanted content removal to get your business back<br class="d-none d-lg-block"> on track</h1>
            <div class="banner-description">
                <p class="form-hide">Our cutting-edge technology will annihilate unfair content that is damaging<br class="d-none d-lg-block"> your brand</p>
                 <div class="form-hide hero-mobile">
                        <img src="{{ site.theme.link }}/assets/img/img_hero_sam_sm.png" srcset="{{ site.theme.link }}/assets/img/img_hero_sam_sm.png, {{ site.theme.link }}/assets/img/img_hero_sam_sm@2x.png 2x" alt="First Page" />
                </div>
            </div>
            {% embed "partials/en-form-services-content-removal-australia.twig" with {'form_page': 'Unwanted Content Removal', 'form_button': 'Get A Free Quote'} %}
            {% block step_1 %}
            <div class="input-group">
                <div class="select-container form-control">
                    <select class="form-control" name="removal_request">
                        <option value="Google Maps Review">Google Maps Review</option>
                        <option value="Google Images">Google Images</option>
                        <option value="Google Search Results">Google Search Results</option>
                        <option value="Glassdoor Review">Glassdoor Review</option>
                        <option value="Product Review">Product Review</option>
                        <option value="Ripoff Report">Ripoff Report</option>
                        <option value="Revenge Porn">Revenge Porn</option>
                        <option value="Something else...">Something else...</option>
                    </select>
                </div>
                <div class="input-group-btn"><button type="button" class="btn fp-btn fp-btn-orange form-continue">Get A Free Quote</button></div>
            </div>
            {% endblock %}
            {% endembed %}
            {% include "partials/en-section-awards-badges.twig" %}
        </div>
        <div class="hero-img d-none d-md-block d-lg-none">
                <img src="{{ site.theme.link }}/assets/img/img_hero_sam_md.png" srcset="{{ site.theme.link }}/assets/img/img_hero_sam_md.png, {{ site.theme.link }}/assets/img/img_hero_sam_md@2x.png 2x" alt="First Page" />
        </div>
        <div class="hero-img d-none d-lg-block">
                <img src="{{ site.theme.link }}/assets/img/img_hero_sam_lg.png" srcset="{{ site.theme.link }}/assets/img/img_hero_sam_lg.png, {{ site.theme.link }}/assets/img/img_hero_sam_lg@2x.png 2x" alt="First Page" />
        </div>
    </div>
</section>

{% include "partials/en-section-featured-in-news.twig" %}

<section class="section-paragraph">
    <div class="container">
        <div class="row align-items-center flex-column-reverse flex-lg-row flex-lg-row-reverse">
            <div class="col-12 col-lg-6 image-container-right">
                <img src="{{ site.theme.link }}/assets/img/img_reviews.svg" class="img-fluid d-none d-md-inline-block" alt="First Page" />
                <img src="{{ site.theme.link }}/assets/img/img_reviews_mob.svg" class="img-fluid d-md-none" alt="First Page" />
            </div>
            <div class="col-12 col-lg-6 text-container">
                <h2>If your online reviews are anything less than amazing - you are losing more money than you could imagine</h2>
                <p>No matter if you are a brick and mortar business looking for more foot traffic, or an enterprise powerhouse looking to expand internationally - your online reputation will make or break you. </p>
                <p>Here’s some jaw-dropping data that will show you why reputation management is one of the fastest-growing digital sectors in the world...</p>
                <ul>
                    <li>A 1-star rating improvement can increase your business by over 10%</li>
                    <li>Over 90% of searchers will avoid businesses with negative reviews</li>
                    <li>Over 60% of consumers will specifically check Google reviews before visiting a business</li>
                </ul>
                <p>85% of consumers trust online reviews as much as personal recommendations</p>
                <p>No matter if it’s Google My Business, Google Search Results, Glassdoor, TripAdvisor, or anything in between - negative online content is a serious liability to your business. </p>
                <p>And it’s not enough to simply bury negative reviews with positive reviews - to take your online reputation into your own hands, you need to remove any negative mention of your business or brand.</p>
                <p>And everyday you wait, your business will suffer exponentially. </p>
                <button type="button" class="btn fp-btn fp-btn-orange show-popup-form">GET A FREE QUOTE</button>
            </div>
        </div>
    </div>
</section>

<section class="section-paragraph">
    <div class="container">
        <div class="row align-items-center flex-column-reverse flex-lg-row">
            <div class="col-12 col-lg-6 image-container-left">
                <img src="{{ site.theme.link }}/assets/img/img_result_removal.png" srcset="{{ site.theme.link }}/assets/img/img_result_removal.png, {{ site.theme.link }}/assets/img/img_result_removal@2x.png 2x" class="img-fluid d-none d-md-inline-block" alt="First Page" />
                <img src="{{ site.theme.link }}/assets/img/img_result_removal_mob.png" srcset="{{ site.theme.link }}/assets/img/img_result_removal_mob.png, {{ site.theme.link }}/assets/img/img_result_removal_mob@2x.png 2x" class="img-fluid d-md-none" alt="First Page" />
            </div>
            <div class="col-12 col-lg-6 text-container">
                <h2>Remove your unwanted online content today with First Page </h2>
                <p>The only way to beat online trolls, unreasonable customers, and vengeful competitors that write negative content is to fight back and take control of your brand.</p>
                <p>That’s where we come into play. </p>
                <p>Here at First Page, we have over 10 years of experience helping businesses like yours eradicate negative reviews and unfair content.</p>
                <p>We have seen many of our clients increase their sales overnight with the help of our services. </p>
                <p>When you work with us, experience rapid removal of harmful content, and the true power of a positive online reputation. </p>
                <p>In fact, we are able to start removing negative content in as fast as a few weeks.</p>
                <p>Give your business the reputation it deserves, and increase your leads and sales with First Page today. Contact us today to book a free consultation with a Digital Strategist. </p>
                <button type="button" class="btn fp-btn fp-btn-orange show-popup-form">GET A FREE QUOTE</button>
            </div>
        </div>
    </div>
</section>

<section class="section-client-reviews">
    <div class="container">
        <div class="section-title">
            <h2>See what our clients<br class="d-sm-none"> are saying</h2>
        </div>
        <div class="row testimonial-cont">
            <div class="col-12 col-md-4">
                <div class="testimonial">
                    <div class="stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                    </div>
                    <div class="text">
                        I’m very happy with First Page so far. I’ve only worked with them for 3 weeks but they’re extremely helpful. They reply to all my questions and helped our SEO from day 1. I’ve been communicating with my Account Manager every day and always get a response within the hour. Thank you guys!
                    </div>
                    <div class="person">
                        <div class="name">David Cornado Muste</div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="testimonial">
                    <div class="stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                    </div>
                    <div class="text">
                        Totally impressed with the efficiency of the First Page staff members Lars and Grace. Speedy work without compromising on quality. They really helped us a lot in such a short period of time! Looking forward to achieving more milestones together!
                    </div>
                    <div class="person">
                        <div class="name">Oootopia</div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="testimonial">
                    <div class="stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                    </div>
                    <div class="text">
                        Issac is our new Account Manager and he’s been very helpful with our SEM and SEO campaigns. Our website has managed to stay on the first or second position from organic searches and our SEM has been performing well at the same time. </div>
                    <div class="person">
                        <div class="name">Colin TIMS</div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-4">
                <div class="testimonial">
                    <div class="stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                    </div>
                    <div class="text">
                        First Page is a very effective and efficient Digital Marketing Agency. They have especially great photo and video production capabilities. I was very impressed by their creativeness! </div>
                    <div class="person">
                        <div class="name">Deepinder Dhillon</div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="testimonial">
                    <div class="stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                    </div>
                    <div class="text">
                        I have really enjoyed working with First Page so far. I feel they genuinely care about my business and they want to see it grow. They explained everything clearly and they are super organised. </div>
                    <div class="person">
                        <div class="name">AVA LIM</div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="testimonial">
                    <div class="stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                    </div>
                    <div class="text">
                        Very nice to work with Aaron so far. He is very responsive and has helped us a lot by enhancing our SEO and improving our Google search ranking. We recommend First Page!
                    </div>
                    <div class="person">
                        <div class="name">Sotheby’s International Realty Hong Kong</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% include "partials/en-section-services-other.twig" %}

<section class="section-paragraph section-faqs">
    <div class="container">
        <h2 class="section-title">Digital Strategist FAQs</h2>
        <div itemscope itemtype="https://schema.org/FAQPage" class="row">
            <div class="col-12 col-lg-6">
                <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
                    <div class="card-header collapsed" data-toggle="collapse" href="#collapse1">
                        <h5 itemprop="name">What is "review bombing"?</h5>
                    </div>
                    <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" id="collapse1" class="collapse">
                        <div itemprop="text" class="card-body">
                            <p>A "review bomb" refers to the act in which groups of people take to the internet to post bad reviews about a product or service to jeopardise sales. They may or may have never used your product or service before. </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
                    <div class="card-header collapsed" data-toggle="collapse" href="#collapse2">
                        <h5 itemprop="name">How can I take down negative content from Google?</h5>
                    </div>
                    <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" id="collapse2" class="collapse">
                        <div itemprop="text" class="card-body">
                            <p>Removing harmful content or comments would mean contacting the website administrator, contacting Google to report websites, and even legal action, all of which can be stressful and time-consuming. We provide specialised content removal services that help you regain control over your business's online reputation.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
                    <div class="card-header collapsed" data-toggle="collapse" href="#collapse3">
                        <h5 itemprop="name">How can negative content impact your business?</h5>
                    </div>
                    <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" id="collapse3" class="collapse">
                        <div itemprop="text" class="card-body">
                            <p>It's normal for businesses to receive negative comments and allow owners to address any services issues. However, given the internet's anonymous nature, online trolls, competitors, unreasonable customers may take to the keyboard and post false and harmful reviews. 90% of consumers read reviews before visiting a business. Malicious comments can have unfound impacts on your business's reputation.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
                    <div class="card-header collapsed" data-toggle="collapse" href="#collapse4">
                        <h5 itemprop="name">When should businesses remove negative content?</h5>
                    </div>
                    <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" id="collapse4" class="collapse">
                        <div itemprop="text" class="card-body">
                            <p>Every business deserves to be fairly represented online. False and malicious comments can damage your business's hard-earned reputation and lead to fewer customers and fallen revenues - which can take years of recovery - or in some cases, never. Protecting your reputation and maintaining your business's truth is essential in remaining competitive in an increasingly online society.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
                    <div class="card-header collapsed" data-toggle="collapse" href="#collapse5">
                        <h5 itemprop="name">How much does it cost to remove negative content?</h5>
                    </div>
                    <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" id="collapse5" class="collapse">
                        <div itemprop="text" class="card-body">
                            <p>The price depends on the website and sometimes the nature of the negative content. If you would like a quote, there is no cost, risk or commitment required to have our specialists examine the content before advising you on the next steps</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
                    <div class="card-header collapsed" data-toggle="collapse" href="#collapse6">
                        <h5 itemprop="name">How can I get started with First Page?</h5>
                    </div>
                    <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" id="collapse6" class="collapse">
                        <div itemprop="text" class="card-body">
                            <p>Our cutting-edge technology can help maintain your online reputation and protect you from malicious intents. Reach out to our digital marketing specialists to see how we can help your business today.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% include "partials/en-section-free-session.twig" %}

{% include "partials/en-form-popup.twig" with {'form_page': 'Unwanted Content Removal (Pop-up Form)'} %}

{% endblock %}