{% extends "en-base.twig" %}

{% block content %}

<style>
    section.section-casestudy.casestudy-link-building {
        background-image: url("{{ site.theme.link }}/assets/img/img_ipad_iselect@2x.png");
        background-size: 1464px auto;
        padding-bottom: 124px;
        background-position-x: calc(50% + 556px);
    }

</style>

<section class="banner form-space">
    <div class="container banner-hero two-lines">
        <div class="banner-hero-cont">
            <h1 class="form-hide">Build powerful links. Dominate the first page.</h1>
            <div class="banner-description">
                <p class="form-hide">Rise in the search rankings, grow your website’s authority, and capture valuable market share with linkbuilding from First Page</p>
                <div class="form-hide hero-mobile">
                    <img src="{{ site.theme.link }}/assets/img/img-hero-international-seo-mobile.png" srcset="{{ site.theme.link }}/assets/img/img-hero-international-seo-mobile.png, {{ site.theme.link }}/assets/img/img-hero-international-seo-mobile@2x.png 2x" alt="First Page" />
                </div>
            </div>
            {% include "partials/en-form-services.twig" with {'form_page': 'Link Building', 'form_button': 'Get A Free Quote'} %}
            {% include "partials/en-section-awards-badges.twig" %}
        </div>
        <div class="hero-img d-none d-md-block d-lg-none">
            <img src="{{ site.theme.link }}/assets/img/img-hero-international-seo-tab.png" srcset="{{ site.theme.link }}/assets/img/img-hero-international-seo-tab.png, {{ site.theme.link }}/assets/img/img-hero-international-seo-tab@2x.png 2x" alt="First Page" />
        </div>
        <div class="hero-img d-none d-lg-block">
            <img src="{{ site.theme.link }}/assets/img/img-hero-international-seo.png" srcset="{{ site.theme.link }}/assets/img/img-hero-international-seo.png, {{ site.theme.link }}/assets/img/img-hero-international-seo@2x.png 2x" alt="First Page" />
        </div>
    </div>
</section>

{% include "partials/en-section-featured-in-news.twig" %}

<section class="section-paragraph">
    <div class="row no-gutters align-items-center flex-column-reverse flex-lg-row flex-lg-row-reverse">
        <div class="col-12 col-lg-6 image-container-right">
            <img src="{{ site.theme.link }}/assets/img/img_link_building.png" srcset="{{ site.theme.link }}/assets/img/img_link_building.png, {{ site.theme.link }}/assets/img/img_link_building@2x.png 2x" class="img-fluid d-none d-md-inline-block" alt="First Page" />
            <img src="{{ site.theme.link }}/assets/img/img_link_building_mob.png" srcset="{{ site.theme.link }}/assets/img/img_link_building_mob.png, {{ site.theme.link }}/assets/img/img_link_building_mob@2x.png 2x" class="img-fluid d-md-none" alt="First Page" />
        </div>
        <div class="col-12 col-lg-6 text-container">
            <h2>Linkbuilding is the foundation of SEO</h2>
            <p>There’s no way around it…</p>

            <p>If you want to grow your site with <a href="https://firstpage.com.au/seo/">SEO</a>, but you aren’t actively building links, then you will never achieve truly exceptional results.</p>

            <p>Getting on the first page for your target keywords means automated, evergreen, high-value traffic on a daily basis - and the only way to get there is with targeted, powerful backlinks.</p>

            <p>Other SEO ‘tactics’ will come and go - but backlinks are pivotal to Google’s algorithm, and won’t be going anywhere.</p>

            <p>Why?</p>

            <p>Backlinks are like a digital vote of trust. A website with 100 backlinks has a lot more trust than a website with 1 backlink. A website with 1,000 backlinks has a lot more trust than a website with 100 backlinks.</p>

            <p>That’s why the world’s best SEO agencies and websites invest in high-quality backlinks - the ROI is unmatched. </p>

            <button type="button" data-title="linkBuildingPage-get-freeproposal-linkbuilding" class="btn fp-btn fp-btn-orange show-popup-form buttonFormClick">GET A FREE QUOTE</button>
        </div>
    </div>
</section>

<section class="section-paragraph">
    <div class="row no-gutters align-items-center flex-column-reverse flex-lg-row">
        <div class="col-12 col-lg-6 image-container-left">
            <img src="{{ site.theme.link }}/assets/img/img_seo_traffic.png" srcset="{{ site.theme.link }}/assets/img/img_seo_traffic.png, {{ site.theme.link }}/assets/img/img_seo_traffic@2x.png 2x" class="img-fluid d-none d-md-inline-block" alt="First Page" />
            <img src="{{ site.theme.link }}/assets/img/img_seo_traffic_mob.png" srcset="{{ site.theme.link }}/assets/img/img_seo_traffic_mob.png, {{ site.theme.link }}/assets/img/img_seo_traffic_mob@2x.png 2x" class="img-fluid d-md-none" alt="First Page" />

        </div>
        <div class="col-12 col-lg-6 text-container">
            <h2>Scale your linkbuilding with First Page to experience mind-blowing growth</h2>
            <p>Most SEO Agencies build backlinks. </p>
            <p>But very few SEO agencies build backlinks the right way. </p>
            <p>Here at First Page, we know what works and what doesn’t. When building backlinks, we never take the easy way out. We know that to truly transform your website’s authority, we have to build high-quality backlinks from reputable sources that Google loves. </p>
            <p>For the last 10 years we have been helping our clients explode their website’s growth and authority by following the best and most up-to-date SEO practices. We have an entire team dedicated to outreach, and we have created a network of partners that enables us to obtain powerful backlinks quickly. </p>
            <p>Our backlinking services are designed to…</p>
            <ul>
                <li>Help to improve your website’s domain authority</li>
                <li>Increase your referral traffic</li>
                <li>Grow exposure and brand awareness</li>
                <li>Improve and hold your Google rankings</li>
                <li>Get your site to be seen by bots AND your target audience</li>
            </ul>
            <p>With our years of experience, proprietary software, and team of Digital Strategists, we will be able to create an explosive backlink strategy for your website that helps to bring in customers and leads on autopilot. </p>
            <p>If you are looking to grow your backlink portfolio, click the button below to contact one of our Digital Strategists today. </p>
            <button type="button" data-title="linkBuildingPage-get-freeproposal-scale" class="btn fp-btn fp-btn-orange show-popup-form buttonFormClick">GET A FREE QUOTE</button>
        </div>
    </div>
</section>

<section class="section-client-reviews">
    <div class="container">
        <div class="section-title">
            <h2>See what our clients<br class="d-sm-none"> are saying</h2>
        </div>
        <div class="row testimonial-cont">
            <div class="col-12 col-md-4">
                <div class="testimonial">
                    <div class="stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                    </div>
                    <div class="text">
                        I’ve been working with First Page on a project and so far they’ve given fantastic service. We are so happy to be connected with them. It’s been a top-quality service and I feel their passion for what they do and want to deliver. Thank you!
                    </div>
                    <div class="person">
                        <div class="name">Caroline Langston</div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="testimonial">
                    <div class="stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                    </div>
                    <div class="text">
                        First Page is an effective and efficient SEO agency. Thanks to Loree, our Account Manager, for her professional and reliable advice that improved the ranking of our website.
                    </div>
                    <div class="person">
                        <div class="name">Jacko Ngai</div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="testimonial">
                    <div class="stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                    </div>
                    <div class="text">
                        We have been working with First Page for a while and their service is very thoughtful and helpful. Clarkson is great to work with and she follows up on our projects very well. We hope our collaboration continues smoothly. </div>
                    <div class="person">
                        <div class="name">ANNIE SIMONS</div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-4">
                <div class="testimonial">
                    <div class="stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                    </div>
                    <div class="text">
                        First Page offers a professional consultancy service with a timely action plan. They helped my company to achieve our SEO target in just a few months. </div>
                    <div class="person">
                        <div class="name">BECKY LEE</div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="testimonial">
                    <div class="stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                    </div>
                    <div class="text">
                        I subscribed to First Page's service last month. Their response time is super fast. Within one day of payment, the salesperson introduced me to my Account Manager and the first handover meeting was super impressive. The content and design team is also high quality. </div>
                    <div class="person">
                        <div class="name">ADRIEN KWONG</div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="testimonial">
                    <div class="stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                    </div>
                    <div class="text">
                        First Page is a very professional agency with valuable insights. Thanks to our Account Manager Isaac. He always helps in an efficient and pro-active way and provides solutions for our company's needs. Highly recommended.
                    </div>
                    <div class="person">
                        <div class="name">Andrea MICHAEL</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% include "partials/en-section-services-seo.twig" %}

<section class="section-casestudy casestudy-link-building">
    <div class="container">
        <div class="content-area">
            <div class="info">
                <h2>
                    <span class="small-grey">Our Recent Work</span>
                    <strong>iSelect</strong>
                </h2>
                {# <ul class="tag">
                <li>SEO</li>
            </ul> #}
                <p>The race to the top in the compare & save industry will be won by high quality, best in
                    breed links.</p>
            </div>

            <div class="stats">
                <div class="stats-container">
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <div class="stat">47<sub>%</sub></div>
                            <div class="desc">increase in organic users</div>
                        </div>
                        <div class="col-12 col-md-6 ">
                            <div class="stat">1972</div>
                            <div class="desc">keywords driven to page 1 of Google</div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-paragraph section-faqs">
    <div class="container">
        <h2 class="section-title">SEO Director FAQs</h2>
        <div itemscope itemtype="https://schema.org/FAQPage" class="row">
            <div class="col-12 col-lg-6">
                <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
                    <div class="card-header collapsed" data-toggle="collapse" href="#collapse1">
                        <h3 itemprop="name" class="h3-accordion-title-fpau">What are backlinks?</h3>
                    </div>
                    <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" id="collapse1" class="collapse">
                        <div itemprop="text" class="card-body">
                            <p>A backlink is a link from one website to another website. Some backlinks are do-follow backlinks (these pass on the most authority), and other backlinks are no-follow backlinks (these pass on little to no authority) </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
                    <div class="card-header collapsed" data-toggle="collapse" href="#collapse2">
                        <h3 itemprop="name" class="h3-accordion-title-fpau">Why are backlinks important?</h3>
                    </div>
                    <div id="collapse2" class="collapse" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                        <div itemprop="text" class="card-body">
                            <p>Backlinks have always been an integral part of Google’s algorithm. The more backlinks that a page has, the more trust that page has with Google, the higher that page will likely rank in the search results. Backlinks show Google that you are a trusted resource and will reward you with more traffic.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
                    <div class="card-header collapsed" data-toggle="collapse" href="#collapse3">
                        <h3 itemprop="name" class="h3-accordion-title-fpau">How do you build or get backlinks?</h3>
                    </div>
                    <div id="collapse3" class="collapse" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                        <div itemprop="text" class="card-body">
                            <p>You can get backlinks organically from other website’s naturally linking to your content, or you can reach out to other website’s and ask for links. The best websites do a bit of both. The stronger your content, the more likely people will be willing to link to it. </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
                    <div class="card-header collapsed" data-toggle="collapse" href="#collapse4">
                        <h3 itemprop="name" class="h3-accordion-title-fpau">What is linkbuilding outreach?</h3>
                    </div>
                    <div id="collapse4" class="collapse" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                        <div itemprop="text" class="card-body">
                            <p>Most backlinks these days are obtained through outreach. This means that we would contact owners of high-quality websites, and ask for a backlink. The process is tedious, but when scaled effectively, it goes a long way for securing, and expediting the backlink building process. </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
                    <div class="card-header collapsed" data-toggle="collapse" href="#collapse5">
                        <h3 itemprop="name" class="h3-accordion-title-fpau">How many backlinks do I need?</h3>
                    </div>
                    <div id="collapse5" class="collapse" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                        <div itemprop="text" class="card-body">
                            <p>Backlinks are like a currency, so the more the merrier! Even websites with millions of backlinks are actively searching for more. </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
                    <div class="card-header collapsed" data-toggle="collapse" href="#collapse6">
                        <h3 itemprop="name" class="h3-accordion-title-fpau">How much does linkbuilding cost? </h3>
                    </div>
                    <div id="collapse6" class="collapse" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                        <div itemprop="text" class="card-body">
                            <p>Businesses of all shapes and sizes invest in backlink campaigns. But, like most things in marketing, the higher your budget, the more effective the campaign will be. For more information about the cost of building backlinks, reach out to one of our Digital Strategists now. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% include "partials/en-section-free-session.twig" %}

{% include "partials/en-form-popup.twig" with {'form_page': 'Link Building (Pop-up Form)'} %}

{% endblock %}