{% extends "en-base.twig" %}

{% block content %}

<style>
    section.section-casestudy.casestudy-international-seo {
        background-image: url("{{ site.theme.link }}/assets/img/img_ipad_amway@2x.png");
        background-size: 1464px auto;
        background-position-x: calc(50% + 556px);
    }
</style>


<section class="banner form-space">
    <div class="container banner-hero">
        <div class="banner-hero-cont">
            <h1 class="form-hide">Turn your business into a global powerhouse with international SEO</h1>
            <div class="banner-description">
                <p class="form-hide">Our international SEO services will give your business explosive growth, chart-breaking traffic, and a whole new world of customers. </p>
                <div class="form-hide hero-mobile">
                    <img src="{{ site.theme.link }}/assets/img/img-hero-international-seo-mobile.png" srcset="{{ site.theme.link }}/assets/img/img-hero-international-seo-mobile.png, {{ site.theme.link }}/assets/img/img-hero-international-seo-mobile@2x.png 2x" alt="First Page" />
                </div>
            </div>
            {% include "partials/en-form-services.twig" with {'form_page': 'International SEO', 'form_button': 'Get A Free Quote'} %}
            {% include "partials/en-section-awards-badges.twig" %}
        </div>
        <div class="hero-img d-none d-md-block d-lg-none">
            <img src="{{ site.theme.link }}/assets/img/img-hero-international-seo-tab.png" srcset="{{ site.theme.link }}/assets/img/img-hero-international-seo-tab.png, {{ site.theme.link }}/assets/img/img-hero-international-seo-tab@2x.png 2x" alt="First Page" />
        </div>
        <div class="hero-img d-none d-lg-block">
            <img src="{{ site.theme.link }}/assets/img/img-hero-international-seo.png" srcset="{{ site.theme.link }}/assets/img/img-hero-international-seo.png, {{ site.theme.link }}/assets/img/img-hero-international-seo@2x.png 2x" alt="First Page" />
        </div>
    </div>
</section>

{% include "partials/en-section-enterprise-client-logos.twig" %}

<section class="section-paragraph">
    <div class="row no-gutters align-items-center flex-column-reverse flex-lg-row flex-lg-row-reverse">
        <div class="col-12 col-lg-6 image-container-right">
            <img src="{{ site.theme.link }}/assets/img/img_sessions_by_country.png" srcset="{{ site.theme.link }}/assets/img/img_sessions_by_country.png, {{ site.theme.link }}/assets/img/img_sessions_by_country@2x.png 2x" class="img-fluid d-none d-md-inline-block" alt="First Page" />
            <img src="{{ site.theme.link }}/assets/img/img_sessions_by_country_mob.png" srcset="{{ site.theme.link }}/assets/img/img_sessions_by_country_mob.png, {{ site.theme.link }}/assets/img/img_sessions_by_country_mob@2x.png 2x" class="img-fluid d-md-none" alt="First Page" />
        </div>
        <div class="col-12 col-lg-6 text-container">
            <h2>Are you ready to take your business global? Then international SEO is the best way to go</h2>
            <p>Imagine your traffic, leads, and sales, increasing exponentially month after month from all the corners of the globe. </p>
            <p>How do you achieve this?</p>
            <p>International SEO.</p>
            <p>There’s no way to argue it; international SEO is the fastest, and most cost-effective way to get your brand on the global stage. </p>
            <p>International SEO will get your products and services directly in front of your customers while building a long-term relationship with them. By creating high-quality content that suits their queries, your brand will create a relationship with them that is built upon trust, and designed for sales. </p>
            <p>Are you ready to explode your international traffic, sell your products all over the world, and become a global powerhouse?</p>
            <button type="button" data-title="internationalseopage-get-freeproposal-are" class="btn fp-btn fp-btn-orange show-popup-form buttonFormClick">GET A FREE QUOTE</button>
        </div>
    </div>
</section>

<section class="section-paragraph">
    <div class="row no-gutters align-items-center flex-column-reverse flex-lg-row">
        <div class="col-12 col-lg-6 image-container-left">
            <img src="{{ site.theme.link }}/assets/img/img_seo_traffic.png" srcset="{{ site.theme.link }}/assets/img/img_seo_traffic.png, {{ site.theme.link }}/assets/img/img_seo_traffic@2x.png 2x" class="img-fluid d-none d-md-inline-block" alt="First Page" />
            <img src="{{ site.theme.link }}/assets/img/img_seo_traffic_mob.png" srcset="{{ site.theme.link }}/assets/img/img_seo_traffic_mob.png, {{ site.theme.link }}/assets/img/img_seo_traffic_mob@2x.png 2x" class="img-fluid d-md-none" alt="First Page" />
        </div>
        <div class="col-12 col-lg-6 text-container">
            <h2>Explosive International SEO services from First Page</h2>
            <p>Here at First Page, we have spent the last decade building businesses like yours into global titans through our international SEO services. </p>
            <p>No matter if you are SAAS, e-commerce, or you sell services, we have the track record required to put your business on the map in a way that explodes traffic and increases sales.</p>
            <p>Over the past 10 years, we have grown our portfolio of clients by doing SEO the right way. Our proprietary software, years of experience, and team of rockstar digital marketers give us a one-of-a-kind approach to international SEO, which gives you a one-of-a-kind advantage over your competitors. </p>
            <p>If you are ready to experience monumental gains in your global traffic and become a heavyweight in your industry, click the button below to reach out to a Digital Strategist today. </p>
            <button type="button" data-title="internationalseopage-get-freeproposal-explosive" class="btn fp-btn fp-btn-orange show-popup-form buttonFormClick">GET A FREE QUOTE</button>
        </div>
    </div>
</section>

<section class="section-client-reviews">
    <div class="container">
        <div class="section-title">
            <h2>See what our clients<br class="d-sm-none"> are saying</h2>
        </div>
        <div class="row testimonial-cont">
            <div class="col-12 col-md-4">
                <div class="testimonial">
                    <div class="stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                    </div>
                    <div class="text">
                        My company was totally naive in the world of digital marketing and we spent a lot on another company that didn't bring in results. However, Sarah and First Page were very responsive and diligent. She gave us an in-depth review and guided us towards improvements.
                    </div>
                    <div class="person">
                        <div class="name">LAWRENCE KWAN</div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="testimonial">
                    <div class="stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                    </div>
                    <div class="text">
                        First Page has been amazing! Sarah helped me with everything from SEO and marketing ideas, to networking and real inquiries! The team are professional, quick to respond, and in-depth in their research. Most importantly - they care about my business like it’s their own!
                    </div>
                    <div class="person">
                        <div class="name">JAMES CAMPION</div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="testimonial">
                    <div class="stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                    </div>
                    <div class="text">
                        Blanc des Vosges, our luxury French bed linen brand, has been working with First Page for over 2 years. Our business has retained good brand awareness across our digital channels, and e-commerce sales have increased thanks to First Page's professional work. </div>
                    <div class="person">
                        <div class="name">EDITH</div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-4">
                <div class="testimonial">
                    <div class="stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                    </div>
                    <div class="text">
                        Sarah has been absolutely amazing! She constantly checks in to ensure my digital campaigns meet my expectations and beyond - even when I don’t have time to do so. She’s been incredibly patient and has taken the time to educate me on digital marketing.
                        <br>Highly recommend!
                    </div>
                    <div class="person">
                        <div class="name">GERMAINE WOON</div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="testimonial">
                    <div class="stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                    </div>
                    <div class="text">
                        Bravo team First Page! You're absolutely amazing to work with and the results we experienced in 2020 surpassed our expectations. Thank you. </div>
                    <div class="person">
                        <div class="name">LEY BRON</div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="testimonial">
                    <div class="stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                    </div>
                    <div class="text">
                        Sarah is a great listener which is an essential skill to meet any client's expectation. She was able to adapt her proposal to a strategy that best suited our needs. She's a wonderful person to work with and would be an asset to any company.
                    </div>
                    <div class="person">
                        <div class="name">INES GAFSI</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% include "partials/en-section-services-seo.twig" %}

<section class="section-casestudy casestudy-international-seo">
    <div class="container">
        <div class="content-area">
            <div class="info">
                <h2>
                    <span class="small-grey">Our Recent Work</span>
                    <strong>Amway</strong>
                </h2>
                {# <ul class="tag">
                <li>SEO</li>
            </ul> #}
                <p>We ran an international SEO campaign for Amway and here are the results in just 3 months:</p>
            </div>

            <div class="stats">
                <div class="stats-container">
                    <div class="row">
                        <div class="col-12 ">

                            <div class="international-seo-case-study-content"><span>75X</span> return on <span>SEO</span> spend within 3 months</div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-paragraph section-faqs">
    <div class="container">
        <h2 class="section-title">SEO Director FAQs</h2>
        <div itemscope itemtype="https://schema.org/FAQPage" class="row">
            <div class="col-12 col-lg-6">
                <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
                    <div class="card-header collapsed" data-toggle="collapse" href="#collapse1">
                        <h3 itemprop="name" class="h3-accordion-title-fpau">What is international SEO?</h3>
                    </div>
                    <div id="collapse1" class="collapse" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                        <div itemprop="text" class="card-body">
                            <p>Global SEO is specifically designed to increase your traffic, clicks and sales - month on month, year on year. It’s the best way to introduce your business to international audiences!! </p>
                            <p>Global SEO is the process of targeting worldwide audiences by optimising your website or online store. These strategies include geo-targeting and localisation to seamlessly integrate your products with consumer searches around the globe. </p>
                            <p>First Page understands international businesses because we have agencies all around the world. We’ve worked across the globe to develop outstanding Global SEO solutions - then deliver them to Australian businesses. </p>
                            <p>If you’re looking to take the next step in your business and smash your online sales targets, then our International SEO is the only choice!! </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
                    <div class="card-header collapsed" data-toggle="collapse" href="#collapse2">
                        <h3 itemprop="name" class="h3-accordion-title-fpau">WHY IS GLOBAL SEO IMPORTANT?</h3>
                    </div>
                    <div id="collapse2" class="collapse" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                        <div itemprop="text" class="card-body">
                            <p>The truth is that to stay competitive, your business needs the widest reach. It’s all about using the ease and efficiency of the internet to access mega quantities of consumers and markets you never thought possible!! </p>
                            <p>Global SEO is THE way to take your business international - plain and simple. </p>
                            <p>Global SEO increases your visibility with international audiences. Localising the online presence of your business will improve user experience and build authority, increasing the likelihood of returning customers. This allows you to raise awareness and traffic in global markets. </p>
                            <p>The result? Skyrocketing traffic and an avalanche of clicks and conversions!! Global SEO is your ticket to serious online success!</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
                    <div class="card-header collapsed" data-toggle="collapse" href="#collapse3">
                        <h3 itemprop="name" class="h3-accordion-title-fpau">WHAT BUSINESSES SHOULD USE GLOBAL SEO?</h3>
                    </div>
                    <div id="collapse3" class="collapse" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                        <div itemprop="text" class="card-body">
                            <p>Going global can benefit any business. From existing international brands who want to expand their consumer base, to successful local businesses ready to step up, Global SEO is PROVEN to deliver clicks, conversions and sales to sites of any size. </p>
                            <p>Using International SEO can greatly benefit the image and user experience of your business. Allowing consumers around the world to quickly and simply connect with your products and services is a huge deal for your brand. </p>
                            <p>It shows you’re smart, engaged and forward-thinking - and able to deliver an outstanding online experience.</p>
                            <p>We know what it’s like to take a business global because we’ve done it ourselves. First Page has agencies all around the globe, and this is why we understand  Global SEO better than any other digital marketing agency in Australia. </p>
                            <p>When your business demands a sophisticated international presence - First Page offers the game-changing Global SEO you need.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
                    <div class="card-header collapsed" data-toggle="collapse" href="#collapse4">
                        <h3 itemprop="name" class="h3-accordion-title-fpau">WHAT IS THE DIFFERENCE BETWEEN LOCAL AND GLOBAL SEO?</h3>
                    </div>
                    <div id="collapse4" class="collapse" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                        <div itemprop="text" class="card-body">
                            <p>The difference between Local SEO and Global SEO is geographical targeting. </p>
                            <p>Whilst both of these SEO strategies are important, it’s Global SEO that offers the opportunity to launch your brand towards insane growth and serious online success!!</p>
                            <p>Local SEO targets customers in your specific location, whilst International SEO optimises your website to connect with a global audience.</p>
                            <p>A smart Global SEO strategy uses research, analysis, and insight to discover new audiences and unique opportunities - then delivers your products and services in ways you never thought possible. </p>
                            <p>If your business is achieving local success then it’s time to take the next BIG step…</p>
                            <p>First Page is serious about delivering traffic, rankings and sales for our clients. And because our Global SEO achieves such crazy success, we’re able to provide the crazy guarantees we’ve become famous for!!</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
                    <div class="card-header collapsed" data-toggle="collapse" href="#collapse5">
                        <h3 itemprop="name" class="h3-accordion-title-fpau">WHAT IS INCLUDED WITH GLOBAL SEO SERVICES?</h3>
                    </div>
                    <div id="collapse5" class="collapse" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                        <div itemprop="text" class="card-body">
                            <p>International SEO services are more than just translating copy and keywords...</p>
                            <p>From localising content to match regional tastes to creating intuitive user navigation systems, Global SEO is all about creating a holistic digital strategy that reaches global audiences. </p>
                            <p>As the most successful digital marketing agency in Australia, First Page uses a data-driven approach to create tailored strategies. We don’t bother with generic, out of the box services, but instead, work tirelessly to create Global SEO solutions that deliver real results!!</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
                    <div class="card-header collapsed" data-toggle="collapse" href="#collapse6">
                        <h3 itemprop="name" class="h3-accordion-title-fpau">HOW DO I GET STARTED WITH GLOBAL SEO?</h3>
                    </div>
                    <div id="collapse6" class="collapse" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                        <div itemprop="text" class="card-body">
                            <p>Going global will change your business forever!! Global SEO services from First Page will increase your customer base, build brand awareness, and strengthen your reputation in today’s digital economy. </p>
                            <p>Our account managers are available to begin a conversation about how to take your businesses from local success to international stardom! To talk about Global SEO strategies,
                                <a href="{{ home_url }}/contact/">contact</a> our digital marketing specialists now!! </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

{% include "partials/en-section-free-session.twig" %}

{% include "partials/en-form-popup.twig" with {'form_page': 'International SEO (Pop-up Form)'} %}

{% endblock %}