{% extends "en-base.twig" %}

{% block content %}

    <style>
        section.section-casestudy.casestudy-seo {
            background-image: url("{{ site.theme.link }}/assets/img/img_ipad_land_and_houses@2x.png");
            background-size: 1464px auto;
            background-position-x: calc(50% + 556px);
        }

        .card-local-national-seo{
            display: none;
        }

    </style>

    <section class="banner form-space">
        <div class="container banner-hero two-lines">
            <div class="banner-hero-cont">
                <h1 class="form-hide">Take over your
                    market with local & national SEO</h1>
                <div class="banner-description">
                    <p class="form-hide">Increase your brand awareness, customer loyalty and sales with the cornerstone of modern marketing.</p>
                    <div class="form-hide hero-mobile">
                        <img src="{{ site.theme.link }}/assets/img/img-hero-local-seo-mob.png" srcset="{{ site.theme.link }}/assets/img/img-hero-local-seo-mob.png, {{ site.theme.link }}/assets/img/img-hero-local-seo-mob@2x.png 2x" alt="First Page" />
                    </div>
                </div>
                {% include "partials/en-form-services.twig" with {'form_page': 'Local & National SEO', 'form_button': 'Get A Free Quote'} %}
                {% include "partials/en-section-awards-badges.twig" %}
            </div>
{#            <div class="hero-img d-none d-md-block d-lg-none">#}
{#                <img src="{{ site.theme.link }}/assets/img/img_hero_local_seo_tab.png" srcset="{{ site.theme.link }}/assets/img/img_hero_local_seo_tab.png, {{ site.theme.link }}/assets/img/img_hero_local_seo_tab@2x.png 2x" alt="First Page" />#}
{#            </div>#}
            <div class="hero-img d-none d-lg-block">
                <img src="{{ site.theme.link }}/assets/img/img-hero-local-seo.png" srcset="{{ site.theme.link }}/assets/img/img-hero-local-seo.png, {{ site.theme.link }}/assets/img/img-hero-local-seo@2x.png 2x" alt="First Page" />
            </div>
        </div>
    </section>

    {% include "partials/en-section-featured-in-news.twig" %}

    <section class="section-paragraph">
        <div class="container">
            <div class="row no-gutters align-items-center flex-column-reverse flex-lg-row flex-lg-row-reverse">
                <div class="col-12 col-lg-6 text-center">
                    <img src="{{ site.theme.link }}/assets/img/img_local_seo_listing.jpg" srcset="{{ site.theme.link }}/assets/img/img_local_seo_listing.jpg, {{ site.theme.link }}/assets/img/img_local_seo_listing@2x.jpg 2x" class="img-fluid d-none d-md-inline-block" alt="First Page" />
                    <img src="{{ site.theme.link }}/assets/img/img_local_seo_listing_mob.jpg" srcset="{{ site.theme.link }}/assets/img/img_local_seo_listing_mob.jpg, {{ site.theme.link }}/assets/img/img_local_seo_listing_mob@2x.jpg 2x" class="img-fluid d-md-none" alt="First Page" />
                </div>
                <div class="col-12 col-lg-6 text-container">
                    <h2>If you are selling products and services, you need local & national SEO (more than you probably know)</h2>
                    <p>Here’s the honest truth...</p>
                    <p>If your business isn’t actively investing in local and national SEO, you are basically saying “no thanks” to customers.</p>
                    <p>In fact, not only are you missing out on an automated system that delivers you new customers on a daily basis, but you are also opening the door for your competitors to steal every last portion of your market-share.</p>
                    <p>Don’t believe us? Here’s some jaw-dropping statistics...</p>
                    <ul>
                        <li>Nearly 50% of all Google searches are looking for local information</li>
                        <li>“Near me” or “close by” searches grew by 900% over the past two years</li>
                        <li>28% of all local searches end up in purchases</li>
                    </ul>
                    <p>To put it bluntly - your customers are searching for your products and services and are ready to buy from you - but they simply can’t find you.</p>
                    <p>Don’t worry, that’s where we come into the mix.</p>
                    <button type="button" data-title="localseopage-get-freeproposal-if" class="btn fp-btn fp-btn-orange show-popup-form buttonFormClick">GET A FREE QUOTE</button>
                </div>
            </div>
        </div>
    </section>

    <section class="section-paragraph">
        <div class="row no-gutters align-items-center flex-column-reverse flex-lg-row">
            <div class="col-12 col-lg-6 image-container-left">
                <img src="{{ site.theme.link }}/assets/img/img_seo_traffic.png" srcset="{{ site.theme.link }}/assets/img/img_seo_traffic.png, {{ site.theme.link }}/assets/img/img_seo_traffic@2x.png 2x" class="img-fluid d-none d-md-inline-block" alt="First Page" />
                <img src="{{ site.theme.link }}/assets/img/img_seo_traffic_mob.png" srcset="{{ site.theme.link }}/assets/img/img_seo_traffic_mob.png, {{ site.theme.link }}/assets/img/img_seo_traffic_mob@2x.png 2x" class="img-fluid d-md-none" alt="First Page" />
            </div>
            <div class="col-12 col-lg-6 text-container">
                <h2>Game-changing local and national SEO services from <br>First Page</h2>
                <p>Here at First Page, we have spent the last decade helping thousands of small, medium, and large companies completely dominate their local and national SEO markets.</p>
                <p>We have run countless local SEO campaigns that have driven millions of dollars of business to our partners, and we are ready to do the same for you.</p>
                <p>Our years of experience, proprietary software, and international team of rockstar Digital Strategists means that we will be able to create an explosive SEO strategy for your business that brings in customers and leads - on autopilot!</p>
                <p>Local SEO doesn’t have to be expensive. We know that even a moderate budget can lead to unbelievable results.</p>
                <p>If you are ready to take your business to the next level with local SEO that actually works - click the button below for a free call with one of our Digital Strategists.</p>
                <button type="button" data-title="localseopage-get-freeproposal-game" class="btn fp-btn fp-btn-orange show-popup-form buttonFormClick">GET A FREE QUOTE</button>
            </div>
        </div>
    </section>

    <section class="section-client-reviews">
        <div class="container">
            <div class="section-title">
                <h2>See what our clients<br class="d-sm-none"> are saying</h2>
            </div>
            <div class="row testimonial-cont">
                <div class="col-12 col-md-4">
                    <div class="testimonial">
                        <div class="stars">
                            <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                            <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                            <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                            <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                            <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        </div>
                        <div class="text">
                            It's our first time working with First Page as our digital marketing/SEO consultants and they are definitely experts in the field. Although time was very limited, they provided us with insights and action plans in a timely manner. We look forward to working with First Page again. </div>
                        <div class="person">
                            <div class="name">CANDY TONG</div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="testimonial">
                        <div class="stars">
                            <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                            <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                            <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                            <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                            <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        </div>
                        <div class="text">
                            My company has been with First Page for over 2 years and we've been very happy with the results. We started with search engine optimisation and now do both SEO and Google Adwords. We look forward to a further 2 years with First Page. Thank you for your support!
                        </div>
                        <div class="person">
                            <div class="name">ANDY LO</div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="testimonial">
                        <div class="stars">
                            <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                            <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                            <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                            <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                            <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        </div>
                        <div class="text">
                            I am thrilled to recommend First Page to anyone for their SEO and SEM services. They’re doing an excellent job helping our business reach its goals. Big thumbs up to our account manager for her professional and insightful advice. Keep up the good work! </div>
                        <div class="person">
                            <div class="name">CHELSEA WILLIAMS</div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-4">
                    <div class="testimonial">
                        <div class="stars">
                            <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                            <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                            <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                            <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                            <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        </div>
                        <div class="text">
                            Since today is the last day of the year, I want to take this opportunity to say thank you. Thank you for your support in 2020 - you have been very very helpful. Raven is a very efficient and friendly person. She gave me her Whatsapp number and she often replies to my message within an hour.
                        </div>
                        <div class="person">
                            <div class="name">AUSSIE INFO</div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="testimonial">
                        <div class="stars">
                            <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                            <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                            <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                            <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                            <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        </div>
                        <div class="text">
                            First Page is a professional digital marketing agency that helped to sell our products to the Asia market. Their service level is top-notch and they are very responsive. Would love to work with this team again. Kudos! </div>
                        <div class="person">
                            <div class="name">TV PRODUCTS</div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="testimonial">
                        <div class="stars">
                            <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                            <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                            <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                            <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                            <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        </div>
                        <div class="text">
                            Professional. Responsive. Savvy. These three words sum up my experience with Sarah at First Page. She's a real whip when it comes to understanding her profession. She was extremely responsive when I reached her seeking advice and solutions for our SEO and digital needs. <br>Highly recommend!
                        </div>
                        <div class="person">
                            <div class="name">Adam Arzate</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% include "partials/en-section-services-seo.twig" %}

    <section class="section-casestudy casestudy-seo">
        <div class="container">
            <div class="content-area">
                <div class="info">
                    <h2>
                        <span class="small-grey">Our Recent Work</span>
                        <strong>Land & Houses</strong>
                    </h2>
                    {# <ul class="tag">
                <li>SEO</li>
            </ul> #}
                    <p>We utilised SEO to drive an insane amount of quality traffic to Land & Houses and here are the results:</p>
                </div>

                <div class="stats">
                    <div class="stats-container">
                        <div class="row">
                            <div class="col-12 col-md-4">
                                <div class="stat">410<sub>%</sub></div>
                                <div class="desc">increase in unique users</div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="stat">467<sub>%</sub></div>
                                <div class="desc">increase in organic traffic within 6 months</div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="stat">85<sub>%</sub></div>
                                <div class="desc">of keywords on page 1 within 6 months</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section-paragraph section-faqs">
        <div class="container">
            <h2 class="section-title">SEO Director FAQs</h2>
            <div itemscope itemtype="https://schema.org/FAQPage" class="row">
                <div class="col-12 col-lg-6">
                    <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
                        <div class="card-header collapsed" data-toggle="collapse" href="#collapse1">
                            <h3 itemprop="name" class="h3-accordion-title-fpau">What is local and national SEO?</h3>
                        </div>
                        <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" id="collapse1" class="collapse">
                            <div itemprop="text" class="card-body">
                                <p>Local and national SEO (search engine optimisation) is the process of improving search engine visibility for local brick-and-mortar businesses. With local and national SEO, you can build your online presence and target customers in the areas that you serve.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
                        <div class="card-header collapsed" data-toggle="collapse" href="#collapse2">
                            <h3 itemprop="name" class="h3-accordion-title-fpau">Why is local and national SEO important?</h3>
                        </div>
                        <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" id="collapse2" class="collapse">
                            <div itemprop="text" class="card-body">
                                <p>Local and national SEO is the bread and butter of brick-and-mortar businesses. Nearly half of Google queries are local searches, which means users are actively looking for location-based results. Google also has a specific set of ranking factors to measure whether your business is geographically relevant to a user performing a local search.</p>
                                <p>This allows local businesses to target local and national customers without competing with the likes of large corporations – not only increasing your site’s visibility but also foot traffic to your brick-and-mortar business.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
                        <div class="card-header collapsed" data-toggle="collapse" href="#collapse3">
                            <h3 itemprop="name" class="h3-accordion-title-fpau">What kind of businesses need local and national SEO?</h3>
                        </div>
                        <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" id="collapse3" class="collapse">
                            <div itemprop="text" class="card-body">
                                <p>Businesses that have a physical location or any business that serves a set geographic area should be using local SEO. Location-based businesses that can greatly benefit from local SEO includes medical services, restaurants & cafes, hospitality, local retailers, law offices, and many more.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
                        <div class="card-header collapsed" data-toggle="collapse" href="#collapse4">
                            <h3 itemprop="name" class="h3-accordion-title-fpau">What is the difference between SEO and local and national SEO?</h3>
                        </div>
                        <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" id="collapse4" class="collapse">
                            <div itemprop="text" class="card-body">
                                <p>The difference between SEO and local SEO is the geographical component. Traditional SEO is the process of improving your site’s visibility on a global scale, whereas local SEO allows you to target users in your community or service area.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
                        <div class="card-header collapsed" data-toggle="collapse" href="#collapse5">
                            <h3 itemprop="name" class="h3-accordion-title-fpau">What is included with local and national SEO services?</h3>
                        </div>
                        <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" id="collapse5" class="collapse">
                            <div itemprop="text" class="card-body">
                                <p>Effective local and national SEO involves designing effective digital campaigns to focus on your prime geographic locations. Using on-page and off-page methods, local and national SEO includes optimising your website content and business listings to rank higher on local and national search results. As a professional digital marketing agency, our team of marketing experts will design a tailored SEO strategy that aligns with your business objectives.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
                        <div class="card-header collapsed" data-toggle="collapse" href="#collapse6">
                            <h3 itemprop="name" class="h3-accordion-title-fpau">How do I get started with local and national SEO?</h3>
                        </div>
                        <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" id="collapse6" class="collapse">
                            <div itemprop="text" class="card-body">
                                <p>Implementing local SEO can grow your online presence, drive conversions, and increase foot traffic to your physical locations. Contact our digital marketing specialists to talk about local SEO strategies today!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% include "partials/en-section-free-session.twig" %}

    {% include "partials/en-form-popup.twig" with {'form_page': 'Local & National SEO (Pop-up Form)'} %}

{% endblock %}