<section class="section-experience">
    <div class="container">
        <h2>
            <strong>We work with great brands of all sizes</strong>
        </h2>

        <div class="lgrid-cont">
            <img src="{{ site.theme.link }}/views/assets/img/img_firstpage_aus_logos.jpg" srcset="{{ site.theme.link }}/views/assets/img/img_firstpage_aus_logos.jpg, {{ site.theme.link }}/views/assets/img/img_firstpage_aus_logos@2x.jpg 2x" class="img-fluid d-none d-md-inline-block" alt="Brand Experience" />
            <img src="{{ site.theme.link }}/views/assets/img/img_firstpage_aus_logos_mob.jpg" srcset="{{ site.theme.link }}/views/assets/img/img_firstpage_aus_logos_mob.jpg, {{ site.theme.link }}/views/assets/img/img_firstpage_aus_logos_mob@2x.jpg 2x" class="img-fluid d-inline-block d-md-none" alt="Brand Experience" />
        </div>
    </div>
</section>