<div class="awards-badges form-hide">
    <div class="row">
        <div class="col-6 col-md-3">
            <img src="{{ site.theme.link }}/views/assets/img/award_growing.png" srcset="{{ site.theme.link }}/views/assets/img/award_growing.png, {{ site.theme.link }}/views/assets/img/award_growing@2x.png 2x" alt="" class="img-fluid d-none d-md-inline-block">
            <img src="{{ site.theme.link }}/views/assets/img/award_growing_mob.png" srcset="{{ site.theme.link }}/views/assets/img/award_growing_mob.png, {{ site.theme.link }}/views/assets/img/award_growing_mob@2x.png 2x" alt="" class="img-fluid d-md-none">
        </div>
        <div class="col-6 col-md-3">
            <img src="{{ site.theme.link }}/views/assets/img/award_search.png" srcset="{{ site.theme.link }}/views/assets/img/award_search.png, {{ site.theme.link }}/views/assets/img/award_search@2x.png 2x" alt="" class="img-fluid d-none d-md-inline-block">
            <img src="{{ site.theme.link }}/views/assets/img/award_search_mob.png" srcset="{{ site.theme.link }}/views/assets/img/award_search_mob.png, {{ site.theme.link }}/views/assets/img/award_search_mob@2x.png 2x" alt="" class="img-fluid d-md-none">
        </div>
        <div class="col-6 col-md-3">
            <img src="{{ site.theme.link }}/views/assets/img/award_agency.png" srcset="{{ site.theme.link }}/views/assets/img/award_agency.png, {{ site.theme.link }}/views/assets/img/award_agency@2x.png 2x" alt="" class="img-fluid d-none d-md-inline-block">
            <img src="{{ site.theme.link }}/views/assets/img/award_agency_mob.png" srcset="{{ site.theme.link }}/views/assets/img/award_agency_mob.png, {{ site.theme.link }}/views/assets/img/award_agency_mob@2x.png 2x" alt="" class="img-fluid d-md-none">
        </div>
        <div class="col-6 col-md-3">
            <img src="{{ site.theme.link }}/views/assets/img/award-ecommerce.png" srcset="{{ site.theme.link }}/views/assets/img/award-ecommerce.png, {{ site.theme.link }}/views/assets/img/award-ecommerce@2x.png 2x" alt="" class="img-fluid d-none d-md-inline-block">
            <img src="{{ site.theme.link }}/views/assets/img/award-ecommerce_mob.png" srcset="{{ site.theme.link }}/views/assets/img/award-ecommerce_mob.png, {{ site.theme.link }}/views/assets/img/award-ecommerce_mob@2x.png 2x" alt="" class="img-fluid d-md-none">
        </div>
    </div>
</div>