{# comment section #}
<section class="section-single-quote section-clients-comments px-4 px-md-5">
	
		<h2 class="text-center mb-lg-5 comment-section-heading">This is our Kanye West section. <br class="d-none d-md-block">The one where we tell you how good we are.</h2>

		<div class="row">
		{# 1 #}
			<div class="col-12 col-md-4  px-lg-4 px-xl-5 mb-5 ">
				<p class="text-center text-md-left whirlpoolComment clientComment">“ They continually exceeded expectations! First Page is responsive, and they are always available to answer questions. Professionalism is a hallmark of their work. ”</h3>
				<p class="text-center text-md-left name whirlpoolName clientName"><span class="font-weight-bold">Zoe</span> - <span class="font-italic">Product Manager</span></p>
				<img class="img-fluid d-block d-md-none mx-auto" src="{{ site.theme.link }}/assets/img/logo_whirlpool_sm.png" srcset="{{ site.theme.link }}/assets/img/logo_whirlpool_sm.png, {{ site.theme.link }}/assets/img/logo_whirlpool_sm@2x.png 2x">
				<img class="img-fluid d-none d-md-block clientLogoWhirlpool clientLogo" src="{{ site.theme.link }}/assets/img/logo_whirlpool_lg.png" srcset="{{ site.theme.link }}/assets/img/logo_whirlpool_lg.png, {{ site.theme.link }}/assets/img/logo_whirlpool_lg@2x.png 2x">
			</div>

		{# 2 #}
			<div class="col-12 col-md-4 px-lg-4 px-xl-5 mb-5 ">
				<p class="text-center text-md-left mothercareComment clientComment">“ Team First Page has extensive experience which enables them to understand our business needs and goals. They are highly responsive and accommodating. ”</h3>
				<p class="text-center text-md-left name mothercareName clientName"><span class="font-weight-bold">Erica</span> – <span class="font-italic">Head of Marketing</span></p>
				<img class="img-fluid d-block d-md-none mx-auto" src="{{ site.theme.link }}/assets/img/logo_mothercare_sm.png" srcset="{{ site.theme.link }}/assets/img/logo_mothercare_sm.png, {{ site.theme.link }}/assets/img/logo_mothercare_sm@2x.png 2x">
				<img class="img-fluid d-none d-md-block clientLogMotherCare clientLogo " src="{{ site.theme.link }}/assets/img/logo_mothercare_lg.png" srcset="{{ site.theme.link }}/assets/img/logo_mothercare_lg.png, {{ site.theme.link }}/assets/img/logo_mothercare_lg@2x.png 2x">
			</div>
		
		{# 3 #}
		
			<div class="col-12 col-md-4 px-lg-4 px-xl-5 mb-5 ">
				<p class="text-center text-md-left cathayComment clientComment">“ They continually exceeded expectations! First Page is responsive, and they are always available to answer questions. Professionalism is a hallmark of their work. ”</h3>
				<p class="text-center text-md-left name cathayName clientName"><span class="font-weight-bold">Sahil</span> – <span class="font-italic">Assistant Digital Marketing Manager</span></p>
				<img class="img-fluid d-block d-md-none mx-auto" src="{{ site.theme.link }}/assets/img/logo_cathaypacific_sm.png" srcset="{{ site.theme.link }}/assets/img/logo_cathaypacific_sm.png, {{ site.theme.link }}/assets/img/logo_cathaypacific_sm@2x.png 2x">
				<img class="img-fluid d-none d-md-block clientLogoCathay clientLogo" src="{{ site.theme.link }}/assets/img/logo_cathaypacific_lg.png" srcset="{{ site.theme.link }}/assets/img/logo_cathaypacific_lg.png, {{ site.theme.link }}/assets/img/logo_cathaypacific_lg@2x.png 2x">
			</div>
		</div>

</section>