
<section class="section-services-carousel">
    <div class="container">
        <div class="section-title">
            <h2>SEO services designed to grow your revenue</h2>
        </div>
        <div class="services-carousel-lg d-none d-lg-block">
             <div class="col card-local-national-seo">
                <a class="card" href="{{ home_url }}local-and-national-seo/">
                    <img src="{{ site.theme.link }}/assets/img/icn_local_seo.svg" width="76" height="100" alt="First Page">
                    <div class="card-body">
                        <h4 class="card-title">Local & National SEO</h4>
                        <p class="card-text text-center text-lg-left">Take over your market with greater brand awareness, more foot traffic, and an increase in sales</p>
                    </div>
                    <div class="card-footer">LEARN MORE</div>
                </a>
            </div>
            <div class="col card-international-seo">
                <a class="card" href="{{ home_url }}international-seo/">
                    <img src="{{ site.theme.link }}/assets/img/icn_international.svg" width="101" height="101" alt="First Page">
                    <div class="card-body">
                        <h4 class="card-title">International SEO</h4>
                        <p class="card-text text-center text-lg-left">Turn your business into a global brand and tap into a whole new world of customers</p>
                    </div>
                    <div class="card-footer">LEARN MORE</div>
                </a>
            </div>
            <div class="col card-ecommerce-seo">
                <a class="card" href="{{ home_url }}ecommerce-seo/">
                    <img src="{{ site.theme.link }}/assets/img/icn_ecommerce.svg" width="100" height="100" alt="First Page">
                    <div class="card-body">
                        <h4 class="card-title">Ecommerce SEO</h4>
                        <p class="card-text text-center text-lg-left">Get explosive growth and chart-breaking sales with a bespoke Ecommerce SEO strategy today</p>
                    </div>
                    <div class="card-footer">LEARN MORE</div>
                </a>
            </div>
            <div class="col card-enterprise-seo">
                <a class="card" href="{{ home_url }}enterprise-seo/">
                    <img src="{{ site.theme.link }}/assets/img/icn_enterprise_seo.svg" width="100" height="100" alt="First Page">
                    <div class="card-body">
                        <h4 class="card-title">Enterprise SEO</h4>
                        <p class="card-text text-center text-lg-left">Develop your brand identity and take control of your customer journey with SEO designed exclusively for Enterprise companies.</p>
                    </div>
                    <div class="card-footer">LEARN MORE</div>
                </a>
            </div>
            <div class="col card-link-building">
                <a class="card" href="{{ home_url }}link-building/">
                    <img src="{{ site.theme.link }}/assets/img/icn_link_building.svg" width="100" height="100" alt="First Page">
                    <div class="card-body">
                        <h4 class="card-title">Link Building</h4>
                        <p class="card-text text-center text-lg-left">Link building will give your website authority, and catapult you to the top of Google’s rankings.</p>
                    </div>
                    <div class="card-footer">LEARN MORE</div>
                </a>
            </div>

            <div class="col card-link-building">
                <a class="card" href="{{ home_url }}amazon-seo/">
                    <img src="{{ site.theme.link }}/assets/img/amazon-seo-icon.svg" width="100" height="100" alt="First Page">
                    <div class="card-body">
                        <h4 class="card-title">Amazon SEO</h4>
                        <p class="card-text text-center text-lg-left">Generic isn't good enough. Put your business on the map.</p>
                    </div>
                    <div class="card-footer">LEARN MORE</div>
                </a>
            </div>
            <div class="col card-link-building">
                <a class="card" href="{{ home_url }}shopify-seo/">
                    <img src="{{ site.theme.link }}/assets/img/shopify-seo-icon.svg" width="100" height="100" alt="First Page">
                    <div class="card-body">
                        <h4 class="card-title">Shopify SEO</h4>
                        <p class="card-text text-center text-lg-left">Outgrow your competition. We'll show you how with Shopify.</p>
                    </div>
                    <div class="card-footer">LEARN MORE</div>
                </a>
            </div>
            <div class="col card-link-building">
                <a class="card" href="{{ home_url }}woocommerce-seo/">
                    <img src="{{ site.theme.link }}/assets/img/woo-seo-icon.svg" width="100" height="100" alt="First Page">
                    <div class="card-body">
                        <h4 class="card-title">Woocommerce SEO</h4>
                        <p class="card-text text-center text-lg-left">Find bigger audiences than you ever thought possible.</p>
                    </div>
                    <div class="card-footer">LEARN MORE</div>
                </a>
            </div>

            <div class="col card-link-building">
                <a class="card" href="{{ home_url }}magento-seo/">
                    <img src="{{ site.theme.link }}/assets/img/magento-seo-icon.svg" width="100" height="100" alt="First Page">
                    <div class="card-body">
                        <h4 class="card-title">Magento SEO</h4>
                        <p class="card-text text-center text-lg-left">Stand out from the crowd. Create product pages that outperform</p>
                    </div>
                    <div class="card-footer">LEARN MORE</div>
                </a>
            </div>
            <div class="col card-link-building">
                <a class="card" href="{{ home_url }}mobile-seo/">
                    <img src="{{ site.theme.link }}/assets/img/mobile-seo-icon.svg" width="100" height="100" alt="First Page">
                    <div class="card-body">
                        <h4 class="card-title">Mobile SEO</h4>
                        <p class="card-text text-center text-lg-left">Be there for your customers when they're looking for you.</p>
                    </div>
                    <div class="card-footer">LEARN MORE</div>
                </a>
            </div>
            <div class="col card-link-building">
                <a class="card" href="{{ home_url }}pay-on-performance/">
                    <img src="{{ site.theme.link }}/assets/img/ppc-seo-icon.svg" width="100" height="100" alt="First Page">
                    <div class="card-body">
                        <h4 class="card-title">Pay on Performance</h4>
                        <p class="card-text text-center text-lg-left">No tricks or hidden fees. You don't pay until you're on page 1.</p>
                    </div>
                    <div class="card-footer">LEARN MORE</div>
                </a>
            </div>

            <div class="col card-link-building">
                <a class="card" href="{{ home_url }}video-seo/">
                    <img src="{{ site.theme.link }}/assets/img/video-seo-icon.svg" width="100" height="100" alt="First Page">
                    <div class="card-body">
                        <h4 class="card-title">Video SEO</h4>
                        <p class="card-text text-center text-lg-left">For any brand with aspirations, make your mark on YouTube.</p>
                    </div>
                    <div class="card-footer">LEARN MORE</div>
                </a>
            </div>
        </div>

        {# md #}
        <div class="services-carousel-md d-none d-md-block d-lg-none">
            <div class="col card-local-national-seo">
                <a class="card" href="{{ home_url }}local-and-national-seo/">
                    <img src="{{ site.theme.link }}/assets/img/icn_local_seo.svg" width="76" height="100" alt="First Page">
                    <div class="card-body">
                        <h4 class="card-title">Local & National SEO</h4>
                        <p class="card-text text-center text-lg-left">Take over your market with greater brand awareness, more foot traffic, and an increase in sales</p>
                    </div>
                    <div class="card-footer">LEARN MORE</div>
                </a>
            </div>
            <div class="col card-international-seo">
                <a class="card" href="{{ home_url }}international-seo/">
                    <img src="{{ site.theme.link }}/assets/img/icn_international.svg" width="101" height="101" alt="First Page">
                    <div class="card-body">
                        <h4 class="card-title">International SEO</h4>
                        <p class="card-text text-center text-lg-left">Turn your business into a global brand and tap into a whole new world of customers</p>
                    </div>
                    <div class="card-footer">LEARN MORE</div>
                </a>
            </div>
            <div class="col card-ecommerce-seo">
                <a class="card" href="{{ home_url }}ecommerce-seo/">
                    <img src="{{ site.theme.link }}/assets/img/icn_ecommerce.svg" width="100" height="100" alt="First Page">
                    <div class="card-body">
                        <h4 class="card-title">Ecommerce SEO</h4>
                        <p class="card-text text-center text-lg-left">Get explosive growth and chart-breaking sales with a bespoke Ecommerce SEO strategy today</p>
                    </div>
                    <div class="card-footer">LEARN MORE</div>
                </a>
            </div>
            <div class="col card-enterprise-seo">
                <a class="card" href="{{ home_url }}enterprise-seo/">
                    <img src="{{ site.theme.link }}/assets/img/icn_enterprise_seo.svg" width="100" height="100" alt="First Page">
                    <div class="card-body">
                        <h4 class="card-title">Enterprise SEO</h4>
                        <p class="card-text text-center text-lg-left">Develop your brand identity and take control of your customer journey with SEO designed exclusively for Enterprise companies.</p>
                    </div>
                    <div class="card-footer">LEARN MORE</div>
                </a>
            </div>
            <div class="col card-link-building">
                <a class="card" href="{{ home_url }}link-building/">
                    <img src="{{ site.theme.link }}/assets/img/icn_link_building.svg" width="100" height="100" alt="First Page">
                    <div class="card-body">
                        <h4 class="card-title">Link Building</h4>
                        <p class="card-text text-center text-lg-left">Link building will give your website authority, and catapult you to the top of Google’s rankings.</p>
                    </div>
                    <div class="card-footer">LEARN MORE</div>
                </a>
            </div>

            <div class="col card-link-building">
                <a class="card" href="{{ home_url }}amazon-seo/">
                    <img src="{{ site.theme.link }}/assets/img/amazon-seo-icon.svg" width="100" height="100" alt="First Page">
                    <div class="card-body">
                        <h4 class="card-title">Amazon SEO</h4>
                        <p class="card-text text-center text-lg-left">Generic isn't good enough. Put your business on the map.</p>
                    </div>
                    <div class="card-footer">LEARN MORE</div>
                </a>
            </div>
            <div class="col card-link-building">
                <a class="card" href="{{ home_url }}shopify-seo/">
                    <img src="{{ site.theme.link }}/assets/img/shopify-seo-icon.svg" width="100" height="100" alt="First Page">
                    <div class="card-body">
                        <h4 class="card-title">Shopify SEO</h4>
                        <p class="card-text text-center text-lg-left">Outgrow your competition. We'll show you how with Shopify.</p>
                    </div>
                    <div class="card-footer">LEARN MORE</div>
                </a>
            </div>
            <div class="col card-link-building">
                <a class="card" href="{{ home_url }}woocommerce-seo/">
                    <img src="{{ site.theme.link }}/assets/img/woo-seo-icon.svg" width="100" height="100" alt="First Page">
                    <div class="card-body">
                        <h4 class="card-title">Woocommerce SEO</h4>
                        <p class="card-text text-center text-lg-left">Find bigger audiences than you ever thought possible.</p>
                    </div>
                    <div class="card-footer">LEARN MORE</div>
                </a>
            </div>

            <div class="col card-link-building">
                <a class="card" href="{{ home_url }}magento-seo/">
                    <img src="{{ site.theme.link }}/assets/img/magento-seo-icon.svg" width="100" height="100" alt="First Page">
                    <div class="card-body">
                        <h4 class="card-title">Magento SEO</h4>
                        <p class="card-text text-center text-lg-left">Stand out from the crowd. Create product pages that outperform</p>
                    </div>
                    <div class="card-footer">LEARN MORE</div>
                </a>
            </div>
            <div class="col card-link-building">
                <a class="card" href="{{ home_url }}mobile-seo/">
                    <img src="{{ site.theme.link }}/assets/img/mobile-seo-icon.svg" width="100" height="100" alt="First Page">
                    <div class="card-body">
                        <h4 class="card-title">Mobile SEO</h4>
                        <p class="card-text text-center text-lg-left">Be there for your customers when they're looking for you.</p>
                    </div>
                    <div class="card-footer">LEARN MORE</div>
                </a>
            </div>
            <div class="col card-link-building">
                <a class="card" href="{{ home_url }}pay-on-performance/">
                    <img src="{{ site.theme.link }}/assets/img/ppc-seo-icon.svg" width="100" height="100" alt="First Page">
                    <div class="card-body">
                        <h4 class="card-title">Pay on Performance</h4>
                        <p class="card-text text-center text-lg-left">No tricks or hidden fees. You don't pay until you're on page 1.</p>
                    </div>
                    <div class="card-footer">LEARN MORE</div>
                </a>
            </div>

            <div class="col card-link-building">
                <a class="card" href="{{ home_url }}video-seo/">
                    <img src="{{ site.theme.link }}/assets/img/video-seo-icon.svg" width="100" height="100" alt="First Page">
                    <div class="card-body">
                        <h4 class="card-title">Video SEO</h4>
                        <p class="card-text text-center text-lg-left">For any brand with aspirations, make your mark on YouTube.</p>
                    </div>
                    <div class="card-footer">LEARN MORE</div>
                </a>
            </div>
        </div>

        {# sm #}
        <div class="services-carousel-sm d-block d-md-none">
             <div class="col card-local-national-seo">
                <a class="card" href="{{ home_url }}local-and-national-seo/">
                    <img src="{{ site.theme.link }}/assets/img/icn_local_seo.svg" width="76" height="100" alt="First Page">
                    <div class="card-body">
                        <h4 class="card-title">Local & National SEO</h4>
                        <p class="card-text text-center text-lg-left">Take over your market with greater brand awareness, more foot traffic, and an increase in sales</p>
                    </div>
                    <div class="card-footer">LEARN MORE</div>
                </a>
            </div>
            <div class="col card-international-seo">
                <a class="card" href="{{ home_url }}international-seo/">
                    <img src="{{ site.theme.link }}/assets/img/icn_international.svg" width="101" height="101" alt="First Page">
                    <div class="card-body">
                        <h4 class="card-title">International SEO</h4>
                        <p class="card-text text-center text-lg-left">Turn your business into a global brand and tap into a whole new world of customers</p>
                    </div>
                    <div class="card-footer">LEARN MORE</div>
                </a>
            </div>
            <div class="col card-ecommerce-seo">
                <a class="card" href="{{ home_url }}ecommerce-seo/">
                    <img src="{{ site.theme.link }}/assets/img/icn_ecommerce.svg" width="100" height="100" alt="First Page">
                    <div class="card-body">
                        <h4 class="card-title">Ecommerce SEO</h4>
                        <p class="card-text text-center text-lg-left">Get explosive growth and chart-breaking sales with a bespoke Ecommerce SEO strategy today</p>
                    </div>
                    <div class="card-footer">LEARN MORE</div>
                </a>
            </div>
            <div class="col card-enterprise-seo">
                <a class="card" href="{{ home_url }}enterprise-seo/">
                    <img src="{{ site.theme.link }}/assets/img/icn_enterprise_seo.svg" width="100" height="100" alt="First Page">
                    <div class="card-body">
                        <h4 class="card-title">Enterprise SEO</h4>
                        <p class="card-text text-center text-lg-left">Develop your brand identity and take control of your customer journey with SEO designed exclusively for Enterprise companies.</p>
                    </div>
                    <div class="card-footer">LEARN MORE</div>
                </a>
            </div>
            <div class="col card-link-building">
                <a class="card" href="{{ home_url }}link-building/">
                    <img src="{{ site.theme.link }}/assets/img/icn_link_building.svg" width="100" height="100" alt="First Page">
                    <div class="card-body">
                        <h4 class="card-title">Link Building</h4>
                        <p class="card-text text-center text-lg-left">Link building will give your website authority, and catapult you to the top of Google’s rankings.</p>
                    </div>
                    <div class="card-footer">LEARN MORE</div>
                </a>
            </div>

            <div class="col card-link-building">
                <a class="card" href="{{ home_url }}amazon-seo/">
                    <img src="{{ site.theme.link }}/assets/img/amazon-seo-icon.svg" width="100" height="100" alt="First Page">
                    <div class="card-body">
                        <h4 class="card-title">Amazon SEO</h4>
                        <p class="card-text text-center text-lg-left">Generic isn't good enough. Put your business on the map.</p>
                    </div>
                    <div class="card-footer">LEARN MORE</div>
                </a>
            </div>
            <div class="col card-link-building">
                <a class="card" href="{{ home_url }}shopify-seo/">
                    <img src="{{ site.theme.link }}/assets/img/shopify-seo-icon.svg" width="100" height="100" alt="First Page">
                    <div class="card-body">
                        <h4 class="card-title">Shopify SEO</h4>
                        <p class="card-text text-center text-lg-left">Outgrow your competition. We'll show you how with Shopify.</p>
                    </div>
                    <div class="card-footer">LEARN MORE</div>
                </a>
            </div>
            <div class="col card-link-building">
                <a class="card" href="{{ home_url }}woocommerce-seo/">
                    <img src="{{ site.theme.link }}/assets/img/woo-seo-icon.svg" width="100" height="100" alt="First Page">
                    <div class="card-body">
                        <h4 class="card-title">Woocommerce SEO</h4>
                        <p class="card-text text-center text-lg-left">Find bigger audiences than you ever thought possible.</p>
                    </div>
                    <div class="card-footer">LEARN MORE</div>
                </a>
            </div>

            <div class="col card-link-building">
                <a class="card" href="{{ home_url }}magento-seo/">
                    <img src="{{ site.theme.link }}/assets/img/magento-seo-icon.svg" width="100" height="100" alt="First Page">
                    <div class="card-body">
                        <h4 class="card-title">Magento SEO</h4>
                        <p class="card-text text-center text-lg-left">Stand out from the crowd. Create product pages that outperform</p>
                    </div>
                    <div class="card-footer">LEARN MORE</div>
                </a>
            </div>
            <div class="col card-link-building">
                <a class="card" href="{{ home_url }}mobile-seo/">
                    <img src="{{ site.theme.link }}/assets/img/mobile-seo-icon.svg" width="100" height="100" alt="First Page">
                    <div class="card-body">
                        <h4 class="card-title">Mobile SEO</h4>
                        <p class="card-text text-center text-lg-left">Be there for your customers when they're looking for you.</p>
                    </div>
                    <div class="card-footer">LEARN MORE</div>
                </a>
            </div>
            <div class="col card-link-building">
                <a class="card" href="{{ home_url }}pay-on-performance/">
                    <img src="{{ site.theme.link }}/assets/img/ppc-seo-icon.svg" width="100" height="100" alt="First Page">
                    <div class="card-body">
                        <h4 class="card-title">Pay on Performance</h4>
                        <p class="card-text text-center text-lg-left">No tricks or hidden fees. You don't pay until you're on page 1.</p>
                    </div>
                    <div class="card-footer">LEARN MORE</div>
                </a>
            </div>

            <div class="col card-link-building">
                <a class="card" href="{{ home_url }}video-seo/">
                    <img src="{{ site.theme.link }}/assets/img/video-seo-icon.svg" width="100" height="100" alt="First Page">
                    <div class="card-body">
                        <h4 class="card-title">Video SEO</h4>
                        <p class="card-text text-center text-lg-left">For any brand with aspirations, make your mark on YouTube.</p>
                    </div>
                    <div class="card-footer">LEARN MORE</div>
                </a>
            </div>
        </div>
    
    </div>

    

</section>




				

<script>
// services cards carousel
$(document).ready(function () {

  $(".services-carousel-lg").slick({
    slidesToShow: 5,
    slidesToScroll: 1,
    arrows: true,
    autoplay: false,
    autoplaySpeed: 2000,
  });

    $(".services-carousel-md").slick({
    slidesToShow: 3,
    slidesToScroll: 1,
    arrows: true,
    autoplay: false,
    autoplaySpeed: 2000,
  });

    $(".services-carousel-sm").slick({
    slidesToShow: 1,
    slidesToScroll: 1,
    arrows: true,
    autoplay: false,
    autoplaySpeed: 2000,
  });
});

</script>

