{% extends "en-base.twig" %}

{% block content %}

	<section class="banner form-space home-banner">
		<div class="container banner-hero">
			<div class="banner-hero-cont">
				<h1 class="form-hide">A smarter, faster way to drive traffic to your website.</h1>
				<div class="banner-description">
					<p class="form-hide">Get an integrated digital marketing strategy from APAC's highest rated digital agency.</p>
					<div class="form-hide hero-mobile">
						<img src="{{ site.theme.link }}/assets/img/img-hero-fpa-home-mobile.png" srcset="{{ site.theme.link }}/assets/img/img-hero-fpa-home-mobile.png, {{ site.theme.link }}/assets/img/img-hero-fpa-home-mobile@2x.png 2x" alt="First Page"/>
					</div>
				</div>
				{% embed "partials/en-form-services.twig" with {'form_page': 'Homepage', 'form_button': 'Get A Free Quote', 'website_needed': true} %}
					{% block step_1 %}
						<div class="input-group">
							<div class="select-container form-control">
								<select class="form-control" name="lead_interest">
									<option value="I need more traffic to my website">I need more traffic to my website</option>
									<option value="I need more customers">I need more customers</option>
									<option value="I need more leads">I need more leads</option>
									<option value="I need more sales">I need more sales</option>
									<option value="I need help with brand awareness">I need help with brand awareness</option>
									<option value="All of the above">All of the above</option>
								</select>
							</div>
							<div class="input-group-btn">
								<button type="button" class="btn fp-btn fp-btn-orange form-continue">Get A Free Quote</button>
							</div>
						</div>
					{% endblock %}
				{% endembed %}
				{% include "partials/en-section-awards-badges.twig" %}
			</div>
			<div class="hero-img d-none d-md-block d-lg-none">
				<img src="{{ site.theme.link }}/assets/img/img-hero-fpa-home-tab.png" srcset="{{ site.theme.link }}/assets/img/img-hero-fpa-home-tab.png, {{ site.theme.link }}/assets/img/img-hero-fpa-home-tab@2x.png 2x" alt="First Page"/>
			</div>
			<div class="hero-img d-none d-lg-block">
				<img src="{{ site.theme.link }}/assets/img/img-hero-fpa-home.png" srcset="{{ site.theme.link }}/assets/img/img-hero-fpa-home.png, {{ site.theme.link }}/assets/img/img-hero-fpa-home@2x.png 2x" alt="First Page"/>
			</div>
		</div>
	</section>

	{% include "partials/en-section-experience.twig" %}

	<section class="section-services">
		<div class="container">
			<div class="section-title">
				<h2>Are you looking to generate an insane amount of traffic?
					<br>Then you’ve hit paydirt!
				</h2>
				<p class="text-left text-sm-center">Honest, 100% transparency and evidence-based decisions is how we operate. Shonky operators come and go, but First Page has been operating since 2011 with a 4.9/5 Google review rating.</p>
			</div>
			<div class="row">
				<div class="col-12 col-md-6 col-lg-3">
					<div class="card">
						<img src="{{ site.theme.link }}/assets/img/icn_seo.svg" width="100" height="100" alt="First Page">
						<div class="card-body">
							<h3 class="card-title">SEO</h3>
							<p class="card-text min-height">Our proven SEO strategies will bury your competition and send your business high-quality traffic that actually converts.</p>
							<h4>Start with…</h4>
							<ul class="tick">
								<li>
									<a href="https://firstpage.com.au/seo/">
										<strong>Local & National SEO</strong>
									</a>
								</li>
								<li>
									<a href="https://firstpage.com.au/international-seo/">
										<strong>International SEO</strong>
									</a>
								</li>
								<li>
									<a href="https://firstpage.com.au/ecommerce-seo/">
										<strong>Ecommerce SEO</strong>
									</a>
								</li>
								<li>
									<a href="https://firstpage.com.au/enterprise-seo/">
										<strong>Enterprise SEO</strong>
									</a>
								</li>
							</ul>
						</div>
						<div class="card-footer">
							<a href="{{ home_url }}seo/">LEARN MORE</a>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-6 col-lg-3">
					<div class="card">
						<img src="{{ site.theme.link }}/assets/img/icn_google_home.svg" width="110" height="100" alt="First Page">
						<div class="card-body">
							<h3 class="card-title">Google Ads</h3>
							<p class="card-text min-height">Start generating leads and sales NOW with a PPC campaign run by true experts who know how to transform clicks into revenue.
							</p>
							<h4>Start with…</h4>
							<ul class="tick">
								<li>
									<a href="https://firstpage.com.au/google-ads/">
										<strong>Google Ads</strong>
									</a>
								</li>
								<li>
									<a href="https://firstpage.com.au/google-display-network/">
										<strong>Google Display Ads</strong>
									</a>
								</li>
								<li>
									<a href="https://firstpage.com.au/google-shopping/">
										<strong>Google Shopping</strong>
									</a>
								</li>
								<li>
									<strong>Google Remarketing</strong>
								</li>
							</ul>
						</div>
						<div class="card-footer">
							<a href="{{ home_url }}google-ads/">LEARN MORE</a>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-6 col-lg-3">
					<div class="card">
						<img src="{{ site.theme.link }}/assets/img/icn_social_ads.svg" width="153" height="100" alt="First Page">
						<div class="card-body">
							<h3 class="card-title">Social Media</h3>
							<p class="card-text">We create hyper-targeted funnels that are designed to nurture, motivate, and inspire your core audience to purchase your products and services.</p>
							<h4>Start with…</h4>
							<ul class="tick">
								<li>
									<a href="https://firstpage.com.au/facebook-advertising/">
										<strong>Facebook Ads</strong>
									</a>
								</li>
								<li>
									<a href="https://firstpage.com.au/instagram-advertising/">
										<strong>Instagram Ads</strong>
									</li>
								</li>
								<li>
									<a href="https://firstpage.com.au/linkedin-advertising/">
										<strong>LinkedIn Ads</strong>
									</li>
								</li>
								<li>
									<a href="https://firstpage.com.au/tiktok-advertising/">
										<strong>TikTok Ads</strong>
									</li>
								</li>
								<li>
									<a href="https://firstpage.com.au/youtube-advertising/">
										<strong>Youtube Ads</strong>
									</li>
								</li>
							</ul>
						</div>
						<div class="card-footer">
							<a href="{{ home_url }}facebook-advertising/">LEARN MORE</a>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-6 col-lg-3">
					<div class="card">
						<img src="{{ site.theme.link }}/assets/img/icn_reputation.svg" width="107" height="100" alt="First Page">
						<div class="card-body">
							<h3 class="card-title">Reputation</h3>
							<p class="card-text">Amplify your reviews, remove unwanted content, and take control of your online reputation with our trusted reputation management services.</p>
							<h4>Start with…</h4>
							<ul class="tick">
								<li>
									<a href="https://firstpage.com.au/content-removal-australia/">
										<strong>Unfair Content Removal</strong>
									</a>
								</li>
								<li>
									<strong>Generate Real Customer Reviews</strong>
								</li>
								<li>
									<a href="https://firstpage.com.au/reputation-management/">
										<strong>Reputation Monitoring</strong>
									</a>
								</li>
							</ul>

						</div>
						<div class="card-footer">
							<a href="{{ home_url }}reputation-management/">LEARN MORE</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="section-features section-grey">
		<div class="container">
			<div class="row">
				<div class="col-12 col-md-4">
					<img src="{{ site.theme.link }}/assets/img/icn_revenue.svg" width="83" height="80" alt="First Page">
					<h5>Generated over $3.8+ billion
						<br class="d-none d-lg-block">
						in sales for our clients</h5>
				</div>
				<div class="col-12 col-md-4">
					<img
					src="{{ site.theme.link }}/assets/img/img_google-reviews.svg" width="198" height="80" alt="First Page">
					{# <img src="{{ site.theme.link }}/assets/img/icn_google_reviews.png" width="160" height="80" srcset="{{ site.theme.link }}/assets/img/icn_google_reviews.png, {{ site.theme.link }}/assets/img/icn_google_reviews@2x.png 2x" alt="First Page" /> #}
					<h5>500+ Google reviews globally
						<br class="d-none d-lg-block">
						with a 4.9/5 rating</h5>
				</div>
				<div class="col-12 col-md-4">
					<img src="{{ site.theme.link }}/assets/img/icn_awards.svg" width="73" height="80" alt="First Page">
					<h5>Won 14 digital awards
						<br class="d-none d-lg-block">
						and counting</h5>
				</div>
			</div>
		</div>
	</section>

	{% include "partials/en-section-casestudy-british-connections.twig" %}

	<section class="section-paragraph section-paragraph-home">
		<div class="row no-gutters align-items-center flex-column-reverse flex-md-row">
			<div class="col-12 col-md-6 image-container-left">
				<img src="{{ site.theme.link }}/assets/img/img_grow_faster.jpg" srcset="{{ site.theme.link }}/assets/img/img_grow_faster.jpg, {{ site.theme.link }}/assets/img/img_grow_faster@2x.jpg 2x" class="img-fluid d-none d-xxl-inline-block" alt="First Page"/>
				<img src="{{ site.theme.link }}/assets/img/img_grow_faster_mob.jpg" srcset="{{ site.theme.link }}/assets/img/img_grow_faster_mob.jpg, {{ site.theme.link }}/assets/img/img_grow_faster_mob@2x.jpg 2x" class="img-fluid d-md-none" alt="First Page"/>
			</div>
			<div class="col-12 col-md-6 text-container">
				<h2>When it comes to your business - we settle for nothing but the best.</h2>
				<p class="text-center text-md-left">The truth is, Digital Marketing takes a lot of work, and the juggling act of running an in-house digital marketing team can quickly turn into a full-scale circus.</p>
				<p class="text-center text-md-left">Let us focus on what we do best, so you can focus on what you do best.</p>
				<p class="text-center text-md-left">Explode your traffic, skyrocket your growth, and blow your annual sales report through the roof with First Page.</p>
				<button type="button" data-title="homepage-get-freeproposal-when" class="btn fp-btn fp-btn-orange show-popup-form buttonFormClick">Get a free proposal</button>
			</div>
		</div>
	</section>

	<section class="section-paragraph section-paragraph-home-2">
		<div class="row no-gutters align-items-center flex-column-reverse flex-md-row flex-md-row-reverse">
			<div class="col-12 col-md-6 image-container-right">
				<img src="{{ site.theme.link }}/assets/img/img_sentr_dash.png" srcset="{{ site.theme.link }}/assets/img/img_sentr_dash.png, {{ site.theme.link }}/assets/img/img_sentr_dash@2x.png 2x" class="img-fluid d-none d-xxl-inline-block" alt="First Page"/>
			</div>
			<div class="col-12 col-md-6 text-container">
				<h2>The First Page engine is powered by our proprietary technology - SENTR™</h2>
				<p class="text-left">Built with you in mind, SENTR™ is the system that separates First Page from other second-rate agencies. SENTR™ will help you…</p>
				<ul class="tick">
					<li>Always be in the know about your campaign</li>
					<li>Easily access and understand your results</li>
					<li>Stay ahead of digital trends</li>
					<li>Save time on communication</li>
					<li>Daily competitor insights</li>
				</ul>
				<img style="margin-top: 10px;" src="{{ site.theme.link }}/assets/img/img_sentr_dash_mob.png" srcset="{{ site.theme.link }}/assets/img/img_sentr_dash_mob.png, {{ site.theme.link }}/assets/img/img_sentr_dash_mob@2x.png 2x" class="img-fluid d-md-none" alt="First Page"/>
				<button type="button" data-title="homepage-get-freeproposal-the" class="btn fp-btn fp-btn-orange show-popup-form buttonFormClick">Get a free proposal</button>
			</div>
		</div>
	</section>

	<section class="section-comparison">
		<div class="container">
			<div class="section-title">
				<h2 class="text-center d-none d-md-block">vs.</h2>
			</div>
			<div class="row comparison-row">
				<div class="col-12 col-md-6 comparison-left-col">
					<div class="mt-5 d-block d-md-none"></div>
					<h2 class="text-center mb-4">First Page</h2>
					<div class="comparison-content-paragraph-holder">
						<p class="comparison-symbol green-tick">✓</p>
						<p class="comparison-paragraph">Nothing outsourced overseas</p>
					</div>
					<div class="comparison-content-paragraph-holder">
						<p class="comparison-symbol green-tick">✓</p>
						<p class="comparison-paragraph">Strategy session & extensive pre-campaign research
						</p>
					</div>
					<div class="comparison-content-paragraph-holder">
						<p class="comparison-symbol green-tick">✓</p>
						<p class="comparison-paragraph">SENTR → Proprietary tool that brings campaign management,
																																																																																																																																					                            reporting & approvals together in one platform. Meaning we spend less time of admin and
																																																																																																																																					                            more
																																																																																																																																					                            time
																																																																																																																																					                            executing & optimising your campaigns.</p>
					</div>
					<a class="text-center d-block d-md-none mb-4" id="comparison_fp_read_more_btn">Read More</a>
					<div class="d-none d-md-block" id="comparison_fp_hide_content">
						<div class="comparison-content-paragraph-holder">
							<p class="comparison-symbol green-tick">✓</p>
							<p class="comparison-paragraph">We are a Google “Premier Partner”, which means as of June 2021 - only 3% of all
																																																																																																																																																								                                global agencies will maintain this title - we are one of them.</p>
						</div>
						<div class="comparison-content-paragraph-holder">
							<p class="comparison-symbol green-tick">✓</p>
							<p class="comparison-paragraph">In depth customisation for individual client requirements - we do not operate under
																																																																																																																																																								                                a “one size fits all” factory approach.</p>
						</div>
						<div class="comparison-content-paragraph-holder">
							<p class="comparison-symbol green-tick">✓</p>
							<p class="comparison-paragraph">All employees (AMs/ Sales/ Paid Media) are Black Belt Certified through Google’s
																																																																																																																																																								                                Digital training program.</p>
						</div>
						<div class="comparison-content-paragraph-holder">
							<p class="comparison-symbol green-tick">✓</p>
							<p class="comparison-paragraph">Unbeatable performance milestones.</p>
						</div>
						<div class="comparison-content-paragraph-holder">
							<p class="comparison-symbol green-tick">✓</p>
							<p class="comparison-paragraph">No hidden fees. Plus all the data is yours!</p>
						</div>
					</div>
					<a class="text-center d-none mb-4" id="comparison_fp_read_less_btn">Read Less</a>
					<div class="section-title">
						<h2 class="text-center d-block d-md-none mb-4">vs.</h2>
					</div>
				</div>
				<div class="col-12 col-md-6 comparison-right-col">
					<h2 class="text-center mb-4">Other Agencies</h2>
					<div class="comparison-right-col-content">
						<div class="comparison-content-paragraph-holder">
							<p class="comparison-symbol red-cross">✘</p>
							<p class="comparison-paragraph">Compromises on quality by outsourcing</p>
						</div>
						<div class="comparison-content-paragraph-holder">
							<p class="comparison-symbol red-cross">✘</p>
							<p class="comparison-paragraph">Standard “package” approach with little to no flexibility</p>
						</div>
						<div class="comparison-content-paragraph-holder">
							<p class="comparison-symbol red-cross">✘</p>
							<p class="comparison-paragraph">Reliance on standardised project management tools or excel</p>
						</div>
						<a class="text-center d-block d-md-none" id="comparison_other_read_more_btn">Read More</a>
						<div class="d-none d-md-block" id="comparison_other_hide_content">
							<div class="comparison-content-paragraph-holder">
								<p class="comparison-symbol red-cross">✘</p>
								<p class="comparison-paragraph">Churn & burn approach to client acquisition</p>
							</div>
							<div class="comparison-content-paragraph-holder">
								<p class="comparison-symbol red-cross">✘</p>
								<p class="comparison-paragraph">Basic template audit and implementation</p>
							</div>
							<div class="comparison-content-paragraph-holder">
								<p class="comparison-symbol red-cross">✘</p>
								<p class="comparison-paragraph">Small teams with capacity constraints</p>
							</div>
							<div class="comparison-content-paragraph-holder">
								<p class="comparison-symbol red-cross">✘</p>
								<p class="comparison-paragraph">Low quality account servicing</p>
							</div>
							<div class="comparison-content-paragraph-holder">
								<p class="comparison-symbol red-cross">✘</p>
								<p class="comparison-paragraph">No performance milestone model when it comes to SEO</p>
							</div>
							<div class="comparison-content-paragraph-holder">
								<p class="comparison-symbol red-cross">✘</p>
								<p class="comparison-paragraph">Hidden fees and holding data hostage on their own accounts</p>
							</div>
						</div>
						<a class="text-center d-none" id="comparison_other_read_less_btn">Read Less</a>
					</div>

				</div>
			</div>

		</div>
	</section>

	<section class="section-services">
		<div class="container">
			<div class="section-title">
				<h2>We aren’t just your agency - we are your partner in growth.</h2>
				<h3 class="font-weight-normal">Here’s what you can expect from us</h3>
			</div>
			<div class="row">
				<div class="col-12 col-md-6 col-lg-3">
					<div class="card">
						<img src="{{ site.theme.link }}/assets/img/icn_audit.svg" width="75" height="100" alt="First Page">
						<div class="card-body">
							<h4 class="card-title">Complete Business
																																																																																																																																																								                            Audit</h4>
							<p class="card-text">We’ll analyse your digital channels so we understand what is currently working, and where there is the most room for growth</p>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-6 col-lg-3">
					<div class="card">
						<img src="{{ site.theme.link }}/assets/img/icn_analysis.svg" width="100" height="100" alt="First Page">
						<div class="card-body">
							<h4 class="card-title">In-Depth Competitor Analysis</h4>
							<p class="card-text">We’ll use our powerful software to monitor your competitor’s marketing strategies, so we’ll always be one step ahead of them</p>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-6 col-lg-3">
					<div class="card">
						<img src="{{ site.theme.link }}/assets/img/icn_growth.svg" width="101" height="101" alt="First Page">
						<div class="card-body">
							<h4 class="card-title">Bespoke Growth
																																																																																																																																																								                            Strategy</h4>
							<p class="card-text">We’ll create a Digital Marketing strategy that is customised for your business, in a way that is fully optimised for conversions</p>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-6 col-lg-3">
					<div class="card">
						<img src="{{ site.theme.link }}/assets/img/icn_roi.svg" width="117" height="100" alt="First Page">
						<div class="card-body">
							<h4 class="card-title">Projections<br class="d-none d-md-block">
								for ROI</h4>
							<p class="card-text">We’ll create a detailed forecast of growth, traffic, and revenue, and highlight the KPIs that will get you there the fastest</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="section-paragraph section-faqs">
		<div class="container">
			<h2 class="section-title">What is digital marketing?</h2>
			<div itemscope itemtype="https://schema.org/FAQPage" class="row">
				<div class="col-12 col-lg-6">
					<div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
						<div class="card-header collapsed" data-toggle="collapse" href="#collapse9">
							<h3 itemprop="name" class="h3-accordion-title-fpau">What is a marketing funnel?</h3>
						</div>
						<div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" id="collapse9" class="collapse">
							<div itemprop="text" class="card-body">
								<p>The marketing funnel is how companies can visualise the customer journey and what it takes to get someone to successfully make a purchase. Although the marketing funnel continues to evolve as customer behaviour changes in the modern age, the stages that defined the original funnel remain relevant today. These stages are typically labelled: awareness, consideration, conversion, loyalty and advocacy, with a range of digital marketing strategies helping you funnel customers from one phase to the next.</p>
								<p>By developing an in-depth understanding of how the marketing funnel works to achieve your business goals, it’s possible to measure where you are losing the most amount of interest. By taking steps to plug these gaps, you can ensure more customers complete their journey and make a purchase. If you choose to partner with First Page, our talented digital marketers can assess the state of your marketing funnel and ensure you retarget prospects to maximise sales.</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-lg-6">
					<div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
						<div class="card-header collapsed" data-toggle="collapse" href="#collapse7">
							<h3 itemprop="name" class="h3-accordion-title-fpau">How important is SEO for digital marketing?</h3>
						</div>
						<div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" id="collapse7" class="collapse">
							<div itemprop="text" class="card-body">
								<p>Search engine optimisation (SEO) is one of the most critical aspects of a powerful digital marketing campaign. As this technique is designed to make your website irresistible to search engine algorithms, expert-led SEO can push your website up the rankings to reach the most accurate customer base possible. However, you must understand that SEO isn’t a get-rich-quick scheme. You have to be willing to undertake a long-term strategy that requires a certain degree of patience to reap the full rewards from your investment.</p>
								<p>SEO is a potent digital marketing technique, with a high-performance campaign designed to improve every aspect of your online presence. This includes keyword research, link building techniques, competitor analysis, page loading times, mobile-responsive features and much more. By taking the time to enhance each of these areas and many others, you can gradually reduce the cost of your SEO campaign and establish a solid foundation for the future.</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-lg-6">
					<div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
						<div class="card-header collapsed" data-toggle="collapse" href="#collapse5">
							<h3 itemprop="name" class="h3-accordion-title-fpau">Why is digital marketing important?</h3>
						</div>
						<div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" id="collapse5" class="collapse">
							<div itemprop="text" class="card-body">
								<p>You might remember the sound of a dial-up modem, but the internet is no longer the relatively small place it once was. As the online world has become a thriving place for reaching customers and generating sales, it’s no surprise that pretty much every niche is flooded with competition. However, the use of effective digital marketing techniques ensures your business can stand out against your rivals and capture the attention of your ideal customers.</p>
								<p>Your business might have the best product on the market, but if it fails to reach the right people, you don’t have a chance of maximising your sales. Fortunately, the experts at First Page can develop a laser-targeted digital marketing campaign that reaches your customer fast. Through a wealth of interactive and hyper-personalised techniques, we have the power to increase your website traffic and boost sales. With your competition almost certainly aiming for the same goals, ignoring digital marketing will undoubtedly see you fall behind.</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-lg-6">
					<div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
						<div class="card-header collapsed" data-toggle="collapse" href="#collapse4">
							<h3 itemprop="name" class="h3-accordion-title-fpau">What’s better, SEO or PPC?</h3>
						</div>
						<div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" id="collapse4" class="collapse">
							<div itemprop="text" class="card-body">
								<p>When choosing between SEO or PPC for an upcoming digital marketing campaign, the decision ultimately depends on what you want to achieve. While both digital marketing techniques are hugely productive when handled by talented professionals, SEO is ideal for generating long-term results, while PPC is best for quick wins. Although this choice is certainly not easy, it usually comes down to budget considerations. If your business is operating in a highly competitive industry, there’s a good chance you’ll need to spend significantly to achieve your goals.
								</p>
								<p>Alternatively, SEO can be used as a longer-term strategy that delivers precise organic traffic straight to your website. Using keyword research, high-quality content and technical changes to your advantage, alongside numerous other SEO methods, you can push your website up the search engine rankings for a cost-effective investment. In fact, many businesses use SEO and PPC together to benefit from both long-term results and quick wins at the same time.</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-lg-6">
					<div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
						<div class="card-header collapsed" data-toggle="collapse" href="#collapse6">
							<h3 itemprop="name" class="h3-accordion-title-fpau">What industries benefit from digital marketing?</h3>
						</div>
						<div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" id="collapse6" class="collapse">
							<div itemprop="text" class="card-body">
								<p>Considering that almost everyone uses the internet these days, it’s safe to say your business can benefit from a personalised digital marketing campaign. Naturally, online businesses with e-commerce stores are often the most enthusiastic clients. For example, fashion labels can use countless digital marketing strategies to drive customers directly to their product pages. Meanwhile, professional services like architects, engineers, doctors and lawyers also benefit from fresh clients discovering their business when researching online.</p>
								<p>However, there are virtually no limits on how digital marketing can help a business. As long as you partner with an experienced agency that understands your products and how they appeal to your target market, it’s possible to tailor a campaign that achieves your goals. Alongside real estate agents, educational institutions and retail operations, implementing a data-driven strategy that captures the attention of your ideal customer base will help your business reach the next level.</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-lg-6">
					<div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
						<div class="card-header collapsed" data-toggle="collapse" href="#collapse10">
							<h3 itemprop="name" class="h3-accordion-title-fpau">How can I use Digital Marketing for B2B?</h3>
						</div>
						<div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" id="collapse10" class="collapse">
							<div itemprop="text" class="card-body">
								<p>If your business is looking to kickstart B2B sales, developing a thoughtful digital marketing strategy is one of the best ways to reach your goals. Start by carefully defining who your target market is. This includes everything from their demographics and general interests to buying habits. This information can then be used to create SEO-driven content and inbound marketing that captures their attention and addresses their pain points. However, there’s plenty more to consider to maximise your results.</p>
								<p>Every B2B digital marketing strategy must factor in a range of website optimisations that make it easy for customers to find critical information about your products. This means designing fast, attractive and keyword-optimised landing pages that achieve your goals. You can also drive outstanding B2B marketing results by undertaking comprehensive paid social and search advertising strategies that target your specific market. Plus, a high-performance campaign must always feature consistent analysis and adjustments to fine-tune your ongoing strategy.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="section-paragraph section-faqs">
			<div class="container">
				<h2 class="section-title">How can digital marketing help your business?</h2>
				<div itemscope itemtype="https://schema.org/FAQPage" class="row">
					<div class="col-12 col-lg-6">
						<div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
							<div class="card-header collapsed" data-toggle="collapse" href="#collapse8">
								<h3 itemprop="name" class="h3-accordion-title-fpau">How can digital marketing improve lead generation?</h3>
							</div>
							<div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" id="collapse8" class="collapse">
								<div itemprop="text" class="card-body">
									<p>The online landscape is only becoming more competitive, meaning your business must have a clear idea about generating leads if it doesn’t want to get left behind. There are countless ways to approach a lead generation campaign, but it helps to optimise your home page to the fullest extent. By conducting detailed keyword research, promoting an eye-catching offer and having a powerful call-to-action, you can convince more traffic to hand over their contact information.
									</p>
									<p>Many businesses also create leads by building extensive referral networks. This process will boost your brand’s reputation and deliver plenty of free advertising as you look to develop your standing in the industry, share knowledge and identify fresh opportunities. Meanwhile, small businesses can get more people through their doors by engaging in local SEO to raise awareness and attract nearby customers. Plus, paid social ad strategies and thoughtful email marketing campaigns are also hugely effective lead generation techniques.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-12 col-lg-6">
						<div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
							<div class="card-header collapsed" data-toggle="collapse" href="#collapse3">
								<h3 itemprop="name" class="h3-accordion-title-fpau">Do digital agencies actually work?</h3>
							</div>
							<div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" id="collapse3" class="collapse">
								<div itemprop="text" class="card-body">
									<p>Letting an experienced SEO agency handle your digital marketing campaign is the best way to ensure your investment delivers the most growth for your business. However, it’s important to understand that not all digital marketing agencies were created equal. While digital marketers with less expertise might lead you down the garden path, First Page has literally thousands of successful campaigns for companies operating at every scale under our belt. This is because our results-driven philosophy never lets us down.</p>
									<p>Our mid to long term strategies are specifically designed to generate outcomes that set your business up for the future. As we work closely with our clients to develop realistic goals, our highly effective keyword research, link building strategies and content production will set your search rankings into overdrive. We also constantly monitor our results to adjust our strategy on the fly, plus we provide every client with transparent reporting that keeps you in the loop on our spending.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-12 col-lg-6">
						<div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
							<div class="card-header collapsed" data-toggle="collapse" href="#collapse2">
								<h3 itemprop="name" class="h3-accordion-title-fpau">How can digital marketing help small businesses?</h3>
							</div>
							<div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" id="collapse2" class="collapse">
								<div itemprop="text" class="card-body">
									<p>The beauty of digital marketing is that it’s just as effective for small businesses as multinational corporations. No matter what budget you have to invest in your campaign, it’s possible to implement effective strategies that help level the playing field. It’s only natural for small businesses to have a limited amount to spend on their campaign. But digital marketing provides incredibly cost-efficient results when planned and executed by an experienced team that knows what it takes to achieve your goals.</p>
									<p>Supported by a wealth of data-driven and accountable digital marketing strategies, your business can reach targeted customers who are bound to have great interest in your specific products and services. Meanwhile, a campaign optimised for mobile devices can attract local customers searching for a business like yours in their immediate area. By understanding your business and its target market, we can create a digital marketing strategy that reaches your ideal customers and boosts sales.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-12 col-lg-6">
						<div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
							<div class="card-header collapsed" data-toggle="collapse" href="#collapse11">
								<h3 itemprop="name" class="h3-accordion-title-fpau">How to choose the best digital marketing agency?</h3>
							</div>
							<div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" id="collapse11" class="collapse">
								<div itemprop="text" class="card-body">
									<p>A tailored digital marketing campaign has the power to transform your business into a sales powerhouse. But only if you can find the right team to lead your campaign. Naturally, you want to have complete confidence that the digital marketing agency planning and executing your strategy has a track record to deliver its performance claims. This means checking online reviews and asking people for advice on whether an agency’s industry reputation can be relied upon for your needs. Choosing the ideal agency also means finding out if they have the specialist team members that have the required skill set to achieve your goals.</p>
									<p>Alongside cutting-edge technology that gives them a boost over the competition, you want to know if your digital marketing partner has the expertise to deliver the best ROI for your business. While you might be tempted to choose a low-cost option, digital marketing is a heavily involved process that often means cheap isn’t good. Finally, you should only partner with an agency that’s fully transparent about how they spend your budget and what outcomes you can expect to receive.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-12 col-lg-6">
						<div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
							<div class="card-header collapsed" data-toggle="collapse" href="#collapse14">
								<h3 itemprop="name" class="h3-accordion-title-fpau">How much does digital marketing cost?</h3>
							</div>
							<div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" id="collapse14" class="collapse">
								<div itemprop="text" class="card-body">
									<p>Each and every digital marketing campaign involves different costs because every business is unique. With a successful strategy needing to be personalised to a company’s current standing, target market and competition, alongside numerous other factors, the techniques required to achieve your goals change depending on your needs. However, First Page has led thousands of highly successful campaigns for businesses across every industry imaginable, ensuring we can provide a clear idea of what it’ll take to win big.</p>
									<p>If your business is planning to use SEO to optimise for conversions, we can help you develop a strategy that brings stacks of traffic to your website. But it’s important to understand that SEO is a long-term process that requires patience to experience the full results. Backed by in-depth data synthesis, our digital marketing experts can lead performance media campaigns like social media marketing and search engine marketing to achieve your goals for the best ROI possible.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-12 col-lg-6">
						<div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
							<div class="card-header collapsed" data-toggle="collapse" href="#collapse13">
								<h3 itemprop="name" class="h3-accordion-title-fpau">What digital marketing services do you offer?</h3>
							</div>
							<div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" id="collapse13" class="collapse">
								<div itemprop="text" class="card-body">
									<p>As Australia’s leading full-service digital marketing agency, First Page has the power to help your business reach its goal through a variety of data-driven methods. We pride ourselves on our exceptional SEO campaigns, ranging from local and international SEO to link building strategies and e-commerce SEO. Meanwhile, we specialise in high-performance Google Ads that level up our client’s website traffic and sales by capturing the attention of relevant customers wherever they can be reached online.
									</p>
									<p>In addition, our tailored social media marketing strategies will skyrocket your company’s brand awareness and conversions on platforms like Facebook, Instagram, LinkedIn, TikTok and YouTube. We also offer clients comprehensive reputation management services, plus we lead the market for unwanted content removal. This means we can take down negative reviews posted by online trolls or dishonest competitors trying to ruin your business. Alongside detailed website audits and competitor analysis, we deliver bespoke digital marketing campaigns that ensure you outgrow the competition.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-12 col-lg-6">
						<div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
							<div class="card-header collapsed" data-toggle="collapse" href="#collapse1">
								<h3 itemprop="name" class="h3-accordion-title-fpau">What does a digital marketing agency do?</h3>
							</div>
							<div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" id="collapse1" class="collapse">
								<div itemprop="text" class="card-body">
									<p>Digital marketing agencies help businesses increase their ability to reach and convert customers. Using a myriad of data-driven techniques, we can deliver results that massively outperform traditional marketing methods that have quickly become a thing of the past. While some digital marketing agencies specialise in just one or two areas, First Page is a multi-discipline agency that means we can help your business thrive from every perspective. This ensures we can achieve our client’s goals no matter how complex.</p>
									<p>So what kind of digital marketing services do we offer at First Page? We’re experts in driving enormous growth through carefully considered SEO and PPC campaigns that enable us to reach your target market. Plus, we can take charge of detailed social media, email marketing and brand strategy campaigns that drive your company’s visibility. Alongside numerous other services, we have what it takes to drive remarkable growth for a stellar ROI.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-12 col-lg-6">
						<div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
							<div class="card-header collapsed" data-toggle="collapse" href="#collapse12">
								<h3 itemprop="name" class="h3-accordion-title-fpau">Can you guarantee an ROI for my campaign?</h3>
							</div>
							<div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" id="collapse12" class="collapse">
								<div itemprop="text" class="card-body">
									<p>While there are too many factors involved with a digital marketing campaign to guarantee a return on investment, First Page is prepared to offer the next best thing. As we work alongside our clients to develop realistic goals for their investment, we can set SEO traffic guarantees that ensure your business smashes its organic growth. This way, if we fail to deliver the goods, you don’t have to worry about paying a cent.</p>
									<p>Although other digital marketing agencies aren’t prepared to make promises, we’re so confident in our highly experienced team that we’re willing to put our earnings on the line. As we get to know your business and implement a series of KPIs, we’re working tirelessly to plan and execute a strategy that reaches your ideal target market. With a flourishing brand reputation and endless amounts of organic traffic, the cost per lead of your campaign will decrease dramatically.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>


			{% include "partials/en-form-popup.twig" with {'form_page': 'Homepage (Popup)', 'form_button': 'Get a free proposal'} %}

			<script>
				// home page comparison section
$(document).ready(function () {
$('#comparison_fp_read_more_btn').click(function () {
$('#comparison_fp_hide_content').removeClass('d-none');
$('#comparison_fp_read_more_btn').removeClass('d-block');
$('#comparison_fp_read_more_btn').addClass('d-none');
$('#comparison_fp_read_less_btn').removeClass('d-none');
$('#comparison_fp_read_less_btn').addClass('d-block d-md-none');

})

$('#comparison_other_read_more_btn').click(function () {
$('#comparison_other_hide_content').removeClass('d-none');
$('#comparison_other_read_more_btn').removeClass('d-block');
$('#comparison_other_read_more_btn').addClass('d-none');
$('#comparison_other_read_less_btn').removeClass('d-none');
$('#comparison_other_read_less_btn').addClass('d-block d-md-none');
})

$('#comparison_fp_read_less_btn').click(function () {
$('#comparison_fp_read_less_btn').removeClass('d-block');
$('#comparison_fp_read_less_btn').addClass('d-none');
$('#comparison_fp_read_more_btn').removeClass('d-none');
$('#comparison_fp_read_more_btn').addClass('d-block');
$('#comparison_fp_hide_content').removeClass('d-block');
$('#comparison_fp_hide_content').addClass('d-none');
})

$('#comparison_other_read_less_btn').click(function () {
$('#comparison_other_read_less_btn').removeClass('d-block');
$('#comparison_other_read_less_btn').addClass('d-none');
$('#comparison_other_read_more_btn').removeClass('d-none');
$('#comparison_other_read_more_btn').addClass('d-block');
$('#comparison_other_hide_content').removeClass('d-block');
$('#comparison_other_hide_content').addClass('d-none');
})
});
			</script>


		{% endblock %}
