{% extends "en-base.twig" %}

{% block content %}

<style>
    section.section-paragraph .p-0 {
        padding: 0 !important;
    }

    @media(max-width: 575px) {
        .text-center-mobile {
            text-align: center;
        }
    }

    @media(max-width: 575px) {
        .hero-mobile {
            position: unset !important;
            margin-bottom: -35px !important;
            text-align: center;
        }
    }

    .container-padding {
        padding: 0 34px;
    }

    @media(max-width: 767px) {
        .container-padding {
            padding: 0 15px;
        }
    }

    @media(max-width: 991px) {
        section.section-paragraph .text-container {
            padding: 0 15px 0 34px !important;
        }
    }

    @media(max-width: 767px) {
        section.section-paragraph .text-container {
            padding: 0 15px !important;
        }
    }

    section.section-paragraph .text-container-right {
        padding: 0 34px 0 15px;
    }

    section.section-paragraph .text-container-right .fp-btn {
        width: 100%;
        margin-top: 10px;
        margin-bottom: 30px;
    }

    @media(max-width: 767px) {
        .heading-center h2 {
            text-align: center;
        }
    }

    @media(max-width: 767px) {
        section.section-paragraph .text-container-right {
            padding: 0 15px;
        }
    }

    @media(max-width: 991px) {
        .input-group {
            display: -webkit-inline-box !important;
        }
    }

    @media(max-width: 767px) {
        .input-group {
            display: -webkit-flex !important;
        }

    }

    @media(min-width: 767px) {
        .quote-form.quote-form-big .fp-btn {
            padding: 0 24px !important;
        }
    }
</style>

<!-- Banner -->

<section class="banner form-space">
    <div class="container banner-hero two-lines">
        <div class="banner-hero-cont">
            <h1 class="form-hide text-center-mobile">Master china’s dominant search engine
            </h1>
            <div class="banner-description">
                <div class="form-hide hero-mobile">
                    <img src="{{ site.theme.link }}/assets/img/img_hero_seo_mob@2x.png"
                        srcset="{{ site.theme.link }}/assets/img/img_hero_seo_mob@2x.png, {{ site.theme.link }}/assets/img/img_hero_seo_mob@2x.png 2x"
                        alt="First Page" />

                </div>
            </div>
            {% include "partials/en-form-services.twig" with {'form_page': 'Baidu SEO', 'form_button': 'Get A Free
            Quote', 'form_website_placeholder': 'Enter your website'} %}
            {% include "partials/en-section-awards-badges.twig" %}
        </div>
        <div class="hero-img d-none d-md-block d-lg-none">
            <img src="{{ site.theme.link }}/assets/img/img_amazon_hero-tablet@2x.png"
                srcset="{{ site.theme.link }}/assets/img/img_amazon_hero-tablet@2x.png, {{ site.theme.link }}/assets/img/img_amazon_hero-tablet@2x.png 2x"
                alt="First Page" />
        </div>
        <div class="hero-img d-none d-lg-block">
            <img src="{{ site.theme.link }}/assets/img/img_amazon_hero@2x.png"
                srcset="{{ site.theme.link }}/assets/img/img_amazon_hero@2x.png, {{ site.theme.link }}/assets/img/img_amazon_hero@2x.png 2x"
                alt="First Page" />
        </div>
    </div>
</section>

{% include "partials/en-section-featured-in-news.twig" %}


<section class="section-paragraph">
    <div class="row no-gutters">
        <div class="col-lg-6 col-md-4"></div>
        <div class="col-lg-6 col-md-8 align-self-end text-container">

            <h2 class="d-none d-md-block d-lg-none">
                Attract your ideal </br> target market
            </h2>
        </div>
    </div>
    <div class="row no-gutters flex-column-reverse flex-md-row">
        <div
            class="col-12 col-lg-6 col-md-4 image-container-left pr-lg-5 d-flex flex-column justify-content-center align-items-end">
                <img src="{{ site.theme.link }}/assets/img/img_target_market.png"
                srcset="{{ site.theme.link }}/assets/img/img_target_market.png, {{ site.theme.link }}/assets/img/img_target_market.png 2x"
                class="img-fluid d-none d-lg-inline-block" alt="First Page" style="width:450px;" />
            <img src="{{ site.theme.link }}/assets/img/img_target_market_mob.png"
                srcset="{{ site.theme.link }}/assets/img/img_target_market_mob.png, {{ site.theme.link }}/assets/img/img_target_market_mob.png 2x"
                class="img-fluid d-none d-md-inline-block d-lg-none" alt="First Page" style="width:450px;" />
        </div>
        <div class="col-12 col-lg-6 col-md-8 text-container heading-center">
            <h2 class="d-block d-md-none d-lg-block">
                Attract your ideal target market
            </h2>
            <img src="{{ site.theme.link }}/views/assets/img/img_target_market_mob.png"
                srcset="{{ site.theme.link }}/views/assets/img/img_target_market_mob.png, {{ site.theme.link }}/views/assets/img/img_target_market_mob@2x.png 2x"
                class="img-fluid d-block d-md-none mx-auto pb-4" alt="" />
            <p class="text-center text-md-left">Whether you’re looking to expand operations on the ground in China or
                simply want to attract international e-commerce customers, your business needs a comprehensive plan to
                climb Baidu’s search engine results pages.</p>
            <p class="text-center text-md-left">Featuring an estimated 200 million daily users totalling up to 80% of
                the region’s search engine market, an eye-catching Baidu SEO campaign can deliver unparalleled results
                for budding brands.</p>
            <p class="text-center text-md-left">As more companies from around the globe expand into China, your business
                is going to need professional help to stand out within Baidu’s search results.</p>
            <p class="text-center text-md-left">First Page Australia’s award-winning team has made it our business to
                help companies expand into China and beyond, with our multilingual team able to implement a precise
                approach that achieves your business goals.</p>
            <button type="button" data-title="seopage-get-freeproposal-Why"
                class="btn fp-btn fp-btn-orange show-popup-form buttonFormClick">
                GET A FREE QUOTE
            </button>
        </div>
    </div>
</section>


<section class="section-paragraph">
    <h2 class="d-none d-md-block d-lg-none container-padding">Understand Baidu </br> and grow</h2>
    <div class="row no-gutters flex-column-reverse flex-md-row flex-md-row-reverse">
        <div
            class="col-12 col-lg-6 col-md-4 image-container-right d-flex flex-column justify-content-center align-items-start">
            <img src="{{ site.theme.link }}/assets/img/img_baidu_seo.png"
                srcset="{{ site.theme.link }}/assets/img/img_baidu_seo.png, {{ site.theme.link }}/assets/img/img_baidu_seo.png 2x"
                class="img-fluid d-none d-lg-inline-block" alt="First Page" style="width:650px;" />
            <img src="{{ site.theme.link }}/assets/img/img_baidu_seo_mob.png"
                srcset="{{ site.theme.link }}/assets/img/img_baidu_seo_mob.png, {{ site.theme.link }}/assets/img/img_baidu_seo_mob.png 2x"
                class="img-fluid d-none d-md-inline-block d-lg-none" alt="First Page" style="width:450px;" />


        </div>
        <div class="col-12 col-lg-6 col-md-8 p-0 text-container text-container-seo-new">
            <h2 class="d-block d-md-none d-lg-block">
                Understand Baidu and grow
            </h2>
            <img src="{{ site.theme.link }}/views/assets/img/img_baidu_seo_mob.png"
                srcset="{{ site.theme.link }}/views/assets/img/img_baidu_seo_mob.png, {{ site.theme.link }}/views/assets/img/img_baidu_seo_mob@2x.png 2x"
                class="img-fluid d-block d-md-none mx-auto pb-4" alt="" />
            <p class="text-center text-md-left">Although your business might have previously experienced success with a
                targeted Google, Bing or Yahoo campaign, taking the same approach to attract customers using Baidu would
                be a mistake.</p>
            <p class="text-center text-md-left">Naturally, there are a myriad of norms brands need to abide by if they
                are going to successfully convert consumers, ranging from language and cultural nuances to customer
                habits and legal issues. With expert help from First Page Australia, we can accomplish your goals.</p>
            <p class="text-center text-md-left">As Baidu is based entirely around Chinese content, ensuring your brand
                communicates in a way that Chinese consumers understand is imperative to success. Although foreign
                content is crawled by Baidu’s algorithms, with the vast majority of users based in China, this content
                typically ranks poorly.</p>
            <p class="text-center text-md-left">Luckily, our dedicated team can create Chinese language content that
                dominates the SERP.</p>
            <button type="button" data-title="seopage-get-freeproposal-Triple"
                class="btn fp-btn fp-btn-orange show-popup-form buttonFormClick">
                GET A FREE QUOTE
            </button>
        </div>
    </div>
</section>


<section class="section-paragraph">
    <div class="row no-gutters">
        <div class="col-lg-6 col-md-4"></div>
        <div class="col-lg-6 col-md-8 align-self-end text-container">

            <h2 class="d-none d-md-block d-lg-none">
                Make Baidu SEO work to your advantage
            </h2>
        </div>
    </div>
    <div class="row no-gutters flex-column-reverse flex-md-row">
        <div
            class="col-12 col-lg-6 col-md-4 image-container-left pr-lg-5 d-flex flex-column justify-content-center align-items-end">
            <img src="{{ site.theme.link }}/assets/img/Bitmap.png"
                srcset="{{ site.theme.link }}/assets/img/Bitmap.png, {{ site.theme.link }}/assets/img/Bitmap.png 2x"
                class="img-fluid d-none d-lg-inline-block" alt="First Page" style="width:650px;" />
            <img src="{{ site.theme.link }}/assets/img/Bitmap.png"
                srcset="{{ site.theme.link }}/assets/img/Bitmap.png, {{ site.theme.link }}/assets/img/Bitmap.png 2x"
                class="img-fluid d-none d-md-inline-block d-lg-none" alt="First Page" style="width:450px;" />
        </div>
        <div class="col-12 col-lg-6 col-md-8 text-container heading-center">
            <h2 class="d-block d-md-none d-lg-block">
                Make Baidu SEO work to your advantage
            </h2>
            <img src="{{ site.theme.link }}/assets/img/Bitmap.png"
                srcset="{{ site.theme.link }}/assets/img/Bitmap.png, {{ site.theme.link }}/assets/img/Bitmap.png 2x"
                class="img-fluid d-block d-md-none mx-auto pb-4" alt="First Page" />
            <p class="text-center text-md-left">It’s no secret that China is now the world’s leading nation for
                e-commerce. With annual online shopping sales recently surpassing USD $2 trillion, developing a Baidu
                SEO campaign that captures your target market can be hugely profitable.</p>
            <p class="text-center text-md-left">Our professional team has an in-depth understanding of SEO techniques
                that produce exceptional results on Baidu, as we use the platform’s unique optimisation requirements to
                your brand’s advantage.</p>
            <p class="text-center text-md-left">No matter what kind of product or service you offer, First Page
                Australia can generate a robust strategy that climbs Baidu’s SERP.</p>
            <p class="text-center text-md-left">As our expert digital marketers build powerful campaigns around
                localised backlink profiles, optimised image results and regularly updated Chinese content, we can
                skyrocket your brand’s visibility, organic traffic and profits derived from Baidu.</p>
            <button type="button" data-title="seopage-get-freeproposal-Why"
                class="btn fp-btn fp-btn-orange show-popup-form buttonFormClick">
                GET A FREE QUOTE
            </button>
        </div>
    </div>
</section>



<section class="section-paragraph">
    <h2 class="d-none d-md-block d-lg-none container-padding">Think globally with</br> Baidu SEO
    </h2>
    <div class="row no-gutters flex-column-reverse flex-md-row flex-md-row-reverse ">
        <div class="col-12 col-lg-6 col-md-4 image-container-right d-flex flex-column justify-content-center align-items-start"
            style="padding: 0 20px;">
            <img src="{{ site.theme.link }}/assets/img/expert-help-desktop.png"
                srcset="{{ site.theme.link }}/assets/img/expert-help-desktop.png, {{ site.theme.link }}/assets/img/expert-help-desktop.png 2x"
                class="img-fluid d-none d-lg-inline-block" alt="First Page" width="650px;" />
            <img src="{{ site.theme.link }}/assets/img/expert-help-tablet.png"
                srcset="{{ site.theme.link }}/assets/img/expert-help-tablet.png, {{ site.theme.link }}/assets/img/expert-help-tablet.png 2x"
                class="img-fluid d-none d-md-inline-block d-lg-none" alt="First Page" style="width:450px;" />
        </div>
        <div class="col-12 col-lg-6 col-md-8 text-container text-container-seo-new">
            <h2 class="d-block d-md-none d-lg-block">
                Think globally with</br> Baidu SEO
            </h2>
            <img src="{{ site.theme.link }}/assets/img/expert-help-mobile.png"
                srcset="{{ site.theme.link }}/assets/img/expert-help-mobile.png, {{ site.theme.link }}/assets/img/expert-help-mobile.png 2x"
                class="img-fluid d-block d-md-none mx-auto pb-4" alt="First Page" />
                <p class="text-center text-md-left">As China’s domination of the global e-commerce marketplace isn’t going to stop anytime soon, expanding your reach on Baidu should be at the top of your priorities if you’re looking to attract Chinese customers.</p>
                <p class="text-center text-md-left">But with the platform having plenty of challenges to overcome on your path to success, working alongside an experienced team is the best way to achieve your goals.</p>
                <p class="text-center text-md-left">First Page Australia’s global team knows what it takes to push your website up the rankings and ensure relevant Chinese customers become highly aware of your products and services.</p>
                <p class="text-center text-md-left">With our ability to navigate Baidu’s unique requirements and our team’s high-quality Chinese content creation, we can deliver unparalleled results for your business. Contact us to find out how Baidu SEO will boost your reach in the Chinese marketplace.</p>                
            <button type="button" data-title="seopage-get-freeproposal-Triple"
                class="btn fp-btn fp-btn-orange show-popup-form buttonFormClick">
                GET A FREE QUOTE
            </button>
        </div>
    </div>
</section>


{% include "partials/en-section-free-session.twig" %}

{% include "assets/partials/en-form-popup.twig" with {'form_page': 'Baidu SEO (Popup)'} %}

<section class="section-paragraph section-faqs py-5">
    <div class="container">
        <h2 class="section-title">Baidu Marketing FAQs</h2>
        <div itemscope itemtype="https://schema.org/FAQPage" class="row">
            <div class="col-12 col-lg-6">
                <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
                    <div class="card-header collapsed" data-toggle="collapse" href="#collapse1">
                        <h3 itemprop="name" class="h3-accordion-title-fpau">What Is Baidu?</h3>
                    </div>
                    <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" id="collapse1"
                        class="collapse">
                        <div itemprop="text" class="card-body">
                            <p>Baidu is easily the most popular search engine for Chinese customers. Featuring over 200 million daily users, it functions in many of the same ways as Google, but offers a far greater understanding of China's language and culture. For companies who want to significantly expand their potential in the highly lucrative Chinese marketplace, growing your reach with extensive Baidu SEO services is essential.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
                    <div class="card-header collapsed" data-toggle="collapse" href="#collapse3">
                        <h3 itemprop="name" class="h3-accordion-title-fpau">Are Baidu SEO Services Expensive?</h3>
                    </div>
                    <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" id="collapse3"
                        class="collapse">
                        <div itemprop="text" class="card-body">
                            <p>The cost of a tailored Baidu SEO campaign will depend on a range of factors, including a company's objectives, target market, industry and budget. But implementing a successful Baidu SEO strategy has the power to skyrocket your company’s success to unimaginable heights. With the Chinese e-commerce marketplace reaching USD $2 trillion annually, attracting and converting this valuable audience is incredibly profitable.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
                    <div class="card-header collapsed" data-toggle="collapse" href="#collapse2">
                        <h3 itemprop="name" class="h3-accordion-title-fpau">What Are The Benefits of Baidu SEO? </h3>
                    </div>
                    <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" id="collapse2"
                        class="collapse">
                        <div itemprop="text" class="card-body">
                            <p>As Baidu captures 80% of the Chinese search engine market, undertaking a strategy that boosts your SERP ranking attracts massive organic traffic and conversions from the region. But understanding this enormous marketplace is an incredibly complex process that requires expert help. As a leading Baidu SEO agency, <a href="/">First Page Australia</a> can plan and execute comprehensive campaigns featuring keyword research, localised content and link building techniques.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-6">
                <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
                    <div class="card-header collapsed" data-toggle="collapse" href="#collapse4">
                        <h3 itemprop="name" class="h3-accordion-title-fpau">How Do I Choose A Baidu SEO Agency?</h3>
                    </div>
                    <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" id="collapse4"
                        class="collapse">
                        <div itemprop="text" class="card-body">
                            <p>Choosing an agency to lead your Baidu SEO campaign isn’t a decision you should take lightly. With the Chinese e-commerce market having the ability to make or break your company’s ongoing success, <a href="/contact-us/">having an experienced team</a> guide your strategy is a smart choice. First Page Australia has led incredibly effective Baidu SEO strategies for many of Australia’s leading e-commerce brands, helping them expand into China and carve out a piece of the market for themselves.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>

{% endblock %}