{% extends "en-base.twig" %} 
{% block content %}

<section class="banner form-space">
    <div class="container banner-hero two-lines">
        <div class="banner-hero-cont">
            <h1 class="form-hide text-center text-md-left">Claim your 100% free <br class="d-none d-md-block">REVENUE GROWTH strategy session valued at $2000</h1>
            <img src="{{ site.theme.link }}/assets/img/img_banner_sam_sm_full.png" srcset="{{ site.theme.link }}/assets/img/img_banner_sam_sm_full.png, {{ site.theme.link }}/assets/img/img_banner_sam_sm_full@2x.png 2x" alt="First Page" class="d-block m-auto d-md-none"/>

            <div class="banner-description">
                {# <p class="form-hide">We outline bulletproof tactics that dramatically increase website traffic and revenue, even during tough economic times.</p> #}
                <div class="form-hide hero-mobile">
                    {# <img src="{{ site.theme.link }}/assets/img/img_hero_sam_sm.png" srcset="{{ site.theme.link }}/assets/img/img_hero_sam_sm.png, {{ site.theme.link }}/assets/img/img_hero_sam_sm@2x.png 2x" alt="First Page" /> #}
                </div>
            </div>
            {% include "partials/en-form-services-revenue-growth-offer.twig" with {'form_page': 'Revenue Growth Offer', 'form_button': 'Get A Free Revenue Growth Strategy'} %}
            {% include "partials/en-section-awards-badges.twig" %}
        </div>
        <div class="hero-img d-none d-md-block d-lg-none">
                <img src="{{ site.theme.link }}/assets/img/img_hero_sam_md.png" srcset="{{ site.theme.link }}/assets/img/img_hero_sam_md.png, {{ site.theme.link }}/assets/img/img_hero_sam_md@2x.png 2x" alt="First Page" />
        </div>
        <div class="hero-img d-none d-lg-block">
                <img src="{{ site.theme.link }}/assets/img/img_hero_sam_lg.png" srcset="{{ site.theme.link }}/assets/img/img_hero_sam_lg.png, {{ site.theme.link }}/assets/img/img_hero_sam_lg@2x.png 2x" alt="First Page" />
        </div>
    </div>
</section>

{% include "partials/en-section-experience.twig" %}

<section class="section-paragraph">
      <h2 class="d-none d-md-block d-lg-none px-2">
        Triple the size of your business by teaming up with an award-winning SEO company
      </h2>
  <div
    class="row no-gutters flex-column-reverse flex-md-row flex-md-row-reverse"
  >
    <div class="col-12 col-md-6 image-container-right">
      <img
        src="{{ site.theme.link }}/assets/img/img_profit.svg"
        class="img-fluid d-none d-md-inline-block px-4"
        alt="First Page"
      />
      <img
        src="{{ site.theme.link }}/assets/img/img_profit_mob.svg"
        class="img-fluid d-md-none"
        alt="First Page"
      />
    </div>
    <div class="col-12 col-md-6 text-container text-container-seo-new">
      <h2 class="d-block d-md-none d-lg-block">
        Triple the size of your business by teaming up with an award-winning SEO company
      </h2>
      <p class="text-center text-md-left">
        At First Page, we believe your business is a unique achievement. What
        you do deserves to be seen by the world - and that means absolutely
        dominating Google for your industry.
      </p>
      <p class="text-center text-md-left">
        In today’s digital economy, you MUST build an attention-grabbing online
        presence that sets you apart from your competition... First Page is all
        about delivering the visibility you deserve! We’re the game-changing SEO
        agency that specialises in driving an obscene amount of traffic to your
        website.
      </p>
      <button
        type="button"
        data-title="seopage-get-freeproposal-Triple"
        class="btn fp-btn fp-btn-orange show-popup-form buttonFormClick"
      >
        GET A FREE QUOTE
      </button>
    </div>
  </div>
</section>

<section class="section-paragraph">
  <div class="row no-gutters flex-column-reverse flex-md-row">
    <h2 class="d-none d-md-block d-lg-none ml-3">
      Why risk your business and livelihood by outsourcing your SEO to an agency
      that outsources to a developing country.
    </h2>
    <div class="col-12 col-md-6 image-container-left pr-lg-5">
      <img
        src="{{ site.theme.link }}/assets/img/img_office_chat_lg.png"
        srcset="{{ site.theme.link }}/assets/img/img_office_chat_lg.png, {{ site.theme.link }}/assets/img/img_office_chat_lg@2x.png 2x"
        class="img-fluid d-none d-md-inline-block"
        alt="First Page"
      />
      <img
        src="{{ site.theme.link }}/assets/img/img_seo_we_dont_outsource_mob.png"
        srcset="{{ site.theme.link }}/assets/img/img_seo_we_dont_outsource_mob.png, {{ site.theme.link }}/assets/img/img_seo_we_dont_outsource_mob@2x.png 2x"
        class="img-fluid d-md-none"
        alt="First Page"
      />
    </div>
    <div class="col-12 col-md-6 text-container">
      <h2 class="d-block d-md-none d-lg-block">
        Why risk your business and livelihood by outsourcing your SEO to an
        agency that outsources to a developing country.
      </h2>
      <p class="text-center text-md-left">
        99% of the seo companies in Australia compromise on quality by
        outsourcing to third world countries. We just don’t get it. We should be
        called the SEO agency clean-up crew, because time and time again, we are
        cleaning up the mess when a third party has outsourced overseas. The
        whole process ends up costing the business more money and time to
        reverse the problem. Plus think of the opportunity cost!
      </p>
      <p class="text-center text-md-left">
        We take pride in keeping everything in-house and we would never
        jeopardise your business by cutting corners. So why risk your business,
        your income, your livelihood with an seo agency who cuts corners.
      </p>
      <button
        type="button"
        data-title="seopage-get-freeproposal-Why"
        class="btn fp-btn fp-btn-orange show-popup-form buttonFormClick"
      >
        GET A FREE QUOTE
      </button>
    </div>
  </div>
</section>


{% include "partials/en-section-revenue-growth-offer-client-reviews.twig" %}

{% include "partials/en-section-new-case-study.twig" %}


{% include "partials/en-section-services-seo-carousel.twig" %}

<section class="section-paragraph">
  <div
    class="row no-gutters flex-column-reverse flex-md-row flex-md-row-reverse"
  >
    <h2 class="d-none d-md-block d-lg-none ml-3">
      Get more leads and sales than your business can handle with insanely good
      SEO.
    </h2>
    <div class="col-12 col-md-6 image-container-right pl-lg-5">
      <img
        src="{{ site.theme.link }}/assets/img/img_seo_traffic.png"
        srcset="{{ site.theme.link }}/assets/img/img_seo_traffic.png, {{ site.theme.link }}/assets/img/img_seo_traffic@2x.png 2x"
        class="img-fluid d-none d-md-inline-block"
        alt="First Page"
      />
      <img
        src="{{ site.theme.link }}/assets/img/img_seo_traffic_mob.png"
        srcset="{{ site.theme.link }}/assets/img/img_seo_traffic_mob.png, {{ site.theme.link }}/assets/img/img_seo_traffic_mob@2x.png 2x"
        class="img-fluid d-md-none"
        alt="First Page"
      />
    </div>
    <div class="col-12 col-md-6 text-container text-container-seo-new">
      <h2 class="d-block d-md-none d-lg-block">
        Get more leads and sales than your business can handle with insanely
        good SEO.
      </h2>
      <div class="pt-2 d-block d-sm-none"></div>
      <p class="text-center text-md-left">
        The details are in the data and that’s why we are obsessed with data
        when making decisions that directly impact your SEO strategy and your
        business. Just a slight tweak to your SEO strategy can dramatically
        impact the way of your website ranks and displays in the search results.
      </p>
      <p class="text-center text-md-left">
        This is pretty crazy, but we have the ability to predict Google
        algorithm updates due to custom built, in-house proprietary tech -
        SENTR<span style="font-size: 22px">&trade;</span>. What does this mean
        for you? Imagine the possibilities if you could predict the future. With
        the huge amount of data SENTR<span style="font-size: 22px"
          >&trade;</span
        >
        processes, we have the ability to prepare and capitalise on future
        algorithmic updates. We’re always one step ahead, that’s why we provide
        the best SEO services in Australia.
      </p>
      <button
        type="button"
        data-title="seopage-get-freeproposal-Get"
        class="btn fp-btn fp-btn-orange show-popup-form buttonFormClick"
      >
        GET A FREE QUOTE
      </button>
    </div>
  </div>
</section>


{% include "partials/en-section-free-session.twig" %}

{% include "partials/en-form-popup.twig" with {'form_page': 'Revenue Growth Offer (Pop-up Form)'}
%} {% endblock %}
