{% extends "en-base.twig" %}

{% block content %}
<link rel="stylesheet" href="{{ site.theme.link }}/views/assets/style.css" />
<script src="{{ site.theme.link }}/views/assets/js/script.js"></script>
<!-- Banner -->
<section class="banner extra-pad extra-pad-shorter form-space">
    <div class="container banner-hero">
        <div class="banner-hero-cont">
            <h1 class="form-hide bold-lg">Utilise every advertising avenue with <strong>Bing ads</strong></h1>
            <div class="hero-img-mobile d-lg-none">
                <img src="{{ site.theme.link }}/views/assets/img/img_social_hero_mob.png" srcset="{{ site.theme.link }}/views/assets/img/img_social_hero_mob.png, {{ site.theme.link }}/views/assets/img/img_social_hero_mob@2x.png 2x" class="img-fluid" alt="First Page Digital" />
            </div>
            {% include "assets/partials/en-form-services.twig" with {'form_page': 'Bing Ads','form_button':'FREE BING<br>ADS QUOTE'} %}

            {% include "assets/partials/en-section-awards-badges.twig" %}
        </div>

        <div class="hero-img d-none d-lg-block">
            <img src="{{ site.theme.link }}/views/assets/img/img_social_hero.png" srcset="{{ site.theme.link }}/views/assets/img/img_social_hero.png, {{ site.theme.link }}/views/assets/img/img_social_hero@2x.png 2x" class="img-fluid" alt="First Page Digital" />
        </div>
    </div>
</section>

{% include "assets/partials/en-section-free-featured-in.twig" %}

<section class="section-paragraph section-white mob-center">
    <div class="container">
        <div class="row mb-3 mb-md-5 align-items-center flex-column-reverse flex-md-row flex-md-row-reverse">
            <div class="col-12 col-md-6 mt-3 mb-3 text-center">
                <img src="{{ site.theme.link }}/views/assets/img/img_bing_ads.png" srcset="{{ site.theme.link }}/views/assets/img/img_bing_ads.png, {{ site.theme.link }}/views/assets/img/img_bing_ads@2x.png 2x" class="img-fluid d-none d-md-inline-block" alt="" />
                <img src="{{ site.theme.link }}/views/assets/img/img_bing_ads_mob.png" srcset="{{ site.theme.link }}/views/assets/img/img_bing_ads_mob.png, {{ site.theme.link }}/views/assets/img/img_bing_ads_mob@2x.png 2x" class="img-fluid d-md-none" alt="" />
            </div>
            <div class="col-12 col-md-6 mb-3">
                <h2>Reach New Customers<br>And Grow Your Business</h2>
                <p>Although Google is the undisputed king when it comes to search engines, that doesn’t mean there aren’t many other valuable places to advertise. For instance, Bing also offers a huge audience consisting of 133 million people and 5 billion monthly searches. Make the most of every opportunity to reach your customers by designing and executing a productive campaign for Bing Ads. </p>
                <p>There are many advantages to developing a powerful pay-per-click (PPC) strategy away from the crowded Google SERP. With Bing offering savvy businesses less competition and lower cost-per-click compared to their competitors, don’t simply disregard the platform as an option. In fact, Bing continues to grow its market share every year, making it a great place to expand your customer base and generate sales.</p>
                <div class="button-cont"><button type="button" class="btn fp-btn fp-btn-orange show-popup-form">GET YOUR FREE BING ADS QUOTE</button></div>
            </div>
        </div>
        <div class="row mb-3 mb-md-5 align-items-center flex-column-reverse flex-md-row">
            <div class="col-12 col-md-6 mt-3 mb-3 text-center text-lg-left">
                <img src="{{ site.theme.link }}/views/assets/img/img_search_engines.png" srcset="{{ site.theme.link }}/views/assets/img/img_search_engines.png, {{ site.theme.link }}/views/assets/img/img_search_engines@2x.png 2x" class="img-fluid d-none d-md-inline-block" alt="" />
                <img src="{{ site.theme.link }}/views/assets/img/img_search_engines_mob.png" srcset="{{ site.theme.link }}/views/assets/img/img_search_engines_mob.png, {{ site.theme.link }}/views/assets/img/img_search_engines_mob@2x.png 2x" class="img-fluid d-md-none" alt="" />
            </div>
            <div class="col-12 col-md-6 mb-3">
                <h2>Enhance Your Business With Omnichannel Marketing</h2>
                <p>Many businesses stick with Google Ads just because they are familiar with developing a campaign on the platform. But with Bing Ads planned and executed in much the same way, you won’t have to waste time learning an entirely new process. This means if you have already led a productive campaign on Google, you can swiftly set up the same campaign on Bing and start producing outstanding results.</p>
              <p>Like Google, Bing Ads has a range of targeting options. Across age, gender, location, device and location, your business can look to attract and convert those who are bound to be most interested in your products and services. Meanwhile, the demographics of people using Bing skew older, which might provide a natural advantage depending on your target market.</p>
                <div class="button-cont"><button type="button" class="btn fp-btn fp-btn-orange show-popup-form">GET YOUR FREE BING ADS QUOTE</button></div>
            </div>
        </div>
        <div class="row mb-3 mb-md-5 align-items-center flex-column-reverse flex-md-row flex-md-row-reverse">
            <div class="col-12 col-md-6 mt-3 mb-3 text-center text-lg-right">
                <img src="{{ site.theme.link }}/views/assets/img/img_ppc.png" srcset="{{ site.theme.link }}/views/assets/img/img_ppc.png, {{ site.theme.link }}/views/assets/img/img_ppc@2x.png 2x" class="img-fluid d-none d-md-inline-block" alt="" />
                <img src="{{ site.theme.link }}/views/assets/img/img_ppc_mob.png" srcset="{{ site.theme.link }}/views/assets/img/img_ppc_mob.png, {{ site.theme.link }}/views/assets/img/img_ppc_mob@2x.png 2x" class="img-fluid d-md-none" alt="" />

            </div>
            <div class="col-12 col-md-6 mb-3">
                <h2>Capitalise On Every Advantage</h2>
                <p>Although the PPC marketing space is already so hotly contested, finding a way to gain even a slight advantage over your competition could result in a major difference in the long run. With Bing offering higher click-through rates and less competition for keywords, adopting a tailored Bing Ads campaign provides a streamlined route to success. Thankfully, <a href="https://firstpage.com.au/who-we-are/">our talented team can</a> ensure your business outperforms your rivals in every respect.</p>
                <p>Having a diverse range of digital marketing avenues at your disposal is never a bad thing. If your <a href="https://firstpage.com.au/google-ads/">Google Ads</a> campaign requires a rethink after dropping in performance, you can still fall back on your Bing Ads to keep delivering high-quality customers and conversions. With the online landscape only becoming more competitive with each passing day, First Page Australia can initiate an effective campaign without hesitation.</p>
                <div class="button-cont"><button type="button" class="btn fp-btn fp-btn-orange show-popup-form">GET YOUR FREE BING ADS QUOTE</button></div>
            </div>
        </div>
        <div class="row mb-3 mb-md-5 align-items-center flex-column-reverse flex-md-row">
            <div class="col-12 col-md-6 mt-3 mb-3 text-center text-lg-left">
                <img src="{{ site.theme.link }}/views/assets/img/img_trust_the_experts.svg" class="img-fluid d-none d-md-inline-block" alt="" />
                <img src="{{ site.theme.link }}/views/assets/img/img_trust_the_experts_mob.svg" class="img-fluid d-md-none" alt="" />
            </div>
            <div class="col-12 col-md-6 mb-3">
                <h2>Maximise Conversions With The Experts</h2>
                <p>With over 1,700 companies around the globe putting their faith in First Page to lead their digital marketing campaigns, we’re confident we can deliver a successful Bing Ads strategy for your business. As we get to know your products and conduct a thorough review of your ideal target market, we can implement a plan that attracts a precise customer base and encourages them to purchase.
</p>
                <p>Advertising on Bing isn’t just a side thought – the platform provides genuine advantages that could help your business outperform its competition. Backed by plenty of fine-tuned targeting options, greater transparency and reduced competition for keyword placements, Bing is a great stellar for growing your reach in the Australian e-commerce marketplace.</p>
                <div class="button-cont"><button type="button" class="btn fp-btn fp-btn-orange show-popup-form">GET YOUR FREE BING ADS QUOTE</button></div>
            </div>
        </div>
    </div>
</section>

{% include "assets/partials/en-section-free-session.twig" %}

{% include "assets/partials/en-form-popup.twig" with {'form_page': 'Bing Ads (Popup)'} %}

{% endblock %}