{% extends "en-base.twig" %}

{% block content %}
<style>
.hero-img-mobile{
    margin-bottom:-25px;
}

section.banner .banner-hero .hero-img {
    right: -119px;
    bottom: -30px;
 }

@media(min-width:992px){
section.banner .banner-hero .hero-img {
    right: -147px;
    bottom: -98px;
}

section.banner .banner-hero .banner-hero-cont {
  
    max-width: 757px;
}


}
</style>

<!-- Banner -->
<section class="banner form-space">
    <div class="container banner-hero">
        <div class="banner-hero-cont">
            <h1 class="form-hide text-center text-md-left">Restore lost rankings with expert help</h1>
            <br class="d-none d-lg-block">
            <br class="d-none d-lg-block">
           
            <div class="hero-img-mobile d-md-none form-hide">
                <img src="{{ site.theme.link }}/assets/img/img_content_writing_hero_sm.png" srcset="{{ site.theme.link }}/assets/img/img_content_writing_hero_sm.png, {{ site.theme.link }}/assets/img/img_content_writing_hero_sm@2x.png 2x" class="img-fluid d-block mx-auto" alt="First Page" />
            </div>
            {% include "partials/en-form-services.twig" with {'form_page': 'Lost Keyword Ranking','form_button':'GET A FREE QUOTE'} %}

            {% include "partials/en-section-awards-badges.twig" %}
        </div>

        <div class="hero-img hero-img-md d-none d-md-block d-lg-none">
            <img src="{{ site.theme.link }}/assets/img/img_content_writing_hero_md.png" srcset="{{ site.theme.link }}/assets/img/img_content_writing_hero_md.png, {{ site.theme.link }}/assets/img/img_content_writing_hero_md@2x.png 2x" class="img-fluid" alt="First Page" />
        </div>
        <div class="hero-img d-none d-lg-block">
            <img src="{{ site.theme.link }}/assets/img/img_content_writing_hero_lg.png" srcset="{{ site.theme.link }}/assets/img/img_content_writing_hero_lg.png, {{ site.theme.link }}/assets/img/img_content_writing_hero_lg@2x.png 2x"  alt="First Page" />
        </div>
    </div>
</section>



{% include "partials/en-section-featured-in-news.twig" %}

{# row 1 #}
<section class="section-paragraph">
        <div class="row no-gutters flex-column-reverse flex-md-row flex-md-row-reverse align-items-center">
            <div class="col-12 col-md-6 image-container-right">
                <img src="{{ site.theme.link }}/assets/img/img-seo-traffic-xl.png" srcset="{{ site.theme.link }}/assets/img/img-seo-traffic-xl.png, {{ site.theme.link }}/assets/img/img-seo-traffic-xl@2x.png 2x" alt="First Page" class="img-fluid d-none d-md-inline-block "/>
                <img src="{{ site.theme.link }}/assets/img/img-seo-traffic-md.png" srcset="{{ site.theme.link }}/assets/img/img-seo-traffic-md.png, {{ site.theme.link }}/assets/img/img-seo-traffic-md@2x.png 2x" alt="First Page" class="img-fluid d-none d-sm-inline-block  d-md-none"/>
            </div>
            <div class="col-12 col-md-6 text-container">
                <h2>Take back lost<br>keyword rankings</h2>
                <img src="{{ site.theme.link }}/assets/img/img-seo-traffic-xl.png" srcset="{{ site.theme.link }}/assets/img/img-seo-traffic-xl.png, {{ site.theme.link }}/assets/img/img-seo-traffic-xl@2x.png 2x" alt="First Page" class="img-fluid d-block mx-auto  d-sm-none"/>

                <p>Noticed a sudden drop in your page rankings? This is a clear sign that your business has received a Google penalty. These problematic punishments can cause widespread issues for an online business, with customers no longer able to find your website within relevant search results. So why do companies receive these penalties? The most common explanation is when a business either deliberately or accidentally breaks Google’s search algorithm guidelines.</p>
                <p>Fortunately, all is not lost if you’ve seen your rankings plummet overnight. First Page Australia’s highly <a href="https://wordpress-529359-2026654.cloudwaysapps.com/contact-us/">experienced SEO team</a> can put your business back on the path to success as we assess your violation and produce an actionable recovery plan. By making sure your <a href="https://wordpress-529359-2026654.cloudwaysapps.com/seo/">SEO strategy</a> is safe and legitimate, we can restore your website traffic and avoid any long-term issues. </p>
                <button type="button" data-title="seopage-get-freeproposal-Play" class="btn fp-btn fp-btn-orange show-popup-form buttonFormClick">GET A FREE QUOTE</button>
            </div>
        </div>
</section>

{# row 2 #}
 <section class="section-paragraph">
        <div class="row no-gutters align-items-center">
            <div class="col-12 col-md-6 image-container-left">
            <img src="{{ site.theme.link }}/assets/img/woo-growth.png" srcset="{{ site.theme.link }}/assets/img/woo-growth.png, {{ site.theme.link }}/assets/img/woo-growth@2x.png 2x" class="img-fluid d-none d-md-inline-block" alt="First Page" />
            <img src="{{ site.theme.link }}/assets/img/woo-growth-mb.png" srcset="{{ site.theme.link }}/assets/img/woo-growth-mb.png, {{ site.theme.link }}/assets/img/woo-growth-mb@2x.png 2x" class="img-fluid d-none d-sm-inline-block d-md-none" alt="First Page" />

            </div>
            
            <div class="col-12 col-md-6 text-container">
                <h2>Return to success</h2>
                <img src="{{ site.theme.link }}/assets/img/woo-growth-mb.png" srcset="{{ site.theme.link }}/assets/img/woo-growth-mb.png, {{ site.theme.link }}/assets/img/woo-growth-mb@2x.png 2x" class="img-fluid d-block mx-auto d-sm-none" alt="First Page" />
                <p>If you choose to work alongside <a href="https://wordpress-529359-2026654.cloudwaysapps.com/">First Page Australia</a>, you’ll benefit from our talented team’s unmatched knowledge of Google’s algorithms. Whether you intended to carve out a forbidden shortcut to SEO success or not, Google’s complex system has become incredibly effective at detecting businesses that are gaining an unfair advantage. We can implement a variety of strategies to remove penalties, restore rankings and secure your ongoing search engine productivity.</p>
                <p>To do so, our experts will conduct an <a href="https://wordpress-529359-2026654.cloudwaysapps.com/seo-audit/">extensive assessment of your website</a> to determine why a penalty has been applied. Then, we’ll put into place a tailored recovery plan that will return your page rankings to where they belong. By removing any prohibited SEO practices, we can ensure Google sees your website as authentic and ready to be shown to customers.</p>
                <button type="button" data-title="seopage-get-freeproposal-Play" class="btn fp-btn fp-btn-orange show-popup-form buttonFormClick">GET A FREE QUOTE</button>

            </div>
        </div>
</section>

{# row 3 #}

<section class="section-paragraph">
        <div class="row no-gutters flex-column-reverse flex-md-row flex-md-row-reverse align-items-center">
            <div class="col-12 col-md-6 image-container-right">
                <img src="{{ site.theme.link }}/assets/img/table_data_magnify_lg.png" srcset="{{ site.theme.link }}/assets/img/table_data_magnify_lg.png, {{ site.theme.link }}/assets/img/table_data_magnify_lg@2x.png 2x" alt="First Page" class="img-fluid d-none d-md-inline-block "/>
                <img src="{{ site.theme.link }}/assets/img/table_data_magnify_sm.png" srcset="{{ site.theme.link }}/assets/img/table_data_magnify_sm.png, {{ site.theme.link }}/assets/img/table_data_magnify_sm@2x.png 2x" alt="First Page" class="img-fluid d-none d-sm-inline-block  d-md-none"/>
            </div>
            <div class="col-12 col-md-6 text-container">
                <h2>Avoid black hat tactics</h2>
                <img src="{{ site.theme.link }}/assets/img/table_data_magnify_sm.png" srcset="{{ site.theme.link }}/assets/img/table_data_magnify_sm.png, {{ site.theme.link }}/assets/img/table_data_magnify_sm@2x.png 2x" alt="First Page" class="img-fluid d-block mx-auto d-sm-none"/>

                <p>In the world of SEO, there are two main approaches to generate growth – white hat and black hat tactics. The former is focused on using legitimate optimisation techniques that create a productive user experience, while the latter breaks a search engine’s rules to achieve short-term goals. From keyword stuffing to spam and hidden links, using black hat methods will ultimately result in a painful Google penalty.</p>
                <p>At First Page Australia, we only use white hat techniques to deliver SEO success for our clients. Although some companies are tempted to lead an underhanded strategy, this can only damage your business in the long run. Instead, our highly respected team will produce exceptional, keyword-rich content that builds customer loyalty and respect. This way, your business will not only climb the page rankings, but also establish a solid foundation for years to come.</p>
                <button type="button" data-title="seopage-get-freeproposal-Play" class="btn fp-btn fp-btn-orange show-popup-form buttonFormClick">GET A FREE QUOTE</button>
            </div>
        </div>
</section>

{# row 4 #}
 <section class="section-paragraph">
        <div class="row no-gutters align-items-center">
            <div class="col-12 col-md-6 image-container-left">
            <img src="{{ site.theme.link }}/assets/img/img_seo_ecomm.png" srcset="{{ site.theme.link }}/assets/img/img_seo_ecomm.png, {{ site.theme.link }}/assets/img/img_seo_ecomm@2x.png 2x" class="img-fluid d-none d-md-inline-block" alt="First Page" />
            <img src="{{ site.theme.link }}/assets/img/img_seo_ecomm_mob.png" srcset="{{ site.theme.link }}/assets/img/img_seo_ecomm_mob.png, {{ site.theme.link }}/assets/img/img_seo_ecomm_mob@2x.png 2x" class="img-fluid d-none d-sm-inline-block d-md-none" alt="First Page" />
            </div>
            
            <div class="col-12 col-md-6 text-container">
                <h2>Secure your rankings</h2>
                <img src="{{ site.theme.link }}/assets/img/img_seo_ecomm_mob.png" srcset="{{ site.theme.link }}/assets/img/img_seo_ecomm_mob.png, {{ site.theme.link }}/assets/img/img_seo_ecomm_mob@2x.png 2x" class="img-fluid d-block mx-auto d-sm-none" alt="First Page" />
                <p>If your website traffic is dwindling and there’s no explanation, take action and determine whether you’ve been hit with a Google penalty. Our renowned marketers know what it takes to quickly identify these violations and create a solution that retains your page rankings. Don’t let an uninformed mistake cause your company to lose its customers and reputation.</p>
                <p>To swiftly ascertain whether your business has been struck with an SEO infringement, First Page Australia offers a complimentary Google penalty assessment. Make the most of this limited offer and discover if there’s an explanation for your falling traffic. Once an offence has been confirmed, our expert team will unravel your ranking issues and ensure you continue to capture the attention of your target market.</p>
                <button type="button" data-title="seopage-get-freeproposal-Play" class="btn fp-btn fp-btn-orange show-popup-form buttonFormClick">GET A FREE QUOTE</button>

            </div>
        </div>
</section>


<section class="section-paragraph section-bottomquote pb-0 section-google-explained">
    <div class="container">

        <h3 class="text-center">Google penalties explained</h3>
        <div class="row">
            <div class="col-12 col-sm-6">
                <p class="wide mb-3 text-left">With reaching the first page of Google so desirable for every kind of business, many attempt to take SEO shortcuts in an effort to get there faster.</p>
                <p class="wide mb-3 text-left">Whether this involves over-optimisation or a range of so-called ‘black hat’ tactics, Google’s algorithms are far too clever for this type of approach. In fact, to address these attempts to cheat, Google has implemented a penalty system that can see a website’s rankings crash overnight.</p>
            </div>
            <div class="col-12 col-sm-6">
                <p class="wide mb-3 text-left">Although these Google penalties can be hugely detrimental to a company’s longevity, it is possible to recover lost page rankings. </p>
                <p class="wide mb-3 text-left">With the help of an expert team like First Page Australia, we can ensure your business gets back to where it belongs on the SERP. </p>
                <p class="wide mb-3 text-left">Here, we take a look at the types of penalties that Google can hand down.</p>

            </div>
        </div>
        <div class="row mt-4 mt-md-5">
            <div class="col-12 col-md-6 mb-4">
                <div class="box-content box-blue">
                    <div class="d-flex align-items-center mb-4">
                        <img src="{{ site.theme.link }}/assets/img/icon_penguin.svg" alt="">
                        <h4 class="mb-0 ml-2">Penguin</h4>
                    </div>
                    <p>Building a solid backlink profile is a critical element of <a href="https://wordpress-529359-2026654.cloudwaysapps.com/seo/">high-quality SEO</a>. This involves having other websites link back to your own website and its content – a process that Google sees as a kind of verification of your authority. However, some people try to boost their website’s rankings by using unnatural links to deceive the algorithms into thinking certain content is more valuable than it truly is.</p>
                    <p>This is why Google created the Penguin penalty – it searches for websites that have been created only to place illegitimate links. With harsh penalties being levied against people running these websites, it takes a lot of work to fix this situation. Fortunately, we have the tools at our disposal to make it happen if a Penguin penalty has been applied to your business.</p>
                </div>
            </div>
            <div class="col-12 col-md-6 mb-4">
                <div class="box-content box-blue">
                    <div class="d-flex align-items-center mb-4">
                        <img src="{{ site.theme.link }}/assets/img/icon_possum.svg" alt="">
                        <h4 class="mb-0 ml-2">Possum</h4>
                    </div>
                    <p>The goal behind the development of Possum was to significantly improve local search results. Not only did Google want these types of results to be more diversified, but they also wanted to avoid spam achieving a high rank. This update to the algorithm helped Google reward legitimate businesses that were sought after by customers in their immediate area.</p>
                    <p>However, this seismic shift in the way that Google handled local search results meant that some companies were caught in the crossfire. In fact, research found that up to 64% of local results were impacted by this update. If your business operating in a local context fails to appear in relevant search results, you may have been negatively impacted by Possum.</p>
                </div>
            </div>
            <div class="col-12 col-md-6 mb-4">
                <div class="box-content box-blue">
                    <div class="d-flex align-items-center mb-4">
                        <img src="{{ site.theme.link }}/assets/img/icon_panda.svg" alt="">
                        <h4 class="mb-0 ml-2">Panda</h4>
                    </div>
                    <p>Google introduced Panda to give preference to content that it deems as high-quality, while simultaneously reducing the number of poor websites that appear in their search results. With Panda having the potential to dramatically reduce rankings, it’s important to understand what counts as low-quality content.</p>
                    <p>Perhaps the main contributor to a Panda penalty is so-called thin content. This is where a web page has very short and basic information with almost the sole intention of ranking for certain keywords. Meanwhile, Panda might also be applied to websites that lack authority and are based around content farming or rudimentary user-generated content.</p>
                </div>
            </div>
            <div class="col-12 col-md-6 mb-4">
                <div class="box-content box-blue">
                    <div class="d-flex align-items-center mb-4">
                        <img src="{{ site.theme.link }}/assets/img/icon_hummingbird.svg" alt="">
                        <h4 class="mb-0 ml-2">Hummingbird</h4>
                    </div>
                    <p>The Hummingbird evolution of Google’s algorithm was one of the biggest changes to the search engine that we’ve seen. The update almost fully overhauled how Google interprets a user’s query, with Hummingbird having a much more nuanced understanding of language and conversational tones.</p>
                    <p>Many digital marketers believe this change was implemented due to the rise in voice search. With the way we type compared to our speech featuring a myriad of subtle differences, Hummingbird has helped to resolve many of these issues. If you suspect that this major update to Google’s algorithm has impacted your rankings, our expert team can investigate and find the culprit.</p>
                </div>
            </div>
        </div>
    </div>
</section>

{% include "partials/en-section-free-session.twig" %}

<section class="section-paragraph section-faqs pb-5">
        <div class="container">
            <h2 class="section-title">Google Penalty FAQ's</h2>
            <div itemscope itemtype="https://schema.org/FAQPage" class="row">
                <div class="col-12 col-lg-6">
                    <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
                        <div class="card-header collapsed" data-toggle="collapse" href="#collapse1">
                            <!-- q1 -->
                            <h3 itemprop="name">WHAT IS A GOOGLE PENALTY?</h3>
                        </div>
                        <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" id="collapse1"
                             class="collapse">
                            <div itemprop="text" class="card-body">
                                <p>Landing a website on the first page of Google is the ultimate goal for many businesses. Unfortunately, this has seen many companies tempted into using 'black hat' digital marketing techniques to artificially improve their SERP rankings. However, Google has become incredible at detecting these methods. If a business gets caught, it will be stung by a Google penalty – a major issue that can have a hugely negative impact on rankings.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
                        <div class="card-header collapsed" data-toggle="collapse" href="#collapse2">
                            <!-- q2 -->
                            <h3 itemprop="name">HOW DO YOU KNOW IF YOU’VE RECEIVED A GOOGLE PENALTY?</h3>
                        </div>
                        <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" id="collapse2"
                             class="collapse">
                            <div itemprop="text" class="card-body">
                                <p>There are two quick ways to figure out whether your website has been labelled with a Google penalty. The first thing to check is your Google Search Console. Here, you can see if there has been an Algorithmic Penalty or a Manual Penalty applied. Both are bad news for rankings, but Algorithmic Penalties make it even harder to solve the problem. Alternatively, review your Google Analytics to see if your website is still attracting organic traffic.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
                        <div class="card-header collapsed" data-toggle="collapse" href="#collapse3">
                            <!-- q3 -->
                            <h3 itemprop="name">WHY HAS MY KEYWORD RANKING SUDDENLY DROPPED?</h3>
                        </div>
                        <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" id="collapse3"
                             class="collapse">
                            <div itemprop="text" class="card-body">
                                <p>While heavily-reduced traffic might be explained by a Google algorithm update or the loss of productive backlinks, a sudden and unexplained drop in keyword rankings is often the result of a Google penalty. If this is the case, your business is definitely under threat. However, <a href="{{home_url}}">First Page Australia’s Google</a> penalty recovery service can quickly and effectively resolve your issue.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
                        <div class="card-header collapsed" data-toggle="collapse" href="#collapse4">
                            <!-- q4 -->
                            <h3 itemprop="name">HOW CAN I RECOVER LOST KEYWORD RANKINGS?</h3>
                        </div>
                        <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" id="collapse4"
                             class="collapse">
                            <div itemprop="text" class="card-body">
                                <p>Losing your vital keyword rankings overnight is undoubtedly a scary time. But it’s possible to get your business back to its rightful position on the SERP with the help of First Page Australia’s expert team. We will analyse your website to find the source of your lost keyword rankings and take surefire steps that overcome these alarming Google penalties.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% include "assets/partials/en-form-popup.twig" with {'form_page': 'Lost Keyword Rankings (Popup)'} %}

{% endblock %}