{% extends "en-base.twig" %}

{% block content %}

	<section class="banner form-space google-ads-banner">
		<div class="container banner-hero">
			<div class="banner-hero-cont">
				<h1 class="form-hide">Generate high quality
					<br class="d-none d-lg-block">leads & sales in just
					<br class="d-none d-lg-block">24 hours!</h1>
				<div class="banner-description">
					<p class="form-hide">20X your ROAS with a carefully crafted Google Ads strategy.</p>
					<div class="form-hide hero-mobile ">
						<img src="{{ site.theme.link }}/assets/img/nick-hero-mb.png" srcset="{{ site.theme.link }}/assets/img/nick-hero-mb.png, {{ site.theme.link }}/assets/img/nick-banner-mb@2x.png 2x" alt="First Page"/>
					</div>
				</div>
				{% include "partials/en-form-services.twig" with {'form_page': 'Google Ads', 'form_button': 'Get A Free Quote'} %}
				{% include "partials/en-section-awards-badges.twig" %}
			</div>
			<div class="hero-img d-none d-md-block d-lg-none">
				<img src="{{ site.theme.link }}/assets/img/nick-banner-hero.png" srcset="{{ site.theme.link }}/assets/img/nick-banner-hero.png, {{ site.theme.link }}/assets/img/nick-banner-hero@2x.png 2x" alt="First Page"/>
			</div>
			<div class="hero-img d-none d-lg-block">
				<img src="{{ site.theme.link }}/assets/img/nick-hero-google-ads.png" srcset="{{ site.theme.link }}/assets/img/nick-hero-google-ads.png, {{ site.theme.link }}/assets/img/nick-hero-google-ads@2x.png 2x" alt="First Page"/>
			</div>
		</div>
	</section>

	{% include "partials/en-section-enterprise-client-logos.twig" %}

	<section class="section-paragraph">
		<div class="row no-gutters align-items-center flex-column-reverse flex-lg-row flex-lg-row-reverse">
			<div class="col-12 col-lg-6 image-container-right">
				<img src="{{ site.theme.link }}/assets/img/img_google_search_ads.png" srcset="{{ site.theme.link }}/assets/img/img_google_search_ads.png, {{ site.theme.link }}/assets/img/img_google_search_ads@2x.png 2x" class="img-fluid d-none d-md-inline-block" alt="First Page"/>
				<img src="{{ site.theme.link }}/assets/img/img_google_search_ads_mob.png" srcset="{{ site.theme.link }}/assets/img/img_google_search_ads_mob.png, {{ site.theme.link }}/assets/img/img_google_search_ads_mob@2x.png 2x" class="img-fluid d-md-none" alt="First Page"/>
			</div>
			<div class="col-12 col-lg-6 text-container">
				<h2>You want a massive influx of sales starting today? Google Ads are the best way to go…
				</h2>
				<p>Have you ever heard someone say something along the lines of…</p>
				<p>“We tried Google Ads, it didn’t work for us”</p>
				<p>Well, the harsh truth is if someone says this, it means they did their Google Ads the wrong way.
				</p>
				<p>Google Ads are one of the most effective ways of generating high-quality leads and chart-breaking
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																														                    sales - all of which can be on autopilot.
				</p>
				<p>No matter if you are a new business looking for your first clients, or an established Enterprise
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																														                    looking to turn into an international-sales-machine - Google Ads is the best option.</p>
				<p>Still don’t believe us? Here’s some jaw-dropping statistics about the sheer power that Google Ads
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																														                    have…</p>
				<ul>
					<li>Your users are 50% more likely to make a purchase after they click on one of your ads</li>
					<li>Online ads can increase your brand awareness by 80%</li>
					<li>65% of all SME’s are running a PPC campaign</li>
					<li>35% of your users will purchase your product or service within 5 days of searching for it on
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																				                        Google
					</li>
				</ul>
				<p>But while Google Ads are effective, they are only effective when executed the right way.
				</p>
				<button type="button" data-title="googleAdsPage-get-freeproposal-you" class="btn fp-btn fp-btn-orange show-popup-form buttonFormClick">GET A FREE QUOTE</button>
			</div>
		</div>
	</section>

	<section class="section-paragraph">
		<div class="row no-gutters align-items-center flex-column-reverse flex-lg-row">
			<div class="col-12 col-lg-6 image-container-left">
				<img src="{{ site.theme.link }}/assets/img/img_google_clicks.png" srcset="{{ site.theme.link }}/assets/img/img_google_clicks.png, {{ site.theme.link }}/assets/img/img_google_clicks@2x.png 2x" class="img-fluid d-none d-md-inline-block" alt="First Page"/>
				<img src="{{ site.theme.link }}/assets/img/img_google_clicks_mob.png" srcset="{{ site.theme.link }}/assets/img/img_google_clicks_mob.png, {{ site.theme.link }}/assets/img/img_google_clicks_mob@2x.png 2x" class="img-fluid d-md-none" alt="First Page"/>
			</div>
			<div class="col-12 col-lg-6 text-container">
				<h2>Turn a $1 investment into a $10 return with a data-driven Google Ads strategy. We know how!</h2>
				<p>The truth is that most agencies have little to no idea how to execute an efficient Google Ads
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																														                    strategy.
				</p>
				<p>But here at First Page, we have spent the last decade helping thousands of companies scale their ads,
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																														                    grow their business, and explode their sales.</p>
				<p>Our experience is unmatched, and is why we can deliver you a mind-bending ROAS (Return On Ad
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																														                    Spend).
				</p>
				<p>In fact, we have so much experience that we don’t look at Google Ads as an ad platform; we look at it
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																														                    as a money-printing machine that will catapult your business to the next stratosphere.
				</p>
				<p>If you are ready to take your business to the next level with Google Ads that actually convert -
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																														                    click the button below to set up a call with one of our Digital Strategists.
				</p>
				<button type="button" data-title="googleAdsPage-get-freeproposal-turn" class="btn fp-btn fp-btn-orange show-popup-form buttonFormClick">GET A FREE QUOTE</button>
			</div>
		</div>
	</section>

	<section class="section-client-reviews">
		<div class="container">
			<div class="section-title">
				<h2>See what our clients<br class="d-sm-none">
					are saying</h2>
			</div>
			<div class="row testimonial-cont">
				<div class="col-12 col-md-4">
					<div class="testimonial">
						<div class="stars">
							<img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
							<img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
							<img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
							<img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
							<img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
						</div>
						<div class="text">
							Michelle has applied her analytical abilities in managing our Google ad-words account to
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																										                            great benefit. Her insights and research have been invaluable in shaping our advertising
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																										                            strategy. We offer this endorsement of her skills without reservation.
						</div>
						<div class="person">
							<div class="name">BOB GREEN</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-4">
					<div class="testimonial">
						<div class="stars">
							<img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
							<img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
							<img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
							<img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
							<img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
						</div>
						<div class="text">
							Our Digital Marketing Specialist, Heather, has proved to be very professional in setting up
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																										                            and running my ads on Facebook and Google. I received a lot of input even before signing an
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																										                            agreement. I am happy to be working with the team at First Page!
						</div>
						<div class="person">
							<div class="name">ANDREW WONG</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-4">
					<div class="testimonial">
						<div class="stars">
							<img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
							<img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
							<img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
							<img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
							<img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
						</div>
						<div class="text">
							First Page is a transparent and results-oriented SEO agency. They've helped us move up the
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																										                            Google search ladder over the last few months very effectively. Great company and highly
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																										                            recommended!
						</div>
						<div class="person">
							<div class="name">AARON LEE</div>
						</div>
					</div>
				</div>

				<div class="col-12 col-md-4">
					<div class="testimonial">
						<div class="stars">
							<img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
							<img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
							<img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
							<img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
							<img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
						</div>
						<div class="text">
							I received a lot of help from First Page - especially with Facebook ads. Lars helped me to
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																										                            focus on the right things and not put everything in the same basket. Thank you Lars for your
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																										                            availability and professionalism.
						</div>
						<div class="person">
							<div class="name">Genevieve Rouleau</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-4">
					<div class="testimonial">
						<div class="stars">
							<img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
							<img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
							<img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
							<img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
							<img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
						</div>
						<div class="text">
							It has been a pleasure working with First Page. They are professional and truly passionate
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																										                            about what they do. We have been very happy with the service they provide.
						</div>
						<div class="person">
							<div class="name">Beverly Law</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-4">
					<div class="testimonial">
						<div class="stars">
							<img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
							<img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
							<img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
							<img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
							<img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
						</div>
						<div class="text">
							My firm engaged First Page for Google Adwords and SEO and we're over the moon with the
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																										                            results! We've seen a substantial increase in inbound leads and as a result we've hired two
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																										                            more team members to handle the demand. Very happy to recommend First Page to
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																										                            other businesses.
						</div>
						<div class="person">
							<div class="name">Susan Wu</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	{% include "partials/en-section-services-google-ads.twig" %}

	<section class="section-casestudy casestudy-google-ads">
		<div class="container">
			<div class="content-area">
				<div class="info">
					<h2>
						<span class="small-grey">Our Recent Work</span>
						<strong>Hertz</strong>
					</h2>
					{# <ul class="tag">
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																														                <li>SEO</li>
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																														            </ul> #}
					<p>In the extremely competitive car rental industry, data driven search campaigns maximise
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																				                        conversions and minimise wastage.</p>
				</div>

				<div class="stats">
					<div class="stats-container">
						<div class="row">
							<div class="col-12 col-md-6">
								<div class="stat">15x</div>
								<div class="desc">ROI in 3 months</div>
							</div>
							<div class="col-12 col-md-6 ">
								<div class="stat">105<sub>%</sub>
								</div>
								<div class="desc">increase in online conversions</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	{% include "partials/en-section-free-session.twig" %}

	<section class="section-paragraph section-faqs">
		<div class="container">
			<h2 class="section-title">An overview of Google Ads.</h2>
			<div itemscope itemtype="https://schema.org/FAQPage" class="row">
				<div class="col-12 col-lg-6">
					<div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
						<div class="card-header collapsed" data-toggle="collapse" href="#collapse1">
							<h3 itemprop="name" class="h3-accordion-title-fpau">What are Google ads?</h3>
						</div>
						<div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" id="collapse1" class="collapse">
							<div itemprop="text" class="card-body">
								<p>Google Ads is the world’s largest paid ads platform, helping businesses at every scale reach their customers and increase sales. By ensuring your website appears at the top of the SERP, you can quickly attract your ideal target market. But putting together a powerful campaign that achieves your company’s goals requires careful consideration if you want to maximise your budget. With the help of First Page’s expert team, your brand’s Google Ads campaign will benefit from a stellar cost per click.
								</p>
								<p>To make sure your advertising strategy surpasses your expectations, it must be carefully tailored to your precise needs. This means developing an in-depth understanding of the Google Ads auction system, where businesses can bid for placements on specific keywords. By increasing the Quality Score of your ad campaign through detailed keyword research and landing page optimisations, your search ads can reach a refined target market that genuinely cares about your products and services.</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-lg-6">
					<div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
						<div class="card-header collapsed" data-toggle="collapse" href="#collapse2">
							<h3 itemprop="name" class="h3-accordion-title-fpau">How do i manage my google ads campaign?</h3>
						</div>
						<div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" id="collapse2" class="collapse">
							<div itemprop="text" class="card-body">
								<p>Setting up your Google Ads campaign is a quick and easy process. But you must implement techniques to carefully manage your campaign if you want your budget to achieve its maximum potential. This means regularly checking on the essential metrics of your Google Ads campaign, including impressions, clicks, costs and click-through rate. If these aren’t living up to your expectations, it might be time to rethink your ad targeting to see if your performance can be improved. However, there are numerous other ways to manage your Google Ads campaign.
								</p>
								<p>For instance, you might be attracting customers to your website, but failing to generate enough conversions. This might mean you have to optimise your landing pages to better achieve your goals. Consider implementing compelling copy and creative to align closer with your objectives and appeal more to your target market. Meanwhile, you should always conduct extensive A/B testing of your ads, plus add negative keywords, to ensure you’re only reaching the most relevant search traffic.</p>

							</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-lg-6">
					<div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
						<div class="card-header collapsed" data-toggle="collapse" href="#collapse3">
							<h3 itemprop="name" class="h3-accordion-title-fpau">What are the types of Google Ads?</h3>
						</div>
						<div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" id="collapse3" class="collapse">
							<div itemprop="text" class="card-body">
								<p>There are several types of Google Ads that might impact the overall success of your campaign. By understanding your goals and how best to reach your target market, you can choose the ideal ad type to match your needs:
								</p>
								<ul>
									<li>Search ads</li>
									<ul>
										<li>Google search ads appear on the search engine results page (SERP) above and below the results. These are typically best for reaching customers interested in buying products today, meaning you can level up your conversions with top-notch copywriting and a great offer.</li>
									</ul>
									<li>Display ads</li>
									<ul>
										<li>Google display ads can be seen across millions of partner websites and applications available on the Google Display Network. As this type of campaign allows businesses to add images, you can capture attention from consumers and boost brand awareness.
										</li>
									</ul>
									<li>Video ads</li>
									<ul>
										<li>As Google is the proud owner of YouTube – the second-most visited website on the internet – you can produce targeted video ads that allow you to reach a highly engaged audience. With several different subcategories of video ads appearing before, during and after content, your business can showcase what’s special about its products and services.</li>
									</ul>
									<li>Google Shopping Ads</li>
									<ul>
										<li>While Google Shopping isn’t an e-commerce platform like eBay or Amazon, it provides consumers with a great way to find online retailers selling products they want. With targeted Google Shopping ads, you can drive customers to your store with a great offer that compels them to take action.</li>
									</ul>
									<li>Retargeting ads</li>
									<ul>
										<li>By adding a Google remarketing tag to your website, businesses can track previous visitors as they move around the internet. As these people have already viewed your products, but decided not to purchase, remarketing ads ensures you re-engage those who have a higher chance of buying. With a carefully placed reminder, gaining a conversion is far more likely.</li>
									</ul>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-lg-6">
					<div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
						<div class="card-header collapsed" data-toggle="collapse" href="#collapse4">
							<h3 itemprop="name" class="h3-accordion-title-fpau">How much do Google Ads cost?</h3>
						</div>
						<div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" id="collapse4" class="collapse">
							<div itemprop="text" class="card-body">
								<p>Every campaign has to be carefully tailored to a client’s needs, which means the final cost of a Google Ads campaign can be dramatically different from one business to the next. For example, the level of competition to advertise on specific keywords can make reaching your target market more costly than other niches. The expert team at First Page can provide your business with a detailed projection that ensures you understand the costs involved. We’ll help your business determine the ideal budget and implement strategies that deliver a reduced cost per click.
								</p>
								<p>We can also maximise the performance of your bid strategy with auction time-bidding – a specialised Google Ads feature that ensures your campaign takes action on contextual signals. This means you benefit from an enhanced ROI and far greater efficiency. Meanwhile, we'll forecast with the ads planner to identify upcoming opportunities and achieve the optimal spend for your brand. As we monitor underperforming keywords and adapt our approach, our continual optimisation techniques ensure your business benefits from a hugely profitable campaign.</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-lg-6">
					<div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
						<div class="card-header collapsed" data-toggle="collapse" href="#collapse5">
							<h3 itemprop="name" class="h3-accordion-title-fpau">How does Google Ad bidding work?</h3>
						</div>
						<div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" id="collapse5" class="collapse">
							<div itemprop="text" class="card-body">
								<p>Google has access to an incredible amount of ad space online, from news websites and blogs to mobile apps. Whenever space is available, an auction is held instantaneously to determine the ads shown to potential customers. By bidding in these auctions, you have a chance of winning and therefore converting consumers who have conducted a relevant search query. However, to achieve a great return on ad spend, you must align your bidding strategy with your business goals.
								</p>
								<p>When embarking on a new Google Ads campaign, always know what you want to achieve. Do you want your advertising campaign to maximise conversions or drive more engagement to level up brand awareness? If you decide to partner with First Page, our experienced team can help you determine the ideal max bid that delivers the most search impression share. Plus, we’ll aim to deliver the lowest possible cost-per-click to ensure your campaign has an exceptional ROI.</p>

							</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-lg-6">
					<div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
						<div class="card-header collapsed" data-toggle="collapse" href="#collapse6">
							<h3 itemprop="name" class="h3-accordion-title-fpau">What is a landing page?</h3>
						</div>
						<div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" id="collapse6" class="collapse">
							<div itemprop="text" class="card-body">
								<p>A landing page is a web page used to promote your products and services while convincing visitors to make a purchase. As search traffic that clicks on your Google Ads are sent to a landing page of your choice, you must ensure this destination is fully optimised to achieve your goals. Don’t forget that a high-quality landing page can also lead to an increased Quality Score. If handled correctly, this improves the performance of your campaign and produces a lower ad cost.</p>
								<p>So how can the talented digital marketers at First Page help? We deliver data-driven landing pages that are specifically designed to achieve your goals. Across a personalised approach to your brand’s key messaging, a powerful call-to-action and sharp on-page navigation, it’s possible to create the best browsing experience possible for your customers. This way, consumers will click on your compelling Google ads and be welcomed by an optimised landing page focused entirely on their needs.</p>
							</div>
						</div>
					</div>
				</div>

				<div class="col-12 col-lg-6">
					<div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
						<div class="card-header collapsed" data-toggle="collapse" href="#collapse7">
							<h3 itemprop="name" class="h3-accordion-title-fpau">How do I start advertising on Google?
							</h3>
						</div>
						<div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" id="collapse7" class="collapse">
							<div itemprop="text" class="card-body">
								<p>Although it might seem intimidating for beginners, getting started with Google Ads is remarkably easy. First, head to ads.google.com to set up your Google Ads account and select ‘Switch to Expert Mode’ to access a more comprehensive range of features. After selecting your campaign goals, you have to choose from six different ad types, including Search, Display, Shopping, Video, App and Smart campaigns. Next, target your audience based on their geographic location and language to reach customers interested in your products and services.
								</p>
								<p>The next step is to set your budget and max bid. Alongside goals for Conversions, Conversion Value, Clicks and Impression Share, there are advanced automated and manual CPC bid strategies that ensure you control your spending. Then, it’s time to select your ad groups and keywords to ensure your campaign reaches the most accurate customer base possible. Alongside these steps, every business needs to develop a landing page that achieves its goals, plus set up conversion tracking to monitor and adjust its advertising approach in the future.</p>
							</div>
						</div>
					</div>
				</div>

				<div class="col-12 col-lg-6">
					<div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
						<div class="card-header collapsed" data-toggle="collapse" href="#collapse8">
							<h3 itemprop="name" class="h3-accordion-title-fpau">Why are Google Ads important?</h3>
						</div>
						<div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" id="collapse8" class="collapse">
							<div itemprop="text" class="card-body">
								<p>Developing a high-quality online presence is a great decision for your brand’s future. As more customers choose to shop online, you can make sure you capture their attention. But as the online world is more competitive than ever, standing out against your biggest rivals takes more than just a basic website with a few products listed. Instead, rising above marketplace noise requires a laser-targeted approach to Google Ads that ensures you reach your customers and increase brand awareness.</p>
								<p>If you operate an online or brick-and-mortar business that deals with the local market, your Google Ads must be targeted to people who live in your immediate area. This means you can achieve fast results due to highly engaged traffic visiting your e-commerce platform and your physical storefront. Google Ads can also be used for remarketing purposes, which allows you to reconnect with website visitors who have explored your products but decided not to purchase. This can level up your conversion rates beyond expectations.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="section-paragraph section-faqs py-5">
		<div class="container">
			<h2 class="section-title">How can Google Ads help your business?</h2>
			<div itemscope itemtype="https://schema.org/FAQPage" class="row">
				<div class="col-12 col-lg-6">
					<div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
						<div class="card-header collapsed" data-toggle="collapse" href="#collapse9">
							<h3 itemprop="name" class="h3-accordion-title-fpau">Can an advertising agency help with Google Ads?</h3>
						</div>
						<div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" id="collapse9" class="collapse">
							<div itemprop="text" class="card-body">
								<p>Anyone can start a Google Ads campaign, but it takes a team of digital marketing experts to really get the most out of your budget. Ideally, these professionals will get to know your business, develop a deep understanding of your target market and strive to achieve your goals. But with so many digital marketing agencies to choose from, how do you find one that delivers the goods? The best way is to choose an agency with a proven track record of achieving outstanding results for businesses within similar industries.
								</p>
								<p>Fortunately, this is where First Page stands out against most. Our incredibly talented Google Ads specialists have top-notch expertise from leading hundreds of campaigns for businesses just like yours. As a full-service digital marketing agency, we deliver clients a campaign optimised for increased ROI, while providing transparent reporting to maximise accountability. With First Page, you can trust we’re doing everything in our power to achieve your goals.</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-lg-6">
					<div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
						<div class="card-header collapsed" data-toggle="collapse" href="#collapse10">
							<h3 itemprop="name" class="h3-accordion-title-fpau">How do I measure Google Ads performance?
							</h3>
						</div>
						<div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" id="collapse10" class="collapse">
							<div itemprop="text" class="card-body">
								<p>The beauty of Google Ads is that it’s easy to track performance and take action to improve your results. But with endless metrics to consider, knowing what changes are most effective is difficult for those who lack experience. One of the first places to consider is your click-through rate. This determines the percentage of total ad views that deliver clicks to your website. If yours drops below your expected figure, consider reworking your copy to ensure it’s highly emotive and provides a clear offer.</p>
								<p>You should also look at cost-per-conversion. This is the amount you’ve spent on a Google Ads campaign divided by the number of customers acquired throughout that period. If your budget is blowing out because not enough people are buying, you might have a problem with targeting your ad or capturing enough attention. Alongside detailed reports on metrics like impression share, return on ad spend (ROAS), and cost-per-action (CPA), the team at First Page can outperform your goals within your budget.</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-lg-6">
					<div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
						<div class="card-header collapsed" data-toggle="collapse" href="#collapse11">
							<h3 itemprop="name" class="h3-accordion-title-fpau">What are the benefits of Google Ads management?</h3>
						</div>
						<div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" id="collapse11" class="collapse">
							<div itemprop="text" class="card-body">
								<p>Google makes it easy for anyone to get started with a new advertising campaign. However, making sure your budget is used effectively is another matter altogether. If you don’t have the expertise to determine your ideal target market or can’t quite figure out how to reach your goals, partnering with a highly experienced team could save you loads of time, money and stress. First Page's digital marketers lead tailored Google Ads strategies every day, ensuring we know what it takes to level up your company’s success.</p>
								<p>There are a host of other benefits to letting an agency handle your Google Ads management too. For instance, you’ll benefit from our unmatched industry knowledge from working closely with businesses that share your goals and target market. Plus, the time saved from planning and executing your own Google Ads campaign ensures you can focus your undivided attention on other parts of your business. With no learning curve to worry about, alongside the measurable results we provide, your business can enhance its performance faster than ever before.</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-lg-6">
					<div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
						<div class="card-header collapsed" data-toggle="collapse" href="#collapse12">
							<h3 itemprop="name" class="h3-accordion-title-fpau">Will Google Ads improve my SEO?</h3>
						</div>
						<div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" id="collapse12" class="collapse">
							<div itemprop="text" class="card-body">
								<p>Launching a Google Ads campaign doesn't directly improve your SEO results. But it can help your business enhance its organic growth in several other productive ways. For example, keywords are central components to both PPC and SEO strategies. By identifying high converting keywords from your Google Ads campaign, you can use this data to improve your SEO standards and climb the SERP organically. In turn, this means you can reach a wider audience and establish long-term stability for a lower cost.</p>
								<p>Remarketing is a hugely powerful aspect of Google Ads. By tracking and targeting organic web traffic with your retargeting campaign, you can increase your conversion rate and level up your profitability. Meanwhile, you’ll develop a far greater understanding of how your ideal customer base searches for products online, meaning you can execute an SEO campaign with crystal-clear confidence. By implementing methods for data-synthesis between your SEO and PPC strategies, you can increase optimisation across the board.</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-lg-6">
					<div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
						<div class="card-header collapsed" data-toggle="collapse" href="#collapse13">
							<h3 itemprop="name" class="h3-accordion-title-fpau">What services does a Google advertising agency offer?</h3>
						</div>
						<div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" id="collapse13" class="collapse">
							<div itemprop="text" class="card-body">
								<p>Partnering with a Google advertising agency is the best way to ensure your campaign achieves your goals. Rather than setting up your own campaign based on faulty information, a leading Google ads agency can ensure your strategy is planned and implemented with the absolute best practices to outperform your expectations. The account management services at First Page are second to none as we get to know your business and deliver a Google Ads campaign that benefits from the latest optimisation techniques.</p>
								<p>Throughout this process, we’ll put in place a number of KPIs to ensure we live up to your ambitions and hit the targets we commit to. This means your business can have complete confidence that our agency will deliver the goods. Meanwhile, we provide comprehensive reporting on our strategy to keep you in the loop on our success. As accountability is crucial to a trusting relationship between an agency and its clients, we believe in being as transparent as possible with every business we partner with.
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-lg-6">
					<div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
						<div class="card-header collapsed" data-toggle="collapse" href="#collapse14">
							<h3 itemprop="name" class="h3-accordion-title-fpau">Will Google Ads work for my e-commerce business?</h3>
						</div>
						<div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" id="collapse14" class="collapse">
							<div itemprop="text" class="card-body">
								<p>Google Ads is perfect for e-commerce businesses looking to reach their target audience. With your most desired customers searching for products like yours each and every day, a targeted Google Display or Google Shopping campaign that grabs attention will change your fortunes forever. However, the approach you take to Google Ads will depend on the nature of your products and the ultimate goals of your business. If you’re unsure of the answer to these concerns, the experts at First Page can deliver an optimised campaign that reaches your targets.</p>
								<p>The positioning of your e-commerce advertising campaign must respond to where your customers are located in the buyer journey. At the top of the funnel, you want to produce ads that make your target market aware of your existence and encourage them to consider your products. In the middle of the funnel, you must build interest in your offering and push them to take action. Finally, Google Ads aimed at the bottom of the funnel should involve emotive copy and convincing promotions that get people to commit to a purchase.</p>
							</div>
						</div>
					</div>
				</div>

				<div class="col-12 col-lg-6">
					<div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
						<div class="card-header collapsed" data-toggle="collapse" href="#collapse15">
							<h3 itemprop="name" class="h3-accordion-title-fpau">I have a small business. Is Google Ads worth it?
							</h3>
						</div>
						<div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" id="collapse15" class="collapse">
							<div itemprop="text" class="card-body">
								<p>While an effective Google Ads campaign isn’t free, it’s entirely possible to generate incredible results even if you only have a small amount to invest in your strategy. However, understanding the latest optimisation techniques becomes particularly important, as you need to make every dollar work for your business. At First Page, our full-service digital marketing agency works alongside companies operating at every scale, meaning we can drive amazing growth even if you don’t have the same budget as the industry giants.</p>
								<p>With the perfect optimisations, Google Ads can still be remarkably productive for businesses with less budget flexibility. If you’re launching a new product line or looking to promote a sale, a tailored Google Ads campaign will position your brand at the top of the SERP, ensuring you convert customers with greater speed and precision. Get started with a Google Ads campaign and see just how much success you gain from a highly optimised strategy.</p>
							</div>
						</div>
					</div>
				</div>

				<div class="col-12 col-lg-6">
					<div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
						<div class="card-header collapsed" data-toggle="collapse" href="#collapse16">
							<h3 itemprop="name" class="h3-accordion-title-fpau">Can I stop competitors clicking on my ads?</h3>
						</div>
						<div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" id="collapse16" class="collapse">
							<div itemprop="text" class="card-body">
								<p>Businesses that run Google Ads campaigns are charged based on individual clicks on their advertisements. Depending on the industry you operate within, and the keywords you target, a high fee for every click means you have to target extra carefully. Unfortunately, it’s not uncommon for a dishonest business to click on ads with the sole intention of wasting their rival’s marketing budget. Known in the industry as ‘click fraud’, Google has developed useful measures that automatically filter these clicks when they can be identified.
								</p>
								<p>For instance, Google keeps track of several data points that might reveal a fraudulent click, including similar IP addresses and unnatural user behaviour like duplicate clicks within a short time. You can also manually exclude specific IP addresses from your campaign, ensuring you stop malicious users attempting to cause your business damage. Alternatively, First Page has access to leading fraud detection software, meaning we can keep close tabs on how your budget is being spent and stop fraud from impacting your business.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	{% include "partials/en-form-popup.twig" with {'form_page': 'Google Ads (Pop-up Form)'} %}
{% endblock %}
