{% extends "en-base.twig" %}

{% block content %}

    <style>

        section.section-paragraph.section-faqs.seo-new-faq-one {
            padding-top: 30px;
        }

        .text-container-seo-new{
            max-width: 588px !important;
        }

        section.section-casestudy.casestudy-seo-new {
            background-image: url("{{ site.theme.link }}/assets/img/img_ipad_justlogin@2x.png");
            background-size: 1464px auto;
            background-position-x: calc(50% + 556px);
        }

        .seo-new-case-study-content {
            font-size: 54px;
            line-height: 63px;
            text-align: left;
        }

        .seo-new-case-study-content span {
            font-weight: 600;
        }

        .seo-new-faq-one h5 {
            font-size: 24px !important;
            color: #00225d !important;
            letter-spacing: 1px !important;
            text-transform: none !important;
        }

        .seo-new-faq-one h5:before {
            font-size: 26px;
            margin-top: -3px;
        }

        @media (max-width: 767px) {
            .hero-mobile {
                margin-bottom: -120px;
                position: absolute;
                bottom: 29px;
                right: -68px;
            }



            .page-seo-new section.banner .banner-description p {
                max-width: 190px;
                margin-bottom: 0;
                padding: 0 15px;
                min-height: 210px;
            }

            section.section-casestudy.casestudy-seo-new {
                background-image: none;
            }

            .seo-new-case-study-content {
                padding-left: 15px;
            }
        }

        @media (max-width: 425px) {
            section.section-paragraph.section-faqs.seo-new-faq-one {
                padding-top: 0px;
            }
        }
    </style>


    {#    <section class="banner form-space">#}
    {#        <div class="container banner-hero">#}
    {#            <div class="banner-hero-cont">#}
    {#                <h1 class="form-hide">Grow 10 times faster with exceptional SEO</h1>#}
    {#                <div class="banner-description">#}
    {#                    <p class="form-hide">Blow your competition away and absolutely dominate Google by partnering with#}
    {#                        the highest rated seo agency in APAC. </p>#}
    {#                    <div class="form-hide hero-mobile">#}
    {#                        <img src="{{ site.theme.link }}/assets/img/img_hero_seo_mob.png"#}
    {#                             srcset="{{ site.theme.link }}/assets/img/img_hero_seo_mob.png, {{ site.theme.link }}/assets/img/img_hero_seo_mob@2x.png 2x"#}
    {#                             alt="First Page"/>#}
    {#                    </div>#}
    {#                </div>#}
    {#                {% include "partials/en-form-services.twig" with {'form_page': 'Local & National SEO', 'form_button': 'Get A Free Quote'} %}#}
    {#                {% include "partials/en-section-awards-badges.twig" %}#}
    {#            </div>#}
    {#            <div class="hero-img d-none d-md-block d-lg-none">#}
    {#                <img src="{{ site.theme.link }}/assets/img/img_hero_seo_tab.png"#}
    {#                     srcset="{{ site.theme.link }}/assets/img/img_hero_seo_tab.png, {{ site.theme.link }}/assets/img/img_hero_seo_tab@2x.png 2x"#}
    {#                     alt="First Page"/>#}
    {#            </div>#}
    {#            <div class="hero-img d-none d-lg-block">#}
    {#                <img src="{{ site.theme.link }}/assets/img/img_hero_seo.png"#}
    {#                     srcset="{{ site.theme.link }}/assets/img/img_hero_seo.png, {{ site.theme.link }}/assets/img/img_hero_seo@2x.png 2x"#}
    {#                     alt="First Page"/>#}
    {#            </div>#}
    {#        </div>#}
    {#    </section>#}

    <section class="banner form-space">
        <div class="container banner-hero two-lines">
            <div class="banner-hero-cont">
                <h1 class="form-hide">Grow 10 times faster with exceptional SEO</h1>
                <div class="banner-description">
                    <p class="form-hide">Blow your competition away and absolutely dominate Google by partnering with the highest rated seo agency in APAC.</p>
                    <div class="form-hide hero-mobile">
                        <img src="{{ site.theme.link }}/assets/img/img_hero_seo_mob.png" srcset="{{ site.theme.link }}/assets/img/img_hero_seo_mob.png, {{ site.theme.link }}/assets/img/img_hero_seo_mob@2x.png 2x" alt="First Page" />
                    </div>
                </div>
                {% include "partials/en-form-services.twig" with {'form_page': 'Local & National SEO', 'form_button': 'Get A Free Quote'} %}
                {% include "partials/en-section-awards-badges.twig" %}
            </div>
            <div class="hero-img d-none d-md-block d-lg-none">
                <img src="{{ site.theme.link }}/assets/img/img_hero_seo_tab.png" srcset="{{ site.theme.link }}/assets/img/img_hero_seo_tab.png, {{ site.theme.link }}/assets/img/img_hero_seo_tab@2x.png 2x" alt="First Page" />
            </div>
            <div class="hero-img d-none d-lg-block">
                <img src="{{ site.theme.link }}/assets/img/img_hero_seo.png" srcset="{{ site.theme.link }}/assets/img/img_hero_seo.png, {{ site.theme.link }}/assets/img/img_hero_seo@2x.png 2x" alt="First Page" />
            </div>
        </div>
    </section>

    {% include "partials/en-section-featured-in-news.twig" %}

    <section class="section-paragraph">
        <div class="row no-gutters align-items-center flex-column-reverse flex-lg-row flex-lg-row-reverse">
            <div class="col-12 col-lg-6 image-container-right">
                <img src="{{ site.theme.link }}/assets/img/img_profit.svg" class="img-fluid d-none d-md-inline-block"
                     alt="First Page"/>
                <img src="{{ site.theme.link }}/assets/img/img_profit_mob.svg" class="img-fluid d-md-none"
                     alt="First Page"/>
            </div>
            <div class="col-12 col-lg-6 text-container text-container-seo-new">
                <h2>Triple the size of your business by teaming up with an award-winning SEO company</h2>
                <p>At First Page, we believe your business is a unique achievement. What you do deserves to be seen by
                    the world - and that means absolutely dominating Google for your industry. </p>
                <p>In today’s digital economy, you MUST build an attention-grabbing online presence that sets you apart
                    from your competition...
                    First Page is all about delivering the visibility you deserve! We’re the game-changing SEO agency
                    that specialises in driving an obscene amount of traffic to your website. </p>
                <button type="button" class="btn fp-btn fp-btn-orange show-popup-form">GET A FREE QUOTE</button>
            </div>
        </div>
    </section>

    <section class="section-paragraph ">
        <div class="row no-gutters align-items-center flex-column-reverse flex-lg-row">
            <div class="col-12 col-lg-6 image-container-left">
                <img src="{{ site.theme.link }}/assets/img/img_seo_we_dont_outsource.png"
                     srcset="{{ site.theme.link }}/assets/img/img_seo_we_dont_outsource.png, {{ site.theme.link }}/assets/img/img_seo_we_dont_outsource@2x.png 2x"
                     class="img-fluid d-none d-md-inline-block" alt="First Page"/>
                <img src="{{ site.theme.link }}/assets/img/img_seo_we_dont_outsource_mob.png"
                     srcset="{{ site.theme.link }}/assets/img/img_seo_we_dont_outsource_mob.png, {{ site.theme.link }}/assets/img/img_seo_we_dont_outsource_mob@2x.png 2x"
                     class="img-fluid d-md-none" alt="First Page"/>
            </div>
            <div class="col-12 col-lg-6 text-container">
                <h2>Why risk your business and livelihood by outsourcing your SEO to an agency that outsources to a
                    developing country. </h2>
                <p>99% of the seo companies in Australia compromise on quality by outsourcing to third world countries.
                    We just don’t get it. We should be called the SEO agency clean-up crew, because time and time again,
                    we are cleaning up the mess when a third party has outsourced overseas. The whole process ends up
                    costing the business more money and time to reverse the problem. Plus think of the opportunity
                    cost!</p>
                <p>We take pride in keeping everything in-house and we would never jeopardise your business by cutting
                    corners. So why risk your business, your income, your livelihood with an seo agency who cuts
                    corners.</p>
                <button type="button" class="btn fp-btn fp-btn-orange show-popup-form">GET A FREE QUOTE</button>
            </div>
        </div>
    </section>

    <section class="section-casestudy casestudy-seo-new">
        <div class="container">
            <div class="content-area">
                <div class="info">
                    <h2>
                        <span class="small-grey">Our Recent Work</span>
                        <strong>JustLogin</strong>
                    </h2>
                    <p>With the launch of their new website, they engaged First Page to take over from their existing
                        SEO agency. We completely transformed their SEO strategy and blew their competition out of the
                        water, here are the results:</p>
                </div>

                <div class="stats">
                    <div class="stats-container">
                        <div class="row">
                            <div class="col-12 ">

                                <div class="seo-new-case-study-content"><span>378</span>% <br class="d-block d-sm-none">
                                    increase in organic
                                    traffic in just
                                    6 months
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section-paragraph">
        <div class="row no-gutters align-items-center flex-column-reverse flex-lg-row ">
            <div class="col-12 col-lg-6 image-container-right">
                <img src="{{ site.theme.link }}/assets/img/img_seo_traffic.png"
                     srcset="{{ site.theme.link }}/assets/img/img_seo_traffic.png, {{ site.theme.link }}/assets/img/img_seo_traffic@2x.png 2x"
                     class="img-fluid d-none d-md-inline-block" alt="First Page"/>
                <img src="{{ site.theme.link }}/assets/img/img_seo_traffic_mob.png"
                     srcset="{{ site.theme.link }}/assets/img/img_seo_traffic_mob.png, {{ site.theme.link }}/assets/img/img_seo_traffic_mob@2x.png 2x"
                     class="img-fluid d-md-none" alt="First Page"/>
            </div>
            <div class="col-12 col-lg-6 text-container text-container-seo-new">
                <h2>Get more leads and sales than your business can handle with insanely good SEO. </h2>
                <div class="pt-2 d-block d-sm-none"></div>
                <p>The details are in the data and that’s why we are obsessed with data when making decisions that
                    directly impact your SEO strategy and your business. Just a slight tweak to your SEO strategy can
                    dramatically impact the way of your website ranks and displays in the search results.</p>
                <p>This is pretty crazy, but we have the ability to predict Google algorithm updates due to custom
                    built, in-house proprietary tech - SENTR<span style="font-size: 22px">&trade;</span>. What does this
                    mean for you? Imagine the possibilities if you could predict the future. With the huge amount of
                    data SENTR<span style="font-size: 22px">&trade;</span> processes, we have the ability to prepare and
                    capitalise on future algorithmic updates. We’re always one step ahead, that’s why we provide the
                    best SEO services in Australia.</p>
                <button type="button" class="btn fp-btn fp-btn-orange show-popup-form">GET A FREE QUOTE</button>
            </div>
        </div>
    </section>

    <section class="section-features section-grey">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-4">
                    <img src="{{ site.theme.link }}/assets/img/icn_revenue.svg" width="83" height="80" alt="First Page">
                    <h5>Generated over $3.8+ billion <br class="d-none d-lg-block">
                        in sales for our clients</h5>
                </div>
                <div class="col-12 col-md-4">
                    <img src="{{ site.theme.link }}/assets/img/img_google-reviews.svg" width="198" height="80"
                         alt="First Page">
                    {# <img src="{{ site.theme.link }}/assets/img/icn_google_reviews.png" width="160" height="80" srcset="{{ site.theme.link }}/assets/img/icn_google_reviews.png, {{ site.theme.link }}/assets/img/icn_google_reviews@2x.png 2x" alt="First Page" /> #}
                    <h5>500+ Google reviews globally <br class="d-none d-lg-block">
                        with a 4.9/5 rating</h5>
                </div>
                <div class="col-12 col-md-4">
                    <img src="{{ site.theme.link }}/assets/img/icn_awards.svg" width="73" height="80" alt="First Page">
                    <h5>Won 14 digital awards <br class="d-none d-lg-block">
                        and counting</h5>
                </div>
            </div>
        </div>
    </section>

    <section class="section-paragraph">
        <div class="row no-gutters align-items-center flex-column-reverse flex-lg-row flex-lg-row-reverse">
            <div class="col-12 col-lg-6 image-container-right">
                <img src="{{ site.theme.link }}/assets/img/img_google_search.svg"
                     class="img-fluid d-none d-md-inline-block" alt="First Page"/>
                <img src="{{ site.theme.link }}/assets/img/img_google_search_mob.svg"
                     class="img-fluid d-md-none" alt="First Page"/>
            </div>
            <div class="col-12 col-lg-6 text-container">
                <h2>Play the SEO game better than your competition, otherwise you’ll be left behind. </h2>
                <p>The reality is, whoever doubles down on their SEO will win in the end. What do I mean by win? Well,
                    winning is absolutely dominating Google for your industry. Extreme brand domination will drive
                    traffic, leads & sales which directly impacts your revenue and your back pocket.</p>
                <p>Keep this in mind, 3.5 billion Google searches are conducted every day. The top 5 organic search
                    results receive 68% of these clicks. </p>
                <p>The real question is - can you afford NOT to be on the first page of Google?</p>
                <button type="button" class="btn fp-btn fp-btn-orange show-popup-form">GET A FREE QUOTE</button>
            </div>
        </div>
    </section>

    {% include "partials/en-section-services-seo-new.twig" %}
    {% include "partials/en-section-experience.twig" %}

    <section class="section-paragraph section-faqs seo-new-faq-one">
        <div class="container">
            <h2 class="text-center pt-5"><img class="d-none d-sm-inline" src="{{ site.theme.link }}/assets/img/img_cross.svg" alt=""><img
                        style="width:65px; margin-right:-10px; margin-top:-3px;" class="d-inline d-sm-none"
                        src="{{ site.theme.link }}/assets/img/img_cross_mob.svg" alt="">12 signs your SEO
                <br class="d-block d-sm-none"> agency is making major mistakes </h2>
            <p class="text-center pb-3">We’ll get straight to the point, if your current seo company isn’t meeting your
                expectations, it could be time to jump ship. But if you’re unsure, here are 12 possible signs that your
                current seo agency may not be right for your business.</p>
            <div itemscope itemtype="https://schema.org/FAQPage" class="row">
                <div class="col-12">
                    <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
                        <div class="card-header collapsed" data-toggle="collapse" href="#collapse1">
                            <h5 itemprop="name" class="pb-3">1. Your SEO agency won’t provide performance milestones
                                (guarantees).</h5>
                        </div>
                        <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" id="collapse1"
                             class="collapse">
                            <div itemprop="text" class="card-body">
                                <p>Is your SEO agency refusing to support their SEO services with performance
                                    milestones? The simple reason is, if they did - they would then need to be
                                    accountable for results. Crazy right!</p>
                                <p>Instead, they make excuses for their poor performance. They might say “trust us” or
                                    “please be patient” while they search for solutions. But can you really depend upon
                                    an SEO agency that doesn’t have the confidence to back itself?</p>
                                <p>If you run a successful business, then we doubt you're in the habit of paying for
                                    services you're not actually receiving. KPI’s and clear targets are VITAL as they
                                    ensure you get the level of service you deserve.</p>
                                <p>First Page offers unbeatable performance guarantees every step of the way. We commit
                                    to key milestones, explain our progress, and talk through our results in detail. And
                                    if there’s ever a time we don’t deliver - you won’t pay until we do. </p>
                                <p>There’s a reason why First Page takes this approach. We believe in the potential of
                                    your business to succeed and our ability to deliver exponential SEO and growth for
                                    your business. </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12">
                    <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
                        <div class="card-header collapsed" data-toggle="collapse" href="#collapse2">
                            <h5 itemprop="name" class="pb-3">2. Your website is connected with low quality, spammy backlinks.</h5>
                        </div>
                        <div id="collapse2" class="collapse" itemscope itemprop="acceptedAnswer"
                             itemtype="https://schema.org/Answer">
                            <div class="card-body" itemprop="text">
                                <p>Google uses a simple recipe when it comes to cooking up spicy backlinks…E-A-T:
                                    Expertise, Authoritativeness and Trustworthiness. The question is - what is your
                                    current seo agency delivering?</p>
                                <p>The way Google ranks websites and decides which factors to incentivise is always
                                    changing. This information remains top secret. But some golden rules consistently
                                    serve up great results!</p>
                                <p>Links from expert, authoritative and trusted sources are considered a valuable
                                    resource and help your website to rank higher.
                                </p>
                                <p>We see so many SEO services promising backlinks that will boost your search rankings.
                                    But the truth is, these links aren’t what they appear...
                                </p>
                                <p>Look closer, and you’ll see they don’t follow the E-A-T process. They’re from spammy
                                    websites, shady businesses, and irrelevant industries - making their contribution to
                                    your site meaningless. </p>
                                <p>It’s all about quality, not quantity, and at First Page - that’s exactly what we
                                    deliver!!
                                </p>
                                <p>We specialise in local links from relevant industries and influential sources. We
                                    seamlessly blend these backlinks into premium copy and long-form content that will
                                    captivate your target audience.
                                </p>
                                <p>It’s a 5-star service that delivers insanely strong results!!
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
                        <div class="card-header collapsed" data-toggle="collapse" href="#collapse3">
                            <h5 itemprop="name" class="pb-3">3. Lazy keyword stuffing.</h5>
                        </div>
                        <div id="collapse3" class="collapse" itemscope itemprop="acceptedAnswer"
                             itemtype="https://schema.org/Answer">
                            <div class="card-body">
                                <p>Avoid SEO agencies that use cheap, lazy tactics by stuffing keywords into existing
                                    content. Content needs to flow! Google wants to find and rank the best, informative
                                    websites. Why? It provides a better experience for the Googler.
                                </p>
                                <p>Search engine algorithms are constantly crawling for the highest quality content.
                                    Well-crafted web pages from authoritative sources score highest and gain the most
                                    attention.
                                </p>
                                <p>Blogs and websites that provide real benefit to your audience and communicate
                                    valuable information. Your copy MUST be original, unique and authoritative!!
                                </p>
                                <p>Most SEO agencies DO NOT do this!! We’ve all seen terrible, keyword stuffing web copy
                                    that has only been written to target keywords. This content is often outsourced
                                    overseas to save money - and it shows. It’s depressing to read and damaging to your
                                    brand.
                                </p>
                                <p>At First Page, we’re home to an in-house team of talented content writers. We pride
                                    ourselves on quality copy that’s both optimised and engaging.
                                </p>
                                <p>We take the time to learn who you are and what you do. We then deliver personalised
                                    content that builds on the offerings of your business. We don’t outsource - meaning
                                    we can promise premium copywriting that really tells your story.
                                </p>
                                <p>Simple SEO copywriting is dead. Today, it’s about generating long-form articles and
                                    multi-media content that achieves serious social media shares and organic traffic.
                                    The truth is that every online business is in the content game.
                                </p>
                                <p>So ask yourself, is your current seo company giving you the winning formula?
                                </p>


                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
                        <div class="card-header collapsed" data-toggle="collapse" href="#collapse4">
                            <h5 itemprop="name" class="pb-3">4. You’re not connecting with the right audience. </h5>
                        </div>
                        <div id="collapse4" class="collapse" itemscope itemprop="acceptedAnswer"
                             itemtype="https://schema.org/Answer">
                            <div class="card-body">
                                <p>Whether you’re a small family business or international eCommerce platform - it’s
                                    essential your seo agency is driving high quality traffic to your website. If your
                                    website traffic is growing, but your sales are not, there’s a real issue.
                                </p>
                                <p>Driving traffic is one thing, but your seo agency must understand your objectives and
                                    ideal buying personas to really achieve exceptional results.
                                </p>
                                <p>If you’re not connecting with your target audience online then it’s time to talk to
                                    First Page. We don’t make excuses, we commit to connecting you to your desired
                                    customer.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
                        <div class="card-header collapsed" data-toggle="collapse" href="#collapse5">
                            <h5 itemprop="name" class="pb-3">5. Sketchy Schema Markup that's hurting your Google presence.</h5>
                        </div>
                        <div id="collapse5" class="collapse" itemscope itemprop="acceptedAnswer"
                             itemtype="https://schema.org/Answer">
                            <div class="card-body">
                                <p>Second rate schema markup actively harms your site. Most seo companies provide
                                    generic schema or substandard coding. Google simply won’t accept this, meaning you
                                    won’t see the growth or visibility you need. </p>
                                <p>Google actively rewards websites that are designed around SEO best practice. Schema
                                    markup is code that tells Google exactly what your business is, in language the
                                    algorithms can understand.
                                </p>
                                <p>Our technical SEO optimisation will tell Google the content of your webpage. It also
                                    provides data that can be included in your rich snippets, such as new product
                                    launches, new content, and upcoming events. Your snippets will pop on search pages -
                                    and this means serious CTR!!
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
                        <div class="card-header collapsed" data-toggle="collapse" href="#collapse6">
                            <h5 itemprop="name" class="pb-3">6. A sluggish site that's boring visitors.</h5>
                        </div>
                        <div id="collapse6" class="collapse" itemscope itemprop="acceptedAnswer"
                             itemtype="https://schema.org/Answer">
                            <div class="card-body">
                                <p>Run a speed test on your website. If it’s slow and you’re current seo company hasn’t
                                    tried to fix it, immediately jump overboard and swim for your life. Real SEO gurus
                                    will tell you that the speed of your site directly impacts your visibility on
                                    Google.
                                </p>
                                <p>Just 15% of websites load at Google’s recommended speed. A loading time of even an
                                    extra few seconds increases costs and decrease sales.
                                </p>
                                <p>In Feb 2021, Google updated its core website vitals, and speed has become one of the
                                    most important ranking factors.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12">
                    <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
                        <div class="card-header collapsed" data-toggle="collapse" href="#collapse7">
                            <h5 itemprop="name" class="pb-3">7. You’re losing potential opportunities to your competitors.</h5>
                        </div>
                        <div id="collapse7" class="collapse" itemscope itemprop="acceptedAnswer"
                             itemtype="https://schema.org/Answer">
                            <div class="card-body">
                                <p>Is there a new competitor in your industry who has come from nowhere and is now
                                    beating you on Google? You’re probably thinking, how is that possible! I’m doing
                                    seo, I’ve been in business longer, I should be dominating.
                                </p>
                                <p>Remember, SEO requires work. Those who invest time and money into quality SEO will
                                    win. So if you’re paying an SEO agency a monthly retainer and you’re seeing very
                                    little results, I would question why. What exactly are you paying for? How are they
                                    investing your management fee? Ask the questions and the truth will come out.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12">
                    <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
                        <div class="card-header collapsed" data-toggle="collapse" href="#collapse8">
                            <h5 itemprop="name" class="pb-3">8. "It takes time to see results".</h5>
                        </div>
                        <div id="collapse8" class="collapse" itemscope itemprop="acceptedAnswer"
                             itemtype="https://schema.org/Answer">
                            <div class="card-body">
                                <p>A good SEO campaign will usually take 2-6 months to produce their best results. But
                                    many seo agencies will hide behind the excuse “seo is a long term strategy, you
                                    won’t see results for 12 months”. That’s just “BS”.
                                </p>
                                <p>Depending on the search term, you can achieve some quick wins with in-depth Google My
                                    Business Optimisation, long term search terms & powerful Schema Markup. Always take
                                    advantage of the low hanging fruit!
                                </p>
                                <p>At First Page, you can track your campaign day or night, with our online reporting
                                    dashboard that has all the essential stats to make informed decisions. Google never
                                    sleeps, so we can’t either.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12">
                    <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
                        <div class="card-header collapsed" data-toggle="collapse" href="#collapse9">
                            <h5 itemprop="name" class="pb-3">9. Your SEO agency doesn’t understand your business. </h5>
                        </div>
                        <div id="collapse9" class="collapse" itemscope itemprop="acceptedAnswer"
                             itemtype="https://schema.org/Answer">
                            <div class="card-body">
                                <p>Do you feel your current seo company doesn’t understand your business? No matter how
                                    hard you try, they just don’t get it. They just don’t understand you or your vision
                                    for the business. Does this sound familiar? Most likely they’re taking a cookie
                                    cutter approach to SEO. </p>
                                <p>The First Page performs a thorough onboarding session to completely understand your
                                    business, your objectives and to ensure there is 100% goal alignment. Think of First
                                    Page as your new in-house digital marketing team.
                                </p>
                                <p>Our SEO campaigns are all about delivering actual, observable benefits for your
                                    business.
                                    We’re here to grow your revenue!
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12">
                    <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
                        <div class="card-header collapsed" data-toggle="collapse" href="#collapse10">
                            <h5 itemprop="name" class="pb-3">10. A cookie cutter SEO strategy that lacks creativity. </h5>
                        </div>
                        <div id="collapse10" class="collapse" itemscope itemprop="acceptedAnswer"
                             itemtype="https://schema.org/Answer">
                            <div class="card-body">
                                <p>In the SEO world, we’ve seen the good, the bad and the ugly. You’ll be surprised in
                                    this day and age, how many SEO companies still deliver crappy, substandard SEO.
                                </p>
                                <p>Whether it’s our unique approach to SEO or exceptional social media strategy -
                                    there’s a reason why First Page is known as one of the most creative agencies in
                                    APAC.
                                </p>
                                <p>Our commitment to quality means we’re constantly innovating. We show up with energy
                                    and commitment every day - which translates to more leads & sales than your business
                                    can possibly handle.
                                </p>
                                <p>
                                    If your current agency is bland, beige and full of jargon, then it’s time to reach
                                    out to First Page - a creative SEO agency!!
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12">
                    <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
                        <div class="card-header collapsed" data-toggle="collapse" href="#collapse11">
                            <h5 itemprop="name" class="pb-3">11. Your current agency cares more about charging you, than actually
                                helping your business win.</h5>
                        </div>
                        <div id="collapse11" class="collapse" itemscope itemprop="acceptedAnswer"
                             itemtype="https://schema.org/Answer">
                            <div class="card-body">
                                <p>Do you struggle to get hold of your digital account manager? Do they take days to
                                    respond to your emails? Sound familiar? I bet when there is an outstanding payment
                                    they’re chasing you like a pack of wolves.
                                </p>
                                <p>Unfortunately many seo companies in Australia and even the world look for shortcuts
                                    to financial success rather than playing the long game. They would rather burn a
                                    customer for a few extra bucks now, than have that same customer on the books for
                                    years and years. It’s stupidity at its best!
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12">
                    <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
                        <div class="card-header collapsed" data-toggle="collapse" href="#collapse12">
                            <h5 itemprop="name">12. There's no technical department to support you. </h5>
                        </div>
                        <div id="collapse12" class="collapse" itemscope itemprop="acceptedAnswer"
                             itemtype="https://schema.org/Answer">
                            <div class="card-body">
                                <p>SEO is a complex process and if it’s implemented poorly, a number of things can go
                                    wrong. We’ve seen seo agencies break websites, add content in the wrong places,
                                    delete pages and a whole lot more. It’s crucial that if you require assistance or
                                    advice, you get the immediate technical support, day or night.
                                </p>
                                <p>When you hire an SEO agency, you want to feel you’re supported every step of the way.
                                    First Page has technical help on hand, in Australia when you need it most. </p>
                                <p>In addition to a dedicated digital marketing SEO specialist who’ll be your regular
                                    point of contact, our technical specialists understand SEO inside out. They’ll
                                    provide dependable, professional support at all times.</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    {% include "partials/en-section-free-session.twig" %}
    <section class="section-paragraph section-faqs pb-5">
        <div class="container">
            <h2 class="section-title">Search Engine Optimisation (SEO) FAQ’s </h2>
            <div itemscope itemtype="https://schema.org/FAQPage" class="row">
                <div class="col-12 col-lg-6">
                    <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
                        <div class="card-header collapsed" data-toggle="collapse" href="#collapse13">
                            <h5 itemprop="name">Why should I make the switch to First Page?</h5>
                        </div>
                        <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" id="collapse13"
                             class="collapse">
                            <div itemprop="text" class="card-body">
                                <p>First Page is the fastest growing agency in APAC, servicing a roster of global brands
                                    including Microsoft, Cathay Pacific and Rolls Royce. In saying that, we work with
                                    brands of all shapes & sizes.
                                </p>
                                <p>First Page is built with smart, savvy and driven talent - we’re the next generation
                                    of digital marketers and SEO specialists. </p>
                                <p>So, what does this mean for you and your business? </p>
                                <p>It demonstrates we have what it takes to help you succeed online. We have the PROVEN
                                    expertise to deliver unrivalled growth and an avalanche of traffic!!</p>
                                <p>And because we trust our abilities, we offer GUARANTEED results. If this sounds like
                                    a rare opportunity, that’s because it is. The truth is that so few agencies in
                                    Australia can deliver SEO at the level we do. </p>
                                <p>If you’re starting to realise that your current agency isn’t living up to
                                    expectations, then perhaps it’s time to speak with us. Our team of SEO gurus are
                                    always available to
                                    <a href="{{ home_url }}contact/">begin a conversation</a> about making the switch to
                                    First Page. </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
                        <div class="card-header collapsed" data-toggle="collapse" href="#collapse14">
                            <h5 itemprop="name">Are you experienced in eCommerce SEO?</h5>
                        </div>
                        <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" id="collapse14"
                             class="collapse">
                            <div itemprop="text" class="card-body">
                                <p>There’s a reason why eCommerce businesses highly recommend our SEO services... </p>
                                <p>We’ve spent years talking to the owners of online stores and listening to their
                                    stories. Then, we developed a suite of
                                    <a href="{{ home_url }}ecommerce-seo/">eCommerce SEO</a> services based on this
                                    in-depth understanding. </p>
                                <p>We have extensive experience with Shopify, Magento, BigCOmmerce, WooCommerce and
                                    more. We’re an seo agency with serious SEO prowess. </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
                        <div class="card-header collapsed" data-toggle="collapse" href="#collapse15">
                            <h5 itemprop="name">How can I organise my FREE on-site SEO audit?</h5>
                        </div>
                        <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" id="collapse15"
                             class="collapse">
                            <div itemprop="text" class="card-body">
                                <p>Simply reach out to our digital marketing specialists! Our FREE onsite SEO audit is
                                    just the beginning of our relationship. We want to start with a clear understanding
                                    of where you are now and where you could be in the future.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
                        <div class="card-header collapsed" data-toggle="collapse" href="#collapse16">
                            <h5 itemprop="name">What SEO results do you guarantee?</h5>
                        </div>
                        <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" id="collapse16"
                             class="collapse">
                            <div itemprop="text" class="card-body">
                                <p>We have a variety of performance milestone options with our most popular being the
                                    traffic guarantee. </p>
                                <p>Our traffic guarantees are tailored to your business and how many visitors we can
                                    drive to your site. And if there’s ever a time that we don’t meet these targets -
                                    we’ll work for free until we do. </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
                        <div class="card-header collapsed" data-toggle="collapse" href="#collapse17">
                            <h5 itemprop="name">When can I expect to see SEO results?</h5>
                        </div>
                        <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" id="collapse17"
                             class="collapse">
                            <div itemprop="text" class="card-body">
                                <p>Most digital marketing agencies make the excuse that SEO takes a long time to deliver
                                    results. The truth is that any good digital marketing agency will offer a selection
                                    of strategies. </p>
                                <p>If you need serious traffic fast, First Page can deliver!!</p>
                                <p>We commit to working with targets so we’re aligned with your business goals. </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
                        <div class="card-header collapsed" data-toggle="collapse" href="#collapse18">
                            <h5 itemprop="name">Can you provide SEO for global businesses?</h5>
                        </div>
                        <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" id="collapse18"
                             class="collapse">
                            <div itemprop="text" class="card-body">
                                <p>We’re a global agency that can produce global results in multiple languages. We offer
                                    <a href="{{ home_url }}international-seo/">International SEO</a> services designed
                                    to introduce your business to the world stage. Using our data-driven approach, we
                                    research your clients, competition and keywords. Then, we use this insight to create
                                    a personalised SEO campaign and library of quality content. </p>
                                <p>The result is exponential increases in traffic, leads, and sales. Over and over, we
                                    watch the skyrocketing search rankings of our clients. It’s a pleasure to see
                                    hard-working businesses make it big - and we’re proud that our International SEO
                                    agency services can deliver this global visibility. </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
                        <div class="card-header collapsed" data-toggle="collapse" href="#collapse19">
                            <h5 itemprop="name">Is SEO right for my business? </h5>
                        </div>
                        <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" id="collapse19"
                             class="collapse">
                            <div itemprop="text" class="card-body">
                                <p>Let's find out! SEO is not for everyone and anyone who tells you otherwise, is just
                                    trying to sell you. Best to reach out to one of our in-house SEO specialists so we
                                    can discuss options. It’s important that any digital strategy is aligned with your
                                    business objectives. </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
                        <div class="card-header collapsed" data-toggle="collapse" href="#collapse20">
                            <h5 itemprop="name">Who creates the SEO content for my web pages?</h5>
                        </div>
                        <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" id="collapse20"
                             class="collapse">
                            <div itemprop="text" class="card-body">
                                <p>Most SEO companies will outsource your copy to cheap writers with no experience. This
                                    literally breaks our heart. All of the effort you’ve put into developing your brand
                                    will be for nothing because it’s not being communicated with quality content. </p>
                                <p>First Page is home to an in-house team of professional content creators. We
                                    specialise in original, high-quality copywriting and content for some of the world’s
                                    leading brands. </p>
                                <p>We love connecting our creative team to new businesses because the results are so
                                    exciting!! We take the time to understand your brand before amplifying your message
                                    with sharp and snappy web copy and blogs. </p>
                                <p>This content is built around your target keywords to further increase your rankings.
                                    We achieve an insane amount of views, clicks and traffic!! </p>
                                <p>It’s rare to find great content online. But it's even more special to find a team who
                                    can actually present your brand in an interesting and entertaining way - and ALSO
                                    boost your SEO. It’s a serious double-whammy that does wonders for our clients!!</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-6">
                    <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
                        <div class="card-header collapsed" data-toggle="collapse" href="#collapse21">
                            <h5 itemprop="name">What link building methods do you use?</h5>
                        </div>
                        <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" id="collapse21"
                             class="collapse">
                            <div itemprop="text" class="card-body">
                                <p>Link building is the process of acquiring links from other websites to yours. It’s
                                    one of the most effective strategies to boost your authority and explode your Google
                                    rankings!!</p>
                                <p>We want to establish you as an expert in your industry and position you alongside
                                    other leaders in the community. And how do we achieve this? By ONLY using quality
                                    backlinks. </p>
                                <p>This can’t be said for other agencies. Time and again, we see quantity over quality.
                                    It might look good on the surface, but peer under the hood and you’ll discover
                                    you’re ACTUALLY receiving terrible links with zero authority. </p>
                                <p>First Page is home to a dedicated team of link building masters. They use their
                                    networks to connect with influential industry figures who will supply you with
                                    quality links to your website. This is what a serious link building strategy looks
                                    like. </p>
                                <p>When you need an SEO agency that only uses quality backlinks and really cares about
                                    quality, then it’s time to make the switch to First Page. </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-6">
                    <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
                        <div class="card-header collapsed" data-toggle="collapse" href="#collapse22">
                            <h5 itemprop="name">Do you outsource your SEO services overseas? </h5>
                        </div>
                        <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" id="collapse22"
                             class="collapse">
                            <div itemprop="text" class="card-body">
                                <p>ABSOLUTELY NOT. All seo work is performed locally in Australia. We would never risk
                                    your business and your back pocket by outsourcing SEO. </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-6">
                    <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
                        <div class="card-header collapsed" data-toggle="collapse" href="#collapse23">
                            <h5 itemprop="name">How do you report on the progress of my SEO campaign?</h5>
                        </div>
                        <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" id="collapse23"
                             class="collapse">
                            <div itemprop="text" class="card-body">
                                <p>Because we care about your ROI, our team closely generates a comprehensive range of
                                    metrics. You can even track your campaign through SENTR<span
                                            style="font-size: 22px">&trade;</span> - an online reporting platform we
                                    created to map your progress.</p>
                                <p>SENTR<span style="font-size: 22px">&trade;</span> is an intuitive online portal where
                                    you’ll find all of the resources you need to monitor your campaign. We provide
                                    access to live links and reporting which is backed by Google Analytics and Google
                                    Search Console. All of this data is combined into one simple and easy to read
                                    report. </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-6">
                    <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
                        <div class="card-header collapsed" data-toggle="collapse" href="#collapse24">
                            <h5 itemprop="name">Can First Page promise to improve my performance?</h5>
                        </div>
                        <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" id="collapse24"
                             class="collapse">
                            <div itemprop="text" class="card-body">
                                <p>At First Page, we guarantee results. We believe there’s never been a more important
                                    time to support Australian businesses. </p>
                                <p>SEO will help you attract more customers than ever before. It’s all about connecting
                                    you to your customers and communicating what you do best. It’s the most precise and
                                    targeted way to reach your existing audience - plus new and emerging
                                    demographics. </p>
                                <p>Search engine success means connecting with your customers and driving major organic
                                    traffic. This is your shot at serious sales!!</p>
                                <p>We’re confident in our ability to boost your search results rankings and drive
                                    traffic to your website. Not many SEO agencies offer this level of assurance. </p>
                                <p>But because we’re backed by years of industry experience and the best young minds in
                                    digital marketing, we’re not afraid to commit outstanding performance. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% include "partials/en-form-popup.twig" with {'form_page': 'International SEO (Pop-up Form)'} %}

{% endblock %}