{% extends "en-base.twig" %}

{% block content %}

	<section class="banner form-space google-display-network-banner">
		<div class="container banner-hero">
			<div class="banner-hero-cont">
				<h1 class="form-hide">Experience jaw dropping ROAS with clever Google Display Advertising</h1>
				<div class="banner-description">
					<div class="form-hide hero-mobile">
						<img src="{{ site.theme.link }}/assets/img/img-hero-tik-tok-mob.png" srcset="{{ site.theme.link }}/assets/img/img-hero-tik-tok-mob.png, {{ site.theme.link }}/assets/img/img-hero-tik-tok-mob@2x.png 2x" alt="First Page"/>
					</div>
				</div>
				{% include "partials/en-form-services.twig" with {'form_page': 'Google Display', 'form_button': 'Get A Free Quote'} %}
				{% include "partials/en-section-awards-badges.twig" %}
			</div>
			<div class="hero-img d-none d-md-block d-lg-none">
				<img src="{{ site.theme.link }}/assets/img/img-hero-tik-tok-md.png" srcset="{{ site.theme.link }}/assets/img/img-hero-tik-tok-md.png, {{ site.theme.link }}/assets/img/img-hero-tik-tok-md@2x.png 2x" alt="First Page"/>
			</div>
			<div class="hero-img d-none d-lg-block">
				<img src="{{ site.theme.link }}/assets/img/img-hero-tik-tok-lg.png" srcset="{{ site.theme.link }}/assets/img/img-hero-tik-tok-lg.png, {{ site.theme.link }}/assets/img/img-hero-tik-tok-lg@2x.png 2x" alt="First Page"/>
			</div>
		</div>
	</section>

	{% include "partials/en-section-featured-in-news.twig" %}

	<section class="section-paragraph">
		<div class="row no-gutters align-items-center flex-column-reverse flex-lg-row flex-lg-row-reverse">
			<div class="col-12 col-lg-6 image-container-right">
				<img src="{{ site.theme.link }}/assets/img/img_display_ads.png" srcset="{{ site.theme.link }}/assets/img/img_display_ads.png, {{ site.theme.link }}/assets/img/img_display_ads@2x.png 2x" class="img-fluid d-none d-md-inline-block" alt="First Page"/>
				<img src="{{ site.theme.link }}/assets/img/img_display_ads_mob.png" srcset="{{ site.theme.link }}/assets/img/img_display_ads_mob.png, {{ site.theme.link }}/assets/img/img_display_ads_mob@2x.png 2x" class="img-fluid d-md-none" alt="First Page"/>
			</div>
			<div class="col-12 col-lg-6 text-container">
				<h2>Remarket your products to people who have previously visited your site to see a massive boost in sales</h2>
				<p>Google Display Ads are criminally underrated.
				</p>
				<p>Why?</p>
				<p>Because few other ad platforms are so robust, so visual, and also offer powerful remarketing options the way that Google Display Ads do.
				</p>
				<p>These ads allow you to tell your brand’s story, and create a customer journey that is fully optimised for leads and conversions.
				</p>
				<p>The visual components of Google Display Ads are truly unique, and give you the ability to showcase your business around the world and transform random internet browsers into superfans of your brand.
				</p>
				<p>Whether you are looking to advertise on YouTube, Gmail, mobile apps, games, or specific types of websites - Google Display Ads will shock you with how targeted, and effective, they can be.
				</p>
				<p>Here are some shocking statistics about Google Display Ads network…</p>
				<ul>
					<li>Your Google Display Ads will be able to reach 90% of global internet users</li>
					<li>84% of marketers use display ads</li>
					<li>Google Display ads are most effective in the 25-44 age group</li>
					<li>You can cross-target, allowing you to create a more effective funnel and reach more potential buyers</li>
				</ul>
				<p>All of this makes it undeniable - Google Display Ads are a worthwhile investment for Ecommerce businesses, client-based businesses, and everything in between.
				</p>
				<button type="button" class="btn fp-btn fp-btn-orange show-popup-form">GET A FREE QUOTE</button>
			</div>
		</div>
	</section>

	<section class="section-paragraph">
		<div class="row no-gutters align-items-center flex-column-reverse flex-lg-row">
			<div class="col-12 col-lg-6 image-container-left">
				<img src="{{ site.theme.link }}/assets/img/img_google_clicks.png" srcset="{{ site.theme.link }}/assets/img/img_google_clicks.png, {{ site.theme.link }}/assets/img/img_google_clicks@2x.png 2x" class="img-fluid d-none d-md-inline-block" alt="First Page"/>
				<img src="{{ site.theme.link }}/assets/img/img_google_clicks_mob.png" srcset="{{ site.theme.link }}/assets/img/img_google_clicks_mob.png, {{ site.theme.link }}/assets/img/img_google_clicks_mob@2x.png 2x" class="img-fluid d-md-none" alt="First Page"/>
			</div>
			<div class="col-12 col-lg-6 text-container">
				<h2>The Google Display network is the largest in the world, with a 90% reach across all internet users. Are you advertising?</h2>
				<p>In our 10+ years running Google Display Ads, we have given our clients a ROAS (Return On Ad Spend) that few competitors can match.
				</p>
				<p>What’s our secret?
				</p>
				<p>Over a decade’s worth of experience. We have tested Google Display Ads relentlessly, which means that we know exactly what works, and what’s a waste of time (and money).
				</p>
				<p>This means that we will be able to deliver you astonishing results, within your budget, in record time.
				</p>
				<p>If you are ready to increase your sales, grow your brand, and work with the best Google Ads agency in the hemisphere, click the button below to speak with one of our Digital Strategists.
				</p>
				<button type="button" class="btn fp-btn fp-btn-orange show-popup-form">GET A FREE QUOTE</button>
			</div>
		</div>
	</section>

	<section class="section-client-reviews">
		<div class="container">
			<div class="section-title">
				<h2>See what our clients<br class="d-sm-none">
					are saying</h2>
			</div>
			<div class="row testimonial-cont">
				<div class="col-12 col-md-4">
					<div class="testimonial">
						<div class="stars">
							<img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
							<img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
							<img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
							<img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
							<img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
						</div>
						<div class="text">
							Joe and his team have been very helpful in managing our Facebook page - including the design of our logo, cover photo, content of posts and responses to followers. First Page is a professional and responsive team which I
							                        would recommend.
						</div>
						<div class="person">
							<div class="name">Whitney Tso</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-4">
					<div class="testimonial">
						<div class="stars">
							<img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
							<img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
							<img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
							<img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
							<img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
						</div>
						<div class="text">
							Good service and very responsible. A special thanks to Clarkson, our SEO Specialist. She is very helpful and always gives her full attention to our results. This means we can keep our high ranking on Google.
							                        Thanks so much.
						</div>
						<div class="person">
							<div class="name">Alexandro Chung</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-4">
					<div class="testimonial">
						<div class="stars">
							<img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
							<img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
							<img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
							<img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
							<img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
						</div>
						<div class="text">
							Thanks to First Page, our consultant business is becoming known by more and more customers. The team and the company are very professional and responsible. Most importantly, my SEO ranking has continuously improved since I joined the company.
						</div>
						<div class="person">
							<div class="name">Emet Sandy</div>
						</div>
					</div>
				</div>

				<div class="col-12 col-md-4">
					<div class="testimonial">
						<div class="stars">
							<img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
							<img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
							<img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
							<img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
							<img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
						</div>
						<div class="text">
							First Page over delivered! We’ve seen a 230% increase in our website traffic and a 400% increase in our online enquirers. Now we are now aiming for a 500% increase in traffic by next year. Thanks!
						</div>
						<div class="person">
							<div class="name">Boris Tselniker</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-4">
					<div class="testimonial">
						<div class="stars">
							<img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
							<img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
							<img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
							<img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
							<img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
						</div>
						<div class="text">
							With a dedicated team, First Page has managed to increase exposure to our websites with their premier search engine optimisation services. Thank you!
						</div>
						<div class="person">
							<div class="name">HAYLEY APPLEFORD</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-4">
					<div class="testimonial">
						<div class="stars">
							<img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
							<img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
							<img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
							<img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
							<img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
						</div>
						<div class="text">
							Carl and Bingming were professional, responsive and very knowledgeable. It's been a pleasure working with them. I would definitely recommend First Page to anyone who needs help with all things Digital Marketing!
						</div>
						<div class="person">
							<div class="name">Ricky Chandra</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	{% include "partials/en-section-services-google-ads.twig" %}

	<section class="section-casestudy casestudy-google-display-network">
		<div class="container">
			<div class="content-area">
				<div class="info">
					<h2>
						<span class="small-grey">Our Recent Work</span>
						<strong>Honestbee</strong>
					</h2>
					{# <ul class="tag">
					                    <li>SEO</li>
					                </ul> #}
					<p>Honestbee was hungry for more app signups so we utilised Google Ads/Universal App Campaign to drive more app installs/in-app conversions.</p>
				</div>

				<div class="stats">
					<div class="stats-container">
						<div class="row">
							<div class="col-12 col-md-6">
								<div class="stat">21x</div>
								<div class="desc">return on marketing investment in
									                                    2 months</div>
							</div>
							<div class="col-12 col-md-6 ">
								<div class="stat">307<sub>%</sub>
								</div>
								<div class="desc">increase in app installs</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	{% include "partials/en-section-free-session.twig" %}

	<section class="section-paragraph section-faqs">
		<div class="container">
			<h2 class="section-title">What is Google Display?</h2>
			<div itemscope itemtype="https://schema.org/FAQPage" class="row">
				<div class="col-12 col-lg-6">
					<div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
						<div
							class="card-header collapsed" data-toggle="collapse" href="#collapse1">
							{# q1 #}
							<h3 itemprop="name">What is Google Display?</h3>
						</div>
						<div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" id="collapse1" class="collapse">
							<div itemprop="text" class="card-body">
								<p>
									There are numerous ways to advertise using Google Ads, with
									                Google Display being just one ad format that helps businesses
									                reach and convert their target market. Based on the Google
									                Display Network, which has the power to reach over two million
									                websites and 90% of internet users, these highly visual ads can
									                appear across everything from news websites and blogs to Gmail
									                and YouTube. If your brand is looking to promote a wonderfully
									                aesthetic product or service – like clothing, travel deals or
									                adventure activities – display ads can capture unbelievable
									                attention.
								</p>
								<p>
									Businesses using online advertising for the first time often get
									                confused about the differences between search vs display ads.
									                The key distinction is that search ads will only appear on the
									                search engine results page, while display ads can appear in
									                millions of locations around the internet. In addition, search
									                ads only appear to users searching for a specific type of
									                product, while display ads capture attention based on diverse
									                targeting parameters. Alongside powerful remarketing campaigns,
									                Google display ads can be hugely productive for brands operating
									                at every scale.
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-lg-6">
					<div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
						<div
							class="card-header collapsed" data-toggle="collapse" href="#collapse2">
							{# q2 #}
							<h3 itemprop="name">
								What is the difference between Google search ads and Google
								              display ads?
							</h3>
						</div>
						<div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" id="collapse2" class="collapse">
							<div itemprop="text" class="card-body">
								<p>
									Google search ads and Google display ads have several
									                significant differences that could make one option the better
									                choice for your brand. This decision is largely based on your
									                long-term goals, with a strong campaign looking to identify
									                whether intent-driven vs awareness is the right way forward.
									                With search advertising effective at reaching consumers further
									                along the buyer journey, these ads are great for converting
									                customers who want to buy shortly.
								</p>
								<p>
									While display advertising can also convert these customers, this
									                format is ideal for generating brand awareness. This is because
									                the highly visual nature allows you to showcase the aesthetic
									                qualities of your products or services. With display advertising
									                aimed at customers towards the top of the marketing funnel, this
									                kind of advertising can push consumers towards making a purchase
									                as they get to know your brand and its credentials. When
									                deciding between search advertising and display advertising,
									                consider the push vs pull intention that sets these ad formats
									                apart.
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-lg-6">
					<div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
						<div
							class="card-header collapsed" data-toggle="collapse" href="#collapse3">
							{# q3 #}
							<h3 itemprop="name">Why is Google display important?</h3>
						</div>
						<div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" id="collapse3" class="collapse">
							<div itemprop="text" class="card-body">
								<p>
									Online advertising has become critical for brands looking to
									                reach their target market and generate sales. But with so much
									                competition existing online, you need to ensure you develop an
									                optimised campaign that achieves your goals. If your business
									                wants to instantly get in front of your target market, Google
									                display ads are a top-notch strategy as they can be carefully
									                targeted to your precise customer base. By ensuring your ads
									                appear when your audience hangs out online, you can drive more
									                engagement with your business.
								</p>
								<p>
									Google display ads are also particularly effective for brands
									                that produce visual products that benefit from showcasing
									                vibrant colours and dynamic imagery. By using photography and
									                custom graphics to highlight how your clothes look on a model or
									                the collaborative qualities of your software, you can build
									                awareness and convince potential customers to take action.
									                Meanwhile, Google Ads makes it easy to forecast the performance
									                of your campaign, so you can keep close tabs on your success.
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-lg-6">
					<div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
						<div
							class="card-header collapsed" data-toggle="collapse" href="#collapse4">
							{# q4 #}
							<h3 itemprop="name">Where do Google Display ads appear?</h3>
						</div>
						<div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" id="collapse4" class="collapse">
							<div itemprop="text" class="card-body">
								<p>
									Google Ads is divided into two networks known as the Google
									                Search Network and the Google Display Network (GDN). The latter
									                has a truly staggering reach for where your display advertising
									                can appear around the internet. Featuring more than two million
									                websites that reach an estimated 90% of all internet users, your
									                display ads have the potential to reach your consumers on any
									                one of these sites. This also includes hugely popular Google
									                search sites, such as YouTube, Gmail and Google Finance.
								</p>
								<p>
									If you decide to launch a new Google display advertising
									                campaign, the default ad format is responsive display ads. By
									                uploading your advertisement in various sizes, this sees the GDN
									                identify suitable spaces on websites around the internet that
									                are visited by your customer base. Whether that’s a news website
									                or a specific blogger, you can capture outstanding attention
									                based on their interests. Meanwhile, the topic targeting feature
									                sees the GDN expand your reach by placing ads on websites about
									                related topics that your target market also cares about.
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-lg-6">
					<div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
						<div
							class="card-header collapsed" data-toggle="collapse" href="#collapse5">
							{# q5 #}
							<h3 itemprop="name">How can I target Google Display ads?</h3>
						</div>
						<div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" id="collapse5" class="collapse">
							<div itemprop="text" class="card-body">
								<p>
									If you’re thinking about starting a display advertising
									                campaign, it won’t take long to realise the variety of targeting
									                options that allow you to reach your target market. In-market
									                targeting is highly effective for brands looking to reach
									                consumers interested in a specific topic, such as fitness, real
									                estate or fashion. You can also target your campaign based on
									                placement targeting, which lets you identify certain websites
									                that your ideal customers use frequently.
								</p>
								<p>
									By allowing the Google Display Network to target consumers based
									                on related topics to your products and services, you can quickly
									                expand your reach and attract fresh customers. Alongside these
									                and several other methods, you can also use optimised targeting
									                to focus your display advertising campaign on the right people.
									                For instance, you can exclude specific categories and audience
									                types to ensure your budget is only spent on people who have a
									                distinct interest in your brand.
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-lg-6">
					<div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
						<div
							class="card-header collapsed" data-toggle="collapse" href="#collapse6">
							{# q6 #}
							<h3 itemprop="name">
								What kind of Google Display ad specs are there?
							</h3>
						</div>
						<div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" id="collapse6" class="collapse">
							<div itemprop="text" class="card-body">
								<p>
									There are two ways to upload Google display ads to the platform
									                that requires different things from your brand. The first is
									                where you upload your own ads and take full responsibility for
									                the design specifications. While this can be effective for
									                companies with specific goals, this limits your ability to
									                advertise on some websites due to size restrictions. If you
									                decide to go this route, you must produce ads in a range of
									                shapes and sizes, with the most common including:
								</p>
								<ul>
									<li>Half-page or Large Skyscraper Ad: 300 x 600 pixels</li>
									<li>Medium Rectangle Ad: 300 x 250 pixels</li>
									<li>Large Mobile Banner: 320 x 100 pixels</li>
									<li>Leaderboard Ad: 728 x 90 pixels</li>
								</ul>
								<p>
									However, brands can also make the most of Google’s simplified
									                approach, known as responsive display ads. This is where Google
									                Ads takes your business name, logo, visual imagery and ad copy
									                to produce several versions of your advertisement for you. As
									                these ads automatically respond to the varied requirements of
									                websites across the internet, your ads will appear in far wider
									                locations than the standard upload option.
								</p>
							</div>
						</div>
					</div>
				</div>
				{# q7 #}
				<div class="col-12 col-lg-6">
					<div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
						<div class="card-header collapsed" data-toggle="collapse" href="#collapse7">
							<h3 itemprop="name">
								How can I get started with Google Display ads?
							</h3>
						</div>
						<div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" id="collapse7" class="collapse">
							<div itemprop="text" class="card-body">
								<p>
									Starting a Google display advertising campaign is an exciting
									                time, but you want to make sure you get everything organised
									                correctly from the beginning. The first thing you have to do is
									                select a goal for your campaign, ranging from sales and leads to
									                website traffic. Then, you have to choose the ad format and
									                decide which devices you want to show up on. Plus, brands can
									                select a Google Smart Display Campaign to automate their
									                targeting and bidding. However, it’s particularly important to
									                identify the perfect target market from the outset of your
									                strategy.
								</p>

								<p>
									This involves understanding the kind of people who care most
									                about your products and services, including age, gender,
									                location and interests. Your Google display ad bid strategy is
									                also critical to your success, with several options intended for
									                different campaign goals. After you create responsive display
									                ads or upload your own, set up conversion tracking to receive
									                insightful data on how consumers interact with your marketing.
								</p>
							</div>
						</div>
					</div>
				</div>
				{# q8 #}
				<div class="col-12 col-lg-6">
					<div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
						<div class="card-header collapsed" data-toggle="collapse" href="#collapse8">
							<h3 itemprop="name">How much do Google Display ads cost?</h3>
						</div>
						<div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" id="collapse8" class="collapse">
							<div itemprop="text" class="card-body">
								<p>
									The cost of Google display ads will be different for every
									                campaign, as there’s a myriad of factors that go into
									                determining the best way to reach your target market. With
									                customer demographics, different industries and keyword
									                selection impacting how much a brand can expect to pay, the
									                budget required to achieve your goals is constantly changing.
									                However, Google display ads are consistently cost-effective,
									                with the average cost-per-click estimated at less than $1.
								</p>
								<p>
									One of the most defining features of your campaign’s cost is the
									                bid strategy selected. You may choose to bid based on cost per
									                impression (CPM), which will help your brand generate awareness
									                and grow its reputation. However, a cost-per-conversion strategy
									                is optimised to achieve a certain number of sales for a specific
									                target price. Alongside First Page's detailed PPC management
									                services, we can help your business reach its objectives for an
									                outstanding ROI.
								</p>
							</div>
						</div>
					</div>
				</div>
				{# q9 #}
				<div class="col-12 col-lg-6">
					<div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
						<div class="card-header collapsed" data-toggle="collapse" href="#collapse9">
							<h3 itemprop="name">What is impression reporting on the GDN?</h3>
						</div>
						<div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" id="collapse9" class="collapse">
							<div itemprop="text" class="card-body">
								<p>
									Although most display advertising campaigns are dedicated to
									                achieving the most clicks possible, there are numerous other
									                positive aspects to consider. This is where the impression
									                reporting feature within the Google Display Network comes into
									                play. By having the ability to measure the impact of unclicked
									                display advertising, you can keep track of customers returning
									                to your website after viewing an ad, even if that action doesn’t
									                take place immediately. Before this feature was added, it was
									                difficult to measure the influence that display advertising had
									                on brand awareness.
								</p>
								<p>
									As some consumers might not convert for weeks, impression
									                reporting informs you about how many of your display
									                advertisements buyers have come across previously, even if they
									                never clicked on one. This helps brands develop a deeper
									                understanding of their display advertising performance across
									                several online channels. With the Multi-Channel Funnels report
									                highlighting these conversion paths within Google Analytics,
									                this data will fill in the gaps about how conversions were
									                achieved and what steps will enhance your sales funnel.
								</p>
							</div>
						</div>
					</div>
				</div>
				{# q10 #}
				<div class="col-12 col-lg-6">
					<div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
						<div class="card-header collapsed" data-toggle="collapse" href="#collapse10">
							<h3 itemprop="name">What makes a display ad effective?</h3>
						</div>
						<div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" id="collapse10" class="collapse">
							<div itemprop="text" class="card-body">
								<p>
									Display advertising has the potential to be life-changing for
									                your business. But you need to design effective display ads that
									                communicate the unique qualities of your products and capitalise
									                on the desires of your target market. If you’re ready to start
									                creating your display ads, four key elements must be organised
									                successfully, including company name, value proposition, visuals
									                and a call-to-action button. These must be combined with
									                eye-catching colours and sharp typography without leaving
									                potential buyers confused. With the right approach, your
									                carefully tailored creative will help drive your business goals.
								</p>
								<p>
									Alongside the design of your display ads, you must also focus on
									                generating optimised landing pages that reflect the same
									                message. With your advertising increasing brand awareness and
									                consumer interest, you can push customers further along the
									                buyer journey when they arrive on your landing page. By aligning
									                your ad copy and including high-quality imagery, you can
									                convince people to complete their purchase. Use the ability to
									                A/B test various versions of your display ads to analyse which
									                ones best achieve your objectives.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- faq 2 -->
	<section class="section-paragraph section-faqs py-5">
		<div class="container">
			<h2 class="section-title">
				How can Google Display Ads Benefit your Business?
			</h2>
			<div
				itemscope itemtype="https://schema.org/FAQPage" class="row">
				{# q11 #}
				<div class="col-12 col-lg-6">
					<div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
						<div class="card-header collapsed" data-toggle="collapse" href="#collapse11">
							<h3 itemprop="name">Are Google display ads effective?</h3>
						</div>
						<div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" id="collapse11" class="collapse">
							<div itemprop="text" class="card-body">
								<p>
									Google display ads have become widespread across the internet,
									                but they can still deliver exceptional results when targeted
									                effectively. By having a detailed understanding of your customer
									                base, you can drive brand awareness with display ads that
									                respond to their needs and desires. Alongside cutting-edge
									                techniques like dynamic creative to generate expressive brand
									                stories and rich media that brings your ads to life, display
									                advertising can deliver superior returns for your business.
								</p>
								<p>
									A targeted Google Display campaign is also perfect for
									                re-engaging consumers who care about your products and services.
									                Even if they decide not to purchase immediately, you can use
									                remarketing lists to reach out again and convince someone that
									                you can provide what they need. Plus, brands can keep track of
									                their impression reporting to see how their budget generates
									                huge upsides outside of their click-through rate. Partner with a
									                leading agency like First Page to discover just how powerful
									                Google display ads can be.
								</p>
							</div>
						</div>
					</div>
				</div>
				{# q12 #}
				<div class="col-12 col-lg-6">
					<div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
						<div class="card-header collapsed" data-toggle="collapse" href="#collapse12">
							<h3 itemprop="name">
								Will display ads work for my eCommerce business?
							</h3>
						</div>
						<div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" id="collapse12" class="collapse">
							<div itemprop="text" class="card-body">
								<p>
									Google display ads are remarkably effective for e-commerce
									                businesses. As you’re naturally looking for customers browsing
									                for products online, this highly visual ad format can help you
									                showcase the best aspects of your products and convince users to
									                check out your business. By reaching your target market in
									                relevant online locations, ranging from industry-specific news
									                websites to YouTube videos, you can ensure you communicate the
									                perfect message to the right people.
								</p>
								<p>
									Part of what makes Google display ads so rewarding is how they
									                can be targeted at in-market audiences. This technique means you
									                can attract consumers who are actively searching for a product
									                or service that you offer. With the display advertising
									                algorithm considering the actions of specific users, such as
									                previous ads clicked, it can identify those who have the highest
									                chance of caring about your message. By leveraging this system
									                to your advantage, you can drive highly-qualified users straight
									                to your online store.
								</p>
							</div>
						</div>
					</div>
				</div>
				{# q13 #}
				<div class="col-12 col-lg-6">
					<div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
						<div class="card-header collapsed" data-toggle="collapse" href="#collapse13">
							<h3 itemprop="name">What is the average CTR on a display ad?</h3>
						</div>
						<div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" id="collapse13" class="collapse">
							<div itemprop="text" class="card-body">
								<p>
									Every business wants to generate the best possible click-through
									                rate (CTR), but it’s important to have realistic expectations
									                when establishing a new campaign. The optimal CTR varies by
									                industry significantly, with the average benchmark ranging
									                between 0.4 - 1%. So what industries deliver a superior CTR? The
									                likes of real estate and dating are considered some of the
									                top-performing sectors, with the emotional ad copy at the heart
									                of these activities helping to produce huge returns.
								</p>
								<p>
									However, it’s possible to experience a CTR that rises above and
									                beyond the competition with the right approach. Audience
									                targeting is perhaps the most essential factor. By understanding
									                your target market and knowing how to reach them, you can
									                attract engaged consumers and convince them to click. Alongside
									                top-notch creative that resonates with your customer base and
									                the clever exclusion of certain topics and audiences, you can
									                ensure your campaign only reaches the most engaged people.
								</p>
							</div>
						</div>
					</div>
				</div>
				{# q14 #}
				<div class="col-12 col-lg-6">
					<div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
						<div class="card-header collapsed" data-toggle="collapse" href="#collapse14">
							<h3 itemprop="name">What will my ROI look like?</h3>
						</div>
						<div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" id="collapse14" class="collapse">
							<div itemprop="text" class="card-body">
								<p>
									Every business wants to experience a world-class ROI when
									                embarking on any kind of digital marketing campaign. This is
									                especially true when it comes to Google display advertising as a
									                personalised strategy has the potential to skyrocket your
									                company’s success when planned and implemented properly.
									                However, small businesses undoubtedly have less margin for
									                error, so they must choose a team they trust to use their budget
									                productively. Fortunately, the experts at First Page deliver
									                unmatched ROI for display advertising campaigns daily.
								</p>
								<p>
									Ultimately, brands must optimise campaign performance across
									                every aspect of display advertising to ensure they hit their
									                targets. Our expert team will get to know your ideal audience
									                and craft compelling messages that capture their attention.
									                Meanwhile, we know how to get the most out of Google Ads' most
									                powerful features to ensure we outpace your competition. As we
									                develop KPIs that enable you to analyse our ongoing performance,
									                you'll quickly realise why we're recognised as Australia's top
									                digital marketing agency.
								</p>
							</div>
						</div>
					</div>
				</div>
				{# q15 #}
				<div class="col-12 col-lg-6">
					<div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
						<div class="card-header collapsed" data-toggle="collapse" href="#collapse15">
							<h3 itemprop="name">Should I combine search and display?</h3>
						</div>
						<div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" id="collapse15" class="collapse">
							<div itemprop="text" class="card-body">
								<p>
									Many companies believe they have to choose between search and
									                display ads when kickstarting their online advertising strategy.
									                But the reality is that these two approaches can work in unison
									                to ensure you’re capturing the greatest amount of attention and
									                conversions from your target market. While search ads are
									                excellent for gaining clicks from customers further down the
									                marketing funnel, brands that use this advertising method alone
									                aren’t reaching a significant chunk of their target market.
								</p>
								<p>
									However, display advertising based on the Google Display Network
									                can appear on more than two million websites, including massive
									                platforms like YouTube and Gmail. This means you can reach more
									                potential customers in a wider variety of places around the
									                internet. In fact, running search and display advertising
									                simultaneously ensures your brand experiences the advantages of
									                both campaigns, leading to a surge in website traffic and
									                conversions from consumers at various stages of the buyer
									                journey.
								</p>
							</div>
						</div>
					</div>
				</div>
				{# q16 #}
				<div class="col-12 col-lg-6">
					<div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
						<div class="card-header collapsed" data-toggle="collapse" href="#collapse16">
							<h3 itemprop="name">How long will it take to see results?</h3>
						</div>
						<div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" id="collapse16" class="collapse">
							<div itemprop="text" class="card-body">
								<p>
									Google display advertisements start delivering brand awareness,
									                leads and conversions from the moment you launch your campaign.
									                But it often takes around three months for your display ads
									                strategy to flourish into something special. Why? Because it
									                takes time to collect the data needed to turn a trickle of leads
									                into a full-blown flood. As Google is constantly assessing the
									                performance of your campaign, over time, the algorithm will get
									                to know your campaign and increase visibility as its quality and
									                usefulness for users is confirmed.
								</p>
								<p>
									If you partner with a leading digital marketing agency like
									                First Page, we'll keep an incredibly close eye on your
									                campaign’s performance around the clock. As we track and assess
									                how your strategy is delivering impressions, clicks and
									                conversions, we can fine-tune our approach on the fly to ensure
									                your results are constantly improving. Alongside keyword
									                research, audience targeting and bid strategy optimisations,
									                achieving your strategy’s maximum potential is made possible
									                when it's in our hands.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	{% include "partials/en-form-popup.twig" with {'form_page': 'Google Display (Pop-up Form)'} %}


{% endblock %}
