{% extends "en-base.twig" %} 
{% block content %}

<section class="banner form-space">
    <div class="container banner-hero two-lines">
        <div class="banner-hero-cont">
            <h1 class="form-hide text-center text-md-left">Claim your 100% free <br class="d-none d-md-block">REVENUE GROWTH strategy session valued at $2000</h1>
            <img src="{{ site.theme.link }}/assets/img/img_banner_sam_sm_full.png" srcset="{{ site.theme.link }}/assets/img/img_banner_sam_sm_full.png, {{ site.theme.link }}/assets/img/img_banner_sam_sm_full@2x.png 2x" alt="First Page" class="d-block m-auto d-md-none"/>

            <div class="banner-description">
                {# <p class="form-hide">We outline bulletproof tactics that dramatically increase website traffic and revenue, even during tough economic times.</p> #}
                <div class="form-hide hero-mobile">
                    {# <img src="{{ site.theme.link }}/assets/img/img_hero_sam_sm.png" srcset="{{ site.theme.link }}/assets/img/img_hero_sam_sm.png, {{ site.theme.link }}/assets/img/img_hero_sam_sm@2x.png 2x" alt="First Page" /> #}
                </div>
            </div>
            {% include "partials/en-form-services-revenue-growth-offer.twig" with {'form_page': 'Revenue Growth Offer', 'form_button': 'Get A Free Revenue Growth Strategy'} %}
            {% include "partials/en-section-awards-badges.twig" %}
        </div>
        <div class="hero-img d-none d-md-block d-lg-none">
                <img src="{{ site.theme.link }}/assets/img/img_hero_sam_md.png" srcset="{{ site.theme.link }}/assets/img/img_hero_sam_md.png, {{ site.theme.link }}/assets/img/img_hero_sam_md@2x.png 2x" alt="First Page" />
        </div>
        <div class="hero-img d-none d-lg-block">
                <img src="{{ site.theme.link }}/assets/img/img_hero_sam_lg.png" srcset="{{ site.theme.link }}/assets/img/img_hero_sam_lg.png, {{ site.theme.link }}/assets/img/img_hero_sam_lg@2x.png 2x" alt="First Page" />
        </div>
    </div>
</section>

{% include "partials/en-section-experience.twig" %}

<section class="section-paragraph">
  <div
    class="row no-gutters flex-column-reverse flex-md-row flex-md-row-reverse"
  >
    <div class="col-12 col-md-6 image-container-right">
      <img
        src="{{ site.theme.link }}/assets/img/img_profit.svg"
        class="img-fluid d-none d-md-inline-block"
        alt="First Page"
      />
      <img
        src="{{ site.theme.link }}/assets/img/img_profit_mob.svg"
        class="img-fluid d-md-none"
        alt="First Page"
      />
    </div>
    <div class="col-12 col-md-6 text-container text-container-seo-new">
      <h2>
        Triple the size of your business by teaming up with an award-winning SEO company
      </h2>
      <p class="text-center text-md-left">
        At First Page, we believe your business is a unique achievement. What
        you do deserves to be seen by the world - and that means absolutely
        dominating Google for your industry.
      </p>
      <p class="text-center text-md-left">
        In today’s digital economy, you MUST build an attention-grabbing online
        presence that sets you apart from your competition... First Page is all
        about delivering the visibility you deserve! We’re the game-changing SEO
        agency that specialises in driving an obscene amount of traffic to your
        website.
      </p>
      <button
        type="button"
        data-title="seopage-get-freeproposal-Triple"
        class="btn fp-btn fp-btn-orange show-popup-form buttonFormClick"
      >
        GET A FREE QUOTE
      </button>
    </div>
  </div>
</section>

<section class="section-paragraph">
  <div class="row no-gutters flex-column-reverse flex-md-row">
    <h2 class="d-none d-md-block d-lg-none ml-3">
      Why risk your business and livelihood by outsourcing your SEO to an agency
      that outsources to a developing country.
    </h2>
    <div class="col-12 col-md-6 image-container-left pr-lg-5">
      <img
        src="{{ site.theme.link }}/assets/img/img_office_chat_lg.png"
        srcset="{{ site.theme.link }}/assets/img/img_office_chat_lg.png, {{ site.theme.link }}/assets/img/img_office_chat_lg@2x.png 2x"
        class="img-fluid d-none d-md-inline-block"
        alt="First Page"
      />
      <img
        src="{{ site.theme.link }}/assets/img/img_seo_we_dont_outsource_mob.png"
        srcset="{{ site.theme.link }}/assets/img/img_seo_we_dont_outsource_mob.png, {{ site.theme.link }}/assets/img/img_seo_we_dont_outsource_mob@2x.png 2x"
        class="img-fluid d-md-none"
        alt="First Page"
      />
    </div>
    <div class="col-12 col-md-6 text-container">
      <h2 class="d-block d-md-none d-lg-block">
        Why risk your business and livelihood by outsourcing your SEO to an
        agency that outsources to a developing country.
      </h2>
      <p class="text-center text-md-left">
        99% of the seo companies in Australia compromise on quality by
        outsourcing to third world countries. We just don’t get it. We should be
        called the SEO agency clean-up crew, because time and time again, we are
        cleaning up the mess when a third party has outsourced overseas. The
        whole process ends up costing the business more money and time to
        reverse the problem. Plus think of the opportunity cost!
      </p>
      <p class="text-center text-md-left">
        We take pride in keeping everything in-house and we would never
        jeopardise your business by cutting corners. So why risk your business,
        your income, your livelihood with an seo agency who cuts corners.
      </p>
      <button
        type="button"
        data-title="seopage-get-freeproposal-Why"
        class="btn fp-btn fp-btn-orange show-popup-form buttonFormClick"
      >
        GET A FREE QUOTE
      </button>
    </div>
  </div>
</section>


{% include "partials/en-section-revenue-growth-offer-client-reviews.twig" %}

{% include "partials/en-section-new-case-study.twig" %}


{% include "partials/en-section-services-seo-carousel.twig" %}

<section class="section-paragraph">
  <div
    class="row no-gutters flex-column-reverse flex-md-row flex-md-row-reverse"
  >
    <h2 class="d-none d-md-block d-lg-none ml-3">
      Get more leads and sales than your business can handle with insanely good
      SEO.
    </h2>
    <div class="col-12 col-md-6 image-container-right pl-lg-5">
      <img
        src="{{ site.theme.link }}/assets/img/img_seo_traffic.png"
        srcset="{{ site.theme.link }}/assets/img/img_seo_traffic.png, {{ site.theme.link }}/assets/img/img_seo_traffic@2x.png 2x"
        class="img-fluid d-none d-md-inline-block"
        alt="First Page"
      />
      <img
        src="{{ site.theme.link }}/assets/img/img_seo_traffic_mob.png"
        srcset="{{ site.theme.link }}/assets/img/img_seo_traffic_mob.png, {{ site.theme.link }}/assets/img/img_seo_traffic_mob@2x.png 2x"
        class="img-fluid d-md-none"
        alt="First Page"
      />
    </div>
    <div class="col-12 col-md-6 text-container text-container-seo-new">
      <h2 class="d-block d-md-none d-lg-block">
        Get more leads and sales than your business can handle with insanely
        good SEO.
      </h2>
      <div class="pt-2 d-block d-sm-none"></div>
      <p class="text-center text-md-left">
        The details are in the data and that’s why we are obsessed with data
        when making decisions that directly impact your SEO strategy and your
        business. Just a slight tweak to your SEO strategy can dramatically
        impact the way of your website ranks and displays in the search results.
      </p>
      <p class="text-center text-md-left">
        This is pretty crazy, but we have the ability to predict Google
        algorithm updates due to custom built, in-house proprietary tech -
        SENTR<span style="font-size: 22px">&trade;</span>. What does this mean
        for you? Imagine the possibilities if you could predict the future. With
        the huge amount of data SENTR<span style="font-size: 22px"
          >&trade;</span
        >
        processes, we have the ability to prepare and capitalise on future
        algorithmic updates. We’re always one step ahead, that’s why we provide
        the best SEO services in Australia.
      </p>
      <button
        type="button"
        data-title="seopage-get-freeproposal-Get"
        class="btn fp-btn fp-btn-orange show-popup-form buttonFormClick"
      >
        GET A FREE QUOTE
      </button>
    </div>
  </div>
</section>


{% include "partials/en-section-free-session.twig" %}

<section class="section-paragraph section-faqs pb-5">
  <div class="container">
    <h2 class="section-title">Search Engine Optimisation (SEO) FAQ’s</h2>
    <div itemscope itemtype="https://schema.org/FAQPage" class="row">
      <div class="col-12 col-lg-6">
        <div
          itemscope
          itemprop="mainEntity"
          itemtype="https://schema.org/Question"
          class="card"
        >
          <div
            class="card-header collapsed"
            data-toggle="collapse"
            href="#collapse13"
          >
            <h3 itemprop="name">Why should I make the switch to First Page?</h3>
          </div>
          <div
            itemscope
            itemprop="acceptedAnswer"
            itemtype="https://schema.org/Answer"
            id="collapse13"
            class="collapse"
          >
            <div itemprop="text" class="card-body">
              <p>
                First Page is the fastest growing agency in APAC, servicing a
                roster of global brands including Microsoft, Cathay Pacific and
                Rolls Royce. In saying that, we work with brands of all shapes &
                sizes.
              </p>
              <p>
                First Page is built with smart, savvy and driven talent - we’re
                the next generation of digital marketers and SEO specialists.
              </p>
              <p>So, what does this mean for you and your business?</p>
              <p>
                It demonstrates we have what it takes to help you succeed
                online. We have the PROVEN expertise to deliver unrivalled
                growth and an avalanche of traffic!!
              </p>
              <p>
                And because we trust our abilities, we offer GUARANTEED results.
                If this sounds like a rare opportunity, that’s because it is.
                The truth is that so few agencies in Australia can deliver SEO
                at the level we do.
              </p>
              <p>
                If you’re starting to realise that your current agency isn’t
                living up to expectations, then perhaps it’s time to speak with
                us. Our team of SEO gurus are always available to
                <a href="{{ home_url }}contact/">begin a conversation</a> about
                making the switch to First Page.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <div
          itemscope
          itemprop="mainEntity"
          itemtype="https://schema.org/Question"
          class="card"
        >
          <div
            class="card-header collapsed"
            data-toggle="collapse"
            href="#collapse14"
          >
            <h3 itemprop="name">Are you experienced in eCommerce SEO?</h3>
          </div>
          <div
            itemscope
            itemprop="acceptedAnswer"
            itemtype="https://schema.org/Answer"
            id="collapse14"
            class="collapse"
          >
            <div itemprop="text" class="card-body">
              <p>
                There’s a reason why eCommerce businesses highly recommend our
                SEO services...
              </p>
              <p>
                We’ve spent years talking to the owners of online stores and
                listening to their stories. Then, we developed a suite of
                <a href="{{ home_url }}ecommerce-seo/">eCommerce SEO</a>
                services based on this in-depth understanding.
              </p>
              <p>
                We have extensive experience with Shopify, Magento, BigCOmmerce,
                WooCommerce and more. We’re an seo agency with serious SEO
                prowess.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <div
          itemscope
          itemprop="mainEntity"
          itemtype="https://schema.org/Question"
          class="card"
        >
          <div
            class="card-header collapsed"
            data-toggle="collapse"
            href="#collapse15"
          >
            <h3 itemprop="name">
              How can I organise my FREE on-site SEO audit?
            </h3>
          </div>
          <div
            itemscope
            itemprop="acceptedAnswer"
            itemtype="https://schema.org/Answer"
            id="collapse15"
            class="collapse"
          >
            <div itemprop="text" class="card-body">
              <p>
                Simply reach out to our digital marketing specialists! Our FREE
                onsite SEO audit is just the beginning of our relationship. We
                want to start with a clear understanding of where you are now
                and where you could be in the future.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <div
          itemscope
          itemprop="mainEntity"
          itemtype="https://schema.org/Question"
          class="card"
        >
          <div
            class="card-header collapsed"
            data-toggle="collapse"
            href="#collapse16"
          >
            <h3 itemprop="name">What SEO results do you guarantee?</h3>
          </div>
          <div
            itemscope
            itemprop="acceptedAnswer"
            itemtype="https://schema.org/Answer"
            id="collapse16"
            class="collapse"
          >
            <div itemprop="text" class="card-body">
              <p>
                We have a variety of performance milestone options with our most
                popular being the traffic guarantee.
              </p>
              <p>
                Our traffic guarantees are tailored to your business and how
                many visitors we can drive to your site. And if there’s ever a
                time that we don’t meet these targets - we’ll work for free
                until we do.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <div
          itemscope
          itemprop="mainEntity"
          itemtype="https://schema.org/Question"
          class="card"
        >
          <div
            class="card-header collapsed"
            data-toggle="collapse"
            href="#collapse17"
          >
            <h3 itemprop="name">When can I expect to see SEO results?</h3>
          </div>
          <div
            itemscope
            itemprop="acceptedAnswer"
            itemtype="https://schema.org/Answer"
            id="collapse17"
            class="collapse"
          >
            <div itemprop="text" class="card-body">
              <p>
                Most digital marketing agencies make the excuse that SEO takes a
                long time to deliver results. The truth is that any good digital
                marketing agency will offer a selection of strategies.
              </p>
              <p>If you need serious traffic fast, First Page can deliver!!</p>
              <p>
                We commit to working with targets so we’re aligned with your
                business goals.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <div
          itemscope
          itemprop="mainEntity"
          itemtype="https://schema.org/Question"
          class="card"
        >
          <div
            class="card-header collapsed"
            data-toggle="collapse"
            href="#collapse18"
          >
            <h3 itemprop="name">Can you provide SEO for global businesses?</h3>
          </div>
          <div
            itemscope
            itemprop="acceptedAnswer"
            itemtype="https://schema.org/Answer"
            id="collapse18"
            class="collapse"
          >
            <div itemprop="text" class="card-body">
              <p>
                We’re a global agency that can produce global results in
                multiple languages. We offer
                <a href="{{ home_url }}international-seo/">International SEO</a>
                services designed to introduce your business to the world stage.
                Using our data-driven approach, we research your clients,
                competition and keywords. Then, we use this insight to create a
                personalised SEO campaign and library of quality content.
              </p>
              <p>
                The result is exponential increases in traffic, leads, and
                sales. Over and over, we watch the skyrocketing search rankings
                of our clients. It’s a pleasure to see hard-working businesses
                make it big - and we’re proud that our International SEO agency
                services can deliver this global visibility.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <div
          itemscope
          itemprop="mainEntity"
          itemtype="https://schema.org/Question"
          class="card"
        >
          <div
            class="card-header collapsed"
            data-toggle="collapse"
            href="#collapse19"
          >
            <h3 itemprop="name">Is SEO right for my business?</h3>
          </div>
          <div
            itemscope
            itemprop="acceptedAnswer"
            itemtype="https://schema.org/Answer"
            id="collapse19"
            class="collapse"
          >
            <div itemprop="text" class="card-body">
              <p>
                Let's find out! SEO is not for everyone and anyone who tells you
                otherwise, is just trying to sell you. Best to reach out to one
                of our in-house SEO specialists so we can discuss options. It’s
                important that any digital strategy is aligned with your
                business objectives.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <div
          itemscope
          itemprop="mainEntity"
          itemtype="https://schema.org/Question"
          class="card"
        >
          <div
            class="card-header collapsed"
            data-toggle="collapse"
            href="#collapse20"
          >
            <h3 itemprop="name">
              Who creates the SEO content for my web pages?
            </h3>
          </div>
          <div
            itemscope
            itemprop="acceptedAnswer"
            itemtype="https://schema.org/Answer"
            id="collapse20"
            class="collapse"
          >
            <div itemprop="text" class="card-body">
              <p>
                Most SEO companies will outsource your copy to cheap writers
                with no experience. This literally breaks our heart. All of the
                effort you’ve put into developing your brand will be for nothing
                because it’s not being communicated with quality content.
              </p>
              <p>
                First Page is home to an in-house team of professional content
                creators. We specialise in original, high-quality copywriting
                and content for some of the world’s leading brands.
              </p>
              <p>
                We love connecting our creative team to new businesses because
                the results are so exciting!! We take the time to understand
                your brand before amplifying your message with sharp and snappy
                web copy and blogs.
              </p>
              <p>
                This content is built around your target keywords to further
                increase your rankings. We achieve an insane amount of views,
                clicks and traffic!!
              </p>
              <p>
                It’s rare to find great content online. But it's even more
                special to find a team who can actually present your brand in an
                interesting and entertaining way - and ALSO boost your SEO. It’s
                a serious double-whammy that does wonders for our clients!!
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-lg-6">
        <div
          itemscope
          itemprop="mainEntity"
          itemtype="https://schema.org/Question"
          class="card"
        >
          <div
            class="card-header collapsed"
            data-toggle="collapse"
            href="#collapse21"
          >
            <h3 itemprop="name">What link building methods do you use?</h3>
          </div>
          <div
            itemscope
            itemprop="acceptedAnswer"
            itemtype="https://schema.org/Answer"
            id="collapse21"
            class="collapse"
          >
            <div itemprop="text" class="card-body">
              <p>
                Link building is the process of acquiring links from other
                websites to yours. It’s one of the most effective strategies to
                boost your authority and explode your Google rankings!!
              </p>
              <p>
                We want to establish you as an expert in your industry and
                position you alongside other leaders in the community. And how
                do we achieve this? By ONLY using quality backlinks.
              </p>
              <p>
                This can’t be said for other agencies. Time and again, we see
                quantity over quality. It might look good on the surface, but
                peer under the hood and you’ll discover you’re ACTUALLY
                receiving terrible links with zero authority.
              </p>
              <p>
                First Page is home to a dedicated team of link building masters.
                They use their networks to connect with influential industry
                figures who will supply you with quality links to your website.
                This is what a serious link building strategy looks like.
              </p>
              <p>
                When you need an SEO agency that only uses quality backlinks and
                really cares about quality, then it’s time to make the switch to
                First Page.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-lg-6">
        <div
          itemscope
          itemprop="mainEntity"
          itemtype="https://schema.org/Question"
          class="card"
        >
          <div
            class="card-header collapsed"
            data-toggle="collapse"
            href="#collapse22"
          >
            <h3 itemprop="name">
              Do you outsource your SEO services overseas?
            </h3>
          </div>
          <div
            itemscope
            itemprop="acceptedAnswer"
            itemtype="https://schema.org/Answer"
            id="collapse22"
            class="collapse"
          >
            <div itemprop="text" class="card-body">
              <p>
                ABSOLUTELY NOT. All seo work is performed locally in Australia.
                We would never risk your business and your back pocket by
                outsourcing SEO.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-lg-6">
        <div
          itemscope
          itemprop="mainEntity"
          itemtype="https://schema.org/Question"
          class="card"
        >
          <div
            class="card-header collapsed"
            data-toggle="collapse"
            href="#collapse23"
          >
            <h3 itemprop="name">
              How do you report on the progress of my SEO campaign?
            </h3>
          </div>
          <div
            itemscope
            itemprop="acceptedAnswer"
            itemtype="https://schema.org/Answer"
            id="collapse23"
            class="collapse"
          >
            <div itemprop="text" class="card-body">
              <p>
                Because we care about your ROI, our team closely generates a
                comprehensive range of metrics. You can even track your campaign
                through SENTR<span style="font-size: 22px">&trade;</span> - an
                online reporting platform we created to map your progress.
              </p>
              <p>
                SENTR<span style="font-size: 22px">&trade;</span> is an
                intuitive online portal where you’ll find all of the resources
                you need to monitor your campaign. We provide access to live
                links and reporting which is backed by Google Analytics and
                Google Search Console. All of this data is combined into one
                simple and easy to read report.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-lg-6">
        <div
          itemscope
          itemprop="mainEntity"
          itemtype="https://schema.org/Question"
          class="card"
        >
          <div
            class="card-header collapsed"
            data-toggle="collapse"
            href="#collapse24"
          >
            <h3 itemprop="name">
              Can First Page promise to improve my performance?
            </h3>
          </div>
          <div
            itemscope
            itemprop="acceptedAnswer"
            itemtype="https://schema.org/Answer"
            id="collapse24"
            class="collapse"
          >
            <div itemprop="text" class="card-body">
              <p>
                At First Page, we guarantee results. We believe there’s never
                been a more important time to support Australian businesses.
              </p>
              <p>
                SEO will help you attract more customers than ever before. It’s
                all about connecting you to your customers and communicating
                what you do best. It’s the most precise and targeted way to
                reach your existing audience - plus new and emerging
                demographics.
              </p>
              <p>
                Search engine success means connecting with your customers and
                driving major organic traffic. This is your shot at serious
                sales!!
              </p>
              <p>
                We’re confident in our ability to boost your search results
                rankings and drive traffic to your website. Not many SEO
                agencies offer this level of assurance.
              </p>
              <p>
                But because we’re backed by years of industry experience and the
                best young minds in digital marketing, we’re not afraid to
                commit outstanding performance.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% include "partials/en-form-popup.twig" with {'form_page': 'Revenue Growth Offer (Pop-up Form)'}
%} {% endblock %}
