{% extends "en-base.twig" %}

{% block content %}

<style>
    @media (max-width: 767px) {
        .page-reputation-management .hero-mobile {
            bottom: 29px;
        }

        .page-reputation-management section.banner .banner-description p {
            min-height: 201px;
        }
    }
</style>

<section class="banner form-space">
    <div class="container banner-hero two-lines">
        <div class="banner-hero-cont">
            <h1 class="form-hide">Take control of your online reputation today</h1>
            <div class="banner-description">
                <p class="form-hide">Here at First Page, we will rebuild and strengthen your online reputation in just a few weeks</p>
                <div class="form-hide hero-mobile">
                    <img src="{{ site.theme.link }}/assets/img/img-hero-reputation-repair-mobile.png" srcset="{{ site.theme.link }}/assets/img/img-hero-reputation-repair-mobile.png, {{ site.theme.link }}/assets/img/img-hero-reputation-repair-mobile@2x.png 2x" alt="First Page" />
                </div>
            </div>
            {% include "partials/en-form-services.twig" with {'form_page': 'Reputation Repair', 'form_button': 'Get A Free Quote'} %}
            {% include "partials/en-section-awards-badges.twig" %}
        </div>
        <div class="hero-img d-none d-md-block d-lg-none">
            <img src="{{ site.theme.link }}/assets/img/img-hero-reputation-repair-tab.png" srcset="{{ site.theme.link }}/assets/img/img-hero-reputation-repair-tab.png, {{ site.theme.link }}/assets/img/img-hero-reputation-repair-tab@2x.png 2x" alt="First Page" />
        </div>
        <div class="hero-img d-none d-lg-block">
            <img src="{{ site.theme.link }}/assets/img/img-hero-reputation-repair.png" srcset="{{ site.theme.link }}/assets/img/img-hero-reputation-repair.png, {{ site.theme.link }}/assets/img/img-hero-reputation-repair@2x.png 2x" alt="First Page" />
        </div>
    </div>
</section>

{% include "partials/en-section-featured-in-news.twig" %}

<section class="section-paragraph">
    <div class="row no-gutters align-items-center flex-column-reverse flex-lg-row flex-lg-row-reverse">
        <div class="col-12 col-lg-6 image-container-right">
            <img src="{{ site.theme.link }}/assets/img/img_online_reputation_repair.png" srcset="{{ site.theme.link }}/assets/img/img_online_reputation_repair.png, {{ site.theme.link }}/assets/img/img_online_reputation_repair@2x.png 2x" class="img-fluid d-none d-md-inline-block" alt="First Page" />
            <img src="{{ site.theme.link }}/assets/img/img_online_reputation_repair_mob.png" srcset="{{ site.theme.link }}/assets/img/img_online_reputation_repair_mob.png, {{ site.theme.link }}/assets/img/img_online_reputation_repair_mob@2x.png 2x" class="img-fluid d-md-none" alt="First Page" />
        </div>
        <div class="col-12 col-lg-6 text-container">
            <h2>When it comes to running your business - your online reputation will make, or<br class="d-none d-lg-block"> break you </h2>
            <p>Pop quiz…</p>
            <p>What’s the first thing someone does when they want to learn more about a person or company?</p>
            <p>We all know the answer - they Google it. </p>
            <p>If your online results look positive, you’ve got a brand new customer!</p>
            <p>But if your online results look negative, your business will be doomed. </p>
            <p>And that’s exactly why your online reputation is absolutely critical.</p>
            <p>In fact, did you know that....</p>
            <ul>
                <li>3 out of 4 consumers trust a company more if it has positive online reviews</li>
                <li>Over 60% of consumers say that negative reviews made them not want to use a business</li>
                <li>Consumers will read an average of 7-8 reviews before doing business with a company</li>
                <li>Every additional 1-star rating you get can increase your business by up to 10%</li>
            </ul>
            <p>Your online reputation is everything. To truly succeed in the digital world, you need to fight the online trolls and take firm control of your brand’s narrative and overall reviews.</p>
            <button type="button" data-title="reputationManagementPage-get-freeproposal-when" class="btn fp-btn fp-btn-orange show-popup-form buttonFormClick">GET A FREE QUOTE</button>
        </div>
    </div>
</section>

<section class="section-paragraph">
    <div class="row no-gutters align-items-center flex-column-reverse flex-lg-row">
        <div class="col-12 col-lg-6 image-container-left">
            <img src="{{ site.theme.link }}/assets/img/img_remove_review.svg" class="img-fluid d-none d-md-inline-block" alt="First Page" />
            <img src="{{ site.theme.link }}/assets/img/img_remove_review_mob.svg" class="img-fluid d-md-none" alt="First Page" />
        </div>
        <div class="col-12 col-lg-6 text-container">
            <h2>Fast reputation repair services from First Page</h2>
            <p>We know your negative reviews are turning away new customers for your business. </p>
            <p>We know that your negative reviews are crushing your ability to grow.</p>
            <p>That’s why we implement reputation management strategies that work, and work FAST.</p>
            <p>How fast?</p>
            <p>We typically start seeing results in 15 days. </p>
            <p>This means that in a few weeks time, your business can have a completely new online reputation - and you will experience immediate growth in leads, sales, and revenue. </p>
            <p>So no matter if you are experiencing online trolls, haters, unreasonable customers, or fake reviews - our mission is to improve your brand and reputation in record time. </p>
            <p>We’ve been fighting for fairness for our clients for over a decade. Let us do the same with your business. Click the button below now to contact one of our Digital Strategists. </p>
            <button type="button" data-title="reputationManagementPage-get-freeproposal-fast" class="btn fp-btn fp-btn-orange show-popup-form buttonFormClick">GET A FREE QUOTE</button>
        </div>
    </div>
</section>

<section class="section-client-reviews">
    <div class="container">
        <div class="section-title">
            <h2>See what our clients<br class="d-sm-none"> are saying</h2>
        </div>
        <div class="row testimonial-cont">
            <div class="col-12 col-md-4">
                <div class="testimonial">
                    <div class="stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                    </div>
                    <div class="text">
                        First Page is a professional Digital Marketing Agency. Thanks to our Digital Marketing Specialists Kana, William and YC. They are experienced, supportive and helpful. We enjoyed working with the First Page team. </div>
                    <div class="person">
                        <div class="name">BECKY HILL</div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="testimonial">
                    <div class="stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                    </div>
                    <div class="text">
                        Clarkson is a professional and helpful marketing agent with good knowledge of SEO. He is easy to communicate with and always willing to help us with our questions. Our SEO ranking is doing better and better with his help. Thank you so much!
                    </div>
                    <div class="person">
                        <div class="name">Carmi Li</div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="testimonial">
                    <div class="stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                    </div>
                    <div class="text">
                        We’re yet to proceed with our project but wanted to share the positive process we had with Tony and his team as we went through a very detailed RFP. <br>When the project goes live we will be working with First Page. </div>
                    <div class="person">
                        <div class="name">Nick Bartlett</div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-4">
                <div class="testimonial">
                    <div class="stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                    </div>
                    <div class="text">
                        I want to give a big thank you to our Digital Marketing Specialist Isaac because he is so nice and responsible. He’s so helpful and solves problems for his clients. Many thanks again. </div>
                    <div class="person">
                        <div class="name">Kit Ling Ho</div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="testimonial">
                    <div class="stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                    </div>
                    <div class="text">
                        Our experience with First Page has been amazing. Giselle and Lars have helped us save the digital marketing strategy of my company. I will definitely recommend First Page to anyone that is looking for a digital
                        marketing partner.
                    </div>
                    <div class="person">
                        <div class="name">Michael Mackenzie</div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="testimonial">
                    <div class="stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                        <img src="{{ site.theme.link }}/assets/img/icon-star.png" srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                    </div>
                    <div class="text">
                        We have used First Page for a few months now and Heather, who looks after our account, has shown experience and a meticulous approach. With many companies offering this service, First Page is really at the top of the list. A well deserved 5 stars! </div>
                    <div class="person">
                        <div class="name">British Connections</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% include "partials/en-section-services-other.twig" %}

<section class="section-paragraph section-faqs">
    <div class="container">
        <h2 class="section-title">Digital Strategist FAQs</h2>
        <div itemscope itemtype="https://schema.org/FAQPage" class="row">
            <div class="col-12 col-lg-6">
                <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
                    <div class="card-header collapsed" data-toggle="collapse" href="#collapse1">
                        <h3 itemprop="name" class="h3-accordion-title-fpau">WHAT IS A REPUTATION?</h3>
                    </div>
                    <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" id="collapse1" class="collapse">
                        <div itemprop="text" class="card-body">
                            <p>Reputations refer to the general beliefs and perceptions that an individual, group, or society possess concerning an individual or organisation. For businesses, reputations are formed by customer experience, reviews, promotions, and other general PR activities.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
                    <div class="card-header collapsed" data-toggle="collapse" href="#collapse2">
                        <h3 itemprop="name" class="h3-accordion-title-fpau">WHAT IS REPUTATION REPAIR?</h3>
                    </div>
                    <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" id="collapse2" class="collapse">
                        <div itemprop="text" class="card-body">
                            <p>Negative, false or misleading actions undertaken by individuals in your organisation can severely damage your business’s reputation. In the instance that your reputation has been tarnished, you may wish to endeavour into reputation repair and management to ensure continuity of your success.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
                    <div class="card-header collapsed" data-toggle="collapse" href="#collapse3">
                        <h3 itemprop="name" class="h3-accordion-title-fpau">How does Reputation Repair work?</h3>
                    </div>
                    <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" id="collapse3" class="collapse">
                        <div itemprop="text" class="card-body">
                            <p>This process works via directly addressing the factors that could have potentially harmful connotations towards your brand. This may involve suppressing or even removing potentially misleading and false information. Reputation management will also emphasise ranking positive actions that you have previously partaken in to lead to positive associations regarding your reputation. The overall objective of this is to ensure that the positive attributes of your brand are seen by customers first.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
                    <div class="card-header collapsed" data-toggle="collapse" href="#collapse4">
                        <h3 itemprop="name" class="h3-accordion-title-fpau">Is it worth doing Reputation Repair?</h3>
                    </div>
                    <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" id="collapse4" class="collapse">
                        <div itemprop="text" class="card-body">
                            <p>Reputation directly affects your credibility as a firm. Whilst it is possible to self-manage your reputation, depending on the scale of damage caused, this may not be feasible. Here at First Page™, we offer extensive reputation management services designed to ensure that your reputation is not just rebuilt but strengthened in the long-run. This will help ensure that you maintain current performance and continue scaling your business on the wave of positive rapport.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
                    <div class="card-header collapsed" data-toggle="collapse" href="#collapse5">
                        <h3 itemprop="name" class="h3-accordion-title-fpau">How much are Reputation Repair services?</h3>
                    </div>
                    <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" id="collapse5" class="collapse">
                        <div itemprop="text" class="card-body">
                            <p>Our reputation repair and management service are offered at competitive rates, providing an unparalleled ROI for you and your business. Contact us today for more information and a quote so that you can start building a reputation that truly represents your business. </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="card">
                    <div class="card-header collapsed" data-toggle="collapse" href="#collapse6">
                        <h3 itemprop="name" class="h3-accordion-title-fpau">Can Reputation Repair Improve SEO Rankings?</h3>
                    </div>
                    <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" id="collapse6" class="collapse">
                        <div itemprop="text" class="card-body">
                            <p>Search engines will consider online reviews and ratings when ranking business websites.</p>
                            <p>In fact, reviews comprise up to <a href="https://www.brightlocal.com/learn/key-ranking-factors-for-local-seo/" target="_blank">16%</a> of the search engine decision-making process - making them one of the top Local SEO ranking factors.</p>
                            <p>At First Page Australia, our reputation repair services will help you generate a positive online profile and rise through the results pages. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% include "partials/en-section-free-session.twig" %}

{% include "partials/en-form-popup.twig" with {'form_page': 'Reputation Repair (Pop-up Form)'} %}

{% endblock %}