{% extends "en-base-no-nav.twig" %} 
{% block content %}

<section class="banner form-space">
    <div class="container banner-hero two-lines">
        <div class="banner-hero-cont">
            <h1 class="form-hide text-center text-md-left">Claim your 100% free <br class="d-none d-md-block">REVENUE GROWTH strategy session valued at $2000</h1>
            <img src="{{ site.theme.link }}/assets/img/img_banner_sam_sm_full.png" srcset="{{ site.theme.link }}/assets/img/img_banner_sam_sm_full.png, {{ site.theme.link }}/assets/img/img_banner_sam_sm_full@2x.png 2x" alt="First Page" class="d-block m-auto d-md-none"/>

            <div class="banner-description">
                {# <p class="form-hide">We outline bulletproof tactics that dramatically increase website traffic and revenue, even during tough economic times.</p> #}
                <div class="form-hide hero-mobile">
                    {# <img src="{{ site.theme.link }}/assets/img/img_hero_sam_sm.png" srcset="{{ site.theme.link }}/assets/img/img_hero_sam_sm.png, {{ site.theme.link }}/assets/img/img_hero_sam_sm@2x.png 2x" alt="First Page" /> #}
                </div>
            </div>
            {% include "partials/en-form-services-revenue-growth-offer.twig" with {'form_page': 'Revenue Growth Offer', 'form_button': 'Get A Free Revenue Growth Strategy'} %}
            {% include "partials/en-section-awards-badges.twig" %}
        </div>
        <div class="hero-img d-none d-md-block d-lg-none">
                <img src="{{ site.theme.link }}/assets/img/img_hero_sam_md.png" srcset="{{ site.theme.link }}/assets/img/img_hero_sam_md.png, {{ site.theme.link }}/assets/img/img_hero_sam_md@2x.png 2x" alt="First Page" />
        </div>
        <div class="hero-img d-none d-lg-block">
                <img src="{{ site.theme.link }}/assets/img/img_hero_sam_lg.png" srcset="{{ site.theme.link }}/assets/img/img_hero_sam_lg.png, {{ site.theme.link }}/assets/img/img_hero_sam_lg@2x.png 2x" alt="First Page" />
        </div>
    </div>
</section>

{% include "partials/en-section-experience.twig" %}

<section class="section-paragraph">
      <h2 class="d-none d-md-block d-lg-none px-2">
        Triple the size of your business by teaming up with an award-winning SEO agency
      </h2>
  <div
    class="row no-gutters flex-column-reverse flex-md-row flex-md-row-reverse"
  >
    <div class="col-12 col-md-6 image-container-right">
      <img
        src="{{ site.theme.link }}/assets/img/img_profit.svg"
        class="img-fluid d-none d-md-inline-block px-4"
        alt="First Page"
      />
      <img
        src="{{ site.theme.link }}/assets/img/img_profit_mob.svg"
        class="img-fluid d-md-none"
        alt="First Page"
      />
    </div>
    <div class="col-12 col-md-6 text-container text-container-seo-new">
      <h2 class="d-block d-md-none d-lg-block">
        Triple the size of your business by teaming up with an award-winning SEO company
      </h2>
      <p class="text-center text-md-left">
        At First Page, we believe every business deserves to have its products and services seen by the world. But considering the intense nature of the online landscape, dominating your industry requires an expert team that can SEO your site to its maximum potential.
      </p>
      <p class="text-center text-md-left">
        In today’s digital economy, you need an attention-grabbing website with the latest SEO optimisation techniques to set you apart from your biggest rivals. As one of Australia’s leading SEO agencies, First Page will deliver your business unmatched visibility. 
      </p>
      <p>Backed by our game-changing knowledge of Google SEO, we can drive an obscene amount of traffic to your website and level up your sales.</p>
      <button
        type="button"
        data-title="seopage-get-freeproposal-Triple"
        class="btn fp-btn fp-btn-orange show-popup-form buttonFormClick"
      >
        GET A FREE QUOTE
      </button>
    </div>
  </div>
</section>

<section class="section-paragraph">
  <div class="row no-gutters flex-column-reverse flex-md-row">
    <h2 class="d-none d-md-block d-lg-none ml-3">
       Don’t risk your livelihood by using an SEO agency that outsources your campaign overseas
    </h2>
    <div class="col-12 col-md-6 image-container-left pr-lg-5">
      <img
        src="{{ site.theme.link }}/assets/img/img_office_chat_lg.png"
        srcset="{{ site.theme.link }}/assets/img/img_office_chat_lg.png, {{ site.theme.link }}/assets/img/img_office_chat_lg@2x.png 2x"
        class="img-fluid d-none d-md-inline-block"
        alt="First Page"
      />
      <img
        src="{{ site.theme.link }}/assets/img/img_seo_we_dont_outsource_mob.png"
        srcset="{{ site.theme.link }}/assets/img/img_seo_we_dont_outsource_mob.png, {{ site.theme.link }}/assets/img/img_seo_we_dont_outsource_mob@2x.png 2x"
        class="img-fluid d-md-none"
        alt="First Page"
      />
    </div>
    <div class="col-12 col-md-6 text-container">
      <h2 class="d-block d-md-none d-lg-block">
        Don’t risk your livelihood by using an SEO agency that outsources your campaign overseas
      </h2>
      <p class="text-center text-md-left">
        If you’re ready to embark on a high-quality Google SEO campaign, don’t let anyone but the best in the business take charge. While other SEO digital companies cut corners by sending your work to less qualified workers overseas, we proudly handle every SEO campaign in-house from start to finish.
      </p>
      <p class="text-center text-md-left">
       You’d be amazed how often we are contacted by companies that need help cleaning up a mess created by outsourced workers that simply don’t have our expertise. With the landscape of search engine optimisation constantly evolving, you don’t want to lose ground on your competitors due to a poorly executed SEO strategy that fails to achieve your goals. 
      </p>
      <p>Rather than risking your brand’s livelihood with an SEO digital company that outsources your project, partner with First Page’s ultra-reliable local team. We take immense pride in exceeding our client’s objectives and securing their long-term future.</p>
      <button
        type="button"
        data-title="seopage-get-freeproposal-Dont"
        class="btn fp-btn fp-btn-orange show-popup-form buttonFormClick"
      >
        GET A FREE QUOTE
      </button>
    </div>
  </div>
</section>


{% include "partials/en-section-revenue-growth-offer-client-reviews.twig" %}

{% include "partials/en-section-new-case-study.twig" %}


{% include "partials/en-section-services-seo-carousel.twig" %}

<section class="section-paragraph">
  <div
    class="row no-gutters flex-column-reverse flex-md-row flex-md-row-reverse"
  >
    <h2 class="d-none d-md-block d-lg-none ml-3">
      Let the experts SEO your site and generate more leads and sales than your business can handle
    </h2>
    <div class="col-12 col-md-6 image-container-right pl-lg-5">
      <img
        src="{{ site.theme.link }}/assets/img/img_seo_traffic.png"
        srcset="{{ site.theme.link }}/assets/img/img_seo_traffic.png, {{ site.theme.link }}/assets/img/img_seo_traffic@2x.png 2x"
        class="img-fluid d-none d-md-inline-block"
        alt="First Page"
      />
      <img
        src="{{ site.theme.link }}/assets/img/img_seo_traffic_mob.png"
        srcset="{{ site.theme.link }}/assets/img/img_seo_traffic_mob.png, {{ site.theme.link }}/assets/img/img_seo_traffic_mob@2x.png 2x"
        class="img-fluid d-md-none"
        alt="First Page"
      />
    </div>
    <div class="col-12 col-md-6 text-container text-container-seo-new">
      <h2 class="d-block d-md-none d-lg-block">
        Let the experts SEO your site and generate more leads and sales than your business can handle
      </h2>
      <div class="pt-2 d-block d-sm-none"></div>
      <p class="text-center text-md-left">
        The details are in the data when it comes to generating stellar results from a Google SEO campaign. 
      </p>
      <p class="text-center text-md-left">
        That’s why we’re obsessed with using data-driven strategies to SEO your site. Informed by a wealth of analytical insights, even the smallest tweak to your SEO optimisation strategy can dramatically improve your search results rankings.
      </p>
      <p>Our world-class digital marketers consistently go above and beyond our competitors to deliver top-notch results. Supported by our custom-built, in-house proprietary tech known as SENTR™, we can predict Google algorithm updates to keep you ahead of the game. </p>
      <p>Using the huge amount of data SENTR™ processes, we can capitalise on opportunities before your rivals. By choosing First Page to SEO your site, you’re giving yourself the best chance of staying ahead of the competition. </p>
      <p>Take advantage of our 100% free revenue growth sessions and discover why we’re considered the top SEO agency in Australia.</p>
      <button
        type="button"
        data-title="seopage-get-freeproposal-Let"
        class="btn fp-btn fp-btn-orange show-popup-form buttonFormClick"
      >
        GET A FREE QUOTE
      </button>
    </div>
  </div>
</section>


{% include "partials/en-section-free-session.twig" %}

{% include "partials/en-form-popup.twig" with {'form_page': 'Revenue Growth Offer (Pop-up Form)'}
%} {% endblock %}
