
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://use.typekit.net/wqq0bzd.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
    />
    <!-- Site CSS -->
    <link rel="stylesheet" href="{{ site.theme.link }}/style.css"/>
    <link rel="stylesheet" href="{{ site.theme.link }}/assets/css/strategy-form.css?v=1.0.3"/>

    <!-- Start of HubSpot Embed Code -->
    <script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/9300456.js"></script>
    <!-- End of HubSpot Embed Code -->

    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-W2TC9NP');</script>
    <!-- End Google Tag Manager -->

    <!-- Facebook Pixel Code -->
    <script>
        !function(f,b,e,v,n,t,s)
        {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
            n.callMethod.apply(n,arguments):n.queue.push(arguments)};
            if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
            n.queue=[];t=b.createElement(e);t.async=!0;
            t.src=v;s=b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t,s)}(window, document,'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '209704970774476');
        fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=209704970774476&ev=PageView&noscript=1"/></noscript>
    <!-- End Facebook Pixel Code -->
    <meta name="description" content="Claim your 100% FREE 30-minute GROWTH strategy session. We've got your bulletproof tactics, proven to increase website traffic and revenue.">
    <title> FREE 30 minute REVENUE GROWTH strategy session</title>
</head>
<body class="strategy-form-body">
<div class="container mt-3 mt-sm-5 strategy-form-container">
    <div class="logo-holder">
        <svg
                width="223px"
                height="40px"
                viewBox="0 0 223 40"
                version="1.1"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
        >
            <title>fp-logo-form</title>
            <g
                    id="Free-Strategy-Form"
                    stroke="none"
                    stroke-width="1"
                    fill="none"
                    fill-rule="evenodd"
            >
                <g
                        id="Startegy-Session-Form---Step-1"
                        transform="translate(-608.000000, -28.000000)"
                        fill="#427FE0"
                >
                    <g id="Group-3" transform="translate(47.000000, 28.000000)">
                        <g
                                id="fp-logo-form"
                                transform="translate(561.000000, 0.000000)"
                        >
                            <path
                                    d="M52,29.7257618 L52,12.2742382 L61.9520924,12.2742382 L61.9520924,13.5706371 L53.3999107,13.5706371 L53.3999107,20.7506925 L61.1885047,20.7506925 L61.1885047,22.0470914 L53.3999107,22.0470914 L53.3999107,29.7257618 L52,29.7257618 Z M71.8605512,29.7257618 L71.8605512,12.2742382 L73.2604619,12.2742382 L73.2604619,29.7257618 L71.8605512,29.7257618 Z M86.3759888,29.7257618 L84.9760781,29.7257618 L84.9760781,12.2742382 C85.968742,12.2742382 88.7431105,12.2243767 89.2521689,12.2243767 C94.113677,12.2243767 95.4881347,14.5927978 95.4881347,17.2603878 C95.4881347,19.7534626 93.6555244,21.6232687 91.2629497,22.1218837 L97.4989155,29.7257618 L95.7681169,29.7257618 L89.8375861,22.3961219 L86.3759888,22.3961219 L86.3759888,29.7257618 Z M89.1758102,13.5207756 C88.6412988,13.5207756 87.2159352,13.5457064 86.3759888,13.5706371 L86.3759888,21.099723 L89.4557923,21.099723 C91.7211023,21.099723 94.0118653,19.5789474 94.0118653,17.2603878 C94.0118653,15.1412742 92.790125,13.5207756 89.1758102,13.5207756 L89.1758102,13.5207756 Z M114.712363,25.3878116 C114.712363,20.4515235 105.498405,22.2465374 105.498405,16.4127424 C105.498405,13.9695291 107.407374,12.0498615 110.716254,12.0498615 C112.701582,12.0498615 114.508739,12.7479224 115.501403,13.8199446 L114.737816,14.8421053 C113.719699,13.8448753 112.396147,13.3462604 110.76716,13.3462604 C108.425491,13.3462604 106.974675,14.567867 106.974675,16.4127424 C106.974675,21.299169 116.188632,19.3047091 116.188632,25.3628809 C116.188632,28.1551247 113.668793,29.9501385 110.512631,29.9501385 C108.400038,29.9501385 105.931105,29.0027701 105.040253,27.432133 L105.880199,26.4847645 C106.923769,27.8808864 108.883644,28.6537396 110.487178,28.6537396 C112.676129,28.6537396 114.712363,27.531856 114.712363,25.3878116 L114.712363,25.3878116 Z M123.271817,13.5706371 L123.271817,12.2742382 L137.856341,12.2742382 L137.856341,13.5706371 L131.264034,13.5706371 L131.264034,29.7257618 L129.864124,29.7257618 L129.864124,13.5706371 L123.271817,13.5706371 Z M149.16471,29.7257618 L146.034001,29.7257618 L146.034001,12.2742382 C147.026665,12.2742382 149.851939,12.2243767 151.099132,12.2243767 C156.342434,12.2243767 157.996874,14.966759 157.996874,17.833795 C157.996874,20.800554 155.731564,23.4930748 151.480926,23.4930748 C150.946415,23.4930748 149.928298,23.4930748 149.16471,23.4182825 L149.16471,29.7257618 Z M151.404567,15.0914127 C150.768244,15.0914127 150.004657,15.1163435 149.16471,15.1412742 L149.16471,20.501385 C149.902845,20.5761773 150.666433,20.6260388 151.379115,20.6260388 C153.237178,20.6260388 154.687994,19.7534626 154.687994,17.8088643 C154.687994,15.9889197 153.542613,15.0914127 151.404567,15.0914127 Z M163.145637,29.7257618 L170.679701,12.2243767 L173.428617,12.2243767 L180.962682,29.7257618 L177.628349,29.7257618 L175.770286,25.2631579 L168.159862,25.2631579 L166.301799,29.7257618 L163.145637,29.7257618 Z M171.9778,16.1883657 L169.35615,22.3961219 L174.573998,22.3961219 L171.9778,16.1883657 Z M195.885366,23.1939058 L195.885366,20.3268698 L203.113996,20.3268698 L203.113996,27.5567867 C201.535915,29.1024931 198.659735,30 196.44533,30 C190.616611,30 187.155014,26.434903 187.155014,21 C187.155014,15.9889197 190.591158,12 196.038084,12 C198.583376,12 200.314175,12.6481994 201.764991,13.7700831 L200.441439,16.2132964 C199.550587,15.3905817 197.972506,14.867036 196.419878,14.867036 C192.983733,14.867036 190.463894,17.1108033 190.463894,21 C190.463894,24.7146814 192.881921,27.132964 196.496236,27.132964 C197.870694,27.132964 199.525134,26.5595568 200.18691,25.9362881 L200.18691,23.1939058 L195.885366,23.1939058 Z M212.437038,29.7257618 L212.437038,12.2742382 L222.745471,12.2742382 L222.745471,15.1412742 L215.567747,15.1412742 L215.567747,19.4792244 L221.981883,19.4792244 L221.981883,22.3462604 L215.567747,22.3462604 L215.567747,26.8587258 L223,26.8587258 L223,29.7257618 L212.437038,29.7257618 Z"
                                    id="Shape"
                            ></path>
                            <path
                                    d="M20.815047,27.75 C20.1880878,25.875 19.4357367,23.75 19.4357367,23.75 C18.9341693,22.25 17.8056426,21 16.1755486,20.5 L8.77742948,18 L7.52351098,17.625 C5.76802507,17 5.76802507,14.625 7.39811911,14 C8.15047023,13.75 8.65203761,13.5 8.65203761,13.5 L33.9811911,3.75 C33.9811911,3.75 34.231975,3.625 34.4827586,3.625 C35.736677,3.125 36.8652039,4.375 36.3636364,5.625 L36.1128527,6.25 C36.1128527,6.25 31.8495298,17.5 29.3416927,23.75 C28.338558,26.75 21.8181818,30.75 20.815047,27.75 L20.815047,27.75 Z M19.4357367,31.625 L21.69279,38.25 C22.0689655,39.375 23.0721002,40 24.075235,40 C25.07837,40 26.0815048,39.5 26.4576802,38.375 L39.8746082,3.5 C40,3.25 40,2.875 40,2.5 C40,1.125 38.8714734,0 37.492163,0 C37.2413793,0 36.8652039,0 36.61442,0.125 L1.63009404,13.5 C0.501567398,13.875 0,14.875 0,15.875 C0,16.875 0.626959248,17.875 1.75548589,18.25 L8.40125391,20.5 C13.291536,22.25 17.8056426,26.75 19.4357367,31.625 L19.4357367,31.625 Z"
                                    id="Shape"
                            ></path>
                        </g>
                    </g>
                </g>
            </g>
        </svg>
    </div>
    <div class="strategy-form-header">

        <div class="back-btn-holder" type="button" id="prevBtn" onclick="nextPrev(-1)">
            <svg
                    width="22px"
                    height="30px"
                    viewBox="0 0 22 30"
                    version="1.1"
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
            >
                <title>back</title>
                <g
                        id="Free-Strategy-Form"
                        stroke="none"
                        stroke-width="1"
                        fill="none"
                        fill-rule="evenodd"
                        stroke-linecap="round"
                >
                    <g
                            id="Startegy-Session-Form---Step-1"
                            transform="translate(-45.000000, -33.000000)"
                            stroke="#00225D"
                            stroke-width="3"
                    >
                        <g id="Group" transform="translate(47.000000, 28.000000)">
                            <polyline
                                    id="back"
                                    points="18.5038671 7 0.503867057 20 18.5038671 33"
                            ></polyline>
                        </g>
                    </g>
                </g>
            </svg>
            <span class="strategy-form-back-btn">Back</span>
        </div>


        <div class="sf-cross-holder" id="sf-cross-holder">
            <a href="/"><i class="fas fa-times fa-lg"></i></a>
        </div>
    </div>
    <!-- Progress Bar -->
    <div class="progress strategy-form-progress" id="sf-progress-bar">
        <div
                class="progress-bar strategy-form-progress-bar"
                id="strategy-form-progress-bar"
                role="progressbar"
                style="width: 11.11%"
                aria-valuenow="25"
                aria-valuemin="0"
                aria-valuemax="100"
        ></div>
    </div>

    <form id="strategyForm" action="{{ home_url }}action/hubspot/strategyFormSubmitHandler.php" method="POST" class="strategy-form">
        {#    <form id="strategyForm" method="POST" class="strategy-form">#}
        <!-- One "tab" for each step in the form: -->
        <div class="tab tab-one">
            <div class="strategy-form-hero-text">
                Claim your 100% FREE 30 minute GROWTH strategy session
            </div>
            <div class="strategy-form-main-text">
                <p>We will walk you through bulletproof tactics that have been proven to increase website traffic and revenue, even in tough economic times. </p>
                <p class="strategy-form-input-holder my-sm-5">
                    <input
                            class="strategy-form-input-field"
                            placeholder="Website"
                            name="website"
                            type="text"
                            id="sf-website"
                    />
                    <span class="sfErrorMessage" id="webErrorMsg" style="display: none;">Please enter a valid website address</span>

                </p>
            </div>
        </div>
        {# Tab Two #}
        <div class="tab tab-one">
            <div class="strategy-form-hero-text">
                Claim your 100% FREE 30 minute GROWTH strategy session
            </div>
            <div class="strategy-form-main-text">
                <p>We will walk you through bulletproof tactics that have been proven to increase website traffic and revenue, even in tough economic times. </p>

                <p class="strategy-form-input-holder">
                    <input
                            class="strategy-form-input-field"
                            placeholder="First Name*"
                            name="firstname"
                            type="text"
                            id="sf-firstname"
                    />
                    <span class="sfErrorMessage" id="nameErrorMsg" style="display: none;">Please enter a valid name</span>
                </p>
                <p class="strategy-form-input-holder">
                    <input
                            class="strategy-form-input-field"
                            placeholder="Email*"
                            name="email"
                            type="email"
                            id="sf-email"
                    />
                    <span class="sfErrorMessage" id="emailErrorMsg" style="display: none;">Please enter a valid email address</span>

                </p>


                <p class="strategy-form-input-holder">
                    <input
                            class="strategy-form-input-field"
                            placeholder="Phone*"
                            name="lead_phone"
                            type="text"
                            id="sf-phone"
                    />
                    <span class="sfErrorMessage" id="phoneErrorMsg" style="display: none;">Please enter a valid phone number</span>
                </p>

            </div>
        </div>
        {# Tab Three #}
        <div class="tab marketing-type-tab">
            <div class="strategy-form-hero-text">
                What types of marketing are you currently doing?
            </div>
            <div class="strategy-form-main-text">
                <p>
                    Select one or more where applicable
                </p>
            </div>
            <div class="row form-selector-row">
                {# Google SEO #}
                <div class="col-4 col-sm-3">
                    <div class="marketing-type-selector-container">
                        <label for="seo-checkbox" class="icon-label">
                            <img class="select-icon" src="{{ site.theme.link }}/assets/img/search.svg" alt="">
                            <input type="checkbox" name="marketing_seo" value="Marketing SEO (Selected Marketing Type)" id="seo-checkbox" class="select-checkbox">
                            <div class="select-checkbox-bg"></div>
                        </label>
                    </div>
                    <p class="marketing-type-text seo-selector-text">SEO</p>

                </div>
                {# Goodle Ads #}
                <div class="col-4 col-sm-3">
                    <div class="marketing-type-selector-container">
                        <label for="google-ads-checkbox" class="icon-label">
                            <img class="select-icon" src="{{ site.theme.link }}/assets/img/adwords.svg" alt="">
                            <input type="checkbox" name="marketing_google_ads" value="Google Ads (Selected Marketing Type)" id="google-ads-checkbox" class="select-checkbox">
                            <div class="select-checkbox-bg"></div>
                        </label>
                    </div>
                    <p class="marketing-type-text googleAds-selector-text">Google Ads</p>

                </div>
                {# Facebook #}
                <div class="col-4 col-sm-3">
                    <div class="marketing-type-selector-container">
                        <label for="facebook-checkbox" class="icon-label">
                            <img class="select-icon" src="{{ site.theme.link }}/assets/img/facebook.svg" alt="">
                            <input type="checkbox" name="marketing_facebook" value="Facebook (Selected Marketing Type)" id="facebook-checkbox" class="select-checkbox">
                            <div class="select-checkbox-bg"></div>
                        </label>
                    </div>
                    <p class="marketing-type-text fb-selector-text">Facebook</p>

                </div>
                {# News #}
                <div class="col-4 col-sm-3">
                    <div class="marketing-type-selector-container">
                        <label for="print-checkbox" class="icon-label">
                            <img class="select-icon" src="{{ site.theme.link }}/assets/img/print.svg" alt="">
                            <input type="checkbox" name="marketing_print" value="Print (Selected Marketing Type)" id="print-checkbox" class="select-checkbox">
                            <div class="select-checkbox-bg"></div>
                        </label>
                    </div>
                    <p class="marketing-type-text print-selector-text">Print</p>

                </div>

                {# Affiliate #}
                <div class="col-4 col-sm-3">
                    <div class="marketing-type-selector-container">
                        <label for="affiliate-checkbox" class="icon-label">
                            <img class="select-icon" src="{{ site.theme.link }}/assets/img/affiliate.svg" alt="">
                            <input type="checkbox" name="marketing_affiliate" value="Affiliate (Selected Marketing Type)" id="affiliate-checkbox" class="select-checkbox">
                            <div class="select-checkbox-bg"></div>
                        </label>
                    </div>
                    <p class="marketing-type-text affiliate-selector-text">Affiliate marketing</p>

                </div>
                {# TV #}
                <div class="col-4 col-sm-3">
                    <div class="marketing-type-selector-container">
                        <label for="tv-checkbox" class="icon-label">
                            <img class="select-icon" src="{{ site.theme.link }}/assets/img/tv.svg" alt="">
                            <input type="checkbox" name="marketing_tv" value="TV (Selected Marketing Type)" id="tv-checkbox" class="select-checkbox">
                            <div class="select-checkbox-bg"></div>
                        </label>
                    </div>
                    <p class="marketing-type-text tv-selector-text">TV</p>

                </div>
                {# Radio #}
                <div class="col-4 col-sm-3">
                    <div class="marketing-type-selector-container">
                        <label for="radio-checkbox" class="icon-label">
                            <img class="select-icon" src="{{ site.theme.link }}/assets/img/radio.svg" alt="">
                            <input type="checkbox" name="marketing_radio" value="Radio (Selected Marketing Type)" id="radio-checkbox" class="select-checkbox">
                            <div class="select-checkbox-bg"></div>
                        </label>
                    </div>
                    <p class="marketing-type-text radio-selector-text">Radio</p>

                </div>
                {# None #}
                <div class="col-4 col-sm-3">
                    <div class="marketing-type-selector-container">
                        <label for="none-checkbox" class="icon-label">
                            <img class="select-icon" src="{{ site.theme.link }}/assets/img/none.svg" alt="">
                            <input type="checkbox" name="marketing_none" value="None (Selected Marketing Type)" id="none-checkbox" class="select-checkbox">
                            <div class="select-checkbox-bg"></div>
                        </label>
                    </div>
                    <p class="marketing-type-text none-selector-text">None</p>

                </div>

            </div>

        </div>
        <!-- Tab Four -->
        <div class="tab">
            <div class="strategy-form-hero-text business-type-tab">
                What best describes your business?
            </div>
            <div class="tab-four-input-container">
                <!-- business type row one -->
                <div class="row mt-4">
                    <div class="col-1 col-md-2"></div>
                    <div class="col-5 col-md-4 strategy-form-radio-container">
                        <div class="custom-form-check">

                            <label class="custom-radio-container">Start up
                                <input type="radio" name="business_size" value="Start up" id="start-up">
                                <span class="custom-radio"></span>
                            </label>
                        </div>
                    </div>
                    <div class="col-5 col-md-4 strategy-form-radio-container">
                        <div class="custom-form-check">

                            <label class="custom-radio-container">Small business<br>
                                (1-49 employees)
                                <input type="radio" name="business_size" value="Small business" id="small-business">
                                <span class="custom-radio"></span>
                            </label>
                        </div>
                    </div>
                    <div class="col-1 col-md-2"></div>

                </div>
                <!-- business type row two -->
                <div class="row mt-4">
                    <div class="col-1 col-md-2"></div>
                    <div class="col-5 col-md-4 strategy-form-radio-container">
                        <div class="custom-form-check">

                            <label class="custom-radio-container">Medium business<br>
                                (50 – 199 employees)
                                <input type="radio"  name="business_size" value="Medium business" id="medium-business">
                                <span class="custom-radio"></span>
                            </label>

                        </div>
                    </div>
                    <div class="col-5 col-md-4 strategy-form-radio-container">
                        <div class="custom-form-check">


                            <label class="custom-radio-container">Large business<br>
                                (200+ employees)
                                <input type="radio"  name="business_size" value="Large business" id="large-business">
                                <span class="custom-radio"></span>
                            </label>


                        </div>
                    </div>
                    <div class="col-1 col-md-2"></div>

                </div>

                <!-- business type row three -->
                <div class="row mt-4 mb-4">
                    <div class="col-1 col-md-2"></div>
                    <div class="col-5 col-md-4 strategy-form-radio-container">
                        <div class="custom-form-check">

                            <label class="custom-radio-container">Other
                                <input type="radio"  name="business_size" value="other business" id="other-business">
                                <span class="custom-radio"></span>
                            </label>


                        </div>
                    </div>
                    <div class="col-5 col-md-4">

                    </div>
                    <div class="col-1 col-md-2"></div>

                </div>
            </div>

        </div>

        <!-- Tab Five -->
        <div class="tab pain-point-tab">
            <div class="strategy-form-hero-text">
                What is your biggest pain point right now?
            </div>
            <div class="tab-four-input-container">
                <!-- pain point row one -->
                <div class="row mt-4">
                    <div class="col-1 col-md-2"></div>
                    <div class="col-5 col-md-4 strategy-form-radio-container">
                        <div class="custom-form-check">

                            <label class="custom-radio-container">I need more traffic to my website
                                <input type="radio" name="pain_point" value="I need more traffic to my website">
                                <span class="custom-radio"></span>
                            </label>

                        </div>
                    </div>
                    <div class="col-5 col-md-4 strategy-form-radio-container">
                        <div class="custom-form-check">
                            <label class="custom-radio-container">I need more customers
                                <input type="radio" name="pain_point" value="I need more customers">
                                <span class="custom-radio"></span>
                            </label>

                        </div>
                    </div>
                    <div class="col-1 col-md-2"></div>
                </div>
                <!-- pain point row two -->
                <div class="row mt-4">
                    <div class="col-1 col-md-2"></div>
                    <div class="col-5 col-md-4 strategy-form-radio-container">
                        <div class="custom-form-check">
                            <label class="custom-radio-container">I need help converting traffic into opportunities
                                <input type="radio" name="pain_point" value="I need help converting traffic into opportunities">
                                <span class="custom-radio"></span>
                            </label>

                        </div>
                    </div>
                    <div class="col-5 col-md-4 strategy-form-radio-container">
                        <div class="custom-form-check">
                            <label class="custom-radio-container">I need help with brand awareness
                                <input type="radio" name="pain_point" value="I need help with brand awareness">
                                <span class="custom-radio"></span>
                            </label>

                        </div>
                    </div>
                    <div class="col-1 col-md-2"></div>
                </div>

                <!-- pain point row three -->
                <div class="row mt-4 mb-4">
                    <div class="col-1 col-md-2"></div>
                    <div class="col-5 col-md-4 strategy-form-radio-container">
                        <div class="custom-form-check">
                            <label class="custom-radio-container">All of the above
                                <input type="radio" name="pain_point" value="All above paint points">
                                <span class="custom-radio"></span>
                            </label>
                        </div>
                    </div>
                    <div class="col-5 col-md-4">

                    </div>
                    <div class="col-1 col-md-2"></div>
                </div>
            </div>

        </div>

        <!-- Tab Six - Budget -->
        <div class="tab budget-tab">
            <div class="strategy-form-hero-text">
                What is your monthly digital marketing budget?
            </div>
            <div class="budget-input-container">
                <!-- budget row one -->
                <div class="row mt-4">
                    <div class="col-1 col-md-2"></div>
                    <div class="col-5 col-md-4 strategy-form-radio-container">
                        <div class="custom-form-check">
                            <label class="custom-radio-container">Less than $1k
                                <input type="radio" name="monthly_budget" value="less than 1k">
                                <span class="custom-radio"></span>
                            </label>
                        </div>
                    </div>
                    <div class="col-5 col-md-4 strategy-form-radio-container">
                        <div class="custom-form-check">
                            <label class="custom-radio-container">$1K - $5K
                                <input type="radio" name="monthly_budget" value="1k-5k">
                                <span class="custom-radio"></span>
                            </label>
                        </div>
                    </div>
                    <div class="col-1 col-md-2"></div>
                </div>
                <!-- budget row two -->
                <div class="row mt-4">
                    <div class="col-1 col-md-2"></div>
                    <div class="col-5 col-md-4 strategy-form-radio-container">
                        <div class="custom-form-check">
                            <label class="custom-radio-container">$5K - $30K
                                <input type="radio" name="monthly_budget" value="5k-30k">
                                <span class="custom-radio"></span>
                            </label>
                        </div>
                    </div>
                    <div class="col-5 col-md-4 strategy-form-radio-container">
                        <div class="custom-form-check">
                            <label class="custom-radio-container">$30K - $70K
                                <input type="radio" name="monthly_budget" value="30k-70k">
                                <span class="custom-radio"></span>
                            </label>

                        </div>
                    </div>
                    <div class="col-1 col-md-2"></div>
                </div>

                <!-- budget row three -->
                <div class="row mt-4 mb-4">
                    <div class="col-1 col-md-2"></div>
                    <div class="col-5 col-md-4 strategy-form-radio-container">
                        <div class="custom-form-check">
                            <label class="custom-radio-container">$70k+
                                <input type="radio" name="monthly_budget" value="70k+">
                                <span class="custom-radio"></span>
                            </label>
                        </div>
                    </div>
                    <div class="col-5 col-md-4 strategy-form-radio-container">
                        <div class="custom-form-check">
                            <label class="custom-radio-container">I'd like to discuss
                                <input type="radio" name="monthly_budget" value="I'd like to discuss">
                                <span class="custom-radio"></span>
                            </label>

                        </div>
                    </div>
                    <div class="col-1 col-md-2"></div>
                </div>


            </div>

        </div>

        <!-- Tab Seven - When to start -->
        <div class="tab when-start-tab">
            <div class="strategy-form-hero-text">
                When are you looking to get started?
            </div>
            <div class="when-start-input-container">
                <!- when to start row one -!>
                <div class="row mt-4">
                    <div class="col-1 col-md-2"></div>
                    <div class="col-5 col-md-4 strategy-form-radio-container">
                        <div class="custom-form-check">
                            <label class="custom-radio-container">Now
                                <input type="radio" name="when_to_get_started" value="Now">
                                <span class="custom-radio"></span>
                            </label>

                        </div>
                    </div>
                    <div class="col-5 col-md-4 strategy-form-radio-container">
                        <div class="custom-form-check">
                            <label class="custom-radio-container">Within 1 week
                                <input type="radio" name="when_to_get_started" value="Within 1 week">
                                <span class="custom-radio"></span>
                            </label>

                        </div>
                    </div>
                    <div class="col-1 col-md-2"></div>
                </div>
                <!- when to start row two -!>
                <div class="row mt-4">
                    <div class="col-1 col-md-2"></div>
                    <div class="col-5 col-md-4 strategy-form-radio-container">
                        <div class="custom-form-check">
                            <label class="custom-radio-container">Within 2 weeks
                                <input type="radio" name="when_to_get_started" value="Within 2 weeks">
                                <span class="custom-radio"></span>
                            </label>
                        </div>
                    </div>
                    <div class="col-5 col-md-4 strategy-form-radio-container">
                        <div class="custom-form-check">
                            <label class="custom-radio-container">Within 1 month
                                <input type="radio" name="when_to_get_started" value="Within 1 month">
                                <span class="custom-radio"></span>
                            </label>
                        </div>
                    </div>
                    <div class="col-1 col-md-2"></div>
                </div>

                <!- when to start row three -!>
                <div class="row mt-4 mb-4">
                    <div class="col-1 col-md-2"></div>
                    <div class="col-5 col-md-4 strategy-form-radio-container">
                        <div class="custom-form-check">
                            <label class="custom-radio-container">Within 3 months
                                <input type="radio" name="when_to_get_started" value="Within 3 months">
                                <span class="custom-radio"></span>
                            </label>
                        </div>
                    </div>
                    <div class="col-5 col-md-4 strategy-form-radio-container">
                        <div class="custom-form-check">
                            <label class="custom-radio-container">Unsure. Just researching
                                <input type="radio" name="when_to_get_started" value="Unsure just researching">
                                <span class="custom-radio"></span>
                            </label>
                        </div>
                    </div>
                    <div class="col-1 col-md-2"></div>
                </div>


            </div>

        </div>

        <!-- Tab Eight -->
        <div class="tab promise-tab">
            <div class="strategy-form-hero-text">
                Congrats! You qualify for a 100% FREE 30 minute GROWTH strategy session
            </div>
            <div class="strategy-form-main-text">
                <p>We will be in touch within 1 business day or less to schedule a call with you.</p>
            </div>
        </div>

        <div class="strategy-form-btn-holder">

            <input type="hidden" name="lead_formname" value="Strategy Form" />
            <input type="hidden" name="lead_language" value="en" />
            <input type="hidden" name="lead_formtype" value="hs_strategy_form" />
            <button
                    type="button"
                    id="nextBtn"
                    class="strategy-form-next-btn"
                    onclick="nextPrev(1)"
            >
                Next
            </button>



        </div>
        {# Testimonial #}
        <section class="section-client-reviews strategy-form-client-review">
            <div class="container">

                <div class="row testimonial-cont">
                    <div class="col-12">
                        <div class="testimonial">
                            <div class="stars">
                                <img src="{{ site.theme.link }}/assets/img/icon-star.png"
                                     srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                                <img src="{{ site.theme.link }}/assets/img/icon-star.png"
                                     srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                                <img src="{{ site.theme.link }}/assets/img/icon-star.png"
                                     srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                                <img src="{{ site.theme.link }}/assets/img/icon-star.png"
                                     srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                                <img src="{{ site.theme.link }}/assets/img/icon-star.png"
                                     srcset="{{ site.theme.link }}/assets/img/icon-star@2x.png 2x" alt="Five Stars">
                            </div>
                            <div class="text" style="font-size:20px" id="sf-review-text">
                                They smashed our business goals and a special thanks to Isaac for driving the digital campaign.
                            </div>
                            <div class="person">
                                <div class="name" id="sf-review-person">THE TIMELESS COMPANY</div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>



        <!-- Step hide -->
        <div class="d-none">
            <span class="step"></span>
            <span class="step"></span>
            <span class="step"></span>
            <span class="step"></span>
            <span class="step"></span>
            <span class="step"></span>
        </div>


    </form>
</div>
<!-- bootstrap js -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
{#  jquery cdn  #}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{#  jQuery Form Validation  #}
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.js"></script>
<!-- core js -->
<script type="text/javascript" src="{{ site.theme.link }}/assets/js/strategy-form.js?v=1.0.5"></script>
</body>
</html>
