{% extends "en-base.twig" %}

{% block content %}

	<style>
		.page-careers section.section-what-we-value h4 {
			margin-top: 20px;
			line-height: 35px;
		}
		@media(max-width: 1024px) {
			.page-careers section.section-what-we-value h4 {
				width: calc(100% - 60px);
				margin-right: auto;
				margin-left: auto;
			}
		}


	</style>

	<section class="banner">
		<div class="container">
			<div class="row">
				<div class="col-lg-5 text-center text-lg-left">
					<h1>Interested in joining a company with an unbeatable culture?</h1>
					<p>Join a company that doesn’t take shortcuts or treat you like a number. We help each other win and that’s why we are the fastest growing digital marketing agency
																		                    in APAC.</p>
					<a href="#vacancies" class="btn fp-btn fp-btn-orange show-popup-form-3">VIEW OUR OPPORTUNITIES</a>
				</div>
			</div>
		</div>
	</section>

	<section class="section-what-we-value section-why-first-page">
		<div class="container">
			<h2 class="text-center">Why First Page?</h2>
			<div class="row">
				<div class="col-12 col-md-4 text-center">
					<img src="{{ site.theme.link }}/assets/img/icn_renumeration.svg" width="100" height="100" alt="Customers">
					<h4>Competitive renumeration</h4>
					<p class="text-center text-md-left">At First Page, we look for only the best digital marketing talent - and we understand that this means paying you generous rates. Working at First Page will offer you competitive salaries, remuneration packages, and policies that ensure you’re well looked after.</p>
				</div>
				<div class="col-12 col-md-4 text-center">
					<img src="{{ site.theme.link }}/assets/img/icn_talented_team.svg" width="100" height="100" alt="Company">
					<h4>APAC’s best digital talent</h4>
					<p class="text-center text-md-left">As an agency, we understand that our employees are our most valuable asset. We spend hours upon hours scouring the market to find the best digital marketing talent and highly motivated individuals who value results and never make excuses.</p>
				</div>
				<div class="col-12 col-md-4 text-center">
					<img src="{{ site.theme.link }}/assets/img/icn_positive_culture.svg" width="100" height="100" alt="Competence">
					<h4>Positive company culture</h4>
					<p class="text-center text-md-left">We are obsessed with creating an energetic, interesting, and fun, yet highly productive company culture. Our culture emphasises helping one another, completing work to be proud of, and developing your core skills (all while having a great time!).</p>
				</div>
				<div class="col-12 col-md-4 text-center">
					<img src="{{ site.theme.link }}/assets/img/icn_development.svg" width="84" height="100" alt="Customers">
					<h4>Opportunities for development</h4>
					<p class="text-center text-md-left">Working at First Page doesn’t just mean being a digital marketer; it means growing both as a person and as a professional. We provide intensive training and abundant resources to guide you through your journey and develop your skills in the direction you want.</p>
				</div>
				<div class="col-12 col-md-4 text-center">
					<img src="{{ site.theme.link }}/assets/img/icn_career_progression.svg" width="100" height="100" alt="Company">
					<h4>Career progression</h4>
					<p class="text-center text-md-left">Alongside our belief that all our employees should be given the chance to grow, we want to offer everyone the chance to develop their career professionally into more senior and experienced roles. We always prefer to promote from within, and we are growing FAST.</p>
				</div>
				<div class="col-12 col-md-4 text-center">
					<img src="{{ site.theme.link }}/assets/img/icn_international.svg" width="100" height="100" alt="Competence">
					<h4>Global Offices</h4>
					<p class="text-center text-md-left">With offices around the world in Panama, Dubai, Thailand, Malaysia, Singapore, Hong Kong, Australia, and more, we’re one of the fastest-growing digital marketing agencies in the world, and with great growth comes great opportunity.</p>
				</div>
			</div>
		</div>
	</section>

	{# value section #}
	{# our values section #}
<section class="section-paragraph section-value container whoWeAreSection pt-5">
	<div class="row no-gutters align-items-center justify-content-center flex-md-row flex-md-row-reverse">
		{# <div class="col-12 col-lg-6 image-container-right">
			
		</div> #}
		<div class="col-12 col-lg-6 text-container text-center text-md-left">
			<h2 class="text-center mb-5">Our values</h2>
		</div>
		<div class="row no-gutters">
			
		{# 1	 #}
			<div class="col-12 col-md-6 px-4 mb-lg-5">
				<div class="valueItem d-md-flex align-items-start">
					<img class="img-fluid d-block mx-auto mx-md-3 mb-2 mt-md-2" src="{{site.theme.link}}/assets/img/who_we_are_icn_awards.svg" alt="">
					<div class=" text-center text-md-left">
						<p class="valueHeading font-weight-bold mb-2">Whoever moves the fastest, wins</p>
						<p class="valueDes">Do things today, not tomorrow.</p>
					</div>
				</div>
			</div>
			{# 2 #}
			<div class="col-12 col-md-6 px-4 mb-lg-5">
				<div class="valueItem d-md-flex align-items-start">
					<img class="img-fluid d-block mx-auto mx-md-3 mb-2  mt-md-2" src="{{site.theme.link}}/assets/img/who_we_are_fanatical_icon.svg" alt="">
					<div class="text-center text-md-left">
						<p class="valueHeading font-weight-bold mb-2">Fanatical about the details</p>
						<p class="valueDes">Consistently nailing the 1%’ers helps us change the game.</p>
					</div>
				</div>
			</div>
			{# 3 #}
			<div class="col-12 col-md-6 px-4 mb-lg-5">
				<div class="valueItem d-md-flex align-items-start">
					<img class="img-fluid d-block mx-auto mx-md-3 mb-2  mt-md-2" src="{{site.theme.link}}/assets/img/who_we_are_together_icon.svg" alt="">
					<div class="text-center text-md-left">
						<p class="valueHeading font-weight-bold mb-2">In the trenches together</p>
						<p class="valueDes">We’re all working towards the one mission. We’re all here to get the job done.</p>
					</div>
				</div>
			</div>
			{# 4 #}
			<div class="col-12 col-md-6 px-4 mb-lg-5">
				<div class="valueItem d-md-flex align-items-start">
					<img class="img-fluid d-block mx-auto mx-md-3  mb-2  mt-md-2" src="{{site.theme.link}}/assets/img/who_we_are_forum_icon.svg" alt="">
					<div class="text-center text-md-left">
						<p class="valueHeading font-weight-bold mb-2">It’s an open forum</p>
						<p class="valueDes">Always speak your mind, just don’t be a d#%k when you do.</p>
					</div>
				</div>
			</div>
			{# 5 #}
			<div class="col-12 col-md-6 px-4 mb-lg-5">
				<div class="valueItem d-md-flex align-items-start">
					<img class="img-fluid d-block mx-auto mx-md-3 mb-2  mt-md-2" src="{{site.theme.link}}/assets/img/who_we_are_soecialist_icon.svg" alt="">
					<div class="text-center text-md-left">
						<p class="valueHeading font-weight-bold mb-2">Specialists, not generalists</p>
						<p class="valueDes">We don’t pretend to know everything, but what we do know we do exceptionally well.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

	<section id="vacancies" class="section-vacancies">
		<div class="container">
			<h2 class="pb-3">
				<strong>Our Vacancies</strong>
			</h2>
			{# {{ '[jobadsshortcode]'|shortcodes }} #}
           {{ '[jobs per_page="12" show_filters="false"]'|shortcodes }}
		</div>
	</section>

	{# map and team section #}
<section class="section-paragraph whoWeAreSection section-map-team pt-5 mb-5">
	<div class="row no-gutters align-items-center flex-column-reverse flex-md-row flex-md-row-reverse justify-content-center">
		<div class="col-12 col-lg-12 image-container-right">
			<img src="{{ site.theme.link }}/assets/img/who_we_are_map_sm.png" srcset="{{ site.theme.link }}/assets/img/who_we_are_map_sm.png, {{ site.theme.link }}/assets/img/who_we_are_map_sm@2x.png 2x" class="img-fluid d-md-none" alt="First Page" />
			{# <img src="{{ site.theme.link }}/assets/img/who_we_are_team_sm.png" srcset="{{ site.theme.link }}/assets/img/who_we_are_team_sm.png, {{ site.theme.link }}/assets/img/who_we_are_team_sm@2x.png 2x" class="img-fluid d-md-none mt-5" alt="First Page" /> #}
			<img src="{{ site.theme.link }}/assets/img/who_we_are_group_lg.png" srcset="{{ site.theme.link }}/assets/img/who_we_are_group_lg.png, {{ site.theme.link }}/assets/img/who_we_are_group_lg@2x.png 2x" class="img-fluid d-md-none mt-5" alt="First Page" />
		</div>
		<div class="col-12 col-lg-12  text-center text-md-left">
			<h2 class="text-center px-2">Your global performance marketing partner that <br class="d-none d-lg-block"/>answers to its clients, not its shareholders.</h2>
			<br>
			<p class="d-block d-md-none px-4"><span class="font-weight-bold">7 companies</span>, operating in <span class="font-weight-bold">8 countries, 1,800 clients, 900+ talent.</span></p>
			<img src="{{ site.theme.link }}/assets/img/who_we_are_global_md.svg"  class="img-fluid d-none d-md-block d-lg-none mx-auto" alt="First Page" />
			<img src="{{ site.theme.link }}/assets/img/who_we_are_global_lg.png" srcset="{{ site.theme.link }}/assets/img/who_we_are_global_lg.png, {{ site.theme.link }}/assets/img/who_we_are_global_lg@2x.png 2x"  class="img-fluid d-none d-lg-block mx-auto" alt="First Page" />
			<img src="{{ site.theme.link }}/assets/img/who_we_are_group_lg.png" srcset="{{ site.theme.link }}/assets/img/who_we_are_group_lg.png, {{ site.theme.link }}/assets/img/who_we_are_group_lg@2x.png 2x" class="img-fluid d-none d-md-block mt-5 mx-auto" alt="First Page" />


		</div>
	</div>
</section>

{% endblock %}
