<div class="blog-sidebar-banner">
    <img src="{{ site.theme.link }}/assets/img/img_byron_blog.png" srcset="{{ site.theme.link }}/assets/img/img_byron_blog.png, {{ site.theme.link }}/assets/img/img_byron_blog@2x.png 2x" class="img-fluid" alt="First Page" />
    <p class="p-tag-h2-style">Get your FREE revenue growth strategy session <br> valued at {{ session_value }}.</p>
    <p>Limited spots available!</p>
    <a href="{{ home_url }}free-growth-strategy/" class="btn btn-block fp-btn fp-btn-orange fp-btn-shadow">GET YOUR FREE REVENUE <br> GROWTH SESSION</a>
</div>