<section class="section-experience">
    <div class="container">
        <div class="section-title">
            <p class="p-tag-h2-style">We work with great<br class="d-sm-none"> brands of all sizes</p>
        </div>
        <img src="{{ site.theme.link }}/assets/img/img_brands_we_work_sm.png" srcset="{{ site.theme.link }}/assets/img/img_brands_we_work_sm.png, {{ site.theme.link }}/assets/img/img_brands_we_work_sm@2x.png 2x" class="img-fluid d-md-none" alt="We work with great brands of all sizes" />
        <img src="{{ site.theme.link }}/assets/img/img_brands_we_work_md.png" srcset="{{ site.theme.link }}/assets/img/img_brands_we_work_md.png, {{ site.theme.link }}/assets/img/img_brands_we_work_md@2x.png 2x" class="img-fluid d-none d-md-inline-block d-lg-none" alt="We work with great brands of all sizes" />
        {# <img src="{{ site.theme.link }}/assets/img/img_brands_we_work_lg.svg" class="img-fluid d-none d-lg-inline-block" alt="We work with great brands of all sizes" /> #}
        <img src="{{ site.theme.link }}/assets/img/img_brands_we_work_lg.png" srcset="{{ site.theme.link }}/assets/img/img_brands_we_work_lg.png, {{ site.theme.link }}/assets/img/img_brands_we_work_lg@2x.png 2x" class="img-fluid d-none d-lg-inline-block" alt="We work with great brands of all sizes" />

    </div>

</section>

